[2018-09-27 18:26] JerryNixon commented on #1666
It's difficult to know what to do with controls like this while they keep changing out from under us. After talking with the team that owns the control, there are more changes coming. Significant improvements to the control, but certainly making it difficult for us to maintain wrappers like this. I am not sure what to do. Especially in light of the back-compat nature of WinUI. Suggestions?

[2018-09-27 18:28] #1427 closed, assigned to nobody

[2018-09-27 18:30] JerryNixon commented on #1429
Okay, we'll keep it in the backlog and see if we can remove it.

[2018-09-28 19:51] JerryNixon commented on #1667
What makes this a Template 10 issue?

[2018-09-28 19:57] #1656 closed, assigned to JerryNixon

[2018-09-28 21:57] jp-weber commented on #1666
That is very difficult. One way I thought of it at first was to work with conditional XAML. However, here is the problem that the conditional XAML with adaptive versionsnot work for wrapper or inheritance, only for the real control. Why work in this scenario not the conditional XAML? Would be a cool feature, if I can write this for custom controls:
`<controls:NavViewEx
            x:Name="ShellVie

[2018-09-28 22:26] darenm commented on #1666
@JerryNixon As you say WinUI and the work being done in the Windows Community Toolkit makes me wonder if it is viable to try to keep pace with the changes, especially in the context of T10. Perhaps the controls should be spun out into separate packages with versions that align to snaps shots of the other dependencies. That way other contributors could help maintain the controls that they are using

[2018-09-29 01:44] hieuvn commented on #1667
no, Template10 is new for me, i just like to know the best way to navigate(with parameter)  to  page witch contain player, and best way to set source to player, control it from viewmodel.

[2018-09-29 10:32] jp-weber commented on #1667
Did you look at the official example of this? (with MVVM)
https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/BackgroundMediaPlayback

[2018-09-29 10:58] hieuvn commented on #1667
thanks jp-weber, it 's very good example!
i was stucked at OnNavigatedToAsync to get parameter, and now it's can be done by using SessionState.

[2018-09-29 10:58] #1667 closed, assigned to nobody

[2018-09-29 11:52] panoukos41 commented on #1665
I could try and help with the wiki, i remember doing some things not in there or they had changed, i could give it a try and give examples when everything is ready :D, i would also love to try and do this on T10.V2 when its ready since i am moving my app on cross platform and i am thinking of using a lot of things from prism.

I am pretty new to Github and contributing on other projects so i hope

[2018-10-01 12:52] zangai opened #1672 "PageHeader doesn't align with HamburgerMenu"
When I have declared an HamburgerMenu control in my shell, the PageHeader of the selected page doesn't align with the HamburgerMenu's hamburger button. It deems as if there is a defined padding of the contentview, but I can't seem to change it.

![image](https://user-images.githubusercontent.com/1556962/46289412-54e0a500-c589-11e8-9318-29c646d5f30c.png)

[2018-10-01 16:40] zangai commented on #1672
My bad, seems like I was not using my own defined Shell view with the actually Hamburger, but instead an  older NavigationView.

[2018-10-01 16:40] #1672 closed, assigned to nobody

[2018-10-03 10:28] jp-weber opened #1673 "Frame.Navigated not fire on Windows 10 1809/RS5 with T10.2"
I realized today that after the upgrade 1809 the navigation via NavigationView doesn't work anymore. I haven't installed RS5 sdk yet, this should be interesting, if it works again with the new target.

[2018-10-03 22:45] JerryNixon commented on #1673
I have not upgraded yet. I will probably this weekend. What's the error?

[2018-10-04 10:18] jp-weber commented on #1673
If I click on NavigationViewItem, the navigation is apparently not executed. But as I've seen through the debugging, the [navigated event](https://github.com/Windows-XAML/Template10/blob/master/Source/Template10.Extras.16299/Controls/NavViewEx.cs#L46) doesn't fire, it doesn't seem to matter which sdk you have as your target. The navigation itself seems to work fine, only the assignment of the new

[2018-10-17 10:04] sveta100 opened #1674 "Content Dialog is not being pushed up when touch keyboard appears"
Which means that the input fields that are located at the bottom of the dialog get covered by the keyboard
It works in a blank UWP app but doesn't work in a Template10 App.
It used to work on some older Windows Version though  - currently, we are using Windows Enterpise Version 1803 - OS build 17134.285

Some test apps are attached:

[Template10BlankApp.zip](https://github.com/Windows-XAML/Templat

[2018-10-17 17:40] FlorisDevreese commented on #1646
Interestingly I only had this problem when I updated the Target min version of the project to Windows 10 Fall Creators Update (or newer).

I fixed the issue by updating the Newtonsoft.Json Nuget dependency to 10.0 3 instead of 11.x.x.
After doing that I had no problem.

Thanks for pointing out it was the combination of template 10 and Newtonsoft.Json 11 that caused the issue. I could have lost age

[2018-10-22 13:13] #1674 closed, assigned to nobody

[2018-10-22 13:25] sveta100 commented on #1674
Sorry, just a confusion of OS build target and min versions

[2018-10-22 14:52] Nexxkinn opened #1675 "ViewModel for ShellPage?"
I saw the implementation in [App.xaml.cs ](https://github.com/Windows-XAML/Template10/blob/f1056eb6df7b6a7de722895c255b7708a60dc69b/Samples/Sample%20Project%20(16299)/App.xaml.cs) that the Page is not registered with a viewmodel. Is there a way to register the shell with a viewmodel in that case?

Just to be clear, It's possible(?) with `ViewModelLocator.AutowireViewModel="True"` but the upcoming

[2018-10-22 21:35] JerryNixon commented on #1675
Interesting. Let me think about this. I am working on it now.

[2018-10-26 20:16] VarusSeptimus commented on #1588
I managed to re-target my T10 app (using T10 version 1.19) to Windows 10 Fall Creators Update (10.0 Build 16299).

Initially I got an error at built time, but changing min target version to 'Windows 10 Anniversary update 14393' (while keeping max target at 10.0 Build 16299) allowed me to build and run.

Then I subsequently upgraded to min target 10.0 build 15063, rebuilt without problem, and then

[2018-10-29 00:08] JerryNixon commented on #1675
Nope. I don't see why this would be necessary.

[code]

Or with injection

[code]

Not sure why any of the navigation methods would be necessary. But if they are, call 'em:

[code]

[2018-10-29 02:34] antlhuede commented on #939
Template10 handling of suspend / resume is terrible.
Ditching the platform as soon as possible.

[2018-10-29 12:11] mvermef commented on #939
Wow if it's so terrible as you claim, help fix it instead of coming here and posting that or tell us what is terrible so we can be fix it

[2018-11-07 16:25] akreft commented on #1597
@JerryNixon Is there a resolution to this issue? I am using Visual Studio 2017 with Template10 version 1.1.12. The hamburger template out of the box has this error so the Shell.xaml file cannot be viewed in design mode. Thank you.

[2018-11-07 17:33] mjmeans commented on #1597
I am no longer having this problem, but too many changes have happened since I reported it to know what specifically solved the issue.

[2018-11-13 17:15] #1673 closed, assigned to nobody

[2018-12-07 21:13] IIARROWS commented on #1665
So... I guess I have to migrate my application to another framework?

[2018-12-18 18:34] jp-weber opened #1680 "further development and modifications"
In the last time I think about the further development from T10, specifically Template10.Extras.16299.
With the new release of Prism.Windows we can switch from our Prism implementation to the official implementation and can set obsolete our Prism imlementation. The second minor point is the release of the WinUI library, it is now possible to get for older Win10 versions and sdks, the new versions

[2019-01-13 06:28] UwpDev commented on #1620
@JerryNixon Any update on when the packages will be available through Nuget?

[2019-01-13 16:27] jp-weber commented on #1620
@UwpDev
For the core template, you can now use the official prism packages:
https://myget.org/feed/prism/package/nuget/Prism.Windows
https://myget.org/feed/prism/package/nuget/Prism.Unity.Windows
Only the services and the extended NavigationView is currently not available as package.

[2019-01-13 16:40] #1666 closed, assigned to JerryNixon

[2019-01-13 16:41] #1662 closed, assigned to JerryNixon

[2019-01-21 09:51] deRightDirection commented on #1680
where can I find the template10.extras.16299 on nuget?

[2019-01-21 15:31] jp-weber commented on #1680
This is not yet available at nuget. Currently you must add the library to your project.

I have adapted the Template10.Extras.16299 locally and already published an app with it. If there exists a request, I will upload it.

[2019-01-26 19:15] BekAllaev opened #1681 "What difference between Revert and MarkAsClean methods."
[code]
`PersonProxy` inhereted by `ValidatableModelBase`. I were thinking about how I can set `IsDirty`  to false if `TempPerson` become dirty. And have solved this by `MarkAsClean` method but at the same time I have noticed that `Revert` method also may change `IsDirty` value to false. So when I used breakpoint and checked value of `TempPerson` properties after I have called `MarkAsClean` and mad

[2019-02-06 19:38] JerryNixon commented on #1681
Revert returns the Value to the OriginalValue.
MarkAsClean sets the OriginalValue to the current Value.

[2019-02-06 19:38] #1681 closed, assigned to nobody

[2019-02-06 19:42] JerryNixon commented on #1680
I thought I would have seen your PR for this by now.

[2019-02-06 20:27] jp-weber commented on #1680
I will create a pull request in the next days for it👌

[2019-02-26 17:29] #1680 closed, assigned to jp-weber

[2019-03-14 16:47] JerryNixon commented on #1665
Yes. I am not going to do this. So many reasons. Look into Prism.Windows.

[2019-03-20 09:26] Boti97 commented on #1163
I'm having the same problem but my app doest even compile. It stops at the global::System.Diagnostics.Debugger.Break(); line. I'm using VS 2017.

[2019-03-20 09:58] Boti97 opened #1684 ""Cannot create instance of type 'Template10.Behaviors.NavButtonBehavior' [Line: 0 Position: 0]""
My app stops at the global::System.Diagnostics.Debugger.Break(); line in the App.g.i.cs file and the message in the "e" local is "Cannot create instance of type 'Template10.Behaviors.NavButtonBehavior' [Line: 0 Position: 0]". I'm using VS 2017.
I saw the issue about this topic but it was closed.
"e" contains this: https://i.stack.imgur.com/DPt5s.png

[2019-04-03 01:40] johnbnstx opened #1685 "training videos in mva not available."
Hey I am a new for the UWP programming and found out that MVA was shutting down, so the Template 10 training videos are no longer available. anyone know where I can download them and watch?

[2019-04-18 14:51] Dedecekhribecek opened #1686 "Visual Studio 2019 Support"
Is some plan to give support to Visual studio 2019? Thanks for reply.

[2019-04-27 17:59] Dedecekhribecek commented on #1686
Is some plan to give support to Visual studio 2019? Thanks for reply.

[2019-04-30 16:18] Moreno-Borsalino commented on #1686
I would like to know that too

[2019-06-15 00:19] Quico20 opened #1687 "How can I access NotifyUser Method?"
In Template10.1

I dont know how can i access to this line of code:

private MainPage rootPage = MainPage.Current;

rootPage.NotifyUser("Ad requested", NotifyType.StatusMessage);

I know that everything is handled by the bootstrapper, is it posible to access that method??

I'm trying to make ads work in my app.

[2019-06-25 01:52] JerryNixon commented on #1686
We need to update the VSIX. I don't have plans to update this project right now. That being said, I have my own UWP apps that I want to use Template 10 with, too. So, maybe. Sorry to be unclear.

[2019-06-25 02:11] JerryNixon commented on #1685
Cool, we're talking about what to do now.

[2019-06-25 02:15] JerryNixon opened #1688 "REQUEST FOR HELPERS / BRINGING BACK TEMPLATE 10"
Hey @Windows-XAML/template-10-developer-community ,

As you recall, just before Christmas I ported Template 10 to Prism as Prism.Windows. The dream was that Template 10 would fade away but the code base would continue on in Prism.Windows.

**Spoiler alert**: that didn't work out.

Unfortunately, the Prism volunteers have their own priorities and are NOT committed to update Prism.Windows. I am not

[2019-06-25 02:20] #1564 closed, assigned to JerryNixon

[2019-06-25 02:20] #1565 closed, assigned to JerryNixon

[2019-06-25 02:20] #1568 closed, assigned to JerryNixon

[2019-06-25 02:20] #1578 closed, assigned to JerryNixon

[2019-06-25 02:20] #1588 closed, assigned to JerryNixon

[2019-06-25 02:20] #1589 closed, assigned to JerryNixon

[2019-06-25 02:20] #1610 closed, assigned to JerryNixon

[2019-06-25 02:20] #1620 closed, assigned to JerryNixon

[2019-06-25 02:20] #1623 closed, assigned to JerryNixon

[2019-06-25 02:20] #1628 closed, assigned to nobody

[2019-06-25 02:20] #1631 closed, assigned to nobody

[2019-06-25 02:20] #1636 closed, assigned to JerryNixon

[2019-06-25 02:20] #1637 closed, assigned to nobody

[2019-06-25 02:20] #1638 closed, assigned to JerryNixon

[2019-06-25 02:20] #1643 closed, assigned to nobody

[2019-06-25 02:20] #1646 closed, assigned to JerryNixon

[2019-06-25 02:20] #1654 closed, assigned to nobody

[2019-06-25 02:20] #1657 closed, assigned to nobody

[2019-06-25 02:20] #1665 closed, assigned to rpedretti, schuettecarsten, darenm, JerryNixon, mvermef, calloncampbell, ShawnTheBeachy, jp-weber, Quico20, dg2k

[2019-06-25 02:20] #1675 closed, assigned to JerryNixon

[2019-06-25 02:20] #1684 closed, assigned to nobody

[2019-06-25 02:20] #1686 closed, assigned to JerryNixon

[2019-06-25 02:20] #1211 closed, assigned to nobody

[2019-06-25 02:20] #1238 closed, assigned to nobody

[2019-06-25 02:20] #1394 closed, assigned to nobody

[2019-06-25 02:20] #1411 closed, assigned to nobody

[2019-06-25 02:20] #1421 closed, assigned to nobody

[2019-06-25 02:20] #1426 closed, assigned to nobody

[2019-06-25 02:20] #1429 closed, assigned to nobody

[2019-06-25 02:20] #1437 closed, assigned to JerryNixon

[2019-06-25 02:20] #1439 closed, assigned to nobody

[2019-06-25 02:20] #1440 closed, assigned to nobody

[2019-06-25 02:20] #1441 closed, assigned to nobody

[2019-06-25 02:20] #1457 closed, assigned to JerryNixon

[2019-06-25 02:20] #1459 closed, assigned to JerryNixon

[2019-06-25 02:20] #1468 closed, assigned to JerryNixon

[2019-06-25 02:20] #1497 closed, assigned to JerryNixon

[2019-06-25 02:20] #1512 closed, assigned to JerryNixon

[2019-06-25 02:40] mdtauk commented on #1688
A few questions that spring to mind.

Could Template 10 just become an app type, and content types for Windows Template Studio?

Should Template 10 use WinUI only and completely eschew the OS framework come WinUI 3,0?

Will Template 10 move beyond UWP when WinUI Desktop becomes the new thing next year?

[2019-06-25 02:45] JerryNixon commented on #1688
Sure.
 1. Honestly, I can't be sure of the future of WTS. Maybe, later.
 1. We'll consider WinUI when WinUI is an actual thing. It's not an actual thing.
 1. Doesn't seem to make sense right now. It's a UWP framework.

[2019-06-25 02:46] weitzhandler opened #1689 "Uno"
Hi @JerryNixon and thanks for all of your amazing work!

Do I understand right that Template10 is mostly aimed for UWP apps?

I read your post on issue #1688.
Any chance to have Template10 support for the [Uno Platform](http://platform.uno)?
It's basically UWP code that is ported to Droid, iOS, and WASM!

I'm willing to contribute if feasible at all.

[2019-06-25 05:27] akshay2000 commented on #1688
@JerryNixon It is good to see all this activity here. I have been out of loop with UWP for a bit. So, here's my question: Is there a demand for  UWP framework? I don't see many people writing apps. I don't see a huge UWP push from Microsoft either. It is kinda just... there.

I'm sorry if this sounds negative. I'm just making sure that our efforts are worthwhile. Whenever we start the work, I'm in

[2019-06-26 21:28] JerryNixon commented on #1689
I am not sure, yet, if that makes sense. Does it? Can navigation be made generic?

[2019-06-26 21:29] JerryNixon commented on #1688
Thanks @akshay2000. The answer is yes. According to my inbox.

[2019-06-26 21:41] Quico20 commented on #1688
@JerryNixon I would like to help, but only if you promise to never abandon Template10 again, in the end I had to drop out Template10 a adapt a custom version of template10 of my own.
I felt pretty disappointed that Microsoft abandoned UWP for Mobile, I bet on Microsoft for mobile development, and I still think UWP has potential to be even better than WPF and WF.
So I wish to help but I would love

[2019-06-26 22:53] mitchcapper commented on #1688
@Quico20 I think free open source software doesn't owe any of us anything.  I certainly hope for a strong T10 future, but Jerry is also not responsible for microsofts mobile choices or UWP in windows options.   As you did, even if further development is not continued in house you can always fork it yourself to continue work.  So the more people who can work on T10 for as long as possible the bette

[2019-06-27 05:34] akshay2000 commented on #1688
@JerryNixon That is comforting to hear. I've been developing since the time of Windows Phone 7 Series and the feeling of abandonment is strong. I really do hope that UWP takes off. Because right now, silliest of my Google Assistant actions has way more users than my decent UWP app. :-(

[2019-06-27 06:35] naweed commented on #1688
Yes, I really hope that UWP takes off. I have been developing since Windows Phone 6.5 days, and even had my first Windows 8 app published to the store before Windows 8 official launch day. I have developed lot of UWP apps using Template10. I even used to evangelize UWP here in Bahrain on request from Microsoft Gulf (on their forums). I have given up UWP development since past 1.5-2 years, and move

[2019-06-28 17:00] jp-weber commented on #1688
@Quico20
It is. With WinUI it is possible to use the NavigationView for all relevant versions and also great new controls are available.
https://github.com/microsoft/microsoft-ui-xaml

@JerryNixon
I would also be very interested in participating in the project, but currently have very little time available.

[2019-06-28 17:22] ArtjomP commented on #1688
Let's think what do we need T10 for in 2k19?

1. Navigation. I use Prism for my Xamarin & UWP projects. I'm pretty satisfied with it.
2. Hamburger menu & shell page. It seems we have it in Windows Community Toolkit & in Xamarin 4.0 Shell.
3. Controls. There're a lot of controls from different vendors. But I agree it's never enough.
4. DI container. It's a lot on the market.
5. Validation & errors

[2019-06-28 18:16] HesamKashefi commented on #1688
@ArtjomP how do you use Prism when it does not support UWP ?! Prism had a limited support for UWP and its team always said they are planning for it but they never did and eventually they removed UWP from prism a month ago...
UWP needs a good MVVM library and it doesn't have any right now!

[2019-06-28 18:19] ArtjomP commented on #1688
@HesamKashefi I use Prism for Navigation and BaseViewModel. It's a little bit different than for Xamarin but works pretty well

[2019-06-28 20:32] JerryNixon commented on #1688
Right, @ArtjomP . You've described Template 10.

[2019-06-28 21:36] jhalbrecht commented on #1688
@JerryNixon I'm a bit confused. There is no UWP Shell in Xamarin Forms at this moment. Correct? See this [pull request](https://github.com/xamarin/Xamarin.Forms/pull/6015) from @dotMorten

At one point in my life I had windows 8/10 desktop and a windows phone. Along with Template10 life was good. I could deploy from the same code base to desktop and mobile. Then a sad day; no more MS windows phone

[2019-06-29 10:24] panoukos41 commented on #1688
@JerryNixon I'm happy that template 10 is going to be revived,

I was in the process of building an SDK library with extensions for UWP and Android where I was going to have simple classes to get the job done like T10 and Prism.Windows (For android too). I have already ported the PrismAplication and the DeviceGestures. I was using the MVVMLight services for navigation and i have some groundwork fo

[2019-09-10 20:00] DickBaker commented on #1685
MVA is gone. Does Template10 and/or PRISM have any future ? 5 months after johnbnstx comment and nearly 3 months after "we're talking about what to do now" ! TIA

[2019-09-11 12:37] ShawnTheBeachy commented on #1688
Is this something that's still happening? I'm not sure where I got it, but I was under the impression that work was going to start on this towards the end of July, and here we are midway through September.

[2019-09-26 02:05] JerryNixon opened #1690 "Cleaning up NuGet"
Hey @dg2k could you de-list these OR add me as owner so I can.

https://www.nuget.org/profiles/dg2k

[2019-09-26 02:24] JerryNixon commented on #1688
Working now, @ShawnTheBeachy. You bet. Hi @Windows-XAML/template-10-developer-community! This is coming along nicely, though I have not included the many of you who have volunteered. I hope this note will indicate how you can contribute.

## Just published:

https://www.nuget.org/packages/Template10.Behaviors/

https://www.nuget.org/packages/Template10.ListHelpers/

https://www.nuget.org/packages/

[2019-09-27 01:17] darenm commented on #1688
On the services.

[2019-09-27 08:51] jp-weber opened #1693 "Discuss: extend Template10.Service.File"
I wonder if it makes sense to extend the file service so that you can also choose user-defined paths. Here, however, is the problem that depending on the permission granted (folder or file) different methods have to be taken.

The question I ask myself, how can this be made visible to users in a simple way?

In my fork I use for my app, I have already done this. For example:
https://github.com/jp-

[2019-09-27 21:21] JerryNixon commented on #1693
I think we could overload things and do just that.

[2019-09-27 21:24] JerryNixon commented on #1693
I also wonder if we should change the signatures of most of these and other methods (or at least provide option methods) like `(bool Success, Exception Exception) TryDeleteFileAsync(string path);` which allows for very nice code like (below). Not sure. Just asking thoughts.

[code]

[2019-09-27 21:25] JerryNixon commented on #1693
I also think `ReadFile` should be extended to `ReadFileAsBytes` and `ReadFileAsString` as these are the two most common use cases and `ReadFile` assumes it's always string, when it is not.

[2019-09-27 21:27] #1690 closed, assigned to dg2k

[2019-09-27 21:27] #1689 closed, assigned to nobody

[2019-09-27 21:29] JerryNixon commented on #1688
I typed "Service" instead of "Services" above. Very sorry. Will have to fix some things.

[2019-09-28 03:13] JerryNixon opened #1696 "Update all the readme.md files"
Let's relocate the wiki to all the `readme.md` files for each project. Some of these may not be in the wiki and will just need to be written. Let's include the nuget command, documentation, and sample syntax. We cal also link one readme to another with no problem.

- [ ] Template10.Controls.NavViewEx
- [ ] Template10.Controls.Resizer
- [ ] Template10.Core.Default
- [ ] Template10.Core
- [ ] Templa

[2019-09-28 03:15] JerryNixon opened #1697 "Test the new packages in Nuget"
These are all in Nuget now, but I have not had the time to test each of them yet. As we test them we can tick them off of this list. If we find anything wrong, we can just create a new issue.

- [ ] Template10.Controls.NavViewEx
- [ ] Template10.Controls.Resizer
- [ ] Template10.Core.Default
- [ ] Template10.Core
- [ ] Template10.Extras
- [ ] Template10.Services.Compression
- [ ] Template10.Servic

[2019-09-28 03:51] #1688 closed, assigned to JerryNixon

[2019-09-28 03:53] JerryNixon opened #1698 "Update NavViewEx"
There are several things wrong with it, yet it is close.

- [ ] Get it to build, there are some things
- [ ] Update it to use Nuget T10 packages
- [ ] Update the sample app.
- [ ] Update the `.nuspec` file
- [ ] Upload to Nuget.org for `Windows-XAML`

[2019-09-28 03:55] JerryNixon opened #1699 "Update Template10.Validation"
This won't need much to prep.

- [ ] Move the source to this repo from [here](https://github.com/Windows-XAML/Template10.Validation).
- [ ] Look into #1542
- [ ] Update the sample app.
- [ ] Update the `.nuspec` file.
- [ ] Upload it to Nuget for Windows-XAML

[2019-09-28 03:56] #1685 closed, assigned to nobody

[2019-09-28 03:57] #1687 closed, assigned to nobody

[2019-09-28 03:57] JerryNixon commented on #1687
Sorry mate. Is this still a thing? Open a new one.

[2019-09-28 04:02] JerryNixon opened #1700 "Add a sample app demonstrating Cortana activation"

[2019-09-28 04:03] JerryNixon opened #1701 "Add a sample app demonstrating Background tasks"

[2019-09-28 04:03] JerryNixon opened #1702 "Build a sample app demonstrating Console app/arguments activation"

[2019-09-28 04:03] JerryNixon opened #1703 "Build a sample app demonstrating Toast/Tile/Action center activation"

[2019-09-28 04:04] JerryNixon opened #1704 "Build a sample app demonstrating JumpLists activation"

[2019-09-28 04:05] JerryNixon opened #1705 "Build a sample app demonstrating Share Target activation"

[2019-09-28 04:05] JerryNixon opened #1706 "Build a sample app demonstrating File Activation"

[2019-09-28 04:06] JerryNixon opened #1707 "Build a sample app demonstrating custom Core.Default"

[2019-09-29 12:13] rvinothrajendran commented on #1702
I will work on this @JerryNixon

[2019-09-29 18:56] ImCarrot commented on #1700
@JerryNixon I'd like to pick this one up. How do I get started? Is there any T10 documentation I can go through? or is it just start off with a T10 project (minimal or hamburger) and write up a sample project that uses UWP interfaces to interact with Cortana?

[2019-10-01 13:50] jp-weber commented on #1698
I want work on point 1-3, because I have already implemented this in large parts of my fork. For me, it makes sense, if we use WinUI library for the NavigationView.

https://github.com/jp-weber/Template10/tree/master/Source/Template10.Extras.16299/Controls

In the sample project I am looking for better ways to set the header in a simple way. We could add all header templates to the shellpage resou

[2019-10-05 16:08] ShawnTheBeachy commented on #1703
I can work on this.

[2019-10-06 01:15] darenm commented on #1706
On it.

[2019-10-09 15:40] Dedecekhribecek opened #1710 "Template 10 and SQL"
I have problem to add some local SQL database support to app based on Template10. Adding Microsoft.Data.Sqlite.Core package to Hamburger template default project cause problems during translation.

Updating Microsoft.NETCore.UniversalWindowsPlatform from 5.2.3 to 6.2.9, Microsoft.Xaml.Behaviors.Uwp.Managed from 1.1.0 to 2.0.1, Newtonsoft.Json from 9.0.1 to 12.0.2 in the same project cause runtime

[2019-10-12 08:11] jp-weber commented on #1710
You are referring to the older version, which has not been updated for many years.

I recommend you to use the newer packages for a new app, which are almost ready.
https://github.com/Windows-XAML/Template10/issues/1697

See also https://github.com/Windows-XAML/Template10/tree/master/Samples/Template10.Nuget.Sample

[2019-10-12 08:16] Dedecekhribecek commented on #1710
Thanks for help

[2019-10-12 08:16] #1710 closed, assigned to nobody

[2019-10-14 10:27] Dedecekhribecek opened #1711 "AMD64 support"
Adding "Install-Package Template10 -Version 2.0.0" to blank uwp project cause error "There was a mismatch between the processor architecture of the project being built "x86" and the processor architecture of the reference "...nuget\packages\template10\2.0.0\lib\uap10.0\Template10.Default.dll", "AMD64". This mismatch may cause runtime failures. Please consider changing the targeted processor archit

[2019-10-15 00:51] TonyChampion commented on #1704
I can snag this one

[2019-10-15 12:32] Dedecekhribecek commented on #1711
Install-Package Template10 -Version 2.0.1 solve this situation.

[2019-10-15 12:32] #1711 closed, assigned to nobody

[2019-10-30 00:14] darenm commented on #1706
Done and done

[2019-10-30 00:14] #1706 closed, assigned to darenm

[2019-10-31 02:47] lars-alfonse opened #1713 "Newtonsoft 12.0.2 causing crash in 1.1.12"
AppCenter forced an update to Newtonsoft 12.0.2 which caused Template10 to error.
method not found at Template10.Services.SerializationService.JsonSerializationService..ctor() at Template10.Services.SerializationService.SerializationService.get_Json() at Template10.Services.NavigationService.NavigationService..ctor(Frame frame) at Template10.Common.BootStrapper.

[2019-10-31 03:23] lars-alfonse commented on #1713
Exception: Method not found: 'Void Newtonsoft.Json.JsonSerializerSettings.set_TypeNameAssemblyFormat(System.Runtime.Serialization.Formatters.FormatterAssemblyStyle)'.
Stacktrace:
at Template10.Services.SerializationService.JsonSerializationService..ctor()
   at Template10.Services.SerializationService.SerializationService.get_Json()
   at Template10.Services.NavigationService.NavigationService..ct

[2019-11-02 09:45] jp-weber commented on #1713
The code of the 1.1.12 has not been touched since ages. If the switch to the new 2.0 version means too much work, I would recommend a fork. For the Unigram project there use a Template10 fork, based on an old version. This fork works fine.
https://github.com/FrayxRulez/Unigram.Infrastructure

[2019-11-02 18:44] lars-alfonse commented on #1713
Thanks for the response! This will work for me! Thank you so much!

[2019-11-02 18:44] #1713 closed, assigned to nobody

[2019-11-03 10:57] Dedecekhribecek opened #1714 "No way to create extended spalsh screen?"
In old T10 version there was a way to create extended splash screen in app constructor SplashFactory = (e) => new Views.Splash(e); There is solution to override OnLaunched method in standard UWP App. Unfortunate this method is sealed in Template 10.
I did not find any description ow web. Please will you point me out where is some docs describing my problem. Thanks in advance.

[2019-11-16 23:41] JerryNixon opened #1715 "LeavingBackground called OnLaunch"
This could be a `UWP` bug, but the `Template10` version of `LeavingBackground` should not be raised until, at least, the `EnteringBackground` has been raised one time.

[2019-11-16 23:43] JerryNixon commented on #1714
I believe the smartest thing you can do is to wait to set the Window.Content. That being said, extended splash screen hasn't been on my radar. Thanks for the tip. I will look into building a sample here in a bit. If there is something fundamentally missing in this updated Template10, I'll fix it.

[2019-11-19 04:11] JerryNixon commented on #1714
This works flawlessly.

[code]

With this ExSplash logic.

[code]

I'll keep it on the backlog to remove `Window.Current.Activate()` from the bootstrapper, but I've been testing it locally and this works like a charm. Let me know your experience.

[2019-11-19 04:13] #1699 closed, assigned to nobody

[2019-11-19 04:13] #1701 closed, assigned to nobody

[2019-11-19 04:13] #1705 closed, assigned to nobody

[2019-11-19 04:13] #1707 closed, assigned to nobody

[2019-11-19 04:28] JerryNixon commented on #1693
I don't know what's the right thing to do. I have been working with StorageFiles for so long now that it doesn't even seem like they need a helper anymore. That said, I wonder if we want to create a general FileIO interface with a FileAdapter, WinRTAdapter, AzureBlobAdapter, AzureFileAdapter, and maybe even OneDriveAdapter.

Could we use FileIO and System.IO as a starter?

[code]
and
[code]
and
[c

[2019-11-19 07:28] tibitoth commented on #1693
I don't think we need this in the first release of T10.2. Maybe later

[2019-11-19 07:44] Dedecekhribecek commented on #1714
Thank you for hint.

[2019-11-19 20:00] robertmclaws commented on #1713
@JerryNixon This is still an issue with the libraries. Any chance for a new release? Thanks!

[2019-11-20 23:54] JerryNixon opened #1716 "Template 10 should not Window.Current.Activate()"
Though I do believe this is a nice convenience for most developers, it undermines the use of extended splash screens that delay activate until after the splash image loads. That said, perhaps there a way to make this conditional somehow. Anyway, at the least, it should be removed.

[2019-11-20 23:56] JerryNixon opened #1717 "Discussion: How to handle Background Tasks."
Right now we do both. If you invoke a background task Application's `EnteringBackground` event is raised and `OnStart` is called. Is that confusing? Is that okay? Not sure. Would like your opinions.

[2019-11-22 09:10] Dedecekhribecek opened #1718 "Unable load T10 project form GitHub"
Hello

I am not able build project from Template10 GitHub. I am not sure where is the problem (source code, Visual studio or Windows). My windows is version 10. 0. 19028. insider preview fast ring, Visual Studio is Microsoft Visual Studio Community 2019 Version 16.3.10 VisualStudio.16.Release/16.3.10+29519.87

There are 3 Solutions in Template10 GitHub

**1.  Template10.Nuget.Sample is OK**
1>----

[2019-12-17 01:44] JerryNixon opened #1719 "Add ToUri() to the PathBuilder"
Currently has `ToString()` which requires:

[code]

This works and should not be changed.

The desired ADDITIONAL syntax would be:

[code]

It will be difficult to remember the `UriKind.Relative` part anyway.

[2019-12-17 01:45] JerryNixon commented on #1718
What's your Visual Studio version?

[2019-12-17 01:45] JerryNixon commented on #1718
I will also ask @darenm who might recognize the error.

[2019-12-17 01:53] JerryNixon commented on #1719
An alternative is to allow `NavigationService.NavigateAsync` to accept `PathBuilder` as an argument. This would not only NOT require creating the `Uri` by the developer, but also drive them toward the type.

[2019-12-17 05:01] Dedecekhribecek commented on #1718
The version of root topic is Microsoft Visual Studio Community 2019 Version 16.3.10.
I have a new version of software. Problem remain on Microsoft Visual Studio Community 2019 Version 16.4.1 and Windows build 19041.1 too.

[2019-12-17 06:33] dksingh605 opened #1720 "Navigation Services Not working"
Hi
i am using these two methods(OnNavigatedToAsync,OnNavigatedFromAsync) in the view model,

when i am navigating to NavigateService then these two method was called.
but when i am navigating using Frame.Navigate method this will not work.
please help

[2019-12-17 15:38] darenm commented on #1718
I'll take a look... I know we had issues going back and forth between the project types.

[2019-12-17 15:45] darenm commented on #1719
Once a dev creates a `PathBuilder` instance using this method - are they likely to do anything to it? Or does it exist solely to create a string/(or `Uri`) that is then passed into `NavigateAsync`? If the latter, then why not have the below and save the need to create another object entirely:

[code]

[2019-12-17 18:50] JerryNixon commented on #1720
Assuming you are using version 2.0.1?

I think you will need to show me a little more code.

That said, let me ask this though:

Are you implementing the interfaces? This is important.

It's easiest if you use the `ViewModelBase` class, but that's not required.

Here's a sample view-model:

[code]

The framework only knows to call these methods if it determines the interfaces are present.

[2019-12-17 18:52] JerryNixon commented on #1718
I should also ask, which SLN are you attempting to open?

[2019-12-17 18:53] JerryNixon commented on #1716
Perhaps we come up with a way of setting this as optional.

[2019-12-17 18:58] JerryNixon commented on #1693
Thank you for saying that. I agree.

[2019-12-17 18:58] #1700 closed, assigned to nobody

[2019-12-17 19:00] JerryNixon commented on #1698
One thing to consider is that I would like to break this out to its own Nuget package. I also think it might make sense to consider how (if) we can decouple it from Template10 so it would be useful outside of using the framework. Still not sure. Also, I only care about Template10 2 support.

[2019-12-17 19:28] Dedecekhribecek commented on #1718
Opening repository "https://github.com/Windows-XAML/Template10.git"
In solution Template 10 sub-solutions :
Template10.Core - problem
Template10.Core.Default - problem
Template10.Nuget.Sample - OK
Template10.Nuget.Sample - OK
Sample.Template10.Behaviors - OK

![image](https://user-images.githubusercontent.com/13888026/71027454-9b2d1000-210b-11ea-934f-c89051d235ae.png)

[2019-12-17 23:37] JerryNixon opened #1721 "Reconsider if ViewModelBase should implement NavigationService"
It's already possible to retrieve the `NavigationService` in a Template 10 view-model using the `GetNavigationService()` extension method off the `NavigationParameters` passed into the `OnNavigatedTo` and `OnNavigatedToAsync` methods. You can also use `GetSynchronizationContext()` to help with threading. These are not discoverable, I know, but they are easy.

Here's the syntax:

[code]

The issue

[2019-12-17 23:43] JerryNixon commented on #1718
So, one thing to consider is that we are using the new SDK format which requires an updated MSBuild. This is not your problem, per se, as you already have the latest MSBuild via Visual Studio 2019. That said, @darenm and I have had some trouble with this new project type. It could be that you are having the same problem as I am having (I have something similar to what you are experiencing) and I h

[2019-12-17 23:47] JerryNixon commented on #1719
You might also use the PathBuilder if you are putting a payload inside a JumpList or a Tile or inside a Toast so that you can use that payload to preload the Frame after you activate the app. I still think the best approach here is to simply allow NavigateAsync to accept PathBuilder as an argument.

[code]

I don't see a downside to ALSO implementing `ToUri()` while we are in there.

[2019-12-17 23:52] JerryNixon opened #1722 "Why haven't we implemented auto-discover for Nav/Pages?"
Right now you have to do this if you want to navigate to `Settings`.

[code]

Even if all you are doing is this:

[code]

I guess I have forgotten why we don't support navigating to a page by using a hunt for the type based on the key passed to the `NavigationService`. I can't remember the reason we would not have done this and it seems like conventions-based should handle most use cases, which wo

[2019-12-17 23:55] JerryNixon commented on #1718
I wonder if @onovotny would be willing to peek at this project and consult?

[2019-12-18 00:16] clairernovotny commented on #1718
I don't know if there's enough data here to know what's going on. The project file looks ok AFAICT. I'd suggest using the "Report a Problem" button and maybe @davkean can take a look into what VS is doing here.

[2019-12-18 02:24] davkean commented on #1718
We don't have support for UWP in SDK-based projects, I would switch back to supported project types until we have support.

[2019-12-18 07:14] Dedecekhribecek commented on #1718
Thanks all for help

[2019-12-18 09:57] tibitoth commented on #1722
Maybe .NET Native reflection limitations?

[2019-12-18 17:04] JerryNixon opened #1723 "Confirm revert projects back to UWP Class Library"
Check in on [this](https://github.com/Windows-XAML/Template10/issues/1718#issuecomment-566837590) that the SDK projects do not support UWP. They seem to work sometimes. This would not be a small change. But I am willing to do it.

[2019-12-18 17:29] ShawnTheBeachy commented on #1703
Sorry, this is sitting 95% done. Just have to get back and finish it up.

[2019-12-18 18:23] #1723 closed, assigned to JerryNixon

[2019-12-18 18:26] JerryNixon commented on #1718
![image](https://user-images.githubusercontent.com/1749983/71112554-fe10bc80-2188-11ea-971a-7d54ba80dd8f.png)

I can tell this will be a delicate process. Nonetheless, I have the solution opening, building and publishing nuget packages. I will push this up to Master in just a few minutes.

![image](https://user-images.githubusercontent.com/1749983/71112631-2ac4d400-2189-11ea-8ee2-611d1132fd03.png)

[2019-12-18 18:34] JerryNixon commented on #1718
Okay, pull request in, Master is updated.  Please confirm and close this issue.

https://github.com/Windows-XAML/Template10/pull/1724

[2019-12-18 23:39] panoukos41 commented on #1717
To me the `OnStart` part is confusing, shouldn't `EnteringBackground` be the only event to call, to have these kinds of events in one entry point only.

A silly question: For what else is `OnStart` being used, the name can imply many things that start and that becomes confusing.

[2019-12-18 23:41] panoukos41 commented on #1721
I think this is the right way to proceed, that way people can always implement their own services if they wish to without worrying for services they don't need.

[2019-12-19 20:31] jp-weber commented on #1693
I agree. It would just be too much. We should stick with the most useful case and perhaps extend it in this way:
[code]
See https://github.com/jp-weber/Template10/blob/80b338094fc50b41e4621ced8bb3412ea006c691/Source/Template10.Extras/Services/File/Abstractions/IFileService.cs

[2019-12-26 04:37] protocolsolution commented on #1545
Is this fix?
Because I am facing same issue in my application. The memory goes to the 2gb. But not release the memory by the GC. I check some application Like: xaml toolkit application sample app, XAML sample app, and other sample application which is provided by the microsoft. The same issue found there as well...

[2019-12-26 04:38] abhiraheja commented on #1545
Is this fix?
Because I am facing same issue in my application. The memory goes to the 2gb. But not release the memory by the GC. I check some application Like: xaml toolkit application sample app, XAML sample app, and other sample application which is provided by the microsoft. The same issue found there as well...

[2020-01-03 11:08] rpedretti opened #1725 "Misleading information about Prism"
Hi,

After a while away I noticed that, as per the `readme.md`, the core from T10 migrated to Prism. But I recently saw this [issue](https://github.com/PrismLibrary/Prism/issues/1745) at their repo dropping support for UWP, so I think the `About Template 10.2` section is outdated.

The big problem is that I used `Windows Template Studio` to create a prism app and noticed that T10 core, like Naviga

[2020-01-17 22:24] JerryNixon commented on #1725
It's only dropping UWP-specific support. We don't need that because T10 fills that gap.

[2020-01-17 22:24] #1725 closed, assigned to nobody

[2020-01-24 14:42] ImCarrot opened #1726 "Misleading exception while failing to deserialize an argument is passed in Navigation Service"
When I pass in a Model that has a property of type `Windows.UI.Xaml.Media.Brush` it leads to a `StackOverflowException` rather I think it should throw a DeserializationException or a Runtime Exception with a message or such sorts.

[2020-02-05 20:37] JerryNixon commented on #1726
That is misleading. Do you have a call stack you can share?

[2020-03-04 04:39] TeguSolutions opened #1727 "Xaml exception (suddenly, without history)"
Hello,

From one moment to another I am receiving the following error messages:
When starting the UWP app:
One of the content dialog constructor -> InitializeComponent() throws the following exception:

Windows.UI.Xaml.Markup.XamlParseException: 'The text associated with this error code could not be found.
Cannot deserialize XBF metadata property list as 'Behaviors' was not found in type 'Microsof

[2020-04-28 23:43] JerryNixon opened #1728 "AttachGestures should have an override without Window"
AttachGestures currently requires Window. This is fine, but it needs an override that does not require it. That's because if you call it outside the earliest pipeline, it's easier to use without it.

[2020-04-28 23:44] JerryNixon commented on #1727
Very sorry I missed this until now. Is this still an issue? How did you rexove?

[2020-04-29 00:05] TeguSolutions commented on #1727
No worries, I didn't even remember for this. :)
I am pretty sure about I solved it somehow, but I have no clue how.
Now the extension is working well.

[2020-04-29 00:05] #1727 closed, assigned to nobody

[2020-04-29 00:07] JerryNixon opened #1729 "Add Nav extensions off Page types"
Something like this.

    public static class Extensions
    {
        public static async Task<INavigationResult> NavigateAsync(this Page page, string name)
        {
            var nav = page.Frame.GetNavigationService();
            return await nav.NavigateAsync(name);
        }
    }

[2020-05-03 20:56] noumanbaloch commented on #5
I was facing the same problem but when I build the project issue gone on his own.

[2020-06-08 19:08] JerryNixon commented on #1729
Changed my mind. Terrible idea.

[2020-06-08 19:08] #1729 closed, assigned to JerryNixon

[2020-06-08 19:09] JerryNixon commented on #1719
I wonder if a fluent API would be useful here.

[2020-06-20 17:38] jp-weber opened #1730 "GestureService shouldn't handle the BackRequested from SystemNavigationManager"
Currently the BackRequested event of SystemNavigationManager is handled in the service and **in tablet mode the navigation gestures do not work as intended**. Since the event is not handled as true, the system back button navigates back and minimizes the app.

https://github.com/Windows-XAML/Template10/blob/master/Source/Template10.Core/Services/Gesture/GestureService.cs#L149

I would suggest to r

[2020-06-27 15:27] jp-weber opened #1731 "Exception handling in SettingsService"
Currently possible exceptions are not directly handled and caught in the SettingsService. Would it be better to handle them here?

_example Settings/Adapters/LocalFileSettingsAdapter.cs_
**new**
[code]

**old**
[code]

I have already implemented many things in my fork:
https://github.com/jp-weber/Template10/tree/master/Source/Template10.Extras/Services/Settings

[2020-09-15 15:01] JerryNixon commented on #1731
@jp-weber how about creating a repo dedicated to Settings? `Windows-XAML/Template10.SettingsService`. Interested? THe many things you have already done are pretty handy for developers and we could brand it Template 10 and pub to Nuget.

[2020-09-18 16:50] jp-weber commented on #1731
@JerryNixon  Yes I would like to do that 😀

[2020-10-14 13:42] jaigak opened #1734 "How can I use Navigation Service without Template 10 Bootstrapper?"

[2021-01-02 09:36] Dedecekhribecek opened #1735 "Any news about future?"
I am asking affraiding response.

[2021-02-28 11:43] jp-weber commented on #1734
@Jaiganeshkumaran
Is the question still open?

You can use the NavigationService relatively simple without the whole bootstrapper by creating the service in a page.

[code]

You can see this in my app, in connection with the NavigationView.
https://github.com/2fast-team/2fast/blob/master/Project2FA.UWP/Views/ShellPage.xaml.cs#L55

[2021-04-16 23:43] antsoftwaredev opened #1736 "I need access to old Nuget packages"
Hello, I see you have delisted Template10 from Nuget for some reason.

My build machine broke and I have to set up a new build environment for an old piece of software using Template10 version 1.1.12
How am I supposed to get this DLL if there is no way to download it from Nuget?

Thanks...
Ant

[2021-04-16 23:49] antsoftwaredev commented on #1736
Nevermind I figured it out... sorry for wasting your time!

[2021-04-16 23:49] #1736 closed, assigned to nobody

[2021-06-23 20:02] JerryNixon commented on #1735
Yeah, you know, no news really. I think maybe we'll need Template 11. :)

[2021-06-23 20:03] JerryNixon commented on #1734
There really is considerable value in that service even without Template 10.

[2021-06-23 20:03] #1734 closed, assigned to nobody

[2021-06-23 20:03] #1735 closed, assigned to nobody

[2021-06-23 20:06] JerryNixon commented on #1731
I wonder if `bool TryRead<T>(string key, out T value)` would be a better signature.

[2021-08-04 21:42] nick-goloborodko opened #1737 "Update to reference latest version of Newtonsoft.Json library"
I'm stuck in a bit of DLL-hell because of Template10 still uses older version of Newtonsoft.Json library (v11.0.2 i think?) and a few of my other reference libraries require v12+. Any chance of updating this reference?

[2021-08-05 15:08] dmitrymal commented on #1737
We had to downgrade the Newtonsoft version in all our dependencies to 10.0.3
[code]
:(

[2021-08-05 18:46] darenm commented on #1737
Of course, the source code for T10 is available, so you can download that and upgrade it to whatever version of Newtonsoft you wish to use.

[2021-12-26 11:45] Mikejb4 opened #1738 "Windows 10"

[2022-02-18 02:06] jameljoseph opened #1739 "Template 10 ellipsis collapsed error"
I inherited a program that was developed using c# and UWP that has errors that do not crash the program.

There are 2 control bars, a page header and page footer and the buttons are small enough that I do not need the ellipsis so I am trying to remove the ellipsis.  The controls are from uwp template 10 (xmlns:Controls="using:Template10.Controls")

I am using the following XAML code:

[code]

The