[2016-05-05 04:24] WozSoftware commented on #905
The theme in question is Dark. I can see the theme name load from the settings and get pushed into place at startup but it does not take. To recreate:

1) Run app (Starts in default Light theme)
2) Select Dark (Theme takes as expected)
3) Exit app
4) Run app (Dark is loaded from settings and appears selected in settings but app is using Light)

I am on latest release build of Win 10 (Not insider)

[2016-05-05 04:27] WozSoftware commented on #905
Out of interest, the code I chopped was the Insight stuff at the start of app.

This relates to the following issue in the issues list "Error CS0234 when building Template 10 templates"

I will re-create the template tonight and try this workaround and see if this has any effect

[2016-05-05 04:46] MichaelPetrinolis commented on #905
Just remove the requestedtheme from app.xaml, as @mvermef mentioned.

[2016-05-05 06:59] WozSoftware commented on #905
Only ref to it is in code behind

RequestedTheme = _settings.AppTheme;

No change if commented. I assume this should trigger the change to last settings theme?

[2016-05-05 07:14] MichaelPetrinolis commented on #905
If there is a RequestedTheme setting in App.xaml , it overrides your RequestedTheme = _settings.AppTheme; line in the constructor.
If there is no RequestedTheme="Light" in your app.xaml file declaration, then you have another issue.

[2016-05-05 08:01] WozSoftware commented on #905
Right, just created a new project for hamburger and pulled in the insight stuff to json file so that builds correctly

Have not touched the source at all and run the same test. Same issue. Went into settings and selected Dark, it goes dark. Close app and run again and Dark loads from settings and set into Requested but display is light.

This is clean just generated code with 0 changes. Are you sa

[2016-05-05 08:19] MichaelPetrinolis commented on #905
By default the app.xaml file is created like this
<common:BootStrapper x:Class="WindowsApp2.App"
                     xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
                     xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
                     xmlns:common="using:Template10.Common"
                     RequestedTheme="Light">

just remove the RequestedTheme="Li

[2016-05-05 08:48] WozSoftware commented on #905
aaaarrgh, how did I miss that :(

Sorry for that, I will close this down now

[2016-05-05 08:48] #905 closed, assigned to nobody

[2016-05-05 18:00] JerryNixon commented on #900
To support certain binding scenarios, I have changed them to propdp. Thanks for the report.

[2016-05-05 18:00] #900 closed, assigned to JerryNixon

[2016-05-05 18:03] #902 closed, assigned to nobody

[2016-05-05 18:06] JerryNixon commented on #904
You guys are a great community. I am disabling sn today.

[2016-05-05 18:06] #904 closed, assigned to nobody

[2016-05-05 18:09] JerryNixon commented on #907
@mitchcapper let's get a list of calls and let's resolve them. Start a new issue.

[2016-05-05 18:09] #907 closed, assigned to nobody

[2016-05-05 18:10] JerryNixon commented on #903
We want to resolve this. But I will not chase the solution for some time as this is an edge case. It's still important. @mitchcapper can you suggest a solution?

[2016-05-05 18:11] JerryNixon commented on #909
Please as this on Stack Overflow. Use [Template10] as one of your tags.

[2016-05-05 18:11] #909 closed, assigned to nobody

[2016-05-05 18:12] JerryNixon commented on #915
@Gh0s7 you're going to need to submit some code and a screenshot so we understand.

[2016-05-05 18:17] JerryNixon commented on #913
The correct approach is not to use a timer but to let the Loaded event of the image in the Splash be the thing that accomplishes the activation. The problem is, we don't support that. In order to support that we would need to disable the activation in the bootstrapper. This could be okay but many developers do not use a splash screen and they would need to activate manually, which is unacceptable.

[2016-05-05 18:19] JerryNixon commented on #916
See StackOverflow

[2016-05-05 18:19] #916 closed, assigned to nobody

[2016-05-05 18:20] mitchcapper commented on #903
Well I see two solutions:
A) The easy solution is to just hide away the menu by allowing the user to control the visibility of the entire pane.
B) Figure out how the heck MediaElement does it;0 (harder as its a native control)

One other slightly interesting thing,  If you use the MediaElement native FS button and then toggle the T10 isFullscreen state when it changes, it actually can cause an iss

[2016-05-05 18:21] mitchcapper commented on #903
If A is of interest I can probably put together a PR with the additional binding, would need to make sure the visual states don't override the width.

[2016-05-05 18:24] JerryNixon commented on #910
How has nobody discovered this yet?

![snip_20160505122510](https://cloud.githubusercontent.com/assets/1749983/15052774/751cb8e0-12bc-11e6-91af-880ac7234fae.png)

That certainly has legacy code errors. This is better:

![snip_20160505122446](https://cloud.githubusercontent.com/assets/1749983/15052773/751b2098-12bc-11e6-8af5-97bcc9f46396.png)

[2016-05-05 18:26] JerryNixon commented on #910
As for the errors in the Samples, those just need to be cleaned up over time.

[2016-05-05 18:43] dg2k commented on #901
What is done in Shell.xaml.cs is up to the developer and that is not a fix, rather theme updating during runtime. That is, if you change themes in Shell.xaml.cs, the fix proposed in this PR allows it to work. What I showed in Shell.xaml.cs is simply a complete theme programming based on \Styles\Custom.xaml. You can do a subset of it or none at all.

[2016-05-05 19:22] Viachaslau-Zinkevich opened #918 "WindowWrapper.Default() suggestion"
Hi, implementing ShareTarget in my app I found that basically WindowWrapper.Default() may not mean the same everyone expects: it returns just the first window. In case when the first operation was ShareTarget (which is a Hosted, not Main window), calling Default() will return those hosted, probably hidden window. And this will result in problems as such Windows do not allow calling nothing from th

[2016-05-05 23:19] mitchcapper opened #919 "Setting HamburgerMenu.DisplayMode to Overlay after startup doesn't work"
In an effort to work on a work around for #903 I figured setting the menu to overlay would hide it from view, however it seems that adjusting this after startup doesn't work (ie having a button that sets this has no affect).

[2016-05-06 14:16] bdollerup opened #920 "Microsoft.Xaml.Interactivity - strongly-named assembly"
At the risk of exposing my self as a complete and utter noob, what do I need to do in order to install the template 10 version that does not give me the "strongly-named assembly" error with the "Microsoft.Xaml.Interactivity" assembly?

Thanks,
Bjarne

[2016-05-06 15:08] mvermef commented on #920
At the moment the only way to get this without strong name is to get the source, turn off strong name and compile your self, and not rely on nuget for the package at all.  Also requires you to add the reference manually to your project

[2016-05-06 15:30] bdollerup commented on #920
Ouch.. When will we see a nugget package?

[2016-05-06 15:33] JerryNixon commented on #920
Next week.

[2016-05-07 00:02] dpakpaul opened #921 "NavigationService DI resolver creates new viewmodel instances on all nav events"
In the NavigationService, the Navigate\* and Navigating\* methods call ResolveForPage(). The code for that method I think is missing the following line after calling BootStrapper.Current.ResolveForPage()

`page.DataContext = viewModel;`

Since the page DataContext isn't set, all the navigation "events" on a given page will create a new viewmodel instance from the overridden Bootstrapper ResolveFor

[2016-05-07 00:38] JerryNixon commented on #903
Okay. Resolved in current GitHub code. I will update a preview NuGet package.

[2016-05-07 00:38] #903 closed, assigned to mitchcapper

[2016-05-07 00:41] mitchcapper commented on #903
I'm curious which commit?

[2016-05-07 00:46] mitchcapper commented on #903
nevermind it must not have pushed before.

[2016-05-07 01:00] JerryNixon commented on #921
You are right. Do you want to submit a Pull Request?

[2016-05-07 01:03] #896 closed, assigned to nobody

[2016-05-07 01:07] JerryNixon opened #922 "Released Template10.1.1.11-preview-160506 to NuGet"
Hey @Windows-XAML/community

So, we've updated the preview package. This, primarily, fixes two issues: 1) IsFullScreen now uses PopupRoot so it no longer conflicts with any existing visual tree. And, 2) The package is not strongly-named. Issues specific to the preview can be included here, in this thread.

Thanks for taking the time to help test this release. Before the final release, we will need

[2016-05-07 01:08] JerryNixon commented on #913
This has now been resolved with the introduction of

[code]
into Bootstrapper. There's no sample for it yet.

[2016-05-07 01:09] JerryNixon commented on #920
The current NuGet preview resolves this. Please help by testing.

[2016-05-07 01:09] #920 closed, assigned to JerryNixon

[2016-05-07 01:10] JerryNixon commented on #918
I will close this so you can "suggest" it with a Pull Request.

[2016-05-07 01:10] #918 closed, assigned to nobody

[2016-05-07 01:11] JerryNixon commented on #910
Splash has been corrected.

[2016-05-07 01:11] #910 closed, assigned to JerryNixon

[2016-05-07 01:11] JerryNixon commented on #881
Nothing more?

[2016-05-07 01:11] #881 closed, assigned to nobody

[2016-05-07 01:12] JerryNixon commented on #880
Yes. Yes, it is. Who cares?

[2016-05-07 01:13] #726 closed, assigned to JerryNixon

[2016-05-07 01:14] JerryNixon commented on #865
Resolved in NuGet preview package. Can you test?

[2016-05-07 01:14] #865 closed, assigned to JerryNixon

[2016-05-07 01:16] JerryNixon commented on #876
Planning on something like:

[code]

[2016-05-07 01:17] #866 closed, assigned to mitkodi

[2016-05-07 01:17] JerryNixon commented on #919
Could you explain more?

[2016-05-07 01:18] JerryNixon commented on #901
Can you recreate with the current NuGet preview?

[2016-05-07 01:18] #901 closed, assigned to JerryNixon

[2016-05-07 01:19] JerryNixon commented on #878
Nothing more?

[2016-05-07 01:19] #878 closed, assigned to nobody

[2016-05-07 01:19] JerryNixon commented on #844
What two directives?

[2016-05-07 01:21] JerryNixon commented on #915
Nothing more? Perhaps this is resolved with NuGet preview.

[2016-05-07 01:21] #915 closed, assigned to nobody

[2016-05-07 01:43] dpakpaul commented on #921
I can. I'll get to it Monday PST although if there are weekend warriors who
want to do the one line fix, they're welcome to .

On Friday, May 6, 2016, Jerry Nixon notifications@github.com wrote:

[2016-05-07 01:45] mitchcapper commented on #919
Doing HamburgerMenu.DisplayMode = SplitViewDisplayMode.Overlay;  for example at runtime wasn't really working, it was part of an attempt to work around the FS bug (although I switched to just a margin solution temporarily) but the new version has this fixed which makes this less of an issue.  Instead of trying to set the display mode should probably have just altered visual states.

[2016-05-07 01:45] #919 closed, assigned to JerryNixon

[2016-05-07 05:00] mvermef commented on #729
Semantic Zoom for masterview as an option?  I am having a heck of a time getting this to play nice.

nvm figured it out...

[2016-05-07 11:44] Viachaslau-Zinkevich commented on #865
@JerryNixon it seams to be working correctly

[2016-05-07 18:15] Gh0s7 commented on #922
Issue number 2 is the one I was talking about in #915 but I didn't have enough time to post a screenshot and I thought it was related to the hamburger since I never tried anything without it.
I've just created a new empty template and the `PageHeader` shifts to right on narrow state.

EDIT: can't test it now, but it may be related to [this line](https://github.com/Windows-XAML/Template10/blob/mast

[2016-05-07 19:03] Viachaslau-Zinkevich opened #923 "Occasional COM Exception E_FAIL when loading HumburgerMenu"
Hi, just got an exception while loading HumburgerMenu. Don't know if it's a known one, but it's occasional.

System.Runtime.InteropServices.COMException: Error HRESULT E_FAIL has been returned from a call to a COM component.
   at Windows.UI.Xaml.VisualStateChangedEventArgs.get_Control()
   at Template10.Controls.HamburgerMenu.NavButton_VisualStateChanged(Object sender, VisualStateChangedEventArgs

[2016-05-07 20:42] Onjay opened #925 "Event for loading ViewModel data on startup?"
What event should I use in my viewmodel to load persistent data when my mainpage initially loads? Both the PageLoaded and OnNavigatedToAsync events will continue to reload the data if the page is navigated away and then back again, and the OnLauched and OnActivated events cannot be used. I have a json file containing some data which the user inputted, and is saved when the user closes the app, but

[2016-05-08 01:11] mitchcapper commented on #922
Unfortunately this doesn't resolve the media player resetting when changing isFullscreen playback still resets the entire media stream. Running 160506.

[2016-05-08 01:17] mitchcapper commented on #903
Sadly does not actually seem fixed. To repro just add a mediaelement to a page and start playing a file, then have a button (or intermediate window) set `Shell.HamburgerMenu.IsFullScreen = true;` and it will reset the entire stream (if the stream is buffering from a remote source it will have to rebuffer).

[2016-05-08 02:25] mvermef commented on #925
I have been using a static object that saves and loads from the SettingsService... I then created a baseclass for my viewmodels which also inherits from ViewModelBase from T10, and created a Property which holds a reference to that SettingService property, it is hydrated on startup.  Works quite well..  I am sure there are better ways but for the moment that is how I am doing it... SessionState pr

[2016-05-08 02:45] JerryNixon commented on #925
You should abstract the logic surrounding your data to a dedicated class, something like Services/DataService.cs and in your ViewModel.OnNavigatedTo() call this.Data = service.GetData() every single time, no matter what. Then implement caching inside the DataService.GetData() method, not inside the view-model. Then, you can call and get the data over and over without special logic, and you can cal

[2016-05-08 02:48] JerryNixon commented on #923
Hilarious that the event has no logic in it. I wonder if the casting of the control is somehow the culprit. I don't get this error myself, by the way, but I believe you. I will remove the unused method. :)

[2016-05-08 02:48] #923 closed, assigned to nobody

[2016-05-08 04:33] Onjay commented on #925
Thank you for your help. I've used a Setting Service with a singleton before, but this time I was trying to keep it a little simpler and I don't anticipate needing to reuse the data in other viewmodels, so I just used a bool and the OnNavigatedToAsync method to call my Deserializer method. You can find the complete inelegant solution here: http://stackoverflow.com/questions/36994792/how-to-save-an

[2016-05-08 11:49] Viachaslau-Zinkevich commented on #923
Thanks, @JerryNixon  :) I can't say it's connected, but I've started seeing a bunch of similar exceptions on production from users after upgrading to v 1.1.10. Perhaps, the reason is the same.

Application Specific Information:
Unspecified error (Excep_FromHResult 0x80004005)

DeviantArt.UWP!<BaseAddress>+0xac461b
DeviantArt.UWP!<BaseAddress>+0xac4fc9
DeviantArt.UWP!<BaseAddress>+0xaccf73
Template

[2016-05-08 15:06] alexdresko opened #926 "Settings page doesn't load on new HM project upgraded to 1.1.11-preview-160506"
1. Create a new HM project
2. Upgrade to 1.1.11-preview-160506
3. Run the project
4. Click Settings on the HM
5. Nothing happens..

Incidentally, the settings option works if clicked from the header..

gif..

![settings not working](https://cloud.githubusercontent.com/assets/333022/15098475/d7bdea94-150c-11e6-8aac-ff31a873a2d3.gif)

[2016-05-08 22:52] Viachaslau-Zinkevich opened #928 "Question: adding possible solution for multiple views"
Hi,
while implementing in my app multiple views I faced an issue with async/await operations and window closing.
As you know, when user closes secondary view it gets consolidated, not closed. This results in preserving resources, dedicated for the view in memory: like window, dispatcher, frames, caches and other things.  I guess there are situations when developer may need to reuse this view so he

[2016-05-09 02:10] callummoffat commented on #926
I'm seeing this as well. Very annoying.

[2016-05-09 02:16] callummoffat commented on #926
I tried to workaround this issue using the Tapped and Selected events of the HamburgerButton's, with the same result. Something is very wrong...

[2016-05-09 10:00] MudzNZ commented on #926
I get same with any added primary buttons nothing happens

[2016-05-09 14:24] darshanrampatel commented on #926
I can workaround this by doing the following on Tapped (and removing PageType):

[code]

[2016-05-09 15:45] JerryNixon commented on #926
Don't workaround, this is resolved and I will have a new preview today.

[2016-05-09 17:22] jp-weber commented on #901
The issue still exist in preview-160506. After theme change, the HamburgerButtonInfo don't change the color, except for the interaction(hover over, click, etc), after interaction the color is applied correctly.

After my tests I think the problem Is the way how we Bind the color in VisualState. The complete solution works from dg2k, but if we change the "NavToggleButtonTemplate" how in the past et

[2016-05-09 18:37] Viachaslau-Zinkevich opened #932 "NavigationService.OpenAsync fails with NullReference after latest commits"
It seems like the latest change to NavigationServiceFactory causes NullReferenceException when passing null as Frame value. And this is exactly what happens in OpenAsync method.

[2016-05-09 19:17] JerryNixon commented on #932
Good work, @Viachaslau-Zinkevich

[2016-05-09 19:17] #932 closed, assigned to nobody

[2016-05-09 19:26] JerryNixon commented on #928
Yes, let put it in Services/ViewService/ViewService.cs and let's implement it in OpenAsync(). I look forward to your Pull Request so I can see the work you have done. and I think T10 will benefit from it.

[2016-05-09 19:26] #928 closed, assigned to nobody

[2016-05-09 19:41] JerryNixon opened #933 "Poll: How Backwards-Compatible should Template 10 be?"
Hey @Windows-XAML/contributors

I want your opinions. You are never shy to provide them. :)

Right now, Template 10 supports 10240 and 10586, and when Redstone is released, we will support that, too. My question is, when we do, should we continue supporting 10240? What about 10586?

This is an important question because there are several non-compatible XAML changes coming Redstone that could help

[2016-05-09 19:44] JerryNixon commented on #922
Well, freaking crap @mitchcapper. Maybe what you need to do is before you change to FullScreen, you remember the position, and after it moves to FullScreen, you set the position again. Not perfect, but changing its position in the visual tree appears to reset the position and we might not have another option.

[2016-05-09 19:46] #921 closed, assigned to JerryNixon

[2016-05-09 20:38] mitchcapper commented on #922
Sorry @JerryNixon.
Two things for thought:
*) The native control creates a new root and re-parents itself without this (and its not faking it either)
*) If we simply create an ability to "hide" the ham-menu (toggle its visibility for that pane) one could implement their own FS easier.

For now I am just using a margin change to shift it over by the width of the nav pane and hide it.

Storing and r

[2016-05-09 20:42] ileto commented on #916
Can we just add this dependency into Template？Today is my first day on Win dev and spend lots of time on the same issue. Can you explain a little bit why we have this issue and if manually install 2.0 also failed.

[2016-05-09 21:35] callummoffat commented on #933
I think T10 should always support the two most recent feature updates to Windows 10. So, we drop 10240 support when RS1 comes out, but keep 10586 support. Then, when RS2 comes out, we drop support for 10586. That should ensure that T10 supports the vast majority of devices. My opinion is that CB builds more than two cycles old are just dead weight - people who are still on 10240, for example, are

[2016-05-09 21:56] yiyoMX opened #935 "Error = "The name 'x' does not exist in the namespace 'x'.""
Hi, I've been using Template10 to develop a new app, today I encountered a new problem, when I updated the Nuget from 1.1.8 to 1.1.10 I get an error on each of the Views xaml, that says:
i.e. The name "SettingsPageViewModel" does not exist in the namespace "using:AppName.ViewModels".
This happens whith every reference to the ViewModels or to Template10.Behaviors.
It compiles well but the designer

[2016-05-09 22:01] #935 closed, assigned to nobody

[2016-05-09 22:11] mvermef commented on #916
its because the checkbox isn't recognized by Template10 during its project generation...

[2016-05-09 22:15] mvermef commented on #933
I can't imagine there are that many devices with 10240 left installed especially since Update unless it is not set to automatic (user intervention). I agree drop 10240 when RS1 is released, it's dead weight in the code base.

[2016-05-09 22:46] dg2k opened #936 "PR #897 code doesn't exist any more"
@JerryNixon - PR #897 merged 3 days ago doesn't exist anymore in the current source code.
Is this intentional?

[2016-05-09 22:56] darenm commented on #933
While I like the idea of supporting current + 1 prior, I'd hate for the framework to miss out on (hypothetical) features that RS1 might bring. We can handle (poorly, IMHO) API variations in code, but we cannot in XAML. Does it make more sense to consider a Threshold variant and a Redstone variant? Threshold would support 10586 but is in maintenance mode, whereas Redstone branches and supports new

[2016-05-09 23:11] callummoffat commented on #933
What about this? We do two packages (say, Template 10 and Template 10 LTS). One always supports the latest branch of feature updates (RS1, RS2), and gets actively maintained with new features and enhancements. The other supports the previous branch (TH1, TH2), and gets maintenance support only.

I think this would work pretty well. If I were Microsoft, I would stick to introducing breaking changes

[2016-05-09 23:12] callummoffat commented on #936
Looks like the change was reverted for whatever reason.

[2016-05-09 23:15] JerryNixon commented on #933
Since we're all brainstorming, I'd like to share my vision for Template 10 and how it could apply to this. Image a stand-alone NuGet package called something like Template10-Core that included WindowWrapper, DispatcherWrapper, and NavigationService. This lightweight assembly could be included in many apps, including those who are not interested the UI controls. Now imagine another NuGet package ca

[2016-05-09 23:19] callummoffat commented on #933
I like the idea of separating the library into different Nuget packages. MvvmLight does this, and it works really well. That would allow for excellent backwards compatibility. However, you would need to consider: what packages would the template pack use?

[2016-05-10 01:17] #871 closed, assigned to JerryNixon

[2016-05-10 01:28] JerryNixon opened #938 "Released Template10.1.1.11-preview-160509 to NuGet"
This closes #922
There are several improvements in this build.
I believe that if this is stable, this can be released.
Thanks @Windows-XAML/community for helping test.
// Jerry

[2016-05-10 01:28] #922 closed, assigned to JerryNixon

[2016-05-10 02:24] JerryNixon commented on #936
I was not happy with the implementation, I'll have you take a look at the commit associated here and see I it helps. It is not in the NuGet preview package, it is in the GitHub source. Hopefully, this implementation will cause the refresh to occur automatically, without any interaction from the developer. I'll let you guys tell me what you think, but I think we're close if we are not there.

[2016-05-10 02:26] callummoffat commented on #938
I'm still seeing #926 in this release. I thought it was fixed?

[2016-05-10 03:57] MichaelPetrinolis commented on #933
I really like the idea of splitting the library. If we could also share code and interfaces in core with xamarin forms, it would be perfect.
In my opinion, if Navigation service , messaging , a dialog service and related interfaces are common between platforms, most business services and viewmodels logic could be shared among them.

[2016-05-10 08:04] dg2k commented on #936
@JerryNixon - It would help if you let me know, by way of feedback, what you're not happy about the implementation. The problem is there and need to be solved. I am quite happy to follow a different approach than I proposed for what appears to be a platform bug. I should add I spent a number of days to get to the root of the problem (visual state not resetting) and suggest a fix.

I should also po

[2016-05-10 09:44] MudzNZ commented on #938
Yea same still getting same behavior #926

[2016-05-10 09:55] Gh0s7 opened #939 "OnNavigatedToAsync not called on Resume"
I'm on Template10.1.1.11-preview-160509 (just updated), and I finally reached a state in my app in which I need to care about suspension/resume.

I've been messing with lifecycle events inside Visual Studio, and I noticed that something isn't going as I expect.

What happens is that `OnNavigatedFromAsync` is called upon suspension, but hitting Resume doesn't fire `OnNavigatedToAsync`, meaning that

[2016-05-10 10:45] sebfrie commented on #933
I like the idea of branching, too. It would be a shame if we always missed out on the latest (XAML) features.

[2016-05-10 11:29] alexdresko commented on #933
Can the functionality split happen in such a way that integrating with another library such as MVVM Light can be made to to eliminate conflicting/duplicate functionality between the libraries? I.E., multiple navigation services, multiple means of checking for design mode, etc... Just curious. I can't imagine how that might happen, but I think that would eliminate a lot of confusion if it were poss

[2016-05-10 12:03] alexdresko commented on #926
Still happening after the update. Also recorded something I've never seen with the splash screen.. the white screen with the blue box is new to me.

![plus odd splash](https://cloud.githubusercontent.com/assets/333022/15145752/75634838-1685-11e6-81ae-d05c9b0ae564.gif)

[2016-05-10 13:26] Dinchy87 commented on #933
i have a uwp app that has 200-600 download each day and i still see a lot of 10240 users so it would be good that Template10 is still supported. Maybe with the release of Redstone/anniversary this will change and users will update to it.

[2016-05-10 13:40] JerryNixon commented on #925
Inelegant solutions are still solutions. :)

[2016-05-10 13:40] #925 closed, assigned to nobody

[2016-05-10 13:44] JerryNixon commented on #880
Nothing more?

[2016-05-10 13:44] #880 closed, assigned to nobody

[2016-05-10 13:50] aline-almeida commented on #938
The same for me. Still get  #926.

[2016-05-10 13:57] TrevorBarstowTT commented on #880
Looks like it is fixed now in latest version. Thanks

  "dependencies": {
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.1.0",
    "Microsoft.Xaml.Behaviors.Uwp.Managed": "1.1.0",
    "Newtonsoft.Json": "8.0.3",
    "Template10": "1.1.*"
  },

[2016-05-10 15:14] darenm commented on #939
Are you suspend and terminate? if you just suspend, then typically your app would stay in memory, so would just resume and continue with the current state, rather than having to restore the state. Try suspend then terminate, then restart the app to see if it restores.

[2016-05-10 16:00] Gh0s7 commented on #939
Suspend and terminate works, but it's a different case from mine.

I'll try to give a better explanation: I have a running `DispatcherTimer` in my `ViewModel`, and this decreases a value which is critical for the app.
What happens is that on Suspend the timer stops to tick and on Resume it just restarts from the value that it had before suspension, meaning that the timer won't see that time has pa

[2016-05-10 20:54] callummoffat commented on #933
@alexdresko, I believe that one of T10's goals is to make using MVVM easier, without integrating a framework. Even though MVVM is basically the best way to do XAML, some people don't use it, and T10 reflects that.

[2016-05-10 20:56] callummoffat commented on #933
I tend to agree. There are 10240 users for my app as well (although I don't get as many downloads as you), but I suspect many of these are business users, and not consumers. Business users make up the majority of people who have a good reason to defer updates.

[2016-05-11 04:18] mvermef opened #943 "Code Fragments"
Do we have a place to drop code fragments that folks might be interested in, where a whole sample isn't warranted?

[2016-05-11 04:38] mitchcapper commented on #870
This is low priority but should probably be re-opened.
I have tested this on an xbox and can confirm that setting XYFocus is ignored by HamMenu.
For example on MainPage.xaml.cs you could do something like:
Shell.HamburgerMenu.XYFocusRight = btn_test;
expecting that when someone hits right on the HamMenu it will send them to btn_test next.

This would be relatively easy to fix, if the user hits lef

[2016-05-11 10:14] cgt commented on #935
I am experiencing the same error, except restarting Visual Studio does not resolve the problem. It occurs in brand new projects based on the hamburger template (I have not tested others). I am using the latest version of Template10 from the VS extension gallery. Upgrading the Template10 nuget package in the solution to 1.1.11-preview-160509 does not fix the problem.

@JerryNixon or @inv4der: Would

[2016-05-11 13:21] iamianvs commented on #938
At the risk of being redundant, I also get #926.

[2016-05-11 13:46] Opiumtm commented on #933
I think Template10 should support actual versions on desktop and mobile.
On mobile devices are often updated to latest version, but on desktop there is a completely different story. So, to be truly coherent, we should periodically analyze major version distribution statistics.
Only real live data can show what OS versions are actual.

[2016-05-11 18:14] JerryNixon commented on #943
Let's do it here
https://github.com/Windows-XAML/Template10/wiki/Techniques

[2016-05-11 18:36] MikeBishop commented on #933
I'll pile on the branching option, as well.  Remember that there are effectively four populations at any time:  Active Branch / Insiders (currently RS1, will be RS2 once RS1 ships), Current Branch (currently TH2, will be RS1), Current Branch for Business (currently TH1, will be TH2), and Long-Term Servicing Branch (currently TH1; TH1 remains supported for 10 years).

Ten years is a long time, and

[2016-05-11 19:19] darenm commented on #939
So this isn't a problem with T10. If an application is resumed from suspension without being terminated the app doesn't navigate, so that method won't be called. It is up to the app developer to cater for that scenario.

Without understanding your scenario, it is hard to know why you are using timer and a counter. Rather than having an integer count down the number of seconds, use time and act rel

[2016-05-11 19:42] mvermef commented on #943
Awesome.

[2016-05-11 19:42] #943 closed, assigned to nobody

[2016-05-11 19:44] johanlindfors opened #945 "Mimicing common Windows 10 apps with Template10"
I'm trying to mimic appearance and behavior from some of the most common apps in Windows 10 by leveraging Template10 and now I'm stumbled upon how to add SecondaryButton's that doesn't trigger "normal" navigation behavior to pages, but instead triggers commands similar to the Secondary Buttons in the Mail app (the calendar, feedback and settings buttons). I'm currently using Template10 as a nuget

[2016-05-11 20:10] rteshnizi opened #946 "Can't install template 10 on Visual Studio Express 2015 for Windows 10"
I can't install Template 10 on Visual Studio Express 2015 for Windows 10. I believe it is because of the manifest file for the .vsix installer. This [line in the vsixmanifest](https://github.com/Windows-XAML/Template10/blob/master/Template10%20%28Installer%29/Template10.Installer/source.extension.vsixmanifest#L15), I think, is the culprit to be specific.

Please guide.

[2016-05-11 20:12] JerryNixon commented on #945
I understand. The trick, by the way, is demonstrated in the Search (and Login) sample. But to give you a quick answer, the HamburgerButtonInfo has a property called ButtonType that you can select "Command" and then handle the Tapped event of the button. If that is too limiting, as I do not understand your scenario, you can also try ButtonType=Literal, which no longer will use the Button template,

[2016-05-11 20:12] #945 closed, assigned to nobody

[2016-05-11 20:23] JerryNixon commented on #946
Express is currently not supported. Can you explain why you can't use Community?

[2016-05-11 20:27] rteshnizi commented on #946
Because of licensing issues. I am planning to take advantage of the templates for a commercial product. Template 10 itself is under Apache license terms. However, Only Visual Studio Express edition is available for use in commercial products. If Template 10 is used as a main repository for common UWP resources, it would be much more beneficial if it is available for commercial purposes.

[2016-05-11 20:35] JerryNixon commented on #939
Very good solution.

[2016-05-11 20:48] callummoffat commented on #938
@JerryNixon, are you hearing this? Apparently, #926 is still causing issues. I'm definitely seeing it.

[2016-05-11 20:48] JerryNixon commented on #946
Well, just great. An honest developer. We don't have a contingency plan in place for that.

[2016-05-11 20:49] callummoffat commented on #946
They say honesty is the best policy, but sadly, it often causes more problems than it solves...

(Not that I endorse lying.)

[2016-05-11 20:51] JerryNixon commented on #946
Well, I tell you what @rht1369. You're going to need to solve this problem for yourself by figuring out the correct syntax in the VSIX to support Express, then submitting a Pull Request. And, I promise, that if you promise to test the freaking crap out of it first, I will merge it. But, I don't plan on installing Express and testing it myself. Don't break Community/Enterprise in your efforts. But

[2016-05-11 20:53] qmatteoq commented on #946
If you are a single developer, you can use Visual Studio community for commercial products. Limitations in Visual Studio Community applies to enterprises or non enterprises organizations with more than 200 PC or with more than 1 million $ of revenue. Read more here: https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx

[2016-05-11 20:57] rteshnizi commented on #946
Thanks for all the suggestions.

@qmatteoq @callummoffat I found it my duty to notify the maintainers of this project before it happens to other enterprise developers.

@JerryNixon That does sound good. I can't promise "testing the crap out of it" but I probably can do some testing.

[2016-05-11 21:52] #939 closed, assigned to JerryNixon

[2016-05-11 21:53] JerryNixon commented on #926
Thank you everyone, both of these have been resolved.

[2016-05-11 21:53] #926 closed, assigned to nobody

[2016-05-11 21:57] JerryNixon commented on #938
Great. Resolved.

[2016-05-11 21:58] callummoffat commented on #938
Cool. When will there be a new package with this fix?

[2016-05-11 21:59] JerryNixon commented on #938
New preview in a few minutes.

[2016-05-11 22:00] callummoffat commented on #938
Cool. Thanks! Can't wait to test!

Can I just say that Template 10 (and it's community) are awesome?

[2016-05-11 22:07] JerryNixon commented on #943
Are you proud of that?

[2016-05-11 22:13] JerryNixon opened #947 "Released Template 10 version 1.1.11-preview-160511 to NuGet"
This closes #938
I think this version is basically the non-preview version.
This will also require an update to the Gallery Templates.
We'll still address the show stoppers.
Remaining Issues in this milestone will be pushed.
Thanks @Windows-XAML/community for helping test.
// Jerry

[2016-05-11 22:21] mvermef commented on #943
for now yes I will add more,  that one blocked me for awhile, hybrid of the master/detail (not the control) with SemanticZoom , really had me scratching my head and no one on SO seemed have answer, blend ftw

[2016-05-12 03:31] #938 closed, assigned to JerryNixon

[2016-05-12 04:06] adwooley commented on #947
Hello, Jerry. Love your webcast tutorials. Poor Daren getting called a dork all the time. LOL
I pulled the latest T-10 zip package and did a CLEAN|REBUILD.

From the solution, I built the Installer VSIX and installed Template 10 from that.
Then I tried to do a new project off the Hamburger template, but ran in some errors as per below:

**project.json**
    "Newtonsoft.Json": "8.0.3,
    "Template

[2016-05-12 04:18] callummoffat commented on #947
It says there will be an update to the VSIX required before release. Since this is a preview, there aren't any VSIX templates for it. You'll need to wait for 1.1.11's official stable release.

[2016-05-12 04:20] adwooley commented on #947
Aha - I get it now. Thanks for the reply Callum!

[2016-05-12 06:29] johanlindfors commented on #858
May I suggest that the [documentation](https://github.com/Windows-XAML/Template10/wiki/Docs-%7C-Controls#hamburgermenu) also gets updated with this mandatory explicit styling of setting the AccentColor? I had to search the issues to realize what's causing the transparent behavior of it...

[2016-05-12 06:41] jerinjohnk opened #948 "Shell is being loaded along with Splashscreen loading."
#262 issue was fixed earlier ref(Splash screen modal #262). But with the new 1.1.10 the same error is occurring once again. In 1.1.8 its was working fine.

As it says inside `App.xaml`->`OnStartAsync` once we add delay say `await Task.Delay(2000);` for viewing the extended SplashScreen animation we can see Hamburger icon due to Shell being loaded.

[2016-05-12 09:40] dnxit opened #949 "How can I create a multi level Menu with this Template ??"
How can I create a multi level Menu with this Template ??

[2016-05-12 12:55] alexdresko commented on #926
It's fixed! https://github.com/Windows-XAML/Template10/issues/947

[2016-05-12 13:12] MichaelPetrinolis opened #951 "Template10.Validation Library"
Hi, in #678 Template10.Validation Library is marked (Maybe).

Why so?

Is there any chance for RS1 XAML to include validation natively?

[2016-05-12 14:02] JerryNixon commented on #951
The validation library is not completely serializable at this time. If you would like to fix that, it's the only missing piece to having it a full member of the family. I say _you_ because I am currently busy with other things. I wrote the validation library, so I certainly don't want to throw it away, but I don't have time to focus on it right now.

[2016-05-12 14:06] JerryNixon commented on #949
It depends on what you really want. Do you mean multi-level like blades, or multi-level like a tree view? Blades are super-simple. Just create the blade and control its visibility. If you mean a tree view, if you are not talking too complex, then you can take advantage of the HamburgerButtonInfo.ButtonType=Literal property and create a parent element that hides and shows children. The children can

[2016-05-12 15:11] dg2k opened #953 "BootStrapper code files not included in the project"
@JerryNixon -- There are numerous copies and variants of **BootStrapper.cs** (11 to be exact)  in **\Template10 (Library)\Common** and not part of the project.

Just in case you'd want to tidy up these floating files ...

[2016-05-12 16:06] MichaelPetrinolis commented on #951
Unfortunately neither do I, at least not for now.

[2016-05-12 16:06] #951 closed, assigned to nobody

[2016-05-12 16:39] #953 closed, assigned to nobody

[2016-05-12 16:56] JerryNixon commented on #913
What about this, @JurajPupak?

[code]

[2016-05-12 18:07] JerryNixon opened #954 "Activated from Primary Tile reports Launched, not Activated"
Thanks @AmitBhatnagar24

[2016-05-12 18:08] #954 closed, assigned to JerryNixon

[2016-05-12 18:12] JerryNixon commented on #948
Resolved. Thanks for reporting.

[2016-05-12 18:12] #948 closed, assigned to nobody

[2016-05-12 18:15] JerryNixon commented on #947
@adwooley the error that RefreshStyles takes 2 arguments makes me think you do not have the latest build since the second argument is optional. And since CreateRootElement() appears missing in your build, this, too, makes me think you do not have the latest. Why not just get the preview from NuGet?

[2016-05-12 18:16] JerryNixon commented on #933
Thanks everyone for your feedback, I am locking this conversation.

[2016-05-12 18:16] JerryNixon commented on #913
The latest version resolves this for you in a nice way.

[2016-05-12 18:16] #913 closed, assigned to JerryNixon

[2016-05-12 18:20] JerryNixon opened #955 "VSIX type has changed (important)"
Okay @alexdresko, I'll do it, or you can submit an update for me. There needs to be two VSIX packages. One is the "Template 10 Template Pack" and the second is the "Template 10 Snippets Pack". This is required because we cannot include snippets in a template VSIX without changing its type and the Visual Studio Gallery will give the package a new ID which will not allow developers to upgrade existi

[2016-05-12 18:31] JurajPupak commented on #913
Thank you Jerry. I'll try it :)

[2016-05-12 19:08] alexdresko commented on #955
Doh! Sorry about that. I'll be happy to look at it. Might take me a couple of days tho.

Man, that bums me out...

[2016-05-12 19:09] JerryNixon commented on #955
Sure. Want to release on Friday, though. Do what you can.

[2016-05-12 20:28] alexdresko commented on #955
@JerryNixon Where are you seeing this change?

[2016-05-12 20:35] JerryNixon commented on #936
Here
https://github.com/Windows-XAML/Template10/blob/master/Template10%20(Library)/Controls/HamburgerMenu.PublicMethods.xaml.cs#L118
And here
https://github.com/Windows-XAML/Template10/blob/master/Template10%20(Library)/Controls/HamburgerMenu.xaml.cs#L488

[2016-05-12 21:30] adwooley commented on #947
Thanks, Jerry. Did that and life is a lot rosier now.

[2016-05-12 22:07] JerryNixon commented on #936
Here's where the Visual State otherwise handles the DisplayMode for the developer:

https://github.com/Windows-XAML/Template10/blob/master/Template10%20(Library)/Controls/HamburgerMenu.xaml#L285

[2016-05-12 22:15] #844 closed, assigned to JerryNixon

[2016-05-12 22:49] dg2k commented on #936
Okay, codebehind it is, instead of part xaml. I have tested it and it works.

Now I would like my 'Dynamic Themes' Sample Project -- PR #892 -- not to go to waste as it demonstrates the issues discussed here in action. It has since been simplified with more clarity expected of a sample project.

Would you like me to resubmit a revised #892 ?

[2016-05-13 03:00] #933 closed, assigned to JerryNixon

[2016-05-13 03:01] #946 closed, assigned to nobody

[2016-05-13 03:03] JerryNixon commented on #949
You'd have better luck on StackOverflow

[2016-05-13 03:03] #949 closed, assigned to nobody

[2016-05-13 03:04] callummoffat commented on #947
Hey Jerry,

When are you planning on launching the final version of 1.1.11? Certainly seems stable enough to me.

[2016-05-13 03:05] #876 closed, assigned to JerryNixon

[2016-05-13 03:13] JerryNixon opened #956 "Released Template 10 version 1.1.11-preview-160512 to NuGet"
This closes #947
The issue list is getting very lean. This build is very solid.
Depending on response, I will release this Saturday as 1.1.11.
This is a wonderful upgrade from 1.1.10. Thank you, @Windows-XAML/community
I must say, the Template 10 community is pretty freaking amazing.
Please help one more time testing this preview version.
// Jerry

[2016-05-13 03:13] #947 closed, assigned to nobody

[2016-05-13 04:31] callummoffat commented on #956
Personally, I'm found the previous preview more than stable enough for release. If this one is even more stable, I have no complaints whatsoever.

[2016-05-13 11:05] dg2k opened #958 "Four Good Reasons for Providing DisplayModeChanged Event in T10"
Re: PR #952
1. No code bloat; only two lines in T10!
2. DisplayModeChanged's event argument provides complete info as previous display mode **e.OldValue** and new display mode **e.NewValue**. Such info is useful in the new _Adaptive UI_ programming (now becoming pervasive). If an event tells me that the display mode is changing from, say, **Overlay** to **CompactInline**, I can take a more proacti

[2016-05-13 14:25] johanlindfors opened #959 "Adding a ButtonType=Literal button in HamburgerMenu breaks all other buttons"
I'm surprised that this happens...

If I add a button into Secondary Buttons, such as the following:

[code]

All other buttons will cease to function, they will trigger changes on the HamburgerMenu, but no Navigation will occur...

Bug or am I missing something?

Oh, and this is in the latest preview just pulled from Nuget, and also verified in the Hamburger template project on the master branch

[2016-05-13 14:52] SamuelLioult opened #960 "Could not load file or assembly Microsoft.Xaml.Interactivity..."
Hi,
I've updated the template10 package to version 1.1.10 in the Hamburger Template from the latest version of the Template10 extension and I have this issue again. My project.json is the same that Jerry Nixon :
`{
    "dependencies": {
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.1.0",
    "Microsoft.Xaml.Behaviors.Uwp.Managed": "1.1.*",
    "Newtonsoft.Json": "8.0.3",
    "Template10": "

[2016-05-13 14:54] johanlindfors commented on #960
Do you still get this error even when specifying x64 as target platform?

[2016-05-13 15:09] SamuelLioult commented on #960
Hi @johanlindfors,
thank you for responsiveness!
Indeed it seems that the warning is not displayed well. Should I consider it normal?
However, the color change appears to be broken.
I tried this:
`<Controls:HamburgerMenu x:Name="MyHamburgerMenu" NavButtonCheckedBackground="Green">`

[2016-05-13 15:45] JerryNixon commented on #960
@SamuelLioult you should not consider it as normal. This problem is a result of the Behaviors SDK changing from being strong-named to not being strong-named, while Template 10 remains strong-named. At least in the version you are using. Later today a new version of Template 10 (version 1.1.11) will be released to NuGet and will resolve this by removing strong-name from Template 10. In the meanwhil

[2016-05-13 15:45] #960 closed, assigned to nobody

[2016-05-13 16:53] dubstylee opened #961 "BackButton on tablet odd behavior"
I finally installed my Template10 app on my Windows 10 tablet, and began testing. One thing I noticed is that regardless of the back button setting (shell back button or not), the back button doesn't display in the PageHeader, and I have to use the shell back button no matter what.

Is this something that is related to T10, or is it something intentional with Windows 10?

[2016-05-13 17:36] dg2k commented on #961
Setting `ShowShellBackButton = false` should do the trick.
If the value is persisted with settings, as in sample project,  such as
`ShowShellBackButton = settings.UseShellBackButton`;
do this from Settings (simply guessing here as I have no idea of your test prog). If not, just set it `false` in the App ctor().
And on the PageHeader control in a xaml page add the attribute:
BackButtonVisibility="C

[2016-05-13 18:06] dg2k commented on #959
I've just found a bug @johanlindfors as an event is missing from Literal button DataTemplate
 See PR #962.

[2016-05-13 18:47] dubstylee commented on #961
It is based on the Minimal sample project. I will try your suggestions once I get home and have my tablet handy. The app works correctly on both my desktop and laptop, but not on the tablet.

What is the `BackButtonVisibility="Collapsed"` for? The idea is for the back button to be visible (when CanGoBack = true). The shell back button is always visible on my tablet, so I was thinking maybe the ver

[2016-05-13 19:41] johanlindfors commented on #959
I hope this fix makes it into the 1.1.11

[2016-05-13 20:30] pekspro commented on #956
I run into a strange problem when I’m updated an old Hamburger-based project.

In OnInitializeAsync my shell was created something like this:

[code]

This no longer worked for some reason. The code was executed without any problems but when the app was started and just a white page was shown. Quite tricky to trouble shoot…

The solution was to remove this code and instead add this in the same cla

[2016-05-13 21:06] callummoffat commented on #956
I'm not seeing this, @pekspro. I've got a similar setup (using Shell with a ModalDialog), but I can't reproduce this issue.

[2016-05-13 21:20] dg2k commented on #961
Sorry, please ignore the last sentence - I don't know how cutting and pasting brought in that text. BackButtonVisibility is automatically set  in PageHeader when ShowShellBackButton is false.

[2016-05-13 22:42] klm1 opened #963 "Page / PageHeader jumps when changing pages"
Using Template 10, v1.17 with Visual Studio 2015, update 2. Notice that just building an empty Template 10 Hamburger app (same with a Template 10 Minimal app) that the PageHeader and content below it visibly moves down then back up with every page change.

See video for a demonstration of this.

http://screencast.com/t/AbDk6FIoqanH

[2016-05-14 07:52] devinfluencer commented on #956
Getting a white page, too. The live visual tree looks empty.
I have a ContentDialog that was shown before and dismissed.
![tree](https://cloud.githubusercontent.com/assets/12586852/15267140/86a5c382-19b9-11e6-8d59-a5b50f8ee8aa.png)

[2016-05-14 08:24] pekspro commented on #956
Here is a way to replicate the problem:
- Install the Template 10 Template Pack extension, version 1.17.
- Create a new Hamburger-project.
- Update the nuget packet to 1.1.11-preview-160512.
- Run the project and you will just get a white window.

I was again able to work around this by replacing this code in App.xaml.cs:

[code]

With:

[code]

[2016-05-14 10:04] pekspro opened #964 "FrameFacade.CurrentPageParam is null on OnNavigatedTo after restoring"
I have tested this with the current source. If I add this in the DetailPage in the Hamburger template project:

[code]

This code will crash if I suspend and restore the application when this page is visible. The problem is that CurrentPageParam is null when the page is restored.

I think this is easy to fix. If I change the order of these lines in Navigationserver.RestoreNavigationAsync:

[code]

[2016-05-14 13:43] JerryNixon commented on #958
Okay.

[2016-05-14 13:46] dg2k commented on #956
I think, on [Line 585](https://github.com/Windows-XAML/Template10/blob/master/Template10%20%28Library%29/Common/BootStrapper.cs#L585) `ExistingContent.Exclude` should be `ExistingContent.Include` ?? If you make this change it works like a charm.

[2016-05-14 13:58] #958 closed, assigned to nobody

[2016-05-14 14:50] #959 closed, assigned to nobody

[2016-05-14 14:52] JerryNixon commented on #961
This is by design. In Tablet mode, Windows 10 shows the back button in the system TaskBar every single time, and this cannot be changed. In this case, the Header automatically hides the back button so it is not duplicated.

[2016-05-14 14:52] #961 closed, assigned to nobody

[2016-05-14 14:55] JerryNixon commented on #963
This behavior is due to the animation of the page. You can disable this yourself with code like this:

[code]

Please note this part

[code]

[2016-05-14 14:55] #963 closed, assigned to nobody

[2016-05-14 14:57] #964 closed, assigned to nobody

[2016-05-14 14:57] JerryNixon commented on #955
In the Gallery, it's enforced there.

[2016-05-14 17:22] klm1 commented on #963
Ah, thanks Jerry -- I didn't see the "real" News app behaving this way so made the (incorrect) assumption that there was a problem. Thanks for straightening me out!

[2016-05-14 22:05] JerryNixon commented on #956
Thanks @dg2k . Great catch.

[2016-05-15 02:06] MudzNZ opened #965 "Declaring viewmodellocator get error Cannot load assembly Template10Library"
Hi,

I'm on the latest preview build, I am trying to declare my v=ViewModelLocator in App.xaml where it keeps throwing the below error.

Error		Could not load file or assembly 'Template10Library, Version=1.0.5976.38151, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The bound assembly has a version that is lower than that of the request. (Exception from HRESULT: 0x80132000)

I'm

[2016-05-15 07:31] plettb commented on #201
I'm still waiting/hoping for a validation sample.  :-)

[2016-05-15 08:04] plettb commented on #201
There appears to be a validation sample included now.  It's more complicated than I'd like as a sample, but you can wade your way through and hopefully glean what you need.  That's what I'm attempting to do.

[2016-05-15 08:53] pekspro opened #966 "Bad layout when opening menu in Hamburger project"
If you start the Hamburger template project in a small window and then open the menu it looks like this:

![badburger](https://cloud.githubusercontent.com/assets/3163293/15272992/24c965d8-1a8b-11e6-876b-324ea3590907.png)

If you make the window larger and then small again it looks alright.

Tested with current source code.

[2016-05-15 11:39] mvermef commented on #201
It has always been there you just didn't look hard enough 😋

[2016-05-15 14:13] JerryNixon commented on #966
Hey @dg2k, I think you will be able to spot the issue around this with me. Since DisplayMode, et al, are now two-way bindings, there' something happening with timing. Any bright ideas?

[2016-05-15 14:14] JerryNixon commented on #965
![image](https://cloud.githubusercontent.com/assets/1749983/15274655/fdbd198c-1a74-11e6-9177-23f3da8af148.png)

Since you left no code and very few details, I have to guess what your problem is. I assume you have looked at the sample project with the code above? Does that help at all?

[2016-05-15 14:17] JerryNixon commented on #936
I understand. Sure. I like clarity and I like simplified. When you submit the sample, do be a favor and please do not include in the PR changes to the library or base templates. Know what I mean? If you have library or template changes you can submit separate PR. Otherwise, since there are so many files with new samples, it's a pain in the neck to vet the PR.

[2016-05-15 14:17] #936 closed, assigned to nobody

[2016-05-15 14:52] dg2k commented on #966
@JerryNixon - I know what it's. PR coming up (may not be bright idea but works).

[2016-05-15 15:03] ephracis opened #967 "Save navigation between sessions"
I am using the Hamburger template and noticed that every time I start the app it defaults to the same place. I would like it to remember my navigation between sessions, preferably in the roaming settings store, so when I reopen the app it loads right back to where it was when I closed it.

[2016-05-15 16:59] dg2k commented on #967
Isn't this something that the developer should implement?

[2016-05-15 17:42] alexdresko opened #970 "No UI with 1.1.11-preview-160512"
I've been pulling my hair out trying to figure out what kind of stupid thing I did to make my app only show a blank white screen after the splash screen disappears, but it appears to be a problem with the latest build..

gif..

![blank screen](https://cloud.githubusercontent.com/assets/333022/15275787/d49a191e-1aa2-11e6-8ab6-c6db3bcc6165.gif)

[2016-05-15 17:55] dg2k commented on #970
Look at #956.

[2016-05-15 17:59] alexdresko commented on #970
Thanks. Now if I could just stop watching that gif repeat over and over again...

[2016-05-15 19:07] ephracis commented on #967
Sounds reasonable. Perhaps you could nudge me in the right direction on where to put such code? :smile:

[2016-05-16 01:19] MudzNZ commented on #965
Hi sorry, there's not much to show in the way of code except for the above.  I have it set up exactly the you have but I still get the same error on the <vm:ViewModelLocal... line.  I have installed the MvvmLightLibs package could that be affecting it?

I will try reproduce the issue when I am home later with a new project and see how I go.

[2016-05-16 04:35] NewBLife commented on #967
save your app data use suspensionState in viewmodel.OnNavigatedFromAsync method,and restore your app data use suspensionState in viewmodel.OnNavigatedToAsync method.

[template10 sample]
https://github.com/NewBLife/UWP/blob/master/MvvmDemo/FileOperationDemo/ViewModels/MainPageViewModel.cs

[2016-05-16 10:11] MudzNZ commented on #965
Cant seem to reproduce the error with a new project.  I still get it on my current project but it builds ok now so I can progress.

[2016-05-16 16:32] Viachaslau-Zinkevich opened #972 "HamburgerMenu DisplayMode by default is Inline"
Hi, I fetched latest git version and got the following issue:
When app starts it's for some reason doesn't take into account any Narrow/Medium/Wide width and just uses Inline.
When I at least once change style to any other (Narrow/Medium) -- then it starts behaving normally.

[2016-05-16 16:42] dg2k commented on #972
PR #971 will correct this, I think.

[2016-05-16 16:46] Viachaslau-Zinkevich commented on #972
@dg2k thanks, I'll check when merged. Is it also due to not triggering VisualStateGroup_CurrentStateChanged on start?

[2016-05-16 18:32] Rasetech commented on #721
Hello,

I had the same issue described by SandipAhluwalia, after upgrading to 1.1.10 this got fixed but my hamburger menu looks likes this now. I manually upgraded Custom.xaml, is there anything else to do?

![snip_20160516203003](https://cloud.githubusercontent.com/assets/18215046/15299577/4c199e58-1ba5-11e6-856a-a31d8cc50dd1.png)

[2016-05-16 18:37] dg2k commented on #972
VisualStateGroup_CurrentStateChanged too but there is more.
In principle, the developer/user should be able to choose the appropriate display mode. There was no particular reason for setting the initial to Inline, except that it was set to be overridden by the visual state. When the visual state failed, the Inline problem cropped up. It's funny that Inline did not even feature as a candidate mode

[2016-05-16 19:31] Viachaslau-Zinkevich opened #973 "Secondary view and Suspension"
This is not Tempalte10 issue, but I guess is important to think of.

What I currently found is, when the Application.Suspending event happens and Dispatcher is called, everything is ok for Main thread.
But when there are multiple views there which means multiple UI threads and Dispatchers - at the point of Suspending event they seem to be already "suspended" (read unusable and not performing any a

[2016-05-16 19:51] Viachaslau-Zinkevich commented on #973
The only thing I can actually think of is distinguishing somehow NavigationService for main view and secondary

[2016-05-16 23:23] artfuldev commented on #729
Semantic Zoom on the MasterView is a great addition!

[2016-05-17 04:10] callummoffat commented on #955
Any updates on this issue? I really want the new templates!

[2016-05-17 07:40] SandipAhluwalia commented on #721
Hi @Rasetech, out of interest, what manual changes did you do to Custom.xaml to fix this?

[2016-05-17 08:16] Rasetech commented on #721
Hello @SandipAhluwalia  I did nothing special just changed a few colors but the problem described in your post was gone after upgrading Template10 to 1.1.10 and the Behaviors Package to 1.1.0 (from 1.0.3). But now I have the problem described in my post, that the hamburger menu opens extended and is displaying a white are right of the toggle button.

[2016-05-17 13:22] SandipAhluwalia commented on #721
Hi @Rasetech, ah yes, my problem went too when upgrading. Not seeing your specific issue at moment (Note: no changes done to Custom.xaml so far). However, I do see a white vertical selection bar left aligned when selecting a Hamburger menu item.

[2016-05-17 13:28] Rasetech commented on #721
I think this white selection bar is the new design, it is expected to look like this. I will try it at home with the original Custom.xaml.

[2016-05-17 13:56] dg2k commented on #972
_Update:_  @Viachaslau-Zinkevich -- Set the display mode in **Shell.xaml.cs**'s _Loaded_ event handler and the problem with the Inline DisplayMode will not affect you.

[code]

[2016-05-17 14:01] dg2k commented on #966
@pekspro -- The following may help you go past the Inline DisplayMode problem. In Shell.xaml.cs ...

[code]

Just in case it helps ...

[2016-05-17 14:22] Viachaslau-Zinkevich commented on #972
@dg2k this actually won't help as I need Display mode depending on screen size, like what VisualStates should initially do. This affects the app depending in which size it starts and I personally don't want to duplicate the same code from HamburgerMenu inside my app

[2016-05-17 14:45] dg2k commented on #972
@Viachaslau-Zinkevich I understand, I meant as a temp measure, just in case.

[2016-05-17 15:56] JerryNixon commented on #967
There are a few things you will want here.

If you are going to manually handle restoring the navigation state, then you are going to want to disable the automatic handling of the navigation state setting BootStrapper.EnableAutoRestoreAfterTerminated to false. Please note that this property is new in the GitHub source, and can only be found in NuGet when accessing the preview versions of T10.

Nex

[2016-05-17 15:57] #967 closed, assigned to nobody

[2016-05-17 15:57] #970 closed, assigned to nobody

[2016-05-17 16:01] Viachaslau-Zinkevich commented on #972
@dg2k oh, I see. Actually it works even if specific value us set directly from XAML for HamburgerMenu. It will be then the starting value

[2016-05-17 22:23] Delaire commented on #923
I have the same issue, thanks @JerryNixon

[2016-05-17 22:43] callummoffat commented on #956
@JerryNixon, any progress on this? I thought we were launching this weekend?

[2016-05-18 03:31] #972 closed, assigned to nobody

[2016-05-18 05:54] MMalikKhan opened #977 "Hamburger menu items on hover are wiped out."
Hi, I just upgraded from 1.1.3 to 1.1.10 and i am having this wired issue with the hamburger menu items which are Black text with white background and when i hover it i see nothing .. i believe its applying some hover or doing some toggle due to which the buttons just look invisible. ? could you please guide me how can i let them not change anything on mouse hover on windows 10?

[2016-05-18 10:40] dg2k opened #980 "When updating Template10 it's easy to overlook updating App and Shell as well."
When you update Template10 via NuGet and get compilation errors, you know what to do; something must have changed from the last version of Template10 you had, so you'd look for what might have changed and correct them, in effect updating the dev side of the code.

In a very rare case you may not get any compilation errors but get HamburgerMenu's (or your app's) visual display in an unexpected way.

[2016-05-18 10:40] dg2k commented on #977
See if #980 helps.

[2016-05-18 10:44] MMalikKhan commented on #980
thanks @dg2k i drilled further and it looks like it is inverting the black color text into white and that is the reason it is not visible on hover.. i have other color test like gray in one of the menu item and i see that stays and anything which is in Black just goes invisible once the mouse enter the menu item..

[2016-05-18 10:49] dg2k commented on #980
I might? know the problem you're referring to. A sample project I will upload soon may shed some light if what I think is right. There is a subtle thing about theme refresh. It's is possible that this is unrelated but you can judge for yourself with a PR coming up.

[2016-05-18 10:53] MMalikKhan commented on #980
thanks @dg2k i look forward for your suggestion

[2016-05-18 18:36] pekspro commented on #966
I just downloaded the latest source and now the menu button doesn’t open anything in the Hamburger project. I added your code also @dg2k but still the same.

Either way, personally I don’t use the hamburger yet in my projects to no issue for – yet :)

[2016-05-18 18:51] dg2k commented on #966
I can only comment after the PR is merged but before that difficult in what state you'd find my code in yours.

I noticed a similar problem yesterday (the stack-overflow problem which freezes HamburgerMenu) and PR #978 solved the problem. Let's wait and see.

[2016-05-18 20:40] #973 closed, assigned to nobody

[2016-05-18 20:41] #966 closed, assigned to nobody

[2016-05-18 20:41] JerryNixon commented on #955
I've created the VSIX

[2016-05-18 20:41] #955 closed, assigned to alexdresko

[2016-05-18 21:04] JerryNixon commented on #977
Leave a comment

[2016-05-18 21:04] #977 closed, assigned to nobody

[2016-05-18 21:58] #965 closed

[2016-05-18 22:04] #956 closed, assigned to JerryNixon

[2016-05-18 22:04] JerryNixon opened #984 "Released Template 10 version 1.1.11-preview-160518 to NuGet"
This closes #974
There are no planned changes to this build.
If @Windows-XAML/community finds no show-stoppers, I will publish tomorrow evening (the 19th).
Thanks for your help testing. This thing only gets better and better and better.
// Jerry

[2016-05-18 22:45] dg2k commented on #984
@JerryNixon -- please include #983 and #985.

It's important that changes in VisualStateNarrowDisplayMode, VisualStateNormalDisplayMode, VisualStateWideDisplayMode call UpdateVisualStates() rather than UpdateControl() otherwise the effect of changing will only be detected on the next visual state change which may not happen.

Also please include the extension method in #985 as I need this for a sa

[2016-05-18 23:02] MMalikKhan commented on #977
Hi @JerryNixon  i still have the issue with the black color text in the menu item is not visible once you hover the menu item .. do you think is there any specific hoverStyle can set it not to apply any changes?

[2016-05-19 00:09] mvermef opened #986 "UWP Tooling SDK Versions..."
which versions of the sdk do you presently have installed?  1.3.1 or 1.3.2, reason I ask is I am not getting execution past the Splashscreen. Yet logging and settings file show it did navigate to the appropriate screen, due to logic present in my application.  Got any ideas?

[2016-05-19 00:20] callummoffat commented on #986
What SDK? There are lots of SDK's.

[2016-05-19 00:37] mvermef commented on #986
UWP, sorry was specific when I posted it...

[2016-05-19 00:43] callummoffat commented on #986
UWP SDK versions (non-preview) are 10240, and 10586. Template 10 supports both, so this issue is something else.

[2016-05-19 00:45] callummoffat commented on #986
Actually, this sounds like an issue with the Nuget preview build 1.1.11-preview-160511. Should be fixed in the latest version, which was released today. Try updating your app to support the new version, and see if that solves your problem.

[2016-05-19 00:59] mvermef commented on #986
I use hard references for the most part, will pull the latest source in a few and see.. I had gone back and actually updated all code items to reflect changes recently to the actual shell/app.cs, hoping the latest fix i saw merged would solve this issue...

[2016-05-19 01:20] mvermef commented on #986
no change in application status... Just chills at the SplashScreen, no idea what caused this...

[2016-05-19 01:22] callummoffat commented on #986
Well, it's not something I've seen or heard about. It's not the UWP version, I use both SDK versions without any problems. It's not a known issue. I'd check through your app's code. Might be something related to that.

[2016-05-19 01:24] mvermef commented on #986
almost feels like an async/await stuck somewhere

[2016-05-19 01:25] callummoffat commented on #986
Do you have any of those in your App.xaml.cs (before navigation)? I've found that some async calls stall, and leave you at the splash-screen forever.

[2016-05-19 02:01] mvermef commented on #986
shitty ass logic is what caused this, problem solved...

[2016-05-19 02:01] #986 closed, assigned to nobody

[2016-05-19 05:38] lyling opened #987 "Hamburger manu button will be blank when toggle it to fullscreen in Narrow mode."
sorry, I can`t upload any pics from my network.

[2016-05-19 06:33] resolutedreamer opened #988 ""Show telemetry in the Windows Dev Center" checkbox does not work with Template 10?"
Hi, I am using Template 10 for the first time, and it seems like if I check this checkbox
![image](https://cloud.githubusercontent.com/assets/3419924/15384620/c65b3f30-1d50-11e6-92a6-c68d7f9c7dbd.png)
none of the Templates seem to work. If I uncheck the box they work fine. I am using Visual Studio 2015 Update 2.
Thanks!

[2016-05-19 10:30] mvermef commented on #988
Correct, it doesn't take check box into account, already been reported

[2016-05-19 14:09] alexdresko commented on #955
Sorry I wasn't able to get to this @JerryNixon. I got into a car accident the other day and haven't really been able to get to my computer very much since.

[2016-05-19 14:51] JerryNixon commented on #988
Hey @resolutedreamer, the way the Telemetry wizard is implemented, it simply is not properly compatible with custom project templates. That being said, nothing is stopping you from creating a quick Blank project and copying the three or four lines from it into your Template 10 project. That's what I do, and, honestly, I prefer doing it that way because I know what's being added to my project.

[2016-05-19 15:52] SamuelLioult opened #989 ""More" button in PageHeader command bar when command bar button was not visible on start"
The button "more" does not appear when the command bar buttons was not visible from the start.
For example my app starts in VisualStateWide. For any reason, I don't want to display command bar buttons in this state (in XAML the default button visibility is Collapsed).
When my window switches to VisualStateNarrow, I display my buttons. But in this case, my buttons appear but not the "more" button (

[2016-05-19 16:15] JerryNixon commented on #989
Sure. What is the technique you are using to hide and show buttons?

[2016-05-19 16:17] JerryNixon commented on #987
I can't be sure if you are reporting the current NuGet production pack or the preview pack. I have just tested the preview pack and this is NOT the behavior. And the preview will be promoted sometime today after we are finished testing it. If it's the preview, please submit the repro steps asap.

[2016-05-19 16:26] freestyle88 opened #990 "Core:NavigateToPageAction in XAML with Behavior don't work in Template10"

[2016-05-19 16:27] #990 closed, assigned to nobody

[2016-05-19 16:39] freestyle88 opened #991 "Core:NavigateToPageAction in XAML with Behavior don't work in Template10"
If i try to Navigate to a Page with NavigateToPageAction in XAML in Template 10 App it throws an Exception.

If i do the same with normal Blank App thats Navigate

[2016-05-19 17:05] SamuelLioult commented on #989
Okay, it seems the problem appear just with the 1.1.11-preview-160512 version. I updated to the last preview and it works well.
Otherwise my technique is using visual states directly in XAML.

[2016-05-19 19:26] resolutedreamer commented on #988
Thanks for the suggestions! Maybe a note about this could be added to the docs? I didn't see anything about it this while browsing them.

[2016-05-19 19:49] JerryNixon commented on #991
Template 10 navigates using the NavigationService. Your best bet is to create a method that navigates for you. Using an action that doesn't understand Template 10 just won't work. By the way, there's a Nav action in Template 10, but it is incomplete.

[2016-05-19 19:49] #991 closed, assigned to nobody

[2016-05-20 00:51] JerryNixon opened #992 "NuGet v1.1.11 and Template v1.18 have been published"
Announcing the most recent update to Template 10.
Thank you to everyone who helped test for this release.
Release notes are here http://aka.ms/Template10.1.1.11

Here is the basic project.json (since 1.1.10):

[code]

Here are some upgrade (from pre version 10) tips:
1. Make sure you are NOT using an Ellipsis behavior on a PageHeader (#857)
2. Double-check you're using 1.1.0 in your project.json
3

[2016-05-20 00:51] #984 closed, assigned to JerryNixon

[2016-05-20 01:23] lyling commented on #987
i am using the newest source code from the time i submit this issue.

please check my attachment, a gif.

![issue_hammenu_toggle](https://cloud.githubusercontent.com/assets/485493/15414349/6af13f60-1e6c-11e6-83e0-126f1d1d9202.gif)

[2016-05-20 06:51] #989 closed, assigned to nobody

[2016-05-20 09:26] a-iafrate opened #993 "PageHeader NullReferenceException in NuGet 1.1.11"
if i update template10 to latest version i have this exception

System.NullReferenceException: Object reference not set to an instance of an object.
   at Template10.Controls.PageHeader.UpdateSpacingToFitHamburgerMenu()
   at Template10.Controls.PageHeader.PageHeader_Loaded(Object sender, RoutedEventArgs e)

on this [line of code](https://github.com/Windows-XAML/Template10/blob/1a948f6de9020ae14c5

[2016-05-20 10:40] mitkodi opened #995 "NavigationService.Reload method"
What about adding a **NavigationService.Reload(object param)** method?

[2016-05-20 12:45] schuettecarsten commented on #993
Take a look at line 183 in PageHeader.cs and set a breakpoint there. Is the "spacer" available in your XAML?

[2016-05-20 12:46] mvermef commented on #993
For starters you only have one appbarbutton in side the secondary tag, the rest are probably throwing the erroe

[2016-05-20 15:14] JerryNixon commented on #995
Good idea. You know `NavigationService.Refresh()` already exists, though, right?

[2016-05-20 15:21] JerryNixon commented on #993
I can't dream up a single scenario where this error would occur except one. If the developer has changed the template of PageHeader and failed to put `spacer` in their template. I did not have a check for this before, but I will add one that we will ship with v12. In fact, I will add it now.

@a-iafrate is this your scenario? Have you possibly changed the template of PageHeader to do something spe

[2016-05-20 15:38] a-iafrate commented on #993
Thanks to all for try to help me.
@JerryNixon i don't have changed the template, but i have a not common situation, i Page with PageHeader that include a usercontrol with another PageHeader.
The null for spacer is in the usercontrol PageHeader and not in the Page,
Thanks again!
thanks

[2016-05-20 16:13] JerryNixon commented on #993
You have two page headers on a single page?

[2016-05-20 16:18] a-iafrate commented on #993
yes and no :D
one in the page and one in the usercontrol in the page, and the page can have an array of this usercontrol, so i can have 1,2 or more pageheader in the page.
yes i know is not a common situation :D

[2016-05-20 17:56] baqwas opened #997 "Visual Studio 15 Support"
Any plans to make this template an integral part of the Visual Studio 15 experience sooner rather than later? Thanks.

[2016-05-20 18:21] dg2k commented on #997
Is it not an integral part of Visual Studio 15 already?

You can install Visual Studio Extension of Template 10 -- [Template 10 Template Pack](https://visualstudiogallery.msdn.microsoft.com/60bb885a-44e9-4cbf-a380-270803b3f6e5?SRC=VSIDE) from Visual Studio Gallery. Better still, within VS you can just reach for **Tools** -> **Extension and Updates** and tap on **Online** in the left margin and typ

[2016-05-20 18:23] pekspro commented on #993
I’m also got this problem when upgrading from preview 20160512 to 1.1.11.

I’m also have two page headers on some of my views. I have one header for “view mode” and another for “selection mode” (where you select items from a grid – just like the standard Photo app). These headers look quite different so it kind of make sense doing so. If I remove on header it’s no longer crash.

[2016-05-20 19:14] mitkodi commented on #995
Yes, but it doesn't have parameter, so we cannot reload it using different/modified parameter. At the moment I just navigate to the same page type, followed by removing the last BackStack entry, but thought it could be helpful if we have it out of the box.

[2016-05-20 21:30] callummoffat commented on #995
I have a suggestion. Why not create an overload of NavigationService.Refresh which takes an argument?

[2016-05-20 23:45] dubstylee opened #999 "Narrow visual state on app loading not working"
I thought I had seen this mentioned before, but I'm not seeing the issue anymore. Anyway, if I shrink down the width of my app to trigger the narrow visual state, then close the app, then reopen the app, it will be the same width, but no longer in narrow visual state. I have to expand the window and shrink it again to get it to go back to narrow visual state.

I can add an image if that explanatio

[2016-05-21 03:35] drasticactions commented on #993
This started happening in my apps as well when I updated, but I _think_ it's because OnApplyTemplate is not called if the control is not used in a base page.

For example, [ThreadView.xaml](https://github.com/drasticactions/AwfulRedux/blob/master/AwfulRedux/Controls/ThreadView.xaml)

ThreadView.xaml a user control which has a PageHeader. I use this because it's a part of a Master/Detail control I

[2016-05-21 10:50] schuettecarsten commented on #995
Should be possible to add a parameter with default value=null to the method...

[2016-05-21 17:22] f-pohl opened #1000 "Error Handling in Template 10 App"
Hello,
what is the recommended way to implement an error handler for an app built with Template10?
I want to ask the user to send an Email to me when the app crashes.

[2016-05-21 18:42] JerryNixon commented on #999
I can't duplicate this behavior.

[2016-05-21 18:42] #997 closed, assigned to nobody

[2016-05-21 19:17] dubstylee commented on #999
This is what it looks like when I resize to narrow:

![narrow](https://cloud.githubusercontent.com/assets/7407163/15450354/d6ae6804-1f4d-11e6-82e5-5d32dadbe0d5.png)

Then after I close and re-open:

![not narrow](https://cloud.githubusercontent.com/assets/7407163/15450356/e623fd6c-1f4d-11e6-9722-641166772c50.png)

It probably isn't anything to do with T10 though, I'm guessing. Probably just someth

[2016-05-21 19:21] dubstylee commented on #999
Here is the XAML... not much to it.

[code]

[2016-05-21 21:31] baqwas commented on #997
Can reproduce the suggestion in Visual Studio 2015.

Cannot reproduce the suggestion in Visual Studio 15 Preview 2.

Regards.

From: dg2k [mailto:notifications@github.com]
Sent: Friday, May 20, 2016 13:21
To: Windows-XAML/Template10 Template10@noreply.github.com
Cc: Matha Goram baqwas@gmail.com; Author author@noreply.github.com
Subject: Re: [Windows-XAML/Template10] Visual Studio 15 Support (#997)

[2016-05-22 10:20] dg2k commented on #997
Sorry, this Issue thread is closed, but responding regardless just if it helps ...

I take it by _Preview 2_ you mean _Update 2_?

If you installed Visual Studio 2015 (with or without _Update 2_) and you've a network connection, just check out the menu command **Tools** -> **Extension and Updates** and tap on **Online** in the left margin and type **t10** in the search box. Instead of the short na

[2016-05-22 14:30] mvermef commented on #997
He really did mean preview 2, visualstudio.com/en-us/news/releasenotes/vs15/vs15-relnotes

[2016-05-22 14:51] dg2k commented on #997
Thanks @mvermef for the note.

Didn't expect a new update of Visual Studio 2015 is in the offing, when **Update 2** is just weeks old.

Interesting text [in there](https://www.visualstudio.com/en-us/news/releasenotes/vs15/vs15-relnotes): **This is an unsupported pre-release version of Visual Studio ...**
That says a lot and perhaps @baqwas is having an issue to do a new product?? Something to look

[2016-05-22 19:19] baqwas commented on #997
Sorry to belabor the point. My sincere apologies. Please consider the issue as closed.

We are talking at cross purposes:

·         I was simply trying to point out that the search for “t10” under Visual Studio 15 Preview 2 does not yield the expected results.

·         You are persisting in reassuring me that the search for “t10” in Visual Studio 2015 works. I concede this fact since I have don

[2016-05-22 21:51] callummoffat commented on #995
Give me a few days - I'll implement this and submit a pull request. Sound good?

[2016-05-22 22:20] callummoffat commented on #995
I've submitted a PR (#1002).

[2016-05-23 11:35] Opiumtm commented on #1000
I catch most unhandled errors in App event handler, store it in data folder and later give opportunity to view them and send to me via email or copy/paste. Sadly, not all unhandled exceptions are catched properly.

Anyway, I think it's time to look at Application Insights library. It do most work.

[2016-05-23 12:41] ghost opened #1003 "Getting SelectedItems from Listview"
Hi

Iam trying to get selected items from ListView and always get exception. (Invalid cast exception.)
What do I wrong?

Thanks in advance

Here is ListView:

[code]

Here is attached behavior:

[code]

Here is the VM command:
`TestCommand = new DelegateCommand<IList<object>>(selected => CountyListSelectionChanged(selected));`

Converter:

[code]

[2016-05-23 13:20] #1003 closed, assigned to nobody

[2016-05-23 15:51] JerryNixon commented on #999
Welp, everything look right to me.

[2016-05-23 19:34] mvermef opened #1005 "CreateRootElement - Strange Behavior"
For some reason and it might be something i missed in the changes, now always having issues where the CreateRootElement isn't getting hit and creating the NavigationServiceFactory, therefore NavigationService is never created....... what would cause this.

[2016-05-23 19:56] mvermef commented on #1005
So if you have OnInitializeAsync(xxx) override in place it will skip CreateRootElement...

[2016-05-23 21:23] #1005 closed, assigned to nobody

[2016-05-24 01:57] mvermef opened #1007 "Release Build -> Yields MCG Marshalling issues with dispatchhandler"
`1>C:\Users\mverm\Documents\Projects\Device\XJTResourcesT10\XJTResourcesT10\Resources.System.Linq.Expressions.rd.xml(35): warning : ILTransform_0027: Method 'CreateLambda' within 'System.Linq.Expressions.Expression' could not be found.`

`1>C:\Users\mverm\Documents\Projects\Device\XJTResourcesT10\XJTResourcesT10\Resources.System.Linq.Expressions.rd.xml(91): warning : ILTransform_0027: Method 'Para

[2016-05-24 02:39] mvermef commented on #1007
this isn't a Template10 issue its a EntityFrameworkCore.Tools issue...

[2016-05-24 02:39] #1007 closed, assigned to nobody

[2016-05-24 20:47] dg2k opened #1008 "Programmatic Manipulation of Navigation"
I haven't done Frame _BackStack_ manipulation in a while (for such things as skipping a page) and now I needed it, and things don't seem to be as they used to be (or missing something?).

I started off with nav object (inside any window):

[code]

~~Note: the wiki [refers to the above](https://github.com/Windows-XAML/Template10/wiki/Docs-|-Services#navigationservice) as:~~
~~without **s** and obvi

[2016-05-24 20:53] JerryNixon commented on #1008
I will trust you to update the Wiki for the rest of our benefit. :)

[2016-05-24 20:57] #995 closed, assigned to JerryNixon

[2016-05-24 21:35] callummoffat commented on #995
It should be noted that my implementation of this actually navigates to the current page with new parameters. This does call OnNavigatedToAsync, which some developers may find annoying. However, my logic is that the new parameters need to be processed, which necessitates this.

[2016-05-24 22:04] dg2k commented on #1008
@JerryNixon -- Wiki done!

[2016-05-25 01:45] JerryNixon commented on #993
We'll definitely resolve this. As soon as we understand it.
I'm all ears, maybe @Windows-XAML/contributors see the issue?

[2016-05-25 05:11] fradebru opened #1009 "Layout cycle detected when using EllipsisBehavior"
When using the following XAML I get a 'layout cycle detected' exception:

[code]

I get the following exception:

[code]

If I remove the `<i:Interaction.Behaviors>` XAML, then everything works fine, but the ellipsis is visible (which I would like to hide ...)

Any idea what this might be?

Thanks,
Franck

[2016-05-25 05:34] mvermef commented on #1009
Remove it....
`<i:Interaction.Behaviors>
           <t10b:EllipsisBehavior Visibility="Collapsed" />
</i:Interaction.Behaviors>`
Add this instead....
`<controls:PageHeader`
      **_EllipsisVisibility="Auto"_**
      `Frame="{x:Bind Frame} />`
Reference: #856

It was obscured in the many changes that have occurred in the last few months.  I have updated the [Wiki ](https://github.com/Windows-XAML/

[2016-05-25 06:14] fradebru commented on #1009
Thanks! I have missed this in my Google search.

[2016-05-25 06:59] MMalikKhan opened #1010 "Navigating between pages which takes long time to load"
Hi @JerryNixon ,

I have a login page after which i am launching the Shell by using the below code. I am not sure what i am doing wrong, the home page loads but the page starts blank and then few elements comes and then other elements get populated. I wanted to delay the loading of the home page until my home page is fully loaded. On the `OnNavigationTo` has some code to get the database records a

[2016-05-25 08:30] dg2k commented on #1008
Sorry folks, all is fine.

I managed to wind myself up by moving code fragments around and inadvertently calling Navigation manipulation code indirectly from where it shouldn't belong -- from **OnNavigatedTo** event handler where navigation is not yet completed -- rather than from **Loaded** event handler (in view) where page navigation is complete.

A small tip from time I've wasted: Just in case

[2016-05-26 00:06] #1009 closed, assigned to nobody

[2016-05-26 05:44] mvermef commented on #1010
are you using latest nuget?  Don't forget to verify changes to the app.xaml.cs file and shell file(s) since there have been rather large changes to the projects since the last release.  Nothing says you have use the NavigateTo method overrides either, you could use the Loaded event for the page... Where in your code do you call the initial navigate?

[2016-05-26 08:16] govindrawat55 opened #1013 "I want to hide menu icon of hamburger template (uwp) on login page."
I do not want to add menu on login page. how can it possible.

[2016-05-26 08:38] dg2k commented on #1013
Use a **ModalDialog** page which will actually cover your app totally as should be the case for login. No programming effort to hide or reveal app menus -- when you enable the Login ModalDialog page, it only shows the controls for credential input, and once it's done with authentication, it disables the ModalDialog page and you'd find your app which was previously covered. I think this is the corr

[2016-05-26 10:56] aannenko opened #1014 "Application theme is always light when application starts."
Application theme is always light when application starts. This is true even when you switch to dark theme in the app's settings and restart the app.
To fix this, simply remove the `RequestedTheme="Light"` property setter from the App.xaml file.

[2016-05-26 13:21] govindrawat55 commented on #1013
Can you provide sample code for it ?

[2016-05-26 13:23] dg2k commented on #1013
[Search and Login project](https://github.com/Windows-XAML/Template10/tree/master/Samples/Search)

[2016-05-26 15:56] IIARROWS opened #1015 "BackRequested not raised when clicking back button on PageHeader"
This is a follow up of this issue:  #463
The BackRequested is raised only using hardware buttons, I tried with Windows Phone emulator and the back button on my mouse.
It doesn't work clicking the back button on PageHeader on PC.

On 1.1.11

[2016-05-26 16:45] mvermef commented on #1013
I have gone down the road of navigating to a login page if it doesn't have a jwt from webapi. navigateto sets IsFullScreen = true going to login page, once islogged it will set buttons based roles then navigateto mainpage setting isfullscreen to false

[2016-05-26 16:48] mvermef commented on #1015
What version is being used

[2016-05-26 17:06] IIARROWS commented on #1015
My bad, is 1.1.11, updated to its stable version.
But it's not only on stable, it happened on the previous beta too.

[2016-05-26 20:31] mvermef commented on #1015
I just ran my app on my phone it works just fine with the backbutton.

[2016-05-26 20:37] calloncampbell commented on #1014
I believe the reason it's defaulted to white is because that is the new standard for Microsoft's UWP apps.

[2016-05-26 22:21] dg2k commented on #1014
Don't think white is the preferred theme although apps tend to choose more white than dark.
The three themes, namely Default (aka Dark) Theme, Light Theme and HighContrast Theme are the available standards. There is no suggestion of a preferred standard. It's down to the developer and the user.

The developer may provide options for the user to choose a preferred theme through settings; in some ca

[2016-05-27 02:12] lyling commented on #987
@JerryNixon can u see my gif?

[2016-05-27 02:13] #987 closed, assigned to nobody

[2016-05-27 06:11] aannenko commented on #1014
Cool! But this time it is just a small defect. The theme is initialized twice: once in the App.xaml.cs ctor and the second time - in the Custom.xaml
If the Custom.xaml does not contain a theme setter and settings storage doesn't have a key for a current theme, the SettingsService instance's AppTheme property returns light theme which is just enough for not having a theme setter in the Custom.xaml

[2016-05-27 06:57] IIARROWS commented on #1015
Well, on phone it works because you have only the physical button and that works as I said.
The issue happens only using the software back button on the page header, it directly call the OnNavigationFromAsync without passing through the FrameFacade.BackRequested event.

This is the code:

[code]

[2016-05-27 10:24] govindrawat55 opened #1016 "How can we create Nested menu in Hamburger template 10"
I have submenu of menu. Want to show submenu on the click of respective selected parent menu.
What is the right approach to achieve this?
http://stackoverflow.com/questions/36545559/nested-menu-with-template-10

[2016-05-27 10:38] govindrawat55 commented on #1013
https://github.com/Windows-XAML/Template10/issues/577

IN App.xaml.cs

public override async Task OnInitializeAsync(IActivatedEventArgs args)
        {
            if (Window.Current.Content as ModalDialog == null)
            {
                // create a new frame

[code]

Above method is used for add model dialog but how can i disable it on login page ?

[2016-05-27 14:18] mvermef commented on #1015
Yeah sorry misread your OP, I will look at it shortly. You are just trying to intercept the back request and add some additional logic..

[2016-05-27 14:39] ProH4Ck commented on #684
Here is my situation: Xamarin app with PCL library and MVVM Light. Android and iOS works fine with MVVM Light integrated NavigationService. For the UWP project i created the following "bridge" class to adapt Template10's Navigation Service to the shared one. It works pretty well.

[code]

and in App.xaml.cs

[code]

[2016-05-27 22:43] dubstylee opened #1017 "persist GridView layout question"
This isn't necessarily an issue per se, but a question. Template10 saves the window size information when it is closed, so when you re-open the application it is the same place/size as when you closed it.

Does it use the registry for this, or some other configuration file? Is there an easy way to also include the layout of a GridView? I have a GridView on my main page, and I have enabled drag/dro

[2016-05-28 00:23] dg2k commented on #1017
Apps don't touch the Registry, remember apps are totally compartmentalized -- let alone Registry, they are not even allowed to touch an ordinary user file without user's permission (be it directly or indirectly). Apps reside under a directory `%LOCALAPPDATA%\Packages\<App Unique Long Alphanumeric ID>` where the `<App Unique Long Alphanumeric ID>` looks something like `0a19433d-7830-433e-9a14-78eec

[2016-05-28 00:26] dubstylee commented on #1017
Thanks for the info - yeah, I have used the SettingsService already to add some new settings. I will look into it some more to achieve what I am hoping to. Specifically, I'll look into the AppTheme setting and see what it is doing. Thanks!

[2016-05-28 07:51] ephracis commented on #967
Thanks a lot for the answer.

My OnStartAsync in App.xaml.cs previously called `NavigationService.Navigate(typeof(Views.DashboardPage))`. I have replaced it with setting `NavigationService.NavigationState` as you recommended and the app now returns to the previous view at startup, with the whole stack of previous states so I can use the back button and everything.

But there's one drawback: the ha

[2016-05-28 23:02] plettb opened #1019 "IsDirty flag in the validation sample's ModelBase"
I believe the "IsDirty" property needs to roll up.  So, instead of simply saying "public bool IsDirty { get; }" (line 79), I believe the code should look something like "public bool IsDirty => Properties.Any(p => p.Value.IsDirty);"

I tried to upload this change but seem to be forbidden from pushing changes.  Of course, it's quite possible that I simply don't know Git well enough.

Brad.

[2016-05-29 01:33] mvermef commented on #1019
create a fork of template10, fix it in your's, submit a Pull Request.  He will evaluate it and either say no or ask for more to be put into the PR.  Once he is satisfied that it's good, he will merge it.

[2016-05-29 18:58] mvermef commented on #1015
found 2 items that might affect it...

[2016-05-29 19:59] mvermef commented on #1015
played around alittle see if I could duplicate and it does appear to be skipping... not sure why.

[2016-05-29 20:24] schuettecarsten commented on #1013
If you want to hide the HamburgerMenu, set IsFullScreen to true. That's it :)

[2016-05-29 20:57] dpaulino commented on #239
@TCPhelps This worked for me as well! Thanks!!

[2016-05-31 07:01] DanTheManSWE opened #1020 "BackButtonBehavior not working properly after updating from 1.0.8 to 1.1.11"
I've been using BackButtonBehavior to go to a different visual state, but after updating to 1.1.11 it's not working any longer.

So basically what happens is that when I click a listitem, it goes to DetailVisualState, In that state a  button in the AppBar is enabled, called AppBarBackButton. BackButtonBehavior is bound to IsEnabled of AppBarBackButton. Pressing the AppBar button works fine, but wh

[2016-05-31 10:08] #1013 closed, assigned to nobody

[2016-05-31 11:26] ghost commented on #558
Its still issue with c++ winsdkfb project where u cant add nuget packages.
The specified module could not be found. (Exception from HRESULT: 0x8007007E)

[2016-05-31 18:33] Viachaslau-Zinkevich opened #1021 "NullReferenceException in BootStrapper.InternalLaunchAsync"
I wonder if it was fixed already, but I got this in production:

1 Template10::Common::BootStrapper::_InternalLaunchAsync_d__53.MoveNext 0x201
 2 SharedLibrary System::Runtime::ExceptionServices::ExceptionDispatchInfo.Throw 0x21
 3 SharedLibrary $13_System::Runtime::CompilerServices::AsyncMethodBuilderCore::__c._ThrowAsync_b__9_0 0x1E
 4 SharedLibrary $13_System::Threading::WinRTSynchronizationCon

[2016-05-31 19:39] mvermef commented on #1021
Where did you get that, or what did you call?

[2016-05-31 19:41] mvermef commented on #1021
Only thing I have seen related to dispatcher was related to EFCore.Tools, they are not necessary for release.

[2016-05-31 19:43] Viachaslau-Zinkevich commented on #1021
@mvermef I've got the issue from Dev center exceptions. I don't call anything :) This is only stacktrace I got from Dev center.

[2016-06-01 07:59] kfchengkf commented on #737
I used the sample code from darenm and was able to achieve the desire result.
However there is an issue that appear when deployed on a windows phone (not on desktop)
When the apps is suspended and then resumed and the hardware back button pressed,
the yes/no dialog show up, but at the same time, the apps quit (not sure if crashed or not).
The yes / no button was not pressed yet.

The dialog that I

[2016-06-01 08:12] DanTheManSWE commented on #1020
The issue seems to be isolated to GoToStateAction.
I can still call a method with CallMethodAction.

[2016-06-01 08:16] DanTheManSWE commented on #1020
Ok,
So I guess something changed in GoToStateAction, when I added TargetObject it's working fine:
TargetObject="{Binding ElementName=ThisPage, Mode=OneWay}"

[2016-06-01 08:16] #1020 closed, assigned to nobody

[2016-06-01 16:27] JerryNixon commented on #1014
Worth pointing out that Dark is the internally preferred theme only on phone, Light is the preferred theme on desktop applications. You can confirm this with the first-party apps shipping with Windows 10. Or, you can just trust me. This, by the way, was a decision that was made recently. In the recent past, Dark was the default theme for all apps. I've noticed that many of the bigger first party a

[2016-06-02 02:11] kfchengkf opened #1022 "Show a Modal Dialog in OnNavigatingFromAsync - another issue"
I refer to the issue Show a Modal Dialog in OnNavigatingFromAsync  #737

I used the sample code from darenm and was able to achieve the desire result.
However there is an issue that appear when deployed on a windows phone (not on desktop)
When the apps is suspended and then resumed and the hardware back button pressed,
the yes/no dialog show up, but at the same time, the apps quit (not sure if cra

[2016-06-02 12:24] yuri-stepanov opened #1023 "Back navigation cancel is not working"
Hi, I am trying to prevent user from accidentally leave page using this code.

`public override async Task OnNavigatingFromAsync(NavigatingEventArgs args)`
`{`
    `var defferal = args.GetDeferral();`
    `var confirmNavigation = await DialogManager.ShowConfirmDialog("Discard all changes?");`
    `args.Cancel = !confirmNavigation;`
    `defferal.Complete();`
`}`
But instead it goes back anyway and

[2016-06-02 14:21] darenm commented on #1023
Look at: https://github.com/Windows-XAML/Template10/issues/737

From: yury-stepanov [mailto:notifications@github.com]
Sent: Thursday, June 2, 2016 6:24 AM
To: Windows-XAML/Template10 Template10@noreply.github.com
Subject: [Windows-XAML/Template10] Back navigation cancel is not working (#1023)

Hi, I am trying to prevent user from accidentally leave page using this code.

public override async Task

[2016-06-02 16:52] jmbezeau opened #1025 "In a TestMethod, I am asserting that a PropertyChanged has occured"
I have a class that inherits from BindingBase, I want to assert that a property has been changed using:

target.PropertyChanged += (o, e) => { if (e.PropertyName.Equals(nameof(PictureBrowser.PictureFile))) actual++; };

so that actual is incremented every time the PictureFile property is changed.

When PropertyChanged fires, I get a NullReferenceException. I assume it is due to some uninitialized

[2016-06-02 20:11] jp-weber commented on #1014
I agree with you. But what is with Redstone? In Redstone, the system theme can be change to black, so the app should use at start the right default value(in this case black).

At my app, I implemented two other variable, one for a checkbox of the toggleswitch of the theme, to say "I want change the theme" and the other for the default windows theme(to disable the checkbox for the TS and set the ri

[2016-06-02 21:41] brprigge opened #1026 "Collapse and Expand Hamburger Menu Programmatically"
I have a requirement to collapse and expand the navigation panel on the hamburger menu depending on the specific page that a user is navigating to.  It is entirely possible that I am being dense, but I can't seem to find a way to do that in a simple fashion.  Any help you provide would be much appreciated.

[2016-06-02 21:51] brprigge commented on #1026
Step 1: Open Mouth.
Step 2: Insert Foot.

Found it.`HamburgerMenu.IsOpen`

[2016-06-02 21:51] #1026 closed, assigned to nobody

[2016-06-03 13:14] SamuelLioult opened #1028 "Unit Test App project doesn't work"
Hi,
I have an issue when I launch a unit test app project on a Hamburger (Template10) based project.
The error message is "Défaillance irrémédiable (Exception from HRESULT: 0x8000FFFF (E_UNEXPECTED))" (sorry, error is in french)

And here is the stack trace:
   at Windows.UI.Xaml.Application..ctor()
   at Template10.Common.BootStrapper..ctor()
   at MyProject.App..ctor()
   at MyProjectUnitTests.M

[2016-06-03 15:01] mvermef commented on #1028
In app.xaml.cs do you have [Bindable] attribute decorating the App class?

[2016-06-03 15:08] SamuelLioult commented on #1028
Yes, but only in the project targeted by tests
In the last version of Hamburger Template, the app.xaml.cs class has already the [Bindable] attribute.

[2016-06-03 15:44] JerryNixon commented on #1010
Here's a reference https://github.com/Windows-XAML/Template10/wiki/Docs-%7C-Bootstrapper#root-frame

[2016-06-03 15:44] #1010 closed, assigned to nobody

[2016-06-03 15:46] JerryNixon commented on #1014
Should it?

[2016-06-03 16:06] #1016 closed, assigned to nobody

[2016-06-03 16:17] JerryNixon commented on #1019
Yep.

[2016-06-03 16:17] #1019 closed, assigned to nobody

[2016-06-03 17:14] jp-weber commented on #1014
Why not? ;)
It would be more logical in Redstone, but it can basically be implemented by any programmer yourself.
In the end, we need only update the setting sample.

It is just a suggestion and no real problem :)

[2016-06-03 22:11] #1023 closed, assigned to nobody

[2016-06-03 22:12] JerryNixon commented on #1022
There is a major change necessary to the NavService to get this to work. Right now it relies on the eventing of the native Frame. This is okay, but it does not properly defer async operations, and that is the pain point you are seeing. This isn't exactly a NavService rewrite, but it's close. That's what's holding me back. The current service is so freaking stable, a major change is going to be a p

[2016-06-03 22:12] #1022 closed, assigned to nobody

[2016-06-04 00:56] JerryNixon opened #1030 "BottomAppBar sample no longer works."
Anyone care to figure it out?

[2016-06-04 00:56] #1017 closed

[2016-06-04 00:57] JerryNixon commented on #1014
Not sure what to do here.

[2016-06-04 00:57] #1014 closed, assigned to nobody

[2016-06-04 00:59] JerryNixon commented on #1014
Okay, I think you are right. Since the settings in Minimal and Hamburger templates both default to light, this only really impacts Blank. I added an explicit set to Light in the constructor of the App.xaml. I am still not sure any of this is the best thing to do, but it's where we are now.

[2016-06-04 01:06] JerryNixon commented on #1015
I anyone else getting this behavior? @Windows-XAML/community

[2016-06-04 01:07] JerryNixon commented on #1000
FYI: Application Insights has been replaced by HockeyApp.

[2016-06-04 01:07] #1000 closed, assigned to nobody

[2016-06-04 01:07] #1008 closed, assigned to nobody

[2016-06-04 01:08] #999 closed, assigned to nobody

[2016-06-04 01:13] oadugmore commented on #1015
[I noticed this back in February](http://stackoverflow.com/a/35528914/4480347). I can't personally confirm it _still_ exists as I haven't used Template10 in a while (I've been busy with other types of projects).

[2016-06-04 01:17] effpath999 commented on #1015
I'm using version **1.1.10** and have exactly the same code and works very fine, both with the hardware button and with the software one on desktop.

[2016-06-04 06:45] fradebru opened #1031 "Back Button Wrong Behavior When PageHeader in UserControl"
I have three pages (Page1, Page2, Page3). I can navigate from Page1 to Page2 to Page3. With the backbutton I can then navigate back in the stack.

Page2 and Page3 contain a UserControl. The UserControl contains the PageHeader. I bind the Frame from the Page to the UserControl (custom dependency property) to the PageHeader.

When I run the app on a desktop (local machine) I see the following behavi

[2016-06-04 07:15] aannenko commented on #1014
Hey! Do you hear me?

In the App.xaml.cs ctor there is a `RequestedTheme = _settings.AppTheme;` string of code which sets the app's theme each and every time during the app's initialization. If the theme is not saved in the app's settings storage, the `_settings.AppTheme` will return Light theme, otherwise - the theme that was read from the app's settings storage.

There is no reason to set the th

[2016-06-04 08:55] borsliu opened #1032 "ExtendedExecutionReason.Unspecified and BootStrapper.HandleSuspending()"
I have a problem when using ExtendedExecutionReason.Unspecified with template10.

If I open an ExtendedExecutionSession with ExtendedExecutionReason.Unspecified, then click 'Close' button. Then, I found the only way to close this ExtendedExecutionSession is in the ExtendedExecutionSession.Revoked event. But, this event has racing problem with BootStrapper.Suspending event. In other words, I can no

[2016-06-04 10:09] mklemarczyk opened #1033 "New logo proposal"
I propose change logo to this one.
![t10](https://cloud.githubusercontent.com/assets/2727261/15798971/3b268712-2a4d-11e6-9373-ce17b6deb0b7.png)

Any suggestions write below.

[2016-06-04 15:54] mvermef commented on #1028
you can only unit test the class libraries at present, unit testing with views will not work

[prism reference](https://github.com/PrismLibrary/Prism/issues/140) scroll to the bottom...

[2016-06-04 18:55] dg2k commented on #1033
Isn't this a monumental digression considering that this is a coding community rather than logo design?
I'm also curious -- what's wrong with the existing T10 logo anyway?

Note that T10 is not a product to be promoted with a logo; T10 is a library for developing UWP _products_.

[2016-06-04 19:05] mvermef commented on #1033
That and Jerry has previously turned this down

[2016-06-04 21:46] mklemarczyk commented on #1033
So what @dg2k ? Does non-commercial product not deserve for a nice logo?
@mvermef it is open source project.

[2016-06-04 22:24] IIARROWS commented on #1015
I can't check it now, but can you try to update to latest version? You can always switch back if you don't want to update your solution.

[2016-06-04 22:29] dg2k commented on #1033
@mklemarczyk  Needless to say, "nice" is a very subjective word. I sense that you find the existing T10 logo not as _nice_ as the one you're proposing. Personally, it makes no difference to me what logo is used for T10, in as far as it does the job of distinctly identifying T10 where it matters -- in connection with VS extension and NuGet package, which the existing logo does very well. It's disti

[2016-06-05 00:44] mvermef commented on #1033
@mklemarczyk That as in the above statement @dg2k stated. Secondly, I am very well aware it is an open source product.... #712  was the first time not enough?  Guess you didn't want to keep attacking someone with the edited out part about proper english, nice.

calling the kettle black

Good luck as well...

[2016-06-05 02:58] callummoffat commented on #1033
I prefer the current logo, and, even if I didn't, I agree with the other guys in this conversation. If you don't like the logo, submit a PR with your proposed changes, and let the community decide.

[2016-06-05 16:03] artfuldev commented on #729
Need a bit more time

[2016-06-05 16:24] JerryNixon commented on #1033
No plans to change

[2016-06-05 16:24] #1033 closed, assigned to nobody

[2016-06-05 18:45] mklemarczyk commented on #1033
Anyway I will fork this project.

[2016-06-06 04:25] kfchengkf commented on #1022
Thanks for the explanation.
After testing, it seems that a try catch block around the ShowAsync() call of MessageDialog is enough to prevent the issue from happening.

[2016-06-06 07:55] SamuelLioult commented on #1028
Hi @mvermef,

I try to run tests only on the class. I am in the start of my project, and actually I have only the views of the base hamburger template. I try to test my business logic.

[2016-06-06 09:15] SamuelLioult commented on #1028
Okay, so this problem appears only when I want to debug tests. If I run it using the Test menu and clicking "Run->All tests" it works well. But if I run tests clicking "Debug->All tests" it doesn't work (I have the error described in the first post of this topic).

[2016-06-06 12:11] angusbreno commented on #993
Same issue here, it happens on PageHeader sample too.

[2016-06-06 12:37] angusbreno commented on #993
What happens is this:

OnApplyTemplate() is **only called when the control is Visible**. But our UpdateSpacingToFitHamburgerMenu() not.

In PageHeader sample u can notice this "behavior".

Guys what is the best handle for this? @Windows-XAML/community

[2016-06-06 17:05] JerryNixon commented on #1032
By default, Template 10 automatically enters every app into Extended Execution when it is suspending. This provides, as you know 10 minutes instead of 5 seconds, resources providing. I think your code might be in conflict with that T10 implementation. Don't you? It makes me realize that this needs to be optional, if so. But I want your feedback before I make any decisions here.

[2016-06-06 18:08] borsliu commented on #1032
Yes, this is the case. When I create an ExtendedExecutionSession with Unspecified reason. this behavior is unavoidable. If app's close button is clicked, I have no chance to close my ExtendedExecutionSession properly before BootStrapper.HandleSuspending().

I think, if BootStrapper.HandleSuspending() can be overriden, it will be good enough for my case.

[2016-06-07 05:27] FahadMustafa opened #1037 ""CommandParameter is not set" error on "HamburgerMenu_KeyDown""
I have an app in the store using 1.1.11. I am seeing a  System.NullReferenceException a few times:

`Exception Type:  System.NullReferenceException
Crashed Thread:  2

Application Specific Information:
CommandParameter is not set

Exception Stack:
Template10.Controls.HamburgerMenu.ExecuteNav(Controls.HamburgerButtonInfo commandInfo)
Template10.Mvvm.DelegateCommand<Template10.Controls.HamburgerButt

[2016-06-08 14:03] SWilkov commented on #1030
Hi Jerry, I've just run BottomAppBar sample and can't see any errors? what error are you seeing?
Thanks

[2016-06-08 17:44] dg2k commented on #1030
@JerryNixon It fails due to Localization (or Globalization depending on how you look at it).

**NumberColorConverter** converter assumes a dollar $ sign in stripping the value string for parsing (to obtain Red or Green colors based on positive negative values) but if the currency sign changes with  regional setting it fails. PR #1041 fixes this.

[2016-06-09 14:14] schuettecarsten opened #1042 "InvalidOperationException in DeviceUtils.DiagonalSize"
Sometimes whe get an exception on a mobile device when DeviceUtils.IsPhone() is called in a constructor of an InteractionDialog.

Code:

[code]

Exception/Callstack:

[code]

Device details:
Manufacturer: MicrosoftMDG
Model: RM-1085_12547
Windows: 10.0.10586.318

[2016-06-09 15:48] effpath999 commented on #1015
@IIARROWS sorry for answering so late, but i didn't have time to check it before today.
So I try to upgrade my project to use Template10 1.1.11 but still my event handler is called correctly.

[2016-06-09 18:13] IIARROWS commented on #1015
Nothing to be sorry about, thank you for your help...

[2016-06-10 05:46] wleev opened #1044 "Unhandled win32 exception after updating from 1.1.10 to 1.1.11"
The moment I update the library to the new 1.1.11 version my application starts throwing a win32 exception on every go. I've tried to debug as much as I can, but I can't seem to produce anything close to a  decipherable stack trace.

When I enable native debugging:

[code]

When I debug my unit tests though, something different pops up:

[code]

Not sure how to reproduce it except from updating th

[2016-06-10 13:23] angusbreno commented on #1044
Some people in my team is getting this problem too, i'm looking for the cause. Idk if it is Template10 relative issue (but start to happen after the template update).

[2016-06-10 15:55] #1042 closed, assigned to nobody

[2016-06-10 15:56] #1030 closed, assigned to nobody

[2016-06-10 19:03] aannenko opened #1047 "Bug in PageHeader.SecondaryCommands list"
Description:
Exception is thrown whenever I try to scroll through the secondary commands' list of the page header.
The exception message is "Layout cycle detected. Layout could not complete."

Steps to reproduce:
1. Create a new app using a hamburger or minimal template
2. Build and launch the app
3. Click a button with three dots on it in the top right corner of the app
4. Hover any item in the l

[2016-06-10 19:27] mvermef commented on #1047
Version? Do you have any Ellipsis Behaviors in markup?

[2016-06-10 22:43] dkackman opened #1048 "Add MarketplaceService"
Add service to Template10 (Services) project that provides the ability to show the app's main store entry, the app review page and the app publisher page.

https://msdn.microsoft.com/en-us/windows/uwp/launch-resume/launch-store-app

[2016-06-11 05:15] aannenko commented on #1047
Plugin version: 1.18
Package version (in the solution): 1.1.10 or 1.1.11
I didn't touch XAML after the application creation.

[2016-06-11 05:20] mvermef commented on #1047
so no changes bare bones, hamburger application?

[2016-06-11 08:14] aannenko commented on #1047
That's right.
I have interface scaling set to 125% in Windows Settings. Can this be a reason?

[2016-06-11 09:37] jp-weber opened #1050 "HamburgerMenu: VisualState"CheckedPointerOver" at "NavToggleButtonTemplate" not working"
I want implement the the actually Setting-app look from Win10 Redstone, but if I change at "DataTemplate x:Name="NavToggleButtonTemplate":

[code]

For example the background to hover, the backround of  the checked HamburgerButtonInfo is always the color of NavButtonHoverBackground.

[code]

This would be mean, that "CheckedPointerOver" is always active, when "Checked" is active?
![hovervisualstat

[2016-06-11 14:27] mvermef commented on #1047
Pc or 2in1, the template will determine screen size and reacts accordingly

[2016-06-11 14:29] dg2k opened #1051 "Forget CallMethodAction and think in terms of InvokeCommandAction?"
With relative binding of the form `RelativeSource={RelativeSource FindAncestor ...` missing from UWP, the scope of getting to a _MethodName_ for `CallMethodAction` is very limited to a container such as a  UserControl. In this case you'd bind to the `ElementName` of a container, say UserControl's `x:Name` (see the **Search (and Login)** Sample for an illustration).

If on the otherhand your `CallM

[2016-06-11 15:58] aannenko commented on #1047
PC

[2016-06-11 21:12] JerryNixon commented on #857
Leave a comment

[2016-06-11 21:13] JerryNixon commented on #1047
Could you please review this known issue? Then report.
https://github.com/Windows-XAML/Template10/issues/857

[2016-06-11 21:14] JerryNixon commented on #1021
@Viachaslau-Zinkevich I am closing this issue because we have so little information. If this were epidemic (everyone was getting it) we'd have something. If you guys get more information, let me know, open a new issue, we'll chase it then. Make sense?

[2016-06-11 21:14] #1021 closed, assigned to nobody

[2016-06-11 21:15] #1048 closed, assigned to nobody

[2016-06-11 21:26] aannenko commented on #1047
Yes, I've seen it but my case is a bit different: when the app is created, it already has T10 v. 1.1.10 (I can update it to 1.1.11 but it won't change anything) and I  also don't change anything in the app.

[2016-06-12 18:20] schuettecarsten commented on #1037
The fix was merged, is the issue still there?

[2016-06-12 20:19] realworld666 opened #1055 "Buil for store issue - Shell does not contain a definition for 'HamburgerButtonInfo_Selected"
Any ideas why I'm getting this error when building for store. It builds fine otherwise.

1>C:\Users\davec\Source\Repos\CycleStreetsUniversal\CycleStreetsUniversal\obj\Pages\Shell.xaml(35,98,35,126): error CS1061: 'Shell' does not contain a definition for 'HamburgerButtonInfo_Selected' and no extension method 'HamburgerButtonInfo_Selected' accepting a first argument of type 'Shell' could be found (

[2016-06-13 07:41] pnp0a03 commented on #1032
I have a similar issue with borsliu. My app using ExtendedExecutionReason.LocationTracking to track the location of the phone. In some cases, app trying to suspend without closing my EE session, then it cause the system exception.
I vote to "be optional" for using EE at BootStrapper.HandleSuspending. Because.. In many cases, 5 sec is enough for saving the app status.
best regards, :)

`
System.Exc

[2016-06-13 09:15] SandipAhluwalia commented on #1028
Yes, I can also confirm the problem. Whenever debugging the unit tests, I see the same exception, but it works fine when just running it. We have some spent time trying to investigate and resolve this, but no success so far, so if anyone else out there has found a workaround or solution to this issue then please do share :)

[2016-06-13 15:32] JerryNixon commented on #870
Let's verify this again.

[2016-06-13 20:32] dg2k commented on #980
@MMalikKhan -- almost forgot to follow up this -- sorry. The PR I was referring to above was PR #998 which deals with the visual problems which I suspect may be what you were experiencing. Sorry this comes a bit late but if you've any feedback to make (even if the sample didn't help), that would be appreciated.

[2016-06-13 22:47] FahadMustafa commented on #1037
@schuettecarsten I cannot verify the fix directly since I could not reproduce, found the issue through telemetry from a few production users. Will have to wait until I deploy a new version of the app with the updated fix.

[2016-06-14 07:26] kanji11 opened #1057 "How to create nested menu with Template 10"
I want to use the Hamburger menu from Template 10 and add dynamic sections,

for example

--Mail section (header)

------Inbox

------Sent Items

--Calendar (header)

-----etc..list of headers, for each item, there is a list of clickable items.

Is there a way to bind the primary buttons and add a template for the items?
something like that

For more information check : http://stackoverflow.com/qu

[2016-06-14 09:54] dg2k commented on #1050
I know you're trying to set the **ContentPresenter** Content control and **Indicator** Rectangle control in `Template10.Controls.HamburgerMenu` UserControl but the above won't do it and not the right approach anyway.

Your `<VisualState.Setters>` look for the `Target` control in the same XAML file which I understand is your Settings.xaml (be it from a Sample project). What info is there for the vi

[2016-06-14 19:55] JerryNixon commented on #1057
Yes, this is easily possible. It will take a bit for me to write a sample as I am traveling.

[2016-06-14 20:52] angusbreno commented on #1044
Trying find the problem. Question: Your app has a splash screen (from T10) right?

If yes, comment the splashfactory.

Like this
`//SplashFactory = (e) => new Views.Splash(e);`

Run app.

It worked right?

[2016-06-15 07:24] selaromdotnet opened #1060 "Navigation, History, etc, without using INavigable"
I love template 10 and want to be able to leverage the navigation service to create a UWP version of an app I've written for Universal 8.1 and Xamarin Forms. However, this app was written with MvvmLight, with the Viewmodels in the PCL, shared to both the Windows 8.1 and Xamarin platforms.

As a result, I cannot inherit from INavigable in my PCL project to get the automatic navigation that calls th

[2016-06-15 07:26] selaromdotnet commented on #1060
I just realized after submitting this isn't really an "issue" to be logged (other than to perhaps suggest the INavigable be portable, which is probably not possible), so if this would be better posted on StackOverflow please let me know and I'll direct such questions there in the future. thanks agian

[2016-06-15 08:55] wleev commented on #1044
@angusbreno Yeah, that seemed to do the trick. Tried to do some debugging of myself, but couldn't really find an immediate cause myself. Luckily I don't need the extended splash screen at this point.

Thanks for clearing up that headache.

[2016-06-15 14:43] aline-almeida opened #1061 "NetworkAvailableService"
Hi!
I'm using T10 Nuget package v 1.1.11 and want to use NetworkAvailableService, but it's not available. Is it going to be included?
Anyway, I'd like to set the Action<bool> AvailabilityChanged in NetworkAvailableHelper, but it's not exposed in NetworkAvailableService.
Am I missing something here ?
Thanks,
Aline

[2016-06-15 15:49] angusbreno commented on #1044
I'm passing for this too... I'm looking for the cause, but seens something about how Splash content works inside bootstrapper...

I'm working on that.

@JerryNixon did u already see this?

[2016-06-15 15:52] dg2k commented on #1061
I think [Windows.Networking.Connectivity](https://msdn.microsoft.com/library/windows/apps/br207308) namespace should give you everything you need.

[2016-06-15 16:11] aline-almeida commented on #1061
Hi dg2k!
I know how to get it working, I was just wondering, since the code is available, if it could be reused as it is right now.
Thanks

[2016-06-15 17:07] mvermef commented on #1061
You would need to grab source for T10.Services, that code isn't part of the nuget package at present.

[2016-06-16 08:15] aline-almeida commented on #1061
I think the action AvailabilityChanged  from NetworkAvailableHelper should be exposed in NetworkAvailableService to be able to run code when availability changes. Is that right ?

[2016-06-16 14:17] mvermef commented on #1061
It is available just not in the nuget package..

[2016-06-16 15:24] jp-weber commented on #1050
Thanks for your answer.

I have tried to change the setter of "NavToggleButtonTemplate", because it was not possible to me in `\Styles\Custom.xaml` to change the background of  "ContentPresenter" if I hover over the checked NavButtonItem.

I have no idea how I can change the background of the item, if I hover, when the VisualState is

[code]

[2016-06-16 16:46] dg2k commented on #1050
Have you looked at the [Dynamic Themes](https://github.com/Windows-XAML/Template10/tree/master/Samples/DynamicThemes) sample project? I think you'll find the right pointers there. I know the **Indicator** bar needs some updating for **hover** (currently works for **checked**) but with the custom background color settings etc you'd be 80-90% there.

[2016-06-17 00:04] selaromdotnet commented on #684
whoa @ProH4Ck you read my mind I ended up doing almost exactly the same thing!

but how are you handling the ViewModels with regard to activating (Onnavigatedto for example)? This requires that your viewmodels inherit INavigable, which is not possible if they exist in the PCL library...

My current attempt to fix this is inheriting the pcl viewmodels in my win10 project, adding inavigable and pass

[2016-06-17 03:09] JerryNixon commented on #684
This will be a goal for 10.2

[2016-06-17 03:24] selaromdotnet commented on #684
That's great to hear jerry, please tell me if and how I can help!

[2016-06-17 10:05] aline-almeida commented on #1061
Maybe I didn´t explain myself well....
I've got the code and I know how to change it to make it do what I want (it's already done). I was just wondering if I really need to change the code or is there another way to use it "as is" and still accomplish my goal.
Thanks

[2016-06-17 12:00] LukasNespor opened #1064 "XAML file encoding"
All XAML files are ANSI encoded so Czech characters like `ý, á, ě, š` are rendered as wrong character. Every time I create an app from Template 10 template I have to re-save all XAML files to Unicode encoding.

![wrongchar](https://cloud.githubusercontent.com/assets/12233643/16149850/bfb460f8-3493-11e6-8f50-a28eb7ce76e9.PNG)

[2016-06-17 13:43] mvermef commented on #1061
You can use it as is

[2016-06-17 16:20] aline-almeida commented on #1061
Ok, so could you tell me how to set the action to be run when availability changes, using just the INetworkAvailableService interface as is?

[2016-06-17 17:31] angusbreno commented on #1061
Yes @aline-almeida, today the services project it's not published within nuget package. Yes, it's missing the Event way to handle in service (since the it's supposed to not access Helpers directly)...

For now, we have two options: Make a PR with this service in services folder, or create in our app by ourselves.

I think Jerry already mapped this to a different package but no one knows when he wi

[2016-06-17 22:35] Authfix commented on #1025
Hi,

You're right, you have some missing initialization variables.

If you look at T10 source code, you can see that the framework use a class called WindowWrapper. So in a Unit Test app, this wrapper is not initialized (normal).

In my case, I have rewrite my unit test app class with the following code to avoid this "issue"

[code]

[2016-06-19 01:14] paulaenterpriseappsuk commented on #444
Hi Jerry,
I get
An exception of type 'System.NullReferenceException' occurred
at the line
`public void GotoSettings() =>
            NavigationService.Navigate(typeof(Views.SettingsPage), 0);`

[2016-06-19 01:45] paulaenterpriseappsuk opened #1066 "Passing an object to the MainPage from a Page that was accessed through the HamburgerButtonInfo Primary Button"
Hi, how do i pass object from a Page accessed through the HamburgerButtonInfo to the MainPage.
NavigationService.Navigate Doesn't work. it gives Nullreference

[2016-06-19 04:35] matsujirushi opened #1067 "NavigationServices.FirstOrDefault()"
Compile error at NavigationService sample code in [wiki](https://github.com/Windows-XAML/Template10/wiki/Docs-%7C-Services).

`var nav = WindowWrapper.Current().NavigationServices.FirstOrDefault();`

Maybe...
`var nav = WindowWrapper.Current().NavigationServices[0];`

[2016-06-19 08:38] ghost opened #1068 "MasterDetail Sample using another Back button"
I am using the MasterDetail as a guide on how to make that kind of design using Template10. There is just one problem, the sample uses another back button to transition from detail to master and vice versa. Is there a way you can use the built in shell back button? Thank you!

[2016-06-19 12:57] dkackman opened #1069 "Add service to ask user to review the app after a certain amount of usage"
Many apps will ask the user to leave a review in the app store after a certain period. Add a component that will allow an app to register to receive a "Please review this app" nag dialog after a certain number of launches and/or period of time since the first launch.

[2016-06-19 13:18] mvermef commented on #1068
If you look very closely there is no navigation happening.  So answer is no, no way to trigger back to list with built-in button because it is all accomplished with visual states

[2016-06-19 15:28] dkackman opened #1071 "FileService namespace exists in both Library and Services assemblies"
`FileHelper`and `StorageStrategies`types exist in the same namespace in both Template10 (Services) and Template10 (Library).

Looks like it could either be moved entirely into the Library assembly or the Services assembly, depending on what the ultimate design intent is. Nothing in Library seems to have a dependency on either type.

I can make the change and submit a pull request but would need so

[2016-06-20 04:28] #1068 closed, assigned to nobody

[2016-06-20 04:32] ghost opened #1072 "Accessing Frame's Backstack from ViewModel"
How do you access the Frame's BackStack from the ViewModel? Does NavigationService give this capability? If not, what workaround can I do to achieve this?

[2016-06-20 08:12] aline-almeida commented on #1061
Thank you @angusbreno, I was just checking before making a PR.

[2016-06-20 09:31] arpadbarta commented on #1044
Same behaviour here too, Win32 Exception, after commenting out Splash screen disappears...

[2016-06-21 02:24] #1072 closed, assigned to nobody

[2016-06-21 02:26] ghost opened #1074 "NavigationService.GoBack() does not have overload to accept NavigationTransitionInfo"
NavigationService.GoBack() does not have overload to accept NavigationTransitionInfo. Is this by design or is it in the pipeline of features? If it is by design, can you explain why you made it this way? And what kind of workaround to do to get the same effect? Thank you!

[2016-06-21 03:53] FahadMustafa opened #1075 "Bootstrapper HandleResuming null reference exception"
I have an app in the store running 1.1.11. I am seeing a lot of null reference exceptions:

[code]

These exceptions are happening on an array of different devices both PC and mobile.
Has anyone had similar issues, may know what is causing it ? I have failed to reproduce on multiple test devices.

[2016-06-21 06:45] marcinmarkiewicz opened #1076 "BottomAppBar is in front of Busy page"
As in the title... My app has BottomAppbar and I want to do some calculations. When using Busy page from T10 approach (DelegateCommand), I found that BottomAppBar is on the top of my app (busy page is behind app bar)- is it bug?

[2016-06-21 18:38] CntPickle commented on #1044
I have observed the same, for what it's worth.

[2016-06-21 19:18] angusbreno commented on #1044
I'm busy with other projects until Monday, I will look into after that day. Btw as workarround comment splash factory.

[2016-06-22 12:31] GFlisch opened #1077 "Template App.Xaml and RequestedTheme"
The template with HamburgerMenu generates a App.Xaml file where the Theme is set to Light.

Changing the theme in the settings menu will have no influence when you restart the application due to the Light version set in the xaml file.
Just remove this and all works fine.

[2016-06-23 02:35] ghost opened #1078 "GoToStateAction does not execute when used within BackButtonBehavior"
The BackButtonBehavior executes InvokeCommandAction and other Actions but it won't execute the GoToStateAction. I've checked the code and I set the TargetObject of the GoToStateAction to the Page but still nothing.

`<Behaviors:BackButtonBehavior>
<Core:GoToStateAction StateName="ListVisualState" TargetObject="{Binding ElementName=pageRoot}" />
</Behaviors:BackButtonBehavior>`

[2016-06-23 06:48] nksato commented on #1064
All XAML files in Project Templates (1 Template10Blank.zip, 2 Tempalte10Minimal.zip, 3 Template10Humberger.zip) are ANSI encoded. I use Japanese characters and  got garbage characters using project template. Please re-save all files as Unicode encoding and update "Template 10 Template Pack" ( https://visualstudiogallery.msdn.microsoft.com/60bb885a-44e9-4cbf-a380-270803b3f6e5 ).

[2016-06-23 18:31] genehynson commented on #1066
I think you're looking for PageParameter? You should be able to bind this attribute to a HamburgerMenu ViewModel and then at your new page, retrieve that parameter in the OnNavigatedTo() method in the respective ViewModel. It's talked about more here: https://github.com/Windows-XAML/Template10/wiki/Docs-%7C-Controls#hamburgermenu

[2016-06-24 15:28] genehynson commented on #1055
XAML please?

[2016-06-24 17:26] mvermef commented on #1055
You need to 4 spaces or tilda front and back for inline code to show us the code,  otherwise it gets scrubbed from output

[2016-06-24 17:34] msarchet opened #1079 "Can not write tests against a project referencing Template10"
Here are steps to reproduce this issue:

Using the Template10 Project templates, File -> New Project -> Template 10 (Hamburger)

Add a UserControl called Test with a dependency property called Text.

Create a UWP Unit Test Project, add a UITestMethod, that creates a new Test UserControl, that attempts to set the Text property on the control.

Notice that if you attempt to debug or run this test th

[2016-06-24 17:51] mvermef commented on #1079
https://github.com/PrismLibrary/Prism/issues/140, reference jerry's remark near bottom. In other words you can't do ui tests at present. It is not a template10 isolated issue

[2016-06-24 17:52] mvermef commented on #1079
In other words you can't do ui tests at present.

[2016-06-24 18:01] msarchet commented on #1079
@mvermef I am able to write tests against a UWP app, that does not reference template 10. I addressed this in my initial comment.

[2016-06-24 18:07] mvermef commented on #1079
Containing ui?

[2016-06-24 18:10] msarchet commented on #1079
Yes. I can test a UserControl/View with a dependency property in a a new UWP Application, a Class Library (Universal Windows). If anything in the test project references template10 I am no longer able to run the exact same unit tests (in debug, or not in debug).

[2016-06-24 18:29] msarchet commented on #1079
https://github.com/msarchet/template10-unittest-repo

This repository should show the issue.

[2016-06-25 13:59] dubstylee opened #1080 "Implementing Dependency Injection"
I have posted a question on StackOverflow here: http://stackoverflow.com/questions/38023604/dependency-injection-using-template-10

I am wondering if anyone has implemented Unity with Template10. I see that there is the `ResolveForPage` override, but I'm not sure how to implement that, as I've used `Resolve` from Unity in past projects.

Alternatively, does anyone have a suggestion on how to imple

[2016-06-25 15:41] dubstylee commented on #1080
I am thinking maybe I should implement it similar to the `SettingsService` and just set the repository in each `ViewModel`s constructor that I need to access the database?

[2016-06-25 19:01] realworld666 commented on #1055
Going to close this. The problem has gone away all by itself. I think it was probably a completely clear build that fixed it but I'm not sure.

[2016-06-25 19:01] #1055 closed, assigned to nobody

[2016-06-26 05:28] JijoBose commented on #406
I found a Workaround for the **BottomAppBar** issue.
Make sure you create another PageHeader Control and set the **PageHeader control** as **'AlignBottomWithPanel="True"**

Refer the Code Below.

[code]

![untitled](https://cloud.githubusercontent.com/assets/13100108/16360758/d9397b32-3b8f-11e6-9ad3-3471e2a7fdd2.png)

[2016-06-26 05:32] JijoBose commented on #246
I have a workaround for this issue here.

https://github.com/Windows-XAML/Template10/issues/406#issuecomment-228585169

[2016-06-26 11:47] kanji11 commented on #1057
Can you please write a sample code for me.Thanks

[2016-06-26 15:31] jmbezeau commented on #1025
Did you completely replace the UnitTestApp.xaml.cs file this App class?  I can't override those two methods since they are not implemented in the base class. I have tried replacing the base class from Application to Template10.Common.BootStrapper and I still didn't have a base class with those two methods.

Thanks for the answer, I am still trying to figure out how to properly do a UWP app.  I dev

[2016-06-27 06:21] stefankueng opened #1081 "Provide debug symbols"
Please provide the debug symbols (pdb files) with each release on NuGet. And the debug symbols should contain the source info so VS can automatically fetch the source files from the repository if needed.
http://docs.nuget.org/Create/Creating-and-Publishing-a-Symbol-Package

Or if they're already published somewhere (haven't found them), then the url should be mentioned somewhere in a wiki page.

[2016-06-27 15:35] Opiumtm opened #1082 "Massive performance issues because of LayoutUpdated event handlers"
There are some handlers to [LayoutUpdated](https://msdn.microsoft.com/en-us/library/windows/apps/windows.ui.xaml.frameworkelement.layoutupdated) event in Template10 code.

Quote from MSDN:

I already pointed that hook on [LayoutUpdated](https://msdn.microsoft.com/en-us/library/windows/apps/windows.ui.xaml.frameworkelement.layoutupdated) is a very dangerous thing from performance perspective. Micro

[2016-06-27 17:15] Opiumtm commented on #1082
Some memory refreshment: #902

I provided quick-fix with #906 pull request (was accepted).
But that was only a partial solution which removed most blatant performance degradation but doesn't fix core issue which is a handling of `LayoutUpdated` event. I mentioned that core issue is with this event and doesn't removed these handlers in pull request because I don't know why these handlers are create

[2016-06-27 19:14] dubstylee commented on #1080
Opted to not use DI after all.

[2016-06-27 19:14] #1080 closed, assigned to nobody

[2016-06-27 19:22] dubstylee opened #1083 "ChangeTypeConverter issue"
I have a simple converter that I use to bind SQLite dates to a `DatePicker` control. I have to convert between `DateTime` and `DateTimeOffset`. I thought that this was the exact reason for a `ChangeTypeConverter`, so I decided to try it instead of my converter.

I declare it like this in my XAML:

[code]

And then bind my `DatePicker` like so:

[code]

If the `DateOpened` is `null` then the `DateP

[2016-06-28 01:00] JerryNixon commented on #729
You can put this as an issue on your repro clone.

[2016-06-28 01:00] #729 closed, assigned to nobody

[2016-06-28 01:02] JerryNixon commented on #1083
Does it have to be nullable?

[2016-06-28 01:03] JerryNixon commented on #1082
I understand, but I thought this was already resolved. Did it get un-resolved?

[2016-06-28 01:05] JerryNixon commented on #1081
I agree this would be a good idea. I would like to see it.

We need to update https://github.com/Windows-XAML/Template10/blob/master/Template10%20(Library)/Nuget/Build.cmd.

I look forward to your Pull Request. Otherwise, no.
Sorry, man, just a matter of daylight.

[2016-06-28 01:06] #1081 closed, assigned to nobody

[2016-06-28 01:10] JerryNixon commented on #1079
Well, I just asked the UWP PM and he said they should work now. The lead for coded UI testing is not in today, so I will ask him tomorrow to validate - might even point him to this thread.

This article confirms that Coded UI Testing for Windows Store is supported.
https://msdn.microsoft.com/en-us/library/dn305948.aspx
 This article infers that Coded UI Testing for UWP is still forthcoming.
https:

[2016-06-28 01:16] JerryNixon commented on #1077
Good catch. True for all but Blank template.

Hey, why not submit a Pull Request?

[2016-06-28 01:17] JerryNixon commented on #1076
Not a bug. Nothing can be in front of the Bottom/Top app bars. The only work around is to disable them when you show Busy. Or dock the AppBar and don't use Bottom/Top.

Not saying it's awesome. Just explaining why it's nothing we can fix.

[2016-06-28 01:20] JerryNixon commented on #1076
Leave a comment

[2016-06-28 01:20] #1076 closed, assigned to nobody

[2016-06-28 01:21] JerryNixon commented on #1075
Please keep chasing this. Give me some hints on where to look into if there's an issue.

[2016-06-28 01:25] JerryNixon commented on #1074
This is an oversight. I look forward to your Pull Request @Rivolvan :) No kidding.

[2016-06-28 01:26] #1071 closed, assigned to nobody

[2016-06-28 01:26] #1069 closed, assigned to nobody

[2016-06-28 01:27] JerryNixon commented on #1083
There's an example for this in the Converters Sample.

[2016-06-28 01:29] JerryNixon commented on #1067
This can only occur if there is no NavigationService. We've had discussions about this before. Since Template 10 was born as a Navigation framework, it simply makes no sense to accomodate a scenario without a NavigationService. That being said, the error is clearly Window.Current if there is an error, because FirstOrDefault does not result in an error. Since you said it was a compile error and not

[2016-06-28 01:42] Opiumtm commented on #1082
@JerryNixon issue is resolved partially. While there is no extreme performance degradation on mobile ARM devices (someone reported that devices with x86 Atom CPU are also noticeably affected) because of hot-fix, moderate slowdowns are still remain, these slowdowns are progressing and became especially noticeable after couple of hours of app usage. Maybe it's not a critical issue for average app, b

[2016-06-28 01:46] Opiumtm commented on #1082
@JerryNixon and please, can you tell me, **why** this event is handled? If anyone can tell me reasons of `LayoutUpdated` event handling, I can think how it can be avoided.

[2016-06-28 01:52] FahadMustafa commented on #1075
I've been looking into this and I think I might have cracked it. In my application I was making the `NavigationServiceFactory` call inside  `OnInitializeAsync`. When the app is activated through prefetch in some cases the app gets suspended before the call to `NavigationServiceFactory` completes (or before its even reached since I had some code before it) therefore when the user launches the app a

[2016-06-28 02:04] dubstylee commented on #1083
I suppose it does not have to be nullable. I can have it set the value on a new object to a default value rather than null and see if `DateTime` works better than `DateTime?`.

[2016-06-28 02:12] dubstylee commented on #1083
It still doesn't work with the `ChangeTypeConverter`, but I didn't realize there is a `DateTimeOffsetConverter` built in to T10. Pretty similar to what I already had, works like a charm!

[2016-06-28 02:29] msarchet commented on #1079
Thanks @JerryNixon

Let me know if you need any thing additional to figure this out.

[2016-06-28 02:35] JerryNixon opened #1084 "Info: How to pass Page Parameters in Template 10"
I have created a new Wiki page dedicated to this topic:
https://github.com/Windows-XAML/Template10/wiki/Page-Parameters

As simple as it is to pass parameters in Template 10, this is a recurring question and deserves a dedicated Wiki to explain the basic approaches. Feel free to contribute.

[2016-06-28 04:01] #1083 closed, assigned to nobody

[2016-06-28 05:42] marcinmarkiewicz commented on #1076
thanx for reply

[2016-06-28 06:02] JerryNixon commented on #988
Where would you look to see it? You might edit the Wiki to make it most clear?

[2016-06-28 06:02] #988 closed, assigned to nobody

[2016-06-28 06:03] JerryNixon commented on #1079
You should know, this is very low priority right now. There are many other aspects and features of Template 10 that have my attention. Should you find out what the issue is, let me know ASAP with a new, open issue.

[2016-06-28 06:03] #1079 closed, assigned to nobody

[2016-06-28 06:07] JerryNixon commented on #1064
Look at this
https://github.com/Windows-XAML/Template10/wiki/Document-Encoding

[2016-06-28 06:16] JerryNixon commented on #822
https://github.com/Windows-XAML/Template10/wiki/Document-Encoding

![image](https://cloud.githubusercontent.com/assets/1749983/16405511/7ee8000e-3cc5-11e6-8460-021f6e1b60e2.png)

[2016-06-28 06:27] #1064 closed, assigned to nobody

[2016-06-28 06:28] JerryNixon commented on #1061
I would like to see that PR @aline-almeida

[2016-06-28 06:28] #1061 closed, assigned to nobody

[2016-06-28 06:33] JerryNixon commented on #1074
I am starting to think this is not an oversight. I am starting to think GoBack() can't support Info.

[2016-06-28 06:35] JerryNixon commented on #1066
Here you go
https://github.com/Windows-XAML/Template10/wiki/Page-Parameters

[2016-06-28 06:35] #1066 closed, assigned to nobody

[2016-06-28 06:41] JerryNixon commented on #1060
We'll move all the interfaces in Template 10 to a cross-platform PCL when we release the Anniversary Update version of the library. That is the current plan. I can't solve your problem now, but that update should come pretty soon. We will not build it until the Anniversary Update is RTM. That when we start, not when we ship. Remember. Open Source. Volunteers.

By the way, thanks. I know this is im

[2016-06-28 06:41] #1060 closed, assigned to nobody

[2016-06-28 06:44] JerryNixon commented on #1051
`CallMethodAction` is nothing but a pain in my neck. I have half a mind to write my own and put it in Template 10 just to solve this endless nightmare when I try to use it.

[2016-06-28 06:44] #1051 closed, assigned to nobody

[2016-06-28 06:48] JerryNixon commented on #1050
Thanks for looking into this @dg2k

[2016-06-28 06:49] JerryNixon commented on #1050
We don't support Redstone items yet. I'm sorry.

[2016-06-28 06:49] #1050 closed, assigned to nobody

[2016-06-28 06:52] JerryNixon commented on #1047
New question. Are you using a `<Hub />` control?

[2016-06-28 06:58] JerryNixon commented on #1044
Please copy the splash code-behind (and XAML) from a new project and see if that makes a difference. If for no other reason, just to test a theory.

[2016-06-28 07:03] JerryNixon commented on #1028
I'll see what I can do.

[2016-06-28 07:03] #1037 closed, assigned to nobody

[2016-06-28 07:05] JerryNixon commented on #1032
Will make it optional.

[2016-06-28 07:06] JerryNixon commented on #1031
No way. Really?

[2016-06-28 07:21] wleev commented on #1044
@JerryNixon
No difference when replaced, still same win32 exception.

[2016-06-28 10:44] Opiumtm commented on #1082
[Search query for LayoutUpdated event handlers](https://github.com/Windows-XAML/Template10/search?l=csharp&q=LayoutUpdated&utf8=%E2%9C%93)

[2016-06-28 12:19] ghost commented on #1074
I feel stupid. How do I do a pull request? I am new to this.

[2016-06-28 13:03] ghost commented on #1074
this is my pull request @JerryNixon  #1085

[2016-06-28 13:19] angusbreno commented on #1044
@JerryNixon Just create a new project of template10 and put a splashfactory, the error happens...

What i've found until now it's when the new NavigationService it's created in splash phase the GetDispatcher is comming null...

[2016-06-28 14:49] aline-almeida commented on #1061
Done!

[2016-06-28 15:15] aannenko commented on #1047
Hi @JerryNixon ! Hub is not used. Nothing is added to the code the template already has, so it is just a clean template.
Again, here are the steps that I do to reproduce this issue:
- I start my Visual Studio Community 2015;
- I click Create Project link on the start page in Visual Studio;
- I select the Hamburger (Template 10) template and click OK;
- I click F5 to run this newly created project;

[2016-06-28 15:50] JerryNixon commented on #1047
Thanks for reporting this. Well, there's nothing I can do to repro this. Let me ask you another question. Are you using any scale factor? Does your machine read 100%?

![image](https://cloud.githubusercontent.com/assets/1749983/16422484/c27f16fe-3d15-11e6-940c-fc74ddfdd8b7.png)

[2016-06-28 15:54] aannenko commented on #1047
It's 125% on my desktop computer and 200% on surface book.
I was mentioning it couple of posts earlier.
I'll do a test with 100% scaling and will get back here with results in a moment.

[2016-06-28 15:56] JerryNixon commented on #1044
Could you paste your factory code?

[2016-06-28 16:00] aannenko commented on #1047
Yes, when the scaling is set to 100% it works just fine. No scroll bar is visible when I try to scroll.

[2016-06-28 16:06] JerryNixon commented on #1044
I want you guys to know, I can't repro this on my side.
1. New project [hamburger]
2. Leave the default splash
3. Ensure OnStartAsync delay of 5 sec
4. Run it

Every single time, the same, good result.

[2016-06-28 16:08] aannenko commented on #1047
Oh cool, People app is failing too. And the Windows Feedback app does not. It seems when the scaling factor is set to more than 100%, any app will fail if it has more than one secondary command in the command bar.

Sorry then. I should have tested it before posting here.

[2016-06-28 16:28] #1074 closed, assigned to nobody

[2016-06-28 17:29] #1015 closed, assigned to nobody

[2016-06-28 17:35] JerryNixon commented on #1047
Good. We figured it out. Let me reach out to the control lead.

[2016-06-28 23:40] MMalikKhan commented on #980
@dg2k thanks, is this already available in the current release on nuget? I am back to give my second chance in upgrading from 1.0.2 to latest. the last time i tried, i had so many issues.. i cant move forward. not particularly with Template 10. I have issues with EF7 upgrade from Rc1 to RC2. they almost rewrote that EF lots of braking changes. I have released there final version i am hoping this s

[2016-06-29 02:22] angusbreno commented on #1044
@JerryNixon what can i do to show the problem? Because it's not possible debug (i've try attach the debugger to process with w32,clr... and nothing)...
SplashFactory is normal believe haha

There is something really strange, "i've found" the problem.

Guys, if possible make a copy of your project add template10 files as reference, put splash.
Go to this line:
https://github.com/Windows-XAML/Templa

[2016-06-29 06:24] vshengur commented on #261
## Hey @JerryNixon. Thank you for this template. I Like it very much. But...

Yes, there is a problem. When using this template, **you can not fully change the language on the fly**. All of the above methods resolve the issue by changing the content inside SplitView Content. But the language of the contents of a hamburger can not be any quick ways to solve without changing the contents could be fo

[2016-06-29 08:58] GFlisch commented on #1077
Already fixed in the current branch.

[2016-06-29 08:58] #1077 closed, assigned to nobody

[2016-06-29 10:34] Opiumtm commented on #1067
@matsujirushi
[.FirstOrDefault()](https://msdn.microsoft.com/en-us/library/system.linq.enumerable.firstordefault%28v=vs.110%29.aspx) is defined in `System.Linq` namespace.
It is failed to compile because namespace should be referenced.
Wiki example isn't a complete source file, it's just a few lines of code.
If you want to compile this example, you should reference `System.Linq` namespace by `usin

[2016-06-29 10:56] Opiumtm commented on #1082
@Windows-XAML/community could you anyone point me why `LayoutUpdated` event is handled?

And I suggest to accept a code quality rule for a future Template10 code contributions - **do not attach any handlers to this event**. There are much more safe places to observe visual tree.

If you required to have a surely valid visual tree to analyze - you can override [OnApplyTemplate method](https://msdn.

[2016-06-29 19:40] mvermef opened #1089 "UniversalWindowsPlatform 5.2, don't use yet.."
It got pulled from Nuget... It is part of the 1.4 update for UWP

[2016-06-29 19:43] ghost opened #1090 "Get Extended Splashscreen With Circular ProgressBar Around Image in Template 10"
This  question is on SO [Link](http://stackoverflow.com/questions/38018918/get-extended-splashscreen-with-circular-progressbar-around-image).But the answer given is not the complete solution. As my app hangs by that solution so I just used the extendedsplash control in a blank windows uwp app and voila! it worked perfectly but when using template 10 after the splashscreen the app just hangs for 1

[2016-06-30 13:39] Opiumtm commented on #1089
Referring to [Nuget specification](https://docs.nuget.org/create/versioning) dependencies in nuget package are of type "this version or newer"

In [nuspec file](https://github.com/Windows-XAML/Template10/blob/542c9af1b29747cedde4f9582ac18bbdfbebdb70/Template10%20%28Library%29/Nuget/Template10Library.nuspec):

[code]

As implied in Nuget specification, such a form (without any qualifiers) allow to

[2016-06-30 16:06] mvermef commented on #1089
not what I was alluding to, more of a hey don't use it or post PR with this update yet... since it was unlisted from nuget for an issue.  Certain other packages use it as a requirement (EF Core e.g.).

https://social.msdn.microsoft.com/Forums/en-US/e766a904-7346-4f76-bad2-852d3b301b0e/known-issue-version-52-of-microsoftnetcoreuniversalwindowsplatform-delisted-all?forum=Win10SDKToolsIssues

[2016-07-02 09:25] ProH4Ck commented on #684
@selaromdotnet solved also this problem creating a BasePage and let every page in my UWP project inherit from it:

[code]

MainPage.xaml

[code]

INavigable interface (in PCL project):

[code]

And then ViewModel (in PCL project too):

[code]

I think that actually this is the cleaner solution to achieve this. Now tha UWP app is in production and works perfectly :smile:

[2016-07-02 14:58] marcominerva opened #1093 "Error using NavigateToPageAction"
Hi all!

When I try to navigate to a page using NavigateToPageAction, I obtain the following error:

`Unexpected character encountered while parsing value: W. Path '', line 0, position 0.`

If I navigate to the same page via code, using NavigationService, everything works as expected. The error seems related to Json serialization.

[2016-07-03 04:33] JerryNixon commented on #1089
@mvermef Perhaps a PR would be good. Are you planning one?

[2016-07-03 04:33] #1089 closed, assigned to nobody

[2016-07-03 04:37] JerryNixon commented on #1093
Is this the custom Action or the built-in Action. Do you know?
Post your code and it will show me.

[2016-07-03 04:39] JerryNixon commented on #1090
This is so very simple. Check out https://github.com/Windows-XAML/Template10/blob/master/Template10%20(Library)/Controls/RingSegment.cs and pay attention to the StartAngle and EndAngle properties. That's how we did it in the sample. Like 5 lines of code.

[2016-07-03 04:39] #1090 closed, assigned to nobody

[2016-07-03 04:44] JerryNixon commented on #1082
Well, I believe we are using this event in error.

### Use SizeChanged events to respond to layout changes

https://msdn.microsoft.com/en-us/windows/uwp/debug-test-perf/optimize-your-xaml-layout

[2016-07-03 04:45] JerryNixon commented on #1075
Brilliant.

[2016-07-03 04:45] #1075 closed, assigned to nobody

[2016-07-03 04:45] #1067 closed, assigned to nobody

[2016-07-03 05:13] mvermef commented on #1089
Not until corefx team give thumbs up for relisting with updated package

[2016-07-03 05:15] JerryNixon commented on #870
I will add this to Anniversary updates.

[2016-07-03 09:36] marcominerva commented on #1093
This is the complete scenario. If I use the Template10 NavToPageAction Behavior:

`<Page
    ...
    xmlns:Interactivity="using:Microsoft.Xaml.Interactivity"
    xmlns:Interactions="using:Microsoft.Xaml.Interactions.Core"
    xmlns:t10behavoirs="using:Template10.Behaviors"
    ...>`

`<Interactivity:Interaction.Behaviors>
    <Interactions:EventTriggerBehavior EventName="Click">
        <t10behavo

[2016-07-03 17:40] ghost commented on #1090
Thanks for the help @JerryNixon .I added  this in place of progresring  in splash.xaml
 `<Controls:RingSegment x:Name="progressRing" Radius="300"  StartAngle="0" EndAngle="359"  Stroke="Red" StrokeThickness="10"> </Controls:RingSegment>
`
But still the app hangs after the splashscreen.Even read your article for pieslice(which was great btw) but couldn't get a workaround for this.Any suggestions fo

[2016-07-03 18:15] ghost commented on #1090
Leave it @JerryNixon  Finally got it done by the ringsegment control . Thanks a lot!

[2016-07-05 00:24] MikeBishop opened #1094 "10586, again"
T10 seems to be working just fine on my project that targets 10586.  However, I notice that when I open the T10 sources on my VS15 install with the 10586 SDK, a pretty substantial list of the projects don't open and VS prompts me to go get the 10240 SDK.  When I up the targeted version for these projects, they open just fine, though I can't swear to overall functionality.

Is there a plan to bulk-

[2016-07-05 01:05] xiaoliwe opened #1095 "Could not resolve mscorlib for target framework '.NETCore,Version=v5.0'."
Could not resolve mscorlib for target framework '.NETCore,Version=v5.0'.  This can happen if the target framework is not installed or if the framework moniker is incorrectly formatted.

[2016-07-05 01:22] lyling opened #1096 "How to get the content template of HamburgerMenu of Specified Version ?"
I need to change the layout and style of Hamburger Menu.

How to get the content  template of Specified Version like 1.1.11 from nugget.?

I have found an hamburgermenu.xaml from "obj" folder, but it can`t contain the "Temaplate" section cause it is an usercontrol.

[2016-07-05 06:27] mvermef commented on #1095
What is it you are trying to do? Can you post your project.json file? Gonna go with isn't a T10 issue, for now.

I personally have had issues with getting RTM of asp.net core to work on my mobile dev box.  Could be related with Update 3, not sure yet.

[2016-07-05 20:16] dubstylee opened #1097 "HamburgerMenu for only certain pages?"
I am working on alternate views for mobile, and rather than having my buttons in the `PageHeader`, I want to implement a `HamburgerMenu` instead. Is it possible to have the `HamburgerMenu` only apply to views in my `DeviceFamily-Mobile` folder?

I guess maybe it would be possible to just have a separate `App.xaml` in that folder? I hadn't thought to try that yet. Has anyone tried using a `Hamburge

[2016-07-06 04:13] MagooChris opened #1098 "Add new T10 Page and ViewModel templates"
I don't know if this is even possible for thrid party extensions to do, but it would be really cool if there was a way to add a T10 Page and ViewModel from the Add menu. Kind of like you do when using MVC, you can just right click and say you are adding in a View or Controller.

If that isn't possible, how about just templates from the Add new dialog?

[2016-07-06 14:43] GFlisch opened #1101 "NavigationService.Refresh() issue with BootStrapper.ResolveForPage(...) method"
Hi,

On the SettingsPageViewModel, the UseShellBackButton property when changed calls the SettingsService UseShellBackButton setter property and refreshes the page.
When the Refresh is called a new SettingsPage is instantiated but the DataContext is not set (see the FrameFacade.Refresh implementation).

[code]

As a workaround I use the NavigationService.GoBack() and GoForward() because the implem

[2016-07-06 14:53] GFlisch opened #1102 "DeviceDispositionBehavior issue with actions."
Hi,

In the implementation of the DeviceDispositionBehavior, the attach method calls an Update() method.

[code]

The problem is the Update method will call all the actions and the Page is still not loaded. So if you want to use the GotoStateAction for sample, it will not work.

As a solution I have tried to find the Page instance and wait the OnLoaded event to call the Update() method. But I have

[2016-07-07 01:20] dkackman opened #1103 "Add NagService"
Per discussion in PR https://github.com/Windows-XAML/Template10/pull/1070, add a service that will nag the user to perform some action after a predetermined timespan and/or number of app launches.

Examples might be:
- Reviewing a newly installed app
- Downloading updated data
- Notification that an app update is available

[2016-07-07 03:44] ghost commented on #1078
I noticed that the BackRequested eventhandler of BackButtonBehavior is
`private void BootStrapper_BackRequested(object sender, HandledEventArgs e)
         {
             e.Handled = Handled;
             Interaction.ExecuteActions(sender, Actions, null);
         }
`

when `GoToState`is used within a `BackButtonBehavior`, the `TargetObject`that is passed to it is not the object where the `BackBut

[2016-07-07 06:21] kanji11 opened #1105 "Exception while changing Theme"
Hello,

Following exception occurred while changing theme

"An exception of type 'System.InvalidOperationException' occurred in Template10Library.dll but was not handled in user code
Additional information: Sequence contains no matching element"

Scenario :
Step 1 : Set Visibility=Collapsed of any HamburgerButtonInfo button
Step 2 : try to change theme.

I have also try it in sample project (Hambu

[2016-07-07 23:56] dg2k opened #1106 "Suggestion for extending the function of Literal Button"
@JerryNixon - One useful enhancement to T10 is a submenu command implementation -- example --  an Inbox command for accessing related Inbox subcommands, etc. Some thought must have been given to this (or similar ideas) already as the **Literal Button**, so far not in the forefront of the T10 design,  looks a perfect fit for such hierarchical menu commands.

To explain this with a good example, con

[2016-07-08 11:59] IIARROWS commented on #1015
To me it's not close, I still get this behavior...
I just couldn't respond because I was busy.

[2016-07-09 12:15] golkhandani opened #1107 "-"

[2016-07-09 12:19] #1107 closed, assigned to nobody

[2016-07-09 18:17] dg2k commented on #1105
You're right.
`if (children.Count == 0) return;` is needed to account for `Visibility=Collapsed` on `HamburgerButtonInfo`.
PR coming up.

[2016-07-10 14:05] ghost opened #1109 "EFC Sqlite migration error"
Hi,
I've just started using template 10 and chose it to build my app. I've been using prism previously so the framework change has been really smooth.  Everything has been working fine but I got an error when I tried adding some
Entity framework core sqlite as my local dB.  I'm getting an 'object not set to an instance of an object' whenever I try to add a migration.
I haven't found any samples on

[2016-07-10 15:41] dg2k commented on #1109
Although my suspicion is that this has less to do with T10, it's hard to guess what the issue is unless you provide more info. For example, show some code where your Sqlite code meets T10 code and the error is triggered. That may provide some clue.

[2016-07-10 17:12] jmbezeau commented on #1025
I have figured out how to modify the App class and the XAML of the test app. It is working now.

The UnitTestApp.xaml looks like this:

[code]

The Code behind looks like the provided example, except for the class declaration:

[code]

[2016-07-10 17:12] #1025 closed, assigned to nobody

[2016-07-10 17:19] ghost commented on #1109
@mikemarango I made that same observation. I've been using EFC-sqlite in another project I created from a blank app and it's working perfectly, for some reason T10 is the only project it's failing.
I also implemented the tutorial from EFC documentation page.

Do the previous versions of sqlite work? Maybe you can give me a heads up and save me the hustle of trying it out.

[2016-07-10 17:33] mvermef commented on #1109
Keep in mind some key packages for EFC RTM are presently delisted due to some missing meta-data in the package for nuget, namely Microsoft.NETCore.UniversalWindowsPlatform, is missing some compressionclr stuff.  EFC requires version, 5.2.  There are workarounds, but you can't publish.  I haven't had any issues with migrations, I can publish some snippets of code later today.

[2016-07-10 17:40] ghost commented on #1109
mvermef. Sure I'd like a look at the workaround. I don't think publishing will be an issue since I will be sideloading my app.

[2016-07-10 17:48] mvermef commented on #1109
Yes, there is a performance issue with .net tool chain and includes. Have noticed 5.2 with hack is ok

[2016-07-10 18:00] ghost commented on #1109
I've just tested out the sqlite 3 and it's playing nice with Prism and Template 10.

[2016-07-10 21:26] mvermef commented on #1109
the only hack was "runtime.native.System.IO.Compression": "4.1.0" adding that as a dependency.  But to pull in 5.2 is to Update-Package or  Install-Package "Microsoft.NETCore.UniversalWindowsPlatform" -Version 5.2.0.  This force pulls the package.

as for migrations where you were attempting to do the migration, what errors are you seeing associated with it?.  I do them in the OnStartup and it has

[2016-07-11 12:57] cmpute opened #1110 "HamburgerGridWidth is not the same as the splitview pane"
![capture](https://cloud.githubusercontent.com/assets/9154441/16731303/ea46f0a0-47a9-11e6-8a27-d2d4294c1a19.png)
as above, in Wide Visual State, the HamburgerGridWidth is not the same as the pane in Hamburger Control

[2016-07-11 13:26] SamuelLioult opened #1111 "Passing parameter in the first NavigationService.Navigate call causes issue"
It seems that passing parameter in the first call of the Navigate method causes issue: the method is called a second time.
To reproduce issue, in a new Hamburger template project, add a parameter to the Navigate method (in App.xaml.cs in the OnStartAsync method).
Then place a break point in the OnNavigateTo method of the MainPageViewModel.

[2016-07-11 16:38] ghost commented on #1109
Hey mvermef...
I tried it out but unfortunately it's still refusing to work.  I guess out of frustration and to keep the solution simple I'll use the standard sqlite 3 with my app since it works so far. As for EFC SQLITE...I'll have to wait for a fix on the current incompatibility issue with template10

[2016-07-11 18:01] mikemarango commented on #1109
@mbui83. I didn't try the previous version using a framework. Using blank App UWP(NetCore 5.2) EF.Core SQLite works fine. When I threw Prism into the mix the Xaml designer became none functional. I couldn't setup bindings coz I got an error that says GridView/ListView/Stackpanel cannot be a child of the Grid. The migrations and backend code work just fine. So yeah, a fix will do us some good.

[2016-07-11 18:35] mvermef commented on #1109
It's probably a frame work and dependency issue with most still targeting 5.1 and not 5.2

[2016-07-12 02:45] Opiumtm opened #1112 "Performance issue with ProfileService"
Found new performance issue (this time reproducing even on x86 desktop!)
Noticeable scrolling freezes starting with this commit https://github.com/Windows-XAML/Template10/commit/ac0235227e82f58cf2705f91db22589dd09abf2d

I actually tested commits from stable nuget package release to latest commit and found exactly when and where new extreme UI freezes (noticeable even on x86 desktop) originated.

T

[2016-07-12 05:18] JerryNixon commented on #1094
There is no plan to support VS15 until it is RTM later this year.

[2016-07-12 05:21] JerryNixon commented on #1095
Closing because too little information.

[2016-07-12 05:21] #1095 closed, assigned to nobody

[2016-07-12 05:23] JerryNixon commented on #1096
Correct, you cannot retemplate the HamMenu, though you can template the Content and the individual buttons.

[2016-07-12 05:23] #1096 closed, assigned to nobody

[2016-07-12 05:26] JerryNixon commented on #1097
Sure. Every button has a Visibility property you can set in your visual-state.

[2016-07-12 05:26] #1097 closed, assigned to nobody

[2016-07-12 05:26] #1103 closed, assigned to nobody

[2016-07-12 05:28] JerryNixon commented on #1098
Definitely possible. We've thought about it. But what we have is already plenty to maintain. But right-click Add Page would be terrific. Adds Page/Code-Behind/and View-Model.
1. Views/MyPage.xaml
2. Views/MyPage.xaml.cs
3. ViewModels/MyPageViewModel.cs

The biggest issue is that so many developers do it so differently that it's only going to be relevant to about 50% of the developers. Know what i

[2016-07-12 05:28] #1098 closed, assigned to nobody

[2016-07-12 10:11] Opiumtm commented on #1112
Honestly, I don't understand what is the root cause of this issue. Looking at the commit itself, I can not tell it does anything wrong. It merely add new class. Also, when I deleted this class from branch which is branched from latest commit it doesn't help. But when I compile code from previous commit, there is no extreme performance degradation after some page navigations. When I compile code fr

[2016-07-12 10:27] Opiumtm commented on #1112
Also, I noticed longer app startup time with this commit. Sometimes app crashed on standard splash screen (silently close after long wait for splash screen to disappear). Something is fundamentally wrong.

[2016-07-12 10:45] Opiumtm commented on #1112
@Windows-XAML/community can it be because I'm not updated Shell.xaml/Shell.xaml.cs in my app and otherwise use obsolete one from earlier "Hamburger" project template (from which I originally started my app)? I noticed some changes in Shell.xaml and Shell.xaml.cs in newer versions.

[2016-07-12 12:40] angusbreno commented on #1112
@Opiumtm I don't know even. this: https://github.com/Windows-XAML/Template10/issues/1044 Is killing me... I could not find the root cause....

[2016-07-12 15:11] tnesham commented on #993
We converted our 8.1 project to use UWP with Template 10 and we started seeing the bug mentioned here. From what I can tell, all the fixes mentioned here exist in our ....nuget\packages\Template10\1.1.11\lib\uap10.0\Template10Library\Themes\PageHeader.xaml file.
We can use the PageHeader control in the usual way except we must use a modified copy of PageHeader.cs for the Styles in Custom.xaml (fro

[2016-07-12 17:03] angusbreno commented on #993
@tnesham The nuget package it's not updated yet. This will be corrected in the next version...

[2016-07-12 17:05] tnesham commented on #993
@angusbreno Thanks for the reply. Any idea when the next version will be released?

[2016-07-12 17:10] angusbreno commented on #993
Only Jerry can tell u this...
https://github.com/Windows-XAML/Template10/milestone/8

[2016-07-12 17:15] tnesham commented on #993
Thanks. Btw, I discovered a page in our app that had two PageHeaders, and removing one fixed our issue.

[2016-07-12 17:17] MikeBishop commented on #1094
I think there must be some confusion.  Visual Studio 2015 RTM'd in... 2015.  And has three updates, which have also RTM'd.

[2016-07-12 19:02] JerryNixon commented on #1044
@angusbreno could you try a few things?
1.  Using the source (so you can debug) if you step through line by line do you still get this exception? Does stepping through give you any clue what line you are near when it occurs?

![image](https://cloud.githubusercontent.com/assets/1749983/16779755/cc7024ca-4830-11e6-93d0-3bcb8c55f683.png)
1. Could you use the source code, run in debug, and attach a tx

[2016-07-12 19:13] angusbreno commented on #1044
1. Yes
2. Sure
3. Yes, catching All the Exceptions
4. Brand new project & my project.

I will do a livecoding about it in a brand new project with the actual codebase ok? https://www.livecoding.tv

I will post here the time, thanks!

[2016-07-12 19:54] #1105 closed, assigned to nobody

[2016-07-12 20:33] JerryNixon commented on #1106
Yes, it is feasible. You are not the first to ask. I will work on a demo.

[2016-07-12 21:01] dg2k commented on #1106
Great! Thanks for that.

[2016-07-12 23:05] JerryNixon commented on #1112
Leave a comment

[2016-07-12 23:05] #1112 closed, assigned to nobody

[2016-07-12 23:23] JerryNixon commented on #1111
"Causes an issue" come on, dude, you can do better than that. How am I supposed to find the problem with that kind of detail? Anyway, I did what you said; stepped in and didn't find a problem.

I think (actually, I know) this will help you:
https://github.com/Windows-XAML/Template10/wiki/Page-Parameters

[2016-07-12 23:23] #1111 closed, assigned to nobody

[2016-07-12 23:30] JerryNixon commented on #1102
This is definitely a bug.

[2016-07-12 23:30] JerryNixon commented on #1106
Okay, I have pushed the update to MasterDetail sample.

[2016-07-12 23:30] #1106 closed, assigned to nobody

[2016-07-12 23:32] JerryNixon commented on #1106
This is the demo
![masterdetail](https://cloud.githubusercontent.com/assets/1749983/16787068/a332d834-4856-11e6-96ae-137c1cf68f07.gif)

[2016-07-12 23:37] Opiumtm commented on #1112
@JerryNixon ????

[2016-07-12 23:37] JerryNixon commented on #1101
This is definitely a bug.

[2016-07-12 23:43] JerryNixon opened #1113 "Announcing T10 NuGet v1.1.12-preview-160712"

[2016-07-12 23:43] JerryNixon commented on #993
https://github.com/Windows-XAML/Template10/issues/1113
The fix for this issue is not in the current preview.

[2016-07-12 23:44] JerryNixon commented on #1044
Let me know.

[2016-07-12 23:58] #1102 closed, assigned to nobody

[2016-07-12 23:59] JerryNixon commented on #1078
Good work solving this for me.

[2016-07-12 23:59] #1078 closed, assigned to nobody

[2016-07-13 00:05] JerryNixon commented on #1110
I can confirm that the Hamburger template is pixel-perfect. There's something in your app making it change. Not sure where I would guess. Try the template's custom.xaml and change PageHeader.Background to Red. See if it is still off. If so, hmm. We'll wait until we see it that way.

![image](https://cloud.githubusercontent.com/assets/1749983/16787650/0f42986c-485b-11e6-99df-61a99ddff98e.png)

[2016-07-13 00:05] #1110 closed, assigned to nobody

[2016-07-13 01:48] darenm commented on #1094
I think the confusion comes from the fact you referred to VS15, which is the name of the next version of Visual Studio that is currently in preview 3 https://www.visualstudio.com/en-us/downloads/visual-studio-next-downloads-vs.aspx - certainly not your fault that Microsoft has come up with this naming convention.

[2016-07-13 03:27] cmpute commented on #1110
@JerryNixon if you just change HamburgerBackground to a red brush, others remain the origin from hamburger template, the problem still appear. Btw, I'm using a 125% system vision ratio, wondering if that affects.
![cap](https://cloud.githubusercontent.com/assets/9154441/16790968/c8990760-48ec-11e6-9e2b-7cc47c224e81.png)

[2016-07-13 03:37] cmpute commented on #1110
I've checked that in 100% ratio, the problem **remains**.
Also I turn PageHeader.Background to Red, it's pixel-perfect indeed. So I guess it's related to the hamburger Grid rather than the content Frame
and anyway thanks for helping

[2016-07-13 07:36] SamuelLioult commented on #1111
Sorry, I thought I was clear with this:

But, I discover this morning that this appears only when I deploy on my device (Lumia 930) but not when I deploy app on my PC.

Here are all steps to reproduce my issue:
1 - Create a new Hamburger project
2 - Go to the MainPageViewModel and place a breakpoint in the OnNavigatedToAsync (I placed it on line 25)
3 - Run app
4 - Breakpoint is fire only one time

[2016-07-13 09:57] Opiumtm commented on #1082
@JerryNixon you have closed the wrong issue.
This issue is about performance problems with `LayoutUpdated`. Pull request resolving this problem is merged. #1112 is a new issue and it is not connected to `LayoutUpdated` event.

[2016-07-13 12:09] dg2k commented on #1106
@JerryNixon -- Wow! Great enhancement based on readily-existing T10 features. Couldn't see the forest for the trees.

[2016-07-13 13:28] pradeepdogga opened #1115 "WACK - Test Fail for a new template 10 hamburger project"
I made a new template 10 hamburger project and tried to make a release package without selecting the optimize code box in the build properties. The attached screenshots contain the error . Can anyone help me get through issue ?I  have an app made on template 10 and i am having trouble uploading it to store, i am getting the same error as attached in screenshots.
I cannot select optimize code becau

[2016-07-13 14:01] dg2k commented on #1115
The error is obvious -- AdDuplex ad in your app is causing the problem (API CoCreateInstance in api-ms-win-core-com-l1-1-0.dll) so look for an alternative to `CoCreateInstance` or check if an update is made to the CoCreateInstance API to remedy this problem.

The same problem is logged [here](https://connect.microsoft.com/VisualStudio/feedback/details/2116070/wack-failure-api-cocreateinstance-in-a

[2016-07-13 14:11] pradeepdogga commented on #1115
Thanks for the reference , but i have no such reference in my app. Attaching a screenshot :
![screenshot 217](https://cloud.githubusercontent.com/assets/19299967/16806333/b6bfd466-4931-11e6-835d-80cb9023a8b8.png)

[2016-07-13 15:16] dg2k commented on #1115
That's interesting! The **CoCreateInstance API** has nothing to do with T10 so all I can say is your code somehow refers to the API.
- What you show above doesn't tell the whole story. Expand **References** under your project and look for what are there.
- Just to be certain, clean your solution and make sure that there are no non-obvious remnants;
- Also uninstall unwanted NuGet packages: (1) Too

[2016-07-13 15:29] pradeepdogga commented on #1115
Actually i created a new project and just built it without checking the optimize code option in the build properties. It has zero additional code. Absolutely empty template 10 hamburger project . You can try it by doing the same . (Release configuration and dont select optimize code , make a release package. You can see the same error.)

[2016-07-13 15:33] dg2k commented on #1115
This is all news to me and never came across this problem.
Are you using the (i) GitHub source code , (ii) NuGet package of T10, or (iii) VS Extension of T10?

[2016-07-13 15:42] pradeepdogga commented on #1115
VS extension of T10

[2016-07-13 16:13] JerryNixon commented on #1094
Let's all just agree, the current names of Visual Studio are confusing!
1. Visual Studio 2015 is version 14 (released in 2015) - we call it Visual Studio 2015
2. Visual Studio XXXX is version 15 (to be released in 2016) - we are calling it VS15

We 100% have plans to support Visual Studio 2015, Update 3. I want to share with you my experience recently. I open the Template 10 solution only for Visu

[2016-07-13 16:19] dg2k commented on #1115
I've run the WACK with VS extension of T10 (HamburgerMenu template) and got **Passed**.
I honestly can't guess the source of your problem.

I did for both optimized and non-optimized code and on both occasions it was **Passed**.

[2016-07-13 16:49] pradeepdogga commented on #1115
I am not able to understand why it is failing in my case. It is just an empty template 10 project , i did'nt add any code. But it is failing in no optimization case. I've to figure out something. Thanks for your concern !

[2016-07-13 20:18] LostLogic opened #1116 "ObservableItemCollection ItemPropertyChanged not fireing"
Hi,

I tried using OIC with a Model which implements BindableBase. However, I cannot get it to fire ItemPropertyChanged when an Item Property changes in the Model.

Am I missing an implementation somewhere, is it a bug, or am I being daft?

[2016-07-14 05:08] JerryNixon commented on #1116
Not sure. Your model implements INPC?

[2016-07-14 05:13] LostLogic commented on #1116
This is one of the models I use. I assume BindableBase does all the magic I need when using Set?

[code]

[2016-07-14 06:23] mvermef commented on #1116
how are you using it in XAML?  How are you using it in your ViewModel?

[2016-07-14 06:27] mvermef commented on #1109
this wouldn't be a incompatibility with T10 its more of a compatibility issue with UWP atm. RC2-Final works all day long.  Preview2-Tools on the other hand (which released with RTM, are unfortunately buggy as hell, and still "Beta3", using the term loosely).

[2016-07-14 06:29] LostLogic commented on #1116
Standard two-way binding.
The model above is not one I'd need ItemPropertyChanged, but I use it for a GridView with multi-binding:

XAML

[code]

ViewModel snippets

[code]

Collection is populated in the constructor and the IPC event is subscribed to with a function.

[code]

The Function triggered by the IPC event (That is never triggered when the IsSelected property changes in the TypeModel):

[2016-07-14 06:30] mvermef commented on #1094
yea make sure you have 1.4 UWP SDK install associated w/Update3 and had **_some_** performance fixes.  control panel -> Programs and Files -> Visual Studio -> Modify, verify all things you want and 1.4 is checked.

What was really strange for me today was my DisplayPort not functioning!!!  Till I shut it off at 1030pm last night...

[2016-07-14 06:56] ghost commented on #1109
Actually EFC-lite works perfectly with UWP. I tested it out the very first day the RTM came out. (i'm using the RTM for UWP and EFC-lite). It's only not working in T10 and prism 6.

[2016-07-14 15:17] tibitoth opened #1119 "Remove sealed modifier from PageHeader"
Hi!

I wanted to extend the PageHeader control with Search functionality, but I'm not allowed to derive from it. I can create a UserControl which wraps the header, but for the outside customization I need to wrap every property, what I don't want.

Maybe there are some other controls which can be open for extensions.

[2016-07-14 16:21] dg2k commented on #1119
@JerryNixon will no doubt give you a definitive answer whether **PageHeader** can be un**sealed**, but just in case you are not aware, you can implement a better search interface in the menu panel (using **Literal** button). I find the menu panel search more intuitive, fits both Mobile and Desktop, with no compromises of AppMenuButtons real-estate in the PageHeader. For good exampe, check out the

[2016-07-15 08:08] tibitoth commented on #1119
Yes I want this behavior like in groove when the window has a narrow size like in phones. You can see the search button and the text box is in the page header and not in the split view.

![image](https://cloud.githubusercontent.com/assets/8333960/16867732/b96e06d6-4a73-11e6-91c2-d31b42775eba.png)
![image](https://cloud.githubusercontent.com/assets/8333960/16867749/db4e904a-4a73-11e6-951a-c912b9c89

[2016-07-15 08:46] dg2k commented on #1119
Why use the PageHeader at all?
- When on phone, the search TextBox stays in the menu pane just like other menu commands.
- When search is entered, it navigates to a Search Result page. The search result page will replicate the textbox in the header so that the user can continue with more search.
- When on desktop, the search submission (as mobile above) will open the search result page becoming a

[2016-07-15 09:05] tibitoth commented on #1119
Okay, I will give it a try.

[2016-07-15 09:18] dg2k commented on #1119
@totht91 I've updated my reply with an example supported by a GIF video.

[2016-07-16 03:19] janabimustafa opened #1122 "Cannot find a Resource with the Name/Key FalseWhenTrueConverter"
Steps to reproduce:
1. Clone repo (master) and open sln in VS
2. Select Hamburger as startup project
3. Run and Deploy Hamburger project
4. Navigate to the settings page

[2016-07-16 07:38] dg2k commented on #1122
You're right. The `ValueWhenConverter` converter resource with key `FalseWhenTrueConverter` is somehow missing. It used to be in `App.xaml` and must have been inadvertently removed. I put it back in `SettingsPage.xaml` since `SettingsPage` is the only one using this converter. See PR #1124.

[2016-07-16 09:46] juanluelguerre commented on #993
Hi,

First of all, thanks a lot for your effort. Good job about "Template 10", I'ts really great !!!

After Update (1.1.12-preview-160712), I can navigate without this bug, but not in all cases. No, when I've a button (+) in my Hamburger menu. One button like this:

`<ctrl10:HamburgerButtonInfo ClearHistory="True"
                            Tapped="NewProjectTapped">
    <StackPanel Orientation="

[2016-07-16 14:49] calloncampbell opened #1125 "Question: Any recommendations for a Hamburger control for WPF?"
Looking for a Hamburger control for a WPF app I have. Just wondering if anyone in the group can recommend something.

Thanks
Callon

[2016-07-16 15:45] tibitoth commented on #1125
Maybe this: https://github.com/ButchersBoy/MaterialDesignInXamlToolkit

[2016-07-16 22:53] dkackman opened #1126 "NagService not always respecting StorageStrategy for state storage"
There are some code paths that use the argument default instead of the Nag property. This breaks nags for non-local storage.

[2016-07-17 15:20] WoSea opened #1129 "Error"

[2016-07-17 16:22] #1129 closed, assigned to nobody

[2016-07-17 16:22] WoSea opened #1130 "Xcopy error when create and run UWP app with Template 10"
I am having issues with template 10. I have installed Template 10. I then created a new project and choose Blank or Hamburger/Minimal. After that, I followed this [guide](https://github.com/Windows-XAML/Template10/wiki/Welcome-%7C-Blank-Template). But when I run my project, I get the following error:

[2016-07-17 16:40] dg2k commented on #1130
@WoSea  -- Right-click your project and tap on **Build Events** link to the left, and delete the Pre-build (or Post-build??) event command line.

[2016-07-17 17:29] #1126 closed, assigned to nobody

[2016-07-17 18:01] WoSea commented on #1130
@dg2k It still do not work :(

[2016-07-18 07:39] lyling opened #1131 "Shell Page with ShellViewModel but no OnNavigatedToAsync fired."
I have an Global User Control which will displayed in  every page. So I set it in Shell Page.
The Shell Page with an ViewModel(ShellViewModel). But some methdos, like OnNavigatedToAsync, OnNavigateFromAsync etc, have never fired when start the app.

I need some functions from ViewModel, like PageStates. How can i do it in Shell Page like other pages navigated by hamburgermenu.

[2016-07-18 17:00] JerryNixon commented on #1131
I think you mean view-model.OnNavigatedTo() that is part of INavigable, right? If this is what you mean then you should know that these overrides are only called for view-models of pages, not all view models. For example MainPage+MainPageViewModel will have the view-model.OnNavigatedTo() called by the NavigationService. This is actually 90% of why we have a NavigationService. There is no mechanism

[2016-07-18 17:20] WoSea commented on #1130
**issues solved** I have uninstalled the Template 10 and re-installed it, then F5 & cheers

[2016-07-19 07:59] ghost opened #1133 "How to get the page type which NavigationService navigates to?"
From a page A I nagivate to page B. I have overrided OnNavigatedFromAsync() on page A and I'd like to know the page type I'm coming to. Is it possible to know it?

[2016-07-19 12:06] dg2k commented on #1133
@bbougot
In view-model `this.NavigationService` is your friend.

In fact, you'd be spoilt for choice.

`var currentPageType = this.NavigationService.CurrentPageType;`

You can even have a peek in Back and Forward navigation -- have a look at `NavigationService.Frame.ForwardStack` and `NavigationService.Frame.BackStack`

Some random code below, just to _whet you appetite_ ;-)

[code]

[2016-07-19 12:29] ghost commented on #1133
Thanks for the sample!
However forewardPageName is null in OnNavigatedFromAsync().
I navigate using my Shell (hamburger control) and I have OnNavigatedFromAsync() defined in the page I Navigate from. I would like to know which page I navigate to.

[2016-07-19 12:40] dg2k commented on #1133
True this is the case if you haven't visited that page already.

Navigate A to B   => forward is null
Navigate back from B to A => now forward is not null at A (because it has the knowledge of B it has visited)

[2016-07-19 12:41] ghost commented on #1133
Hmm well, that makes sense! Thanks!

[2016-07-19 16:25] schuettecarsten opened #1134 "Move Services to Template10.Services assembly"
Move all services that are not required by Template10.Library into Template10.Services assembly. This is a breaking change, but it should help keeping Template10 clean and tiny.

[2016-07-19 16:26] schuettecarsten opened #1135 "Rename "Template10 (Library)" folder name to "Template10.Library""
Spaces in folder and file names cause lots of problems with command line tools, for example our CI server. So the space should be removed.

[2016-07-19 19:01] dannywils opened #1136 "Question: Separate page instance per unique parameter"
I'm trying to have multiple items in my hamburger menu that navigate to the same page type but with a different parameter. This works fine but the same page instance is used and page transitions don't fire when navigating between items of the same type.

Is it possible to use a separate page instance per unique page parameter and have that cached independently?

[2016-07-19 21:04] #1133 closed, assigned to nobody

[2016-07-20 07:56] marcinmarkiewicz opened #1137 "[Bug] - Exception when trying to change theme in wide view desktop mode"
I noticed an exception when trying to change theme. This exception is present only when application is running on desktop and in "Wide view" when full HamburgerMenu is visible (icons with contents). When the menu is collapsed everything is fine.
![ex](https://cloud.githubusercontent.com/assets/17554633/16979193/195d8860-4e60-11e6-943d-5aa4a5c98835.png)

[2016-07-20 07:58] marcinmarkiewicz commented on #1136
Did you try to set NavigationCacheMode to Windows.UI.Xaml.Navigation.NavigationCacheMode.Dissabled in page`s constructor?

[2016-07-20 08:07] marcinmarkiewicz opened #1138 "[Question] How to terminate application with mobile back button?"
I am looking for solution for termination of my app with Back buton in my phone, when there is no possibility of go back. Standard Template10 behaviour is Suspension. I do not know how to check CanGoBack property . I tried:
`ModalDialog rootModelDialog = Window.Current.Content as ModalDialog;
Frame rootFrame = rootModelDialog.Content as Frame;`
but rootFrame.CanGoBac is always false. Probably it i

[2016-07-20 08:20] raifordb opened #1139 "Page resource is stoping view from loading"
Why is this XAML preventing a page from loading.

   <Page.Resources>
        <ResourceDictionary>
            <ResourceDictionary.MergedDictionaries>
                <ResourceDictionary Source="Styles\BigDictionary1.xaml"/>

In designer I get the following error
"Exception: An error occurred while finding the resource dictionary "Styles\BigDictionary1.xaml".

The path is correct.

[2016-07-20 08:36] raifordb commented on #1139
Sorry Forgot to include the code

[code]

[2016-07-20 11:27] tibitoth commented on #1139
And the BigDictionary's content is correct?

[2016-07-20 11:48] dg2k commented on #1137
Can you be more specific as to the location of the above code? Project? Sample?
My guess is it's a `...\.Services.SettingsServices.cs` file but which one and used with which project?

[2016-07-20 11:50] dg2k commented on #1139
But
`Styles\BigDictionary1.xaml` != `Styles\Dictionary1.xaml`
and perhaps more ...

[2016-07-20 12:26] raifordb commented on #1139
The error read

"Exception: An error occurred while finding the resource dictionary "Styles\Dictionary1.xaml".

[2016-07-20 13:39] dg2k commented on #1139
Not sure if it works as `Page.Resources` (never tried `ResourceDictionary` at page level). Check by putting it in `App.xaml`.

[2016-07-21 06:37] marcinmarkiewicz commented on #1137
Hi, it`s a hamburger template project and SettingsServices.cs. Exception is thrown only when whole HambrgerMenu is visible (wide visual state)

[2016-07-21 06:50] marcinmarkiewicz opened #1140 "[Bug] "Back" mobile navigation and HamburgerMenu"
I noticed strange behaviour on Windows 10 Mobile with my hamburger template project. Steps:
1. Run project (phone or emulator)
2. Navigate to DetailsPage.
3. Navigate to MainPage with HamburgerButton from HamburgerMenu
4. Press "Back" buton.
5. Application does not go back to DetailsPage but terminate without exception!

I tested this on phone with Windows 10 Mobile Insider version and on emulator

[2016-07-21 07:25] dg2k commented on #1140
Nothing odd and this is possible if page history is cleared by MainPage navigation. See a XAML excerpt for `<Controls:HamburgerMenu` shown below with `ClearHistory` set to `True`.

[code]

ClearHistory has its advantages to avoid _convoluted navigation_ (my own phraseology!) and start new navigation from top, but the downside is the app exits because navigation is cleared and it assumes a gate to

[2016-07-21 07:40] marcinmarkiewicz commented on #1138
I forgot about Template10.NavigationService :) There is no issue.

[2016-07-21 07:40] #1138 closed, assigned to nobody

[2016-07-21 07:44] marcinmarkiewicz commented on #1140
@dg2k Thanx a lot. It works! It`s not a bug. ClearHistory set to false works fine in my scenario.

[2016-07-21 07:49] dg2k commented on #1140
@marcinmarkiewicz
Of course, not a BUG; it's by Design.
Please remove the string **[BUG]** from the title -- we now know this is not the case.

[2016-07-21 08:15] tibitoth commented on #1119
I created a POC UserControl:
![searchpageheader](https://cloud.githubusercontent.com/assets/8333960/17015461/93f59c64-4f2a-11e6-9dcb-5cd3f078b69e.gif)

But in this solution I have to wrap the PageHeader's and the AutoSuggestBox's used properties and events.

[code]

[code]

I admit that the derivation from PageHeader solves only one side of the wrapping boilerplate.

[2016-07-21 08:33] dg2k commented on #1137
@marcinmarkiewicz -- I cannot repro this error. Are you sure that this is the original code? My suspicion is that you may have changed something in the **Styles\Custom.xaml** file.

I checked with the latest unmodified  **Hamburger** project and in wide mode as you described and no problem. Compare with the original source code and see if any modifications by you contributed to this error. Double

[2016-07-21 10:27] jp-weber commented on #1139
Have you tried to write "/" instead of "\":

[code]

or:

[code]

?

@dg2k
It works, I use it since long time:

[code]

[2016-07-21 11:31] dg2k commented on #1139
Oh! Is it the \ we overlooked then? Didn't notice that one.

[2016-07-22 07:54] marcinmarkiewicz commented on #1137
I checked Cusom.xaml - it`s ok. I notticed that this problem exists when I have my own brushes defined in my HamburgerMenu - directly in Shell.xaml, not in Custom.xaml. It has a sense now. RefreshStyles method of SettingsService can not refresh brushes defined my way. Thanks @dg2k

[2016-07-23 07:48] cmpute opened #1141 "NullReferenceException in BindableBase.RaisePropertyChanged"
In one of my test Project, I create a class inherited from BindableBase, and I set some of its properties in the constructor of MainPage, it throws a unhandled NullReferenceException from Template10Library.dll.
And when I use the source code of BindableBase to override the RaisePropertyChanged and check the exception, I found that it occurs at`var dispatcher = WindowWrapper.Current().Dispatcher;`

[2016-07-24 11:49] raifordb commented on #1139
Found the answer!
ms-appx:///Styles/BigDictionary1.xaml

By default the page is looking for the resource in the views folder. If I specify the path as shown above it works.

[2016-07-25 21:09] #1125 closed, assigned to nobody

[2016-07-25 21:10] #1130 closed, assigned to nobody

[2016-07-25 21:11] JerryNixon commented on #1135
We'll do this in the next version, I would have to reject your PR but I am not disagreeing with you.

[2016-07-25 21:11] #1135 closed, assigned to nobody

[2016-07-25 21:12] #1139 closed, assigned to nobody

[2016-07-25 21:13] JerryNixon commented on #1119
Good work

[2016-07-25 21:13] #1119 closed, assigned to nobody

[2016-07-26 13:38] JurajPupak opened #1142 "Suspend and shutdown problem with state"
I'm programming chat app and using your template10. Frist screen is login screen (username, server), second screen is login (password), and after I successfully login I navigate to Content page, which has some subpages, one of them is contact page. Contact page is in SubFrame of main frame - RootFrame-ContentPage->SubFrame-ContactPage. When I click suspend and shutdown in VS2015 and than I run the

[2016-07-26 21:21] marcusrunge commented on #1116
If I understood the Problem correctly, this solution may work:
I used a customized derived Observable Collection:
public class ItemObservableCollection<T> : ObservableCollection<T> where T : INotifyPropertyChanged
    {
        #region Constructor
        public ItemObservableCollection()
        {
            CollectionChanged += ItemObservableCollection_CollectionChanged;
        }
        #endr

[2016-07-27 01:29] #1122 closed, assigned to nobody

[2016-07-27 01:29] JerryNixon commented on #1122
Good job @dg2k

[2016-07-27 01:34] JerryNixon commented on #1136
What do you mean the same page instance is used? When you navigate using the HamMenu a new instance is created every time unless you are using cache. Could you explain?

[2016-07-27 01:41] #1137 closed, assigned to nobody

[2016-07-27 01:42] JerryNixon commented on #1140
You should really close your non-bugs

[2016-07-27 01:42] #1140 closed, assigned to nobody

[2016-07-27 01:54] JerryNixon commented on #741
Yes it does, you aren't looking at the view-model.

[code]

[2016-07-27 01:55] JerryNixon commented on #1141
When are you calling this? Is it in the constructor of App.xaml.cs?

[2016-07-27 01:58] JerryNixon commented on #1142
Is your sub frame associated to a navigation service through NvigationServiceFactory()?

[2016-07-27 01:59] JerryNixon commented on #1047
The team says this is fixed in RS1. Let's hope so.

[2016-07-27 01:59] #1047 closed, assigned to nobody

[2016-07-27 04:00] cmpute commented on #1141
@JerryNixon In a thread started in the constructor of MainPage.xaml.cs And it just happen for few times, weird

[2016-07-27 06:07] JurajPupak commented on #1142
This is my code
`App.CurrentSubNavigationService = BootStrapper.Current.NavigationServiceFactory(BootStrapper.BackButton.Ignore,
BootStrapper.ExistingContent.Exclude, frame);
App.CurrentSubNavigationService.Navigate(pageType);`

App.CurrentSubNavigationService is my global variable in App.cs.

[2016-07-27 13:13] JurajPupak commented on #1142
Is it possible to not save the state automatically? Can I handle it myself? I don't need to save the state because for example: if the user is logged and is in contact list, he closes the app and after some minutes reopens the app, the app should show log in screen not navigate to contact list. Everytime the app is closed (not suspended), the navigation stack must not be saved - we don't need it i

[2016-07-28 04:16] Code-ScottLe opened #1144 "Theme setting does not keep + Theme Toggle Switch displaying wrong value"
Currently the default value of the toggle switch is always on Light Mode, but the app will start in Dark Mode.

Also the setting will not stay, it will always be displayed in dark mode after restart

[2016-07-28 04:47] Code-ScottLe commented on #1144
Found a workaround. Reassign the AppTheme to itself in the page's OnNavigatedToAsync() would trigger the change correctly:
`public override async Task OnNavigatedToAsync(object parameter, NavigationMode mode, IDictionary<string, object> suspensionState)
        {
SettingsServices.SettingsService.Instance.AppTheme = SettingsServices.SettingsService.Instance.AppTheme;
}`

[2016-07-28 06:33] Chris-Marassovich opened #1145 "Question - How best to use the Validation Library"
Hello,

I love t10!!.
I want to use that lovely Validation library and I am unsure how to use it?  i.e. get it into my project
How do I get that Validation library into my project?
Current project is a UWP app and t10 1.1.11 is installed.

I did see a NuGet package panteam.validation which appears to be the t10 Validation library yet it was missing the ModelBase?
I have tried to bring down the cod

[2016-07-28 08:00] tgiachi opened #1146 "Bind TextBox Text propery in AppBarButton.Template control template"
Hi I've strange error:

Build failed is If I bind Value in TextBox with error:

**Xaml Internal Error error WMC9999: Object reference not set to an instance of an object.**

[code]

[2016-07-28 08:52] tibitoth commented on #1146
Why do you change the control template of the AppBarButton?

[2016-07-28 09:06] tgiachi commented on #1146
For put TextBox in PageHeader.PrimaryCommands, is wrong ?

[2016-07-28 09:14] tibitoth commented on #1146
Use PageHeader.Content property instead.

[2016-07-28 09:32] ghost opened #1147 "Get forward page using OnNavigatingFromAsync"
Would be neat having a parameter in NavigatingEventArgs to know which page type NavigationService is navigating to.

I have created a pull request [here](https://github.com/Windows-XAML/Template10/pull/1148)

[2016-07-28 11:32] ghost opened #1149 "Cancel navigation when triggered by Hamburger menu"
I'm using the Hamburger template and I navigate to my pages through the Hamburger menu (from the Shell).

I have overrided OnNavigatingFromAsync in my corresponding ViewModel but when I set **args.Cancel = true** it does prevent the navigation but the page I was navigating to is still highlighted in the shell.

Worst, when I set a delay before **args.Cancel = true**, it does not prevent the naviga