[2017-06-14 11:14] TheSETJ opened #1504 "Hamburger Button in Narrow State"
Hey

Hamburger Button's content seems to go invisible in Narrow Visual State when I open "more" menu. Here's a shot of what happens:

![capture](https://user-images.githubusercontent.com/10893088/27129601-51fb5ce0-5118-11e7-8551-a5b61016fe4d.PNG)

It's happening in Hamburger template completely untouched.

[2017-06-14 20:10] glalloue opened #1505 "Many resizers on same page"
I tried to put 4 resizer control on textbox on the same page.
But when i drag one, grabbers of others textboxes are also moving without the textbox.

![template10-resizer](https://user-images.githubusercontent.com/10628710/27152372-f17a9f30-514d-11e7-9c48-7b5349b9c1d7.png)

What i want is :

- if i grab one grabber, only this grabber is supposed to move
- the others are not supposed to move togeth

[2017-06-14 22:15] glalloue commented on #1505
I found my answer on stackoverflow : [https://stackoverflow.com/questions/44553803/many-template10-resizer-on-same-page/44554980#44554980](https://stackoverflow.com/questions/44553803/many-template10-resizer-on-same-page/44554980#44554980)
Setting the HorizontalAlignment of the Resizer to Left instead of the TextBox

[code]
The Resizer has a default HorizontalAlignment of Stretch. In it's content

[2017-06-14 22:20] #1505 closed, assigned to nobody

[2017-06-17 08:14] TheSETJ commented on #1504
@darenm @JerryNixon

[2017-06-18 19:27] richardcastle commented on #1494
Please don't stop supporting Windows Mobile 10. That's super important for us.

[2017-06-20 01:03] schnitty opened #1506 "Null reference exception in XAML designer with third party components"
In certain situations if I have a relatively deep visual tree on a page
When I load the page for the first time and select the control the designer crashes with the following exception:
[code]

[ToolkitXamlDesignerBug.zip](https://github.com/Windows-XAML/Template10/files/1086620/ToolkitXamlDesignerBug.zip)

This is the simplest repro I have been able to create.  Not sure where the problem lies.  C

[2017-06-20 03:02] schnitty commented on #1506
[XamlDesignerBugs.zip](https://github.com/Windows-XAML/Template10/files/1086883/XamlDesignerBugs.zip)

I accidentally uploaded the wrong repro before.  This is the correct one.  Sorry about that

[2017-06-20 17:27] swisszeni commented on #1504
Duplicate of #1349

[2017-06-21 01:55] JerryNixon commented on #1501
Yep. Clearly PreviousExceptionState is not reliable right now.

[2017-06-22 15:09] JerryNixon commented on #1501
You know @pekspro I can't thank you enough for posting this because it's killing me and it's nice to know it's not something I am doing.

[2017-06-22 17:56] pekspro commented on #1501
@JerryNixon, I´m glad to see that a bug report could make you happy :-) I reported this as a bug in Visual Studio for a while ago:
https://developercommunity.visualstudio.com/content/problem/50470/cant-resume-uwp-application-after-suspend-and-shut.html

Since it affected all my applications I assumed it was something with Visual Studio. For a few weeks ago I tried Template Studio, and created a pr

[2017-06-23 11:52] anmiro opened #1507 "SettingsService Problems with SettingsHelper and StringHelper"
Hi,
i started with Template 10 since a few days and i think i found three problems with the SettingsService. In my case strings or integers are not saved and loaded properly.

StringHelper.cs (see Comments in Code, the old codelines are commented out, i added my solution)
[code]

SettingsHelper.cs (see Comments in Code, the old codelines are commented out, i added my solution
[code]
Could you plea

[2017-06-23 12:16] zakkar1 commented on #1497
Unfortunately it worked in a single screen. If I have two screens with the resolution above the 1920 it stills crashes.
In the Custom.xaml i have the below.
Default and HighContrast are exactly the same. The Light IS NOT. Should I change it too ? Should I make it like the default ?
Appreciate your help on this.

 <ResourceDictionary.ThemeDictionaries>

        <ResourceDictionary x:Key="Light">

[2017-06-23 20:11] myokeeh commented on #1494
Don't remove it until our foot's firmly on the next stepping stone.
Don't leave us hanging.
Don't pull the rug from under us.

So on and so forth...

[2017-06-27 17:39] JerryNixon commented on #1476
Hold on this one, please

[2017-06-27 17:49] ImCarrot commented on #1476
No problem. Please do let me know if/when I can help out

[2017-06-28 03:55] JerryNixon commented on #1507
Sure thing. Care to create a Pull Request?

[2017-06-28 03:57] JerryNixon commented on #1497
I will not be able to check on this for a little bit. What version of T10 are you using, please?

[2017-06-28 03:58] JerryNixon commented on #1500
Great suggestion.

[2017-06-28 03:59] JerryNixon commented on #1504
@swisszeni suggestions? @TheSETJ what version of T10 are you using?

[2017-06-28 05:49] TheSETJ commented on #1504
@JerryNixon v1.19.

[2017-06-28 06:06] zakkar1 commented on #1497
Hi Jerry ,
I'm using 1.1.12.
thank you

[2017-06-28 17:45] sbraswell opened #1509 "Can validator be used to check for null without first initializing the property to null?"
We're using validation to check for required fields but have found that when the property is a complex type and might be null we get an exception when doing something like this:
`a.Properties[nameof(a.Country)].Errors.Add("Country is required.");`

Given that `a` above is an `Address` class with a `Country` property that is a complex type. That line is throwing a `NullReferenceException` when the

[2017-06-28 18:55] mvermef commented on #1509
Its a work around, have you seen any adverse affects from the initialization that way?

[2017-06-28 19:00] sbraswell commented on #1509
No adverse affects observed. It's just a non-intuitive behavior for developers that need to create new Model objects in the project. I'm trying to avoid instituting a hard to remember rule for object developers to implement to support validating null property values. I can work with it if that's the best available option, I just wanted to make sure I hadn't missed anything. Thanks!

[2017-06-28 19:10] mvermef commented on #1509
I think it has to do with combination of Nullable & Complex type in your case...

[2017-06-29 09:24] Aymeeeric opened #1510 "VS2017 - Extended Splash Screen issue"
Hi everyone,

I am currently working on a new project. Ideally the work base would have been Template 10.
However, it seems that the extended splash screen simply does not work .

I really do not understand why.  It seems that it is always the "default UWP" splash screen that takes over...
I work with the Minimal template, and "SplashFactory = (e) => new Views.Splash(e);" is well defined on the Ap

[2017-06-29 13:55] sbraswell commented on #1509
@mvermef Thanks for working through it with me. I think we're going to stick with the workaround for now. Thanks!

[2017-06-29 13:55] #1509 closed, assigned to nobody

[2017-06-30 11:07] Akshay2595 commented on #946
@JerryNixon I tried to search for template 10 in Microsoft Visual Studio Community 2015, but couldn't find it, then I downloaded .vsix file from website and tried to install it manually, and I got error with it stating " VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products."
I have attached log file here, can you please help with this.
[VSI

[2017-06-30 11:10] Akshay2595 opened #1511 "Can't Install Template 10 in Microsoft Visual Studio Community 2015"
I tried to search for template 10 in Microsoft Visual Studio Community 2015, but couldn't find it, then I downloaded .vsix file from website and tried to install it manually, and I got error with it stating " VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products."
I have attached log file here, can you please help with this.
[VSIXInstaller_f

[2017-06-30 22:24] porsove commented on #1510
Did you try to add some time delay to simulate a long running initialization task in the file: App.xaml.cs ?
For example:

 public override async Task OnStartAsync(StartKind startKind, IActivatedEventArgs args)
{
            // long-running task here
             await Task.Delay(TimeSpan.FromSeconds(3));

            await NavigationService.NavigateAsync(typeof(Views.StartupPage));
 }

[2017-07-01 09:10] Yves-Be commented on #1511
Support was dropped for 2015 a while ago, time to install Visual Studio 2017.

[2017-07-05 00:15] miker1423 opened #1512 "Problems with navigation and DataContextChangedHandler"
I'm having trouble with the navigation inside my app, at first, when the app is opened, the DataContextChangedHandler is receiving the correct arguments but when navigating out and then returning to the page, the event is now receiving a ViewModel instead of the model, if I hit continue ignoring the exception, it then receives the correct params.

[2017-07-05 04:59] callummoffat commented on #1512
Can't help you if you don't give us any context, Miguel.

Thanks,

CJ

On Wed, Jul 5, 2017 at 12:15 PM, Miguel Pérez García <
notifications@github.com> wrote:

[2017-07-05 06:39] jp-weber commented on #1494
I agree with the continuation of the Windows Phone support/testing. Even if I understand that the proportion of WM10 based Windows Phones are still insignificant.

Because the question about Windows Phone 8.1 came up, actually I'm working at my hobby at a WP8.1 WinRT port of Template10. Is there actually still interest?

[2017-07-05 11:31] firatesmer commented on #1494
I don't agree. Also, If we stop support for Win10 it impacts store app. count.

[2017-07-07 14:52] Aymeeeric commented on #1510
After updating my whole solution : it works.
Sorry to have you bothered for so little!

[2017-07-07 14:52] #1510 closed, assigned to nobody

[2017-07-07 19:15] Dedecekhribecek commented on #1500
I am not sure I done you recommended. My new code is:

        <controls:PageHeader x:Name="pageHeader" RelativePanel.AlignLeftWithPanel="True"
                             RelativePanel.AlignRightWithPanel="True"
                             RelativePanel.AlignTopWithPanel="True" Text="Shelves">

            <controls:PageHeader.Content>
                <AppBarButton Width="250" Padding="0">

[2017-07-07 20:14] mvermef commented on #1500
Basically using the appbarbutton is your problem, trying tho squeeze the control into a button control will more than likely never work.  @dg2k suggested is best bet

[2017-07-08 14:30] Dedecekhribecek commented on #1500
I understand now.

it works
`            <controls:PageHeader.Content>
                <TextBox Name="TextBox" Width="450" Height="32" Margin="0,8,0,0" Text="text to display"/>
            </controls:PageHeader.Content>
`

first problem noneditable text box
`            <controls:PageHeader.Content>
                <AppBarButton Width="250" Padding="0">
                    <AppBarButton.Content>

[2017-07-08 14:30] #1500 closed, assigned to nobody

[2017-07-08 18:36] DanJ210 commented on #1095
I am getting this error after I created an app on App Studio, it's even published on the store. But when I download the source code, I have a Microsoft.Advertising.Universal SDK reference error. Right+Clicking to add a service reference gives me this same error code.

[2017-07-08 18:48] mvermef commented on #1095
How does this have anything to do with T10? And why post on a year old thread?

[2017-07-08 19:00] DanJ210 commented on #1095
Because the same things may be used in the Templates for Windows 10 in App Studio boilplate creation. And not many searches come up relevant enough come up. It's the same exact error from a XAML template so maybe there was some insight into why that could be if there was an answer to why this same exact error was being caused. This year was the earliest year I could find.

[2017-07-08 23:18] mvermef commented on #1095
Don't think we can do much for you

[2017-07-09 09:30] VagueGit commented on #1494
Sorry W10M developers; I can understand those who are already committed to W10M not wanting to see T10 drop support for W10M. We moved to UWP thinking we would have a desktop and phone app, however Microsoft didn't deliver users on phone so although we are continuing with UWP we no longer target phone.

I think developers starting a new UWP project will not be doing so because they think there is

[2017-07-09 17:46] HesamKashefi commented on #1494
@VagueGit life is cruel for Microsoft developers cause it seems Microsoft is more interested in IOS and Android rather than Windows! even Microsoft Evangelists do the same!
Honestly I like developing apps for windows but this cruelty of life is pushing me toward Android and IOS (not just this Issue for Template10 , Microsoft is ignoring windows and moves toward other platforms and the cloud ...).

[2017-07-09 20:18] DanJ210 commented on #1095
I guess no one could have any idea why a template might cause this?

[2017-07-10 17:13] VladimirAkopyan opened #1513 "Ring segment Visual Bug"
If the start value is 0 and end it 0 - 360, the ring works fine.
If the start is 300 and the end is 10 degrees, then the rings flip out really strangely. Essentially the ring flips out when values pass through zero.
![image](https://user-images.githubusercontent.com/12278048/28030329-3731c33a-659b-11e7-843f-ff2c7c927bb6.png)

[2017-07-11 07:48] JohaViss commented on #1494
Please don't drop support for Windows Phone 10.
I'm already very disappointed that you dropped support for VS2015.

We are a small company dedicated to write software that run on the entire Windows 10 platform. At this moment, Windows Phone 10 is the main focus point for us.

I think that UWP development should be integrated with Xamarin development to capture the entire mobile market. Now Xamarin

[2017-07-11 10:35] VladimirAkopyan opened #1514 "Hamburger menu - dynamic primary list"
I am unclear if one can declare dynamic content for the Template10 hamburger menu the same way one  can for the classic ListView.
`<ListView >
  <ListView.ItemTemplate>
    <DataTemplate>
   </DataTemplate>
  </ListView.ItemTemplate>
</ListView>`
This is not a feature request but a question due to my misunderstanding

[2017-07-11 18:57] JerryNixon commented on #1514
There is no way to do this Vladimir.

[2017-07-11 18:57] #1514 closed, assigned to nobody

[2017-07-11 20:54] arthurrump opened #1516 "Issue with HamburgerMenu when dynamically adding/removing buttons"
The problem occurs when dynamically adding a HamburgerButton, then removing it, then adding a new one with the same PageType and PageParameter. When navigating to that newly added page (with the correct parameter) a NullReferenceException gets thrown inside HamburgerMenu.NavButtonChecked(), for details on why, take a look at my research notes at https://github.com/arthurrump/Zermelo.App.UWP/issues

[2017-07-15 08:27] VagueGit commented on #1494
@HesamKashefi hit the nail on the head

it seems Microsoft is more interested in IOS and Android
--

Microsoft invested billions in trying to break into the phone market and failed. I don't think Microsoft can be blamed for recognising Android and IOS own that market and cutting their losses. @JerryNixon has limited resources for developing T10. I can't see the sense in those resources being spent

[2017-07-19 14:28] Sybren- opened #1517 "Template 10 project creation failed VS2017/Win10"
I just installed the Template 10 Template pack. Now I'm trying to create a Template 10 project. But it doesn't matter which option I choose (Blank, Hamburger, Minimal) I always get the project creation failed error. When I look in the Visual Studio 2017/Projects folder I see that the projects are created but they are completely empty. Maybe a VS update caused this problem? Because I installed a VS

[2017-07-21 11:57] Liero commented on #178
it is related to [Cannot unit test UWP app when using x:bind in resource dictionary](https://stackoverflow.com/questions/45237048/cannot-unit-test-uwp-app-when-using-xbind-in-resource-dictionary), maybe?

[2017-07-23 14:06] anmiro commented on #1507
Hi Jerry,
of course! I´ll create it till end of this week!
Best Reagards
Andre

[2017-07-24 19:32] ChrisProlls commented on #1429
Any solution about that ?
Thanks !

[2017-07-25 01:08] yehanny commented on #1517
Hi, Same problem here with Windows 10/VS 2017 both latest versions, when I try to create a New Project > (Blank, Hamburguer, Minimal) then it says: The project requires a platform SDK (10.0.14393.0) I have installed these versions: 10.0.10586.212, 10.0.14393.33, 10.0.14393.795 and 10.0.15063.137. I also tried to change the required version inside the project file <TargetPlatformVersion>10.0.14393.

[2017-07-25 04:12] yehanny commented on #1517
Hi, the problem is solved d by doing this, I did it and it really works...

@DennisTycho

[2017-07-27 18:55] fmonroe commented on #1465
I support VagueGit's comments. The current situation is quite confusing for developers that are investing considerable resources (time and money) trying to build LOB UWP apps. T10 offered much hope, but then WTS came up. Jerry wrote above "wait a little for me to announce something" months ago, and any news on v10.2 ? The last update above was months ago. Is T10.Core the same as v10.2?  Also, ther

[2017-07-27 19:57] VagueGit commented on #1465
We see Microsoft pushing WTS but never a word about T10. Refer the last month on Channel9. There is a hatful of videos about WTS but T10 doesn't get a mention. In [Windows Community Standup with Kevin Gallo July 2017](https://channel9.msdn.com/Events/Ch9Live/Community-Standup-with-Kevin-Gallo-July-2017/Kevin-Gallo-Live) Kevin Gallo plugged WTS and didn't mention T10, even though he ran out of thin

[2017-07-28 00:53] darenm commented on #1465
# TL;DR
1. Template10 is not a Microsoft product and has never had official support so why would Kevin Gallo talk about it?
1. WTS and T10 have overlap, but perhaps not as much as you may think.
1. T10 Refactor is still underway - much code has changed and been improved
1. Jerry and I do videos on T10 when we find time - we intend to do more, just need to fit it in!
1. We would be sorry to see you

[2017-07-28 02:39] fmonroe commented on #1465
Daren: Thank you _very much_ for taking the time to answer our concerns. You are going a long way in making things clearer for us all. Comments:
2. Overlap: the more I look at it the more I agree. At first sight, in a simplified way, WTS seems more for 'simpler', 'consumer oriented' apps while T10 addresses deeper problems that are more related to 'real life' 'LOB' applications (I'm no expert yet

[2017-07-28 05:21] VagueGit commented on #1465
I can tell @fmongeau that T10 solved a lot of problems for us as business application developers. We chose T10 way back because Prism looked at that time to be 'dying on the vine' and MVVMLight was still in the Windows 8 days. Prism and MVVMLight have both moved on since then but the last stable release of T10 was 1.1.12 in October last year. We have been using 1.1.13-preview since December last y

[2017-07-28 05:38] callummoffat commented on #1465
Again, it is not an **official** Microsoft project. IIt's a community thing. They (Microsoft) aren't obligated to provide support for it, or to provide official word on it. The lack of official word on it does not constitute the lack of a future for T10. T10 will survive as long as the community still wants it, because it is not a Microsoft project.

If you want to quit because it doesn't provide

[2017-07-28 08:47] blue865 commented on #464
It's 28.7.2017 and the issue is still well and alive :(

[2017-07-28 09:45] tibitoth commented on #1465
Well, WTS and I need to mention the UWPCommunityToolkit are also not offical Microsoft projects. Both has a very vibrant community and yes they have some publicity in the offical Microsoft channels, like T10 had before. I think the main reason is that they have more clear vision about where they heading for. Main aspects that T10 need to improve to achive the project consistency like in the other

[2017-07-28 11:11] zakkar1 opened #1518 "How can I change back button?"
Hi ,

I want to change the backbutton in my template 10 app and I'm wondering if I can do that.
For eg I want to change the width , the height , perhaps the arrow and put something else.
Is there any chance that I can do that by code ?
Where is this BackButton Location were I can apply a different style ?

thank you

[2017-07-28 16:11] JerryNixon commented on #1518
Do you mean in the PageHeader control? If that is what you mean, there is no option other than retemplating that control. If you mean in the shell, there is no option to change that.

[2017-07-28 16:11] #1518 closed, assigned to nobody

[2017-07-28 16:19] JerryNixon commented on #1513
You must keep the start and end angles within 360 degrees of each other

[2017-07-28 16:19] #1513 closed, assigned to nobody

[2017-07-28 16:21] JerryNixon commented on #1512
Why aren't you navigating from within your view-model? And, I suppose, why aren't you navigating from within your NavTo and NavFrom overrides? Strange approach Mike. Tell me a little more what you are doing so I can help.

[2017-07-28 16:21] JerryNixon commented on #1511
True. I am sorry.

[2017-07-28 16:21] #1511 closed, assigned to nobody

[2017-07-28 16:22] JerryNixon commented on #1507
Please target the 13 branch

[2017-07-28 16:22] #1507 closed, assigned to nobody

[2017-07-28 16:31] JerryNixon commented on #1506
Weird. This often occurs in controls that do something dangerous in the designer. If we can identify the property (sometimes it is the constructor) then we can wrap it in a Designer test and solve this. Several of our control have fallen victim to this over the years. Let me take a quick look.

[2017-07-28 16:39] JerryNixon commented on #1506
Well, I am annoyed to report to you that after repeatedly clicking on and off the control in both Visual Studio and Blend, I can't get the error to occur in the designer. I create the project in VS as a non-T10 project, added ImageEx from Nuget and added it to MainPage. I loaded it up and clicked over and over waiting for the bomb. I do not have Telerik controls or anything else, just the ImageEx

[2017-07-28 16:39] #1506 closed, assigned to nobody

[2017-07-28 16:39] JerryNixon commented on #1504
What does that mean?

[2017-07-28 16:40] JerryNixon commented on #1501
I can now confirm that I caused it.

[2017-07-28 16:42] JerryNixon commented on #1501
The core problem is the extended session logic added to template 10 a few months ago. It actually prevents suspension making your app NOT suspend when it is minimized. On one hand it is awesome. On the other, it makes it so your app does not suspend - better said, so your app suspension cannot be tested without invoking suspend and then waiting 10 minutes for the session extension to expire. Ha! I

[2017-07-28 16:43] JerryNixon commented on #1501
I suppose that does not address the issue in Template 10.1 does it? Okay. I will go into the current branch and disable the extended session for you and publish a new Nuget for it in about a month. I say in about a month because I am trolling through the issues for critical other things that might need to be pushed into 10.1 so we don't release two or three new ones for a small batch of updates. T

[2017-07-28 16:47] TheSETJ commented on #1504
@JerryNixon version of T10 that I use.

[2017-07-28 17:52] JerryNixon opened #1519 "INFORMATION: The state of Template 10 today"
### Let me take a minute to talk about the state of Template 10 today.

The current version of Template 10 is [1.1.13-preview] and it is in the branch called [version_1.1.13p] which is a somewhat idle branch as we are working to get the next version of Template 10 which resides in the trunk/master branch. For now, we are calling the next version of Template 10 version 10.2 but that is not the fina

[2017-07-28 18:04] zakkar1 commented on #1518
thank you Jerry

[2017-07-28 18:12] #1501 closed, assigned to nobody

[2017-07-28 18:14] JerryNixon commented on #1497
I want to reiterate that this remains very important

[2017-07-28 19:44] pekspro commented on #1501
Thanks @JerryNixon, that's a pretty good explanation :-). But I just tried to set AutoExtendExecutionSession to false manually but that didn't solve the problem :-( I also looked in Template Studio and ExtendedExecutionSession doesn't seem to be used in there at all. I have also tried to wait for more than 10 minutes after the application been terminated, both with Template 10 and Template Studio,

[2017-07-28 20:51] JerryNixon commented on #1465
Well, @totht91, to say UCT is not a Microsoft thing might be a misnomer, but certainly Template 10 is not. The work on Template 10 right now is pretty freaking great. @VagueGit , if T10 it shows up in WTS or not doesn't it really matter? I mean it. You only say [File]>[New Project] one time per app, right? I am closing this issue only because I think the discussion is clear and potentially endless

[2017-07-28 20:51] #1465 closed, assigned to JerryNixon

[2017-07-28 20:53] JerryNixon commented on #1467
Commenting on this so it bumps up in my queue.

[2017-07-28 21:39] JerryNixon commented on #1467
Version 1.0.2 now in Nuget. Thank you so much.

[2017-07-28 21:39] #1467 closed, assigned to JerryNixon

[2017-07-28 21:40] #1462 closed, assigned to JerryNixon

[2017-07-29 05:27] callummoffat commented on #1519
Well, since Template "10.2" is basically a whole new library (once all these changes are added up) - what about releasing T10 1.1.13 as "Template 10 (Legacy)" for people who need support for the older APIs?

I mean, I get the need for backwards compat but I feel that if we stretch things out too much, we'll end up never being able to drop support (because real-word enterprise LOB applications depe

[2017-07-29 18:34] darenm commented on #1519
Callum,

I think this is a good thought and, to be honest, needs to be part of a more intentional approach to a road map, versioning, etc. Equally, the documentation, etc. that supports that version needs to continue to be available for those that invested in apps utilizing that version and are looking for some ROI before they move on.

[2017-07-30 00:39] callummoffat commented on #1519
I've been thinking about that problem:

Legacy documentation probably shouldn't go onto the wiki - it would overcomplicate the navigation hierarchy.

Perhaps we need to consider the creation of a dedicated documentation site, which could better handle the archival and maintenance of legacy docs without creating an overly complex navigation hierarchy?

In addition, I agree that Template 10 needs a

[2017-07-30 06:51] pekspro commented on #1519
I’m would like to support Anniversary Update in my projects. Just because that was the last update all Windows 10 Phones got. Only a few phone got Creators Update.

[2017-07-30 07:13] callummoffat commented on #1519
The problem being that each new UWP release adds tons of APIs which T10 could exploit and extend. And not all of those can be easily enabled/disabled – i.e. Fluent Design is RS3 only, and AFAIK you can’t make it back-compatible while still using XAML for the UI.

The main problem I have with maintaining backwards compatibility w/ older SDKs (mainly the November Update, but the AU as well (to a les

[2017-07-31 02:30] callummoffat commented on #1519
I'm in two minds about the whole backwards compatibility thing. On the one hand, support for legacy APIs and SDKs is necessary for many applications. On the other hand, I think that providing that support in the wrong way could limit our ability to deprecate support for said APIs later on.

Enterprise support especially, needs to be long-term - once they decide to roll out a given OS/app version,

[2017-07-31 05:38] VagueGit commented on #1519
Speaking from The Dark Side I'd like to support @callummoffat. These are early days for UWP business apps so I doubt there is much value in backward compatibility given the rate of change in UWP. We'll be looking to start again, learning from what we did in this iteration,  when we revisit UWP and T10 post Redstone 3/T10.2.

[2017-07-31 05:43] callummoffat commented on #1519
Thank you.

I think in future, backward compatibility will be an important consideration. Right now, it would hold us back for little reason – there aren’t many business apps out there, and the ones that are out there are being actively worked on (thus, still subject to change).

The biggest positive to back compat would be continued support for Mobile W10. But again, given the current uncertainty

[2017-08-01 20:40] fmonroe commented on #1519
Thank you Jerry for keeping the fan base informed. Looking forward to T10.2.
I support Callum and VagueIt; they said it best: "These are early days for UWP business apps so I doubt there is much value in backward compatibility given the rate of change in UWP" and "Right now, it would hold us back for little reason – there aren’t many business apps out there, and the ones that are out there are bei

[2017-08-02 07:51] callummoffat commented on #946
Because T10 support for VS15 has ended. You need to get VS2017.

CJ

This message was brought to you via my Nexus 5X.

On Fri, Jun 30, 2017 at 11:07 PM +1200, "Akshay2595" <notifications@github.com> wrote:

@JerryNixon I tried to search for template 10 in Microsoft Visual Studio Community 2015, but couldn't find it, then I downloaded .vsix file from website and tried to install it manually, and I

[2017-08-04 17:35] miker1423 commented on #1512
Well, maybe I wasn't clear enough.
My View has a ViewModel which is the one that runs all code, data binding, etc., inside that page I have a MasterDetailsView, the source of the list view is a ObservableCollection inside the VM, I have separated templates for the master and the details section. when navigating for the first time to the page, I get the correct models, but then, If I navigate to an

[2017-08-10 08:35] pcolmer commented on #1519
Legacy documentation probably shouldn't go onto the wiki - it would overcomplicate the navigation hierarchy.
    Perhaps we need to consider the creation of a dedicated documentation site, which could better handle the archival and maintenance of legacy docs without creating an overly complex navigation hierarchy?

My suggestion would be to move the documentation into a separate git repository and

[2017-08-10 15:57] JerryNixon opened #1521 "DISCUSSION: backwards compatibility"
There are many things to support here:

1. What version of Visual Studio
2. What version of NET Standard
3. What version of XAML
4. What version of UWP

## UWP

Here's what we have:

1. 07/2015 UWP 10240 TH1 Launch
2. 11/2015 UWP 10586 TH2 November Update
3. 03/2016 UWP 14393 RS1 Anniversary Update
4. 04/2017 UWP 15063 RS2 Creators Update
5. 10/2017 UWP 16257 RS3 Fall Creators Update

Our goal sho

[2017-08-10 15:57] #1519 closed, assigned to darenm, JerryNixon

[2017-08-10 15:58] #1470 closed, assigned to nobody

[2017-08-10 15:58] #1471 closed, assigned to nobody

[2017-08-10 15:58] #1472 closed, assigned to nobody

[2017-08-10 15:58] #1473 closed, assigned to darenm

[2017-08-10 15:58] #1474 closed, assigned to nobody

[2017-08-10 15:58] #1475 closed, assigned to nobody

[2017-08-10 15:58] #1476 closed, assigned to nobody

[2017-08-10 15:58] #1478 closed, assigned to nobody

[2017-08-10 15:58] #1479 closed, assigned to nobody

[2017-08-10 15:58] #1480 closed, assigned to nobody

[2017-08-10 15:58] #1481 closed, assigned to nobody

[2017-08-10 15:58] #1482 closed, assigned to nobody

[2017-08-10 15:58] #1483 closed, assigned to timmyreilly

[2017-08-10 15:58] #1484 closed, assigned to nobody

[2017-08-10 15:58] #1485 closed, assigned to nobody

[2017-08-10 15:58] #1486 closed, assigned to nobody

[2017-08-10 15:58] #1469 closed, assigned to nobody

[2017-08-10 15:59] #1494 closed, assigned to JerryNixon

[2017-08-10 16:04] #678 closed, assigned to nobody

[2017-08-10 16:04] #992 closed, assigned to JerryNixon

[2017-08-10 16:04] #1084 closed, assigned to nobody

[2017-08-10 16:04] #1221 closed, assigned to nobody

[2017-08-10 16:04] #1235 closed, assigned to nobody

[2017-08-10 16:04] #1274 closed, assigned to nobody

[2017-08-10 16:04] #1295 closed, assigned to JerryNixon

[2017-08-10 16:04] #1298 closed, assigned to JerryNixon

[2017-08-10 16:04] #1442 closed, assigned to JerryNixon

[2017-08-10 16:04] #1443 closed, assigned to JerryNixon

[2017-08-10 16:05] #1244 closed, assigned to nobody

[2017-08-10 16:05] #1361 closed, assigned to JerryNixon

[2017-08-10 16:05] #1398 closed, assigned to nobody

[2017-08-10 16:05] #1406 closed, assigned to nobody

[2017-08-10 16:05] #1451 closed, assigned to nobody

[2017-08-10 16:05] #1028 closed, assigned to nobody

[2017-08-10 16:05] #1178 closed, assigned to nobody

[2017-08-10 16:05] #1215 closed, assigned to nobody

[2017-08-10 16:05] #1270 closed, assigned to nobody

[2017-08-10 16:05] #1313 closed, assigned to JerryNixon

[2017-08-10 16:05] #1353 closed, assigned to nobody

[2017-08-10 16:05] #1366 closed, assigned to nobody

[2017-08-10 16:06] #1248 closed, assigned to nobody

[2017-08-10 16:12] JerryNixon opened #1522 "REQUEST: move wiki to md"
Does anyone know an easy way to grab all of the wiki and move it to one or more md files? I would like to create a Documentation folder off the root and put the current wiki in a Template10.1 subfolder.

Anyone in @Windows-XAML/template-10-developer-community care to take this on?

PS: my goal will be to disable wiki once we have this worked out. Moving the docs to a pull request-model is going to

[2017-08-10 16:32] calloncampbell commented on #1522
The wiki is already avail as MD files in a git repos located here https://github.com/Windows-XAML/Template10.wiki.git

It's simple enough to checkout and move to a folder structure.

[2017-08-10 16:34] calloncampbell commented on #1522
I can help with this, just let me know if you want anything else done apart from "create a Documentation folder off the root and put the current wiki in a Template10.1 subfolder".

Which branch do you want this done on?

[2017-08-10 16:47] jhalbrecht commented on #1522
I get a 404 error on that link. https://github.com/Windows-XAML/Template10.wiki

As a consumer of Template 10 I'd like to see the documentation remain in the Wiki. It seems easier to organize. And easier for a documentation maintainer. Hopefully there is a mechanism for maintaining the Wiki with pull requests.

And hopefully sometime in the future GitHub will make the Wiki searchable.

[2017-08-10 17:23] calloncampbell commented on #1522
Hi @jhalbrecht the link is provided from the wiki page below the right nav menu. I was able to clone it in VS.

[2017-08-10 17:25] calloncampbell commented on #1522
Having the docs in the wiki is nice but a lot of open source projects just put their docs in a GitHub repository as MD files and then have an external service that pulls the data and transforms it to HTML. They can then host their docs online in a more professional manner.

I'm all for moving the docs from wiki to source.

[2017-08-10 18:13] JerryNixon commented on #1522
Hi @calloncampbell, great info. I look forward to your Pull Request.

[2017-08-10 18:13] jhalbrecht commented on #1522
Guess I missed your point, I hear you now. I thought you were providing an answer to Jerry's question re pulling .md files for the wiki. I'm glad to know how to modify the wiki with a pull request rather than just editing for some other projects - thanks for sharing that.

[2017-08-10 18:15] JerryNixon commented on #1517
This is why we need to remove support for older UWP versions.

[2017-08-10 18:15] #1517 closed, assigned to nobody

[2017-08-10 18:16] JerryNixon commented on #1516
Not master. Not master! That is 10.2. Look at the 13p branch for a PR.

[2017-08-10 18:20] rpedretti commented on #1521
# UWP
I agree. I myself have a Project [here](https://github.com/rpedretti/Architecture.POC) testing some techniques to import Resources dictionaries based on api level and if classes exists, like AcrylicBrush.

So 3 versions to me is good.

But i have some question regarding Windows 10 S.
- T10 supports Windows 10 S?
- Will Windows 10 S keep up with the "regular" Windows updates?

# Visual Studio

[2017-08-10 18:52] alexdresko commented on #1522
I like https://readthedocs.org. It supports compiling markdown from source.

[2017-08-10 19:12] #1522 closed, assigned to calloncampbell

[2017-08-10 19:16] JerryNixon commented on #1521
### Windows 10 S

Let me answer the Windows 10 S questions since I know the answer. Imagine if you took Windows 10 home edition and removed the ability to install Win32 apps (except through Centennial). That is Windows 10 S. It is another SKU of Windows 10 with that one (at least) characteristic. What do we need to do for Template 10 to support Windows 10 S? Nothing. It's UWP all the way. Should b

[2017-08-10 19:29] arthurrump commented on #1516
There it is 😄

[2017-08-10 19:52] mdtauk commented on #1521
## UWP
I think supporting a build that works on the November Update makes sense, as it is still relevant to the Current Branch for Business, and Long Term Servicing Branches.  But it should only be maintenance, with ongoing work only going back to Creators, and Fall Creators Updates.  In future, Windows 10 N and N-1 probably makes the most sense.

## Visual Studio
On-going work on the latest versi

[2017-08-11 00:29] callummoffat commented on #1521
I don't believe that supporting 1511 makes sense. LTSB doesn't support UWP AFAIK.

[2017-08-11 08:40] jp-weber commented on #1521
## UWP

I think supporting the builds with the highest distribution would be make sense. Aduplex make good market share about the OS versions. Make it sense if we say that we support at least 85 percent?
![adduplex-windows-device-statistics-report-june-2017-5-638](https://user-images.githubusercontent.com/10946850/29205551-ea0100fc-7e7d-11e7-8561-ebf260bd7618.jpg)

## Visual Studio
I think with la

[2017-08-11 08:45] callummoffat commented on #1521
Windows 10 Mobile, I think, isn’t so much a question mark as a big crossing out. Given Microsoft’s total radio silence on the matter, the lack of features in FEATURE2 builds coupled with the conspicuous lack of most of the new RS3 features that you’d think would come as part of OneCore, it is fairly safe to assume at this stage that Mobile has gone the way of the dodo.

Even if this is *not* the c

[2017-08-13 13:47] HesamKashefi opened #1525 "Customizing the Shell"
Hi,
  I want to know how can I Customize the Shell for my app?
Currently the way of shell creation is ambiguous , I can't understand how it creates the shell so I can't add any control to the Shell, I mean if you take a look at the Prism.Windows it sends us a frame in the bootstrapper  ,So we can put it anywhere in the Shell.
I'm not talking about Prism's Regions because it may be irrelevant to T1

[2017-08-13 13:51] mvermef commented on #1525
First off which shell are you referring to?  Cause each has slight differences and one is pretty far from slight.

[2017-08-13 14:59] HesamKashefi commented on #1525
@mvermef the one in the default hambergurMenu T10 template ! I didn't know that there maybe another one! Is there?!

[2017-08-13 15:12] mvermef commented on #1525
That is the only one template with the hamburger there are 2 other templates minimal (pretty much bare bones) and blank.  As far as customizing, you can do just about anything.

I use the hamburger template for a couple of projects, login I created a page for that used built-in features to hide hamburger and do some backend checking to see if they are authenticated, if so I use navigate() to show

[2017-08-13 15:37] HesamKashefi commented on #1525
@mvermef Oh, I had forgotten that we can hide Hamburger Menu ,Thanks it helps a lot!
Now how to add a banner ad below of the frame for pages inside the Shell (The HamburgerMenu should remain as it is now)

[2017-08-13 23:15] callummoffat commented on #1525
You should use the Microsoft Advertising SDK. I'd suggest using a separate AdControl for each page, I'm not sure how well the Shell supports footer elements.

[2017-08-14 03:30] HesamKashefi commented on #1525
@callummoffat I know that! I just used ads as an example! my main question is about manipulating the shell! besides adding an ad to each page make the ad useless cause the pages are navigated before the ad loads!

[2017-08-14 04:01] callummoffat commented on #1525
I don’t think there’s an inbuilt mechanism for this, but I could be wrong.

Sent from Mail for Windows 10

From: HesamKashefi
Sent: Monday, 14 August 2017 3:30 PM
To: Windows-XAML/Template10
Cc: Callum Moffat; Mention
Subject: Re: [Windows-XAML/Template10] Customizing the Shell (#1525)

@callummoffat I know that! I just used ads as an example! my main question is about manipulating the shell! besi

[2017-08-14 04:13] JerryNixon commented on #1525
@callummoffat  is right, if you want an ad on each page, then you put the ad on each page. Forget about the shell. Let the loading pipeline of each page handle itself individually an independently. If the page navigates before the page loads, then you are not putting the ad in the correct place or your app navigation is crazy sounding. If what you mean is to have each page update an ad you are pla

[2017-08-14 04:13] #1525 closed, assigned to nobody

[2017-08-14 04:19] #1516 closed, assigned to nobody

[2017-08-14 04:22] JerryNixon commented on #1504
Hmm. Okay. Well, do you see the issue when you update to 1.1.13-preview?

[2017-08-14 06:07] HesamKashefi commented on #1525
@JerryNixon please forget about the ads!!! just think I've never talked about the ads! I said ads are just an example! if you look at my question I was looking for customizing the shell for whatever reason!
I said it may be advertisements or Toast or a command bar or maybe just a little Textblock ! WHATEVER not just the ads!

But anyway, Thank you I think I must somehow try to do something with Na

[2017-08-14 06:10] callummoffat commented on #1525
It is easily possible to customize the Shell, just not in the way you wish to.

Sent from Mail for Windows 10

From: HesamKashefi
Sent: Monday, 14 August 2017 6:08 PM
To: Windows-XAML/Template10
Cc: Callum Moffat; Mention
Subject: Re: [Windows-XAML/Template10] Customizing the Shell (#1525)

@JerryNixon please forget about the ads!!! just think I've never talked about the ads! I said ads are just a

[2017-08-14 08:48] kfchengkf opened #1526 "Changing visibility of AppBarButton inside PageHeader.PrimaryCommands affect button placement"
Changing visibility of AppBarButton inside PageHeader.PrimaryCommands on and off causes
ALL the command buttons to flow under the page header on a Windows Phone. It is working OK on
Desktop.
It seems this happens after upgraded to VS2017

Details:
My app have a search AppBarButton on the page header. When clicked, a suggestion box will appear
on the left side of the page header and the search AppB

[2017-08-15 04:19] kfchengkf commented on #1526
Updates: The issue was temporary solved by downgrading the Target version to Build 10586. So it is an issue with Windows and not Template10

[2017-08-15 12:18] sjb-sjb commented on #1361
Looking back on my comments above, I feel that I've been blabbing away about this forever. It's been a journey for me but it is finally starting to come together.

I now agree with having the view model combined with the entity, or at least attached to it. Otherwise it gets too complicated. Along with that I no longer feel that view models have to be connected to the context.

One thing I found ou

[2017-08-16 17:33] HesamKashefi opened #1528 "Problem with T10 dependency injection"
Hi,
I'm using dependency injection in my app but the way that Template10 use to resolve ViewModels is not suitable, Why do I say that? Cause :
I needed to set a ViewModel for the Shell (the one with HamburgurMenu Template)  and I created one (just for the case if you ask why : cause I needed to Show The User Profile in the HamburgurMenu as all the other apps do) but I found out that the ResolveFor

[2017-08-16 17:36] darenm commented on #1528
10.2 of Template10 is being refactored to better support DI.

[2017-08-17 03:34] HesamKashefi commented on #1528
@darenm Thank you , and do you know when it will be ready? is it coming after RS3 ? if so , do you have any idea when that one will be released?

[2017-08-17 03:44] darenm commented on #1528
Take a look at #1519 for more insight - tl;dr 10.2 is shooting for RS3.

[2017-08-17 06:23] JerryNixon commented on #1528
I think 10.1 made things too hard for MVVM developers using DI in that it called `ResolveForPage()` after navigation instead of before. With 10.2, `ResolveForPage()` will be called before navigation, which enables `INavigatingTo`, a special interface that is more relevant to Android/Xamarin apps, but drives home when in the pipeline it is called. 10.2 will support `INavigatingTo`, `INavigatedTo`,

[2017-08-17 06:26] JerryNixon commented on #1521
The AdDuplex numbers are close enough to the real telemetry that we can use them.

[2017-08-17 06:28] JerryNixon commented on #1512
I think you might be "Go Back to the page" and if that is what you mean then you can check the NavigationMode (a param in OnNavigatedTo) and detect the user is using Back, and alter your code. Right?

[2017-08-17 06:28] JerryNixon commented on #1512
I would bet a dollar your binding is wrong.

[2017-08-17 06:29] #1504 closed, assigned to nobody

[2017-08-17 06:31] JerryNixon commented on #1459
This is a problem. For sure. Need to create a built-in margin when it is visible. To be honest, this is the developer's problem. And prob not correct for Template 10 to build-in. What do you think?

[2017-08-17 06:31] #1488 closed, assigned to JerryNixon

[2017-08-17 06:33] JerryNixon commented on #1457
As an aside, do you like the Modal Dialog as the root?

[2017-08-17 06:43] HesamKashefi commented on #1528
@JerryNixon Thank you for your response, no it's not blocking I just needed to set datacontext to null in every page and now it's working properly.
I'll happily test T10.2 as soon as I can get it. cause I can't wait to see the NavigationView 😁

one more thing : Is there going to be something like InteractionRequest Type in the next version? (This is the type which enables us to open a Custom Dialo

[2017-08-17 07:08] ImCarrot commented on #1457
I am not sure how would the modal dialog help, I'll share what I am trying to do,
I have a HomeView where I put down a map control and over the map control I put a Frame Control (with null background for the user tap to pass to the Map). Now all my subsequent page navigations I want to take place over the Frame Control and not the main Modal Dialog over which the T10 Navigation Service works (such

[2017-08-17 07:17] ImCarrot opened #1529 "[feature request] Connected Animations Support"
Hi, I've been using T10 for quite a while now and I quite love it. I wanted to know if there is any existing way to provide connected animations using T10 navigation service.
As a work around currently I write up the connected animations in the OnNavigating to of the code behind and control it using a bool flag in the viewModel. But this approach leads to quite bit of code and serious animation pe

[2017-08-17 10:28] HesamKashefi commented on #1459
I was just struggling with this right now, there are strange behaviors in the Title bar, I don't know what's wrong with it but when I added this style
`<common:BootStrapper x:Class="TestingCustomTitleBar.App"
                     xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
                     xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
                     xmlns:c

[2017-08-17 14:25] darenm commented on #1529
Can you show us what you are doing? I'm interested in better incorporating composition into T10 so understanding your scenario would help.

[2017-08-19 07:49] JerryNixon opened #1530 "10.2 Ready! Let's start testing."
Hey @Windows-XAML/template-10-developer-community

Great news. What you find in `Master` today is the near-finished version of 10.2. You read that right, we're close. There are some things I have not added yet because of RS3, but you can test this on Creators Update with Visual Studio 2017 v15.2 or v15.3 (which is brand new).

What to test.

`Blank` and `Minimal` are all we have working at this po

[2017-08-19 12:54] rpedretti commented on #1530
That's great news! As soon as I get hands on my computer I'll try it. Are there any steps we have to follow to get started?

[2017-08-19 17:31] HesamKashefi commented on #1530
Well done! You mentioned Xamarin, does it mean we can use T10.2 in net Standard libraries? (specifically version 1.4 which is the highest version supported by UWP currently)

[2017-08-19 18:08] Quico20 commented on #1530
I'm currently developing an app using T10.1 version.
once T10.2 gets to nuget will i be able to update to T10.2 without breaking the app or should I start a new app for it? (mostly refactor my app).

[2017-08-19 18:11] mikea314 commented on #1346
The SecretHelper class doesn't persist modified secrets due to a missing ' _vault.Add(credential) ' line:

    public void WriteSecret(string container, string key, string secret)
        {
            if (_vault.RetrieveAll().Any(x => x.Resource == container && x.UserName == key))
            {
                var credential = _vault.Retrieve(container, key);
                credential.RetrievePa

[2017-08-19 19:37] dg2k commented on #1346
You're correct. I thought I made a PR on this a while back and somehow fell thru the crack (see bottom of #1503 and can't figure out what really happened then). There was a lot changing at the time.

[2017-08-19 19:53] rpedretti commented on #1530
Just cloned the and got a version mismatch error
![version mismatch](https://user-images.githubusercontent.com/675601/29489698-4a0f789a-84fd-11e7-846b-005d19a67691.PNG)
easely fixed, but then the nuget downgrade warnings came. Checking the nuget packages I found diferences at Microsoft.NETCore.UniversalWindowsPlatform version, some projects targeting 5.23 and others 5.3.3. SOme other libs have thi

[2017-08-20 03:42] JerryNixon commented on #1530
Hey @rpedretti  I think this is a PR.  My brain does not understand why this is not happening to me, though. That being said, if you are getting this, then others may also be getting them.

### For UWP

Target: Creators
Minimum: Anniversary

### For NETCore

I see 5.4.0 is now available, those should be in sync.

### For .NET Standard (Template10.Portable)

It's currently 1.4, but we can discuss 2

[2017-08-20 03:58] rpedretti commented on #1530
Ok then. I'll double check my corrections tomorrow and make the PR.

I might also start a thread on the DI approach as it does not handle an important aspect: Named registration/retrieval.

[2017-08-20 04:14] JerryNixon commented on #1530
I just pushed up the NETCore sync.

[2017-08-20 07:36] akshay2000 commented on #1530
Hey @Quico20, I am in the same boat as you. I think we should hold on until there is a clear upgrade path. We also need to consider if it is worth the effort. Right now, my app is not in active development mode. So, cost of upgrading T10 outweighs the benefits.

[2017-08-20 14:11] JerryNixon commented on #1530
@Quico20 and @akshay2000 I wanted to say two quick things. The first is that 10.1 is awesome and there is no reason to upgrade except that work is turning toward 10.2. The second is that the purpose of 10.2 is that maintaining it in the future and meeting the needs of more sophisticated apps was getting hard with 10.1 and 10.2 resolves that in many ways. Right now, I am asking for help testing 10.

[2017-08-20 18:00] JerryNixon commented on #1529
Just an FYI, this is a RS2/3 thing, and belongs in 10.2, not 10.1. You can make the case for it to be otherwise, and if you are only asking for technique advice, I understand. But we want to make sure 10.2 enables every scenario even those it does not implement for the developer.

[2017-08-20 18:01] Quico20 commented on #1530
@JerryNixon Thanks for your answer, I know you guys have been working hard on upgrading T10.1 to T10.2 I think I'll finish my app using T10.1 and once T10.2 had been tested I'll update it. I love to keep update and hate to be left behind.
Another thing I wanted to comment, please when you finish T10.2 could you check on T10 1.1.2 Validation.
Its annoying not being able to use design mode on x86 pr

[2017-08-21 04:43] rpedretti opened #1536 "10.2 Discussion: DI container override with MvvmLight Bootstrap"
Looking aroud the code I found that the navigation service takes care of getting the ViewModel for the page with **_ViewModelResolutionStrategy.ResolveViewModel_** and the BootStrapper class register the _**DefaultViewModelResolutionStrategy**_ resolver, wich does nothing.

With T10.1 I used to set a static container at the App class and register my ViewModels like:
`Container.register<INavigable,

[2017-08-21 06:18] ImCarrot commented on #1529
@JerryNixon Hi, I am not really asking for technique here, it's more of a feature request if I can request a feature, or probably make a case for it. @darenm , yes I do have a work around that I use to get connected animations. I'll post the code as a comment as well in a few moments. It'll be really cool to have it in T10 as well.

[2017-08-21 10:17] ImCarrot commented on #1529
@darenm , I've got a quick sample up on github for the workaround for Connected Animations using T10.
Link: [T10ConnectedAnimSample](https://github.com/ImCarrot/T10ConnectedAnimSample) . Hopefully it can be made a part of T10 samples. I've made a pull request for the same as well.

[2017-08-21 11:04] michaelhutchful commented on #1529
Very nice implementation

Sent from Mail for Windows 10

From: Aditya Sharma
Sent: 21 August 2017 10:17
To: Windows-XAML/Template10
Cc: Subscribed
Subject: Re: [Windows-XAML/Template10] [feature request] Connected AnimationsSupport (#1529)

@darenm , I've got a quick sample up on github for the workaround for Connected Animations using T10.
Link: T10ConnectedAnimSample
—
You are receiving this bec

[2017-08-21 11:25] rpedretti commented on #1536
Ok, after a good night of sleep I though of the Prism ViewModelLocator, so maybe a good way to achieve what I want is to use naming convention
[code]

But again the SimpleIoc lacks the ability to to resolve like that

[2017-08-21 12:46] ImCarrot commented on #1529
@michaelhutchful  Thanks :)

[2017-08-22 18:30] JerryNixon commented on #1536
That's why we have IContainerService, I am sure we can abstract this within the IViewModelContainerAdapter, even if we need to extend the contract of the service. This will take some investigation, but handling like that seems like a sensible approach if we can make it work with SimpleIoT. This mismatch in functionality will continue, but we can overcome this, I am sure. I welcome your suggestion

[2017-08-22 19:22] JerryNixon commented on #1536
Okay, so I talked with Laurent (he wrote MVVMLight). Here's what he suggested.

[code]
I will implement this right now. As an aside, Laurent said he will promote the syntax to be more direct in vnext. Let's call that a win-win. Look for my commit later today.

[2017-08-22 19:34] JerryNixon commented on #1536
You might be asking, do I see the problem? Yes. Rats...

[2017-08-22 19:51] rpedretti commented on #1536
The problem is exactly the factory....no DI there :(

For now I'll be commiting an example app at my fork using the Prism container, just to make na example with the proposed IContainerService. We don't have permission to create new branches here, do we?

[2017-08-22 20:45] JerryNixon commented on #1536
Here's where we are headed:

[code]

Will need to test it.

[2017-08-22 21:04] rpedretti commented on #1536
What I have now is very similar to this. I'll make a PR of it. It will also contain a demo app.

I opted out to throw a NotImplementedException to make it explict that it does not work for now.

[2017-08-22 21:33] JerryNixon commented on #1536
Okay, check out the current Master. Please volunteer to test it for me.

[2017-08-22 21:35] #1536 closed, assigned to nobody

[2017-08-22 21:37] JerryNixon commented on #1528
Yes, we are building out the Dialog service now. We will auto-register it so view-models can request it through DI, and we will implement both Content and Message so you can pick and there will be a central manager to make sure only one is visible at a time. There will be a few extension methods who don't use DI or view-models, too.

[2017-08-22 21:37] #1528 closed, assigned to JerryNixon

[2017-08-22 21:40] JerryNixon opened #1540 "Feature request: Template10.Service.Dialog"
This include:

1. `MessageService` : `IMessageService` which will wrap `MessageDialog`
2. `ContentService` : `IContentService` which will wrap `ContentDialog`
3. `DialogManager` which will track open dialogs and prevent overlap

This is for Template 10.2

[2017-08-22 21:42] JerryNixon opened #1541 "Feature request: Template10.Service.Resources"
This will include:

1. `ResourceService` : `IResourceService` which will wrap ResourceLoader

Why? So we can test this stuff.

Re: https://github.com/Windows-XAML/Template10/pull/1508/files#diff-8466366fbb4a3ae5206491a7510ea4d8

[2017-08-22 21:42] JerryNixon commented on #1541
Note that this will need to be deleted.

https://github.com/Windows-XAML/Template10/tree/master/Template10/Template10.Core.Shared/Services.Resources

[2017-08-22 21:43] JerryNixon commented on #1530
I look forward to your 10.2 pull requests!

[2017-08-22 21:45] JerryNixon opened #1542 "Fix validation in design-mode"
@Quico20, could you remind me what the problem is?

[2017-08-22 21:48] #1420 closed, assigned to nobody

[2017-08-22 21:54] rpedretti commented on #1536
I volunteer!

Just checked it out and it does not support ```ContainerService.Default.Resolve<ITemplate10ViewModel>(type.Name)``` because of the interface ```TInterface Resolve<TInterface, TClass>(string key) where TInterface : class where TClass : class, TInterface;```

So there is a nedd for a ```TInterface Resolve<TInterface>(string key) where TInterface : class where TClass : class, TInterface

[2017-08-22 22:13] dg2k opened #1543 "How to include ExistingContent in 10.2?"
@JerryNixon - am I missing something with ExistingContent.Include/ExistingContent.Exclude option? I can't see how to include **Window.Current.Content**.

- 10.1

      public override UIElement CreateRootElement(IActivatedEventArgs e)
      {
          var navService = NavigationServiceFactory(BackButton.Ignore, ExistingContent.Include);
          return new ModalDialog
          {
              C

[2017-08-22 22:24] rpedretti commented on #1536
Because the interface only accepts ```TInterface Resolve<TInterface, TClass>(string key)``` it's not possible to resolve keyed objects without a base class.

If I have a multiple classes implementing only a Interface i cannot resolve it like
```ContainerService.Default.Resolve<ITemplate10ViewModel>(type.Name))```

[2017-08-22 23:15] jaedson-barbosa opened #1545 "Memory leak in UWP"
My UWP can't delete pages I navigated, so, after about 15 minutes, the RAM usage is very big because I can't flush the pages... I think we should be able to remove definetely the created pages from the memory, what do you think about this?

[2017-08-23 03:32] JerryNixon commented on #1545
Is this about Template 10?

[2017-08-23 03:32] JerryNixon commented on #1545
Are you unsubscribing all your events @JaedsonBarbosa ?

[2017-08-23 03:33] JerryNixon commented on #1545
Let me assure you, your conclusion is incorrect. Something is going on.

[2017-08-23 03:34] JerryNixon commented on #1543
I feel like you are testing hamburger. Let's test Minimal first!

[2017-08-23 03:35] JerryNixon commented on #1529
There's a pull request to demo this. If it is not for the 13p branch then hold off.

[2017-08-23 03:35] #1529 closed, assigned to nobody

[2017-08-23 03:36] JerryNixon commented on #1450
In addition we will resolve this with the new `PopupEx` we are building.

[2017-08-23 03:36] #1450 closed, assigned to nobody

[2017-08-23 03:37] #1490 closed, assigned to JerryNixon

[2017-08-23 04:44] ImCarrot commented on #1545
It can be the NavigationCache causing an issue. Happened to me once. As soon as I put NavigationCache mode to disabled, It just worked. check it out once.

[2017-08-23 07:06] Chris-Marassovich commented on #1545
Hey there @JaedsonBarbosa

I had a similar issue a while back .. if you have a look at #1242 your issue could be related.

Cheers
Chris ...

[2017-08-23 11:18] jaedson-barbosa commented on #1545
I tested that with an very simples page, it doesn't have any event, binding or x:bind and... The same problem occurs :(
I don't set the NavigationCacheMode to Enabled because my app is very big and I don't want to have every pages in memory.

[2017-08-23 13:07] dg2k opened #1547 "AppBarButton in PageHeader"
@kfchengkf mentioned an issue with **AppBarButton** in PageHeader (see #1526). I noticed this problem for over a year with the **Anniversary Update** early August 2016. It was at the same time I also noticed another platform related issue with regard to a 4" Emulator -- see issue #1178.

## The Problem

The problem is with the **ContentControl** in a Grid control (with `x:Name="ContentRoot"`) in P

[2017-08-23 13:52] dg2k commented on #1545
- Event unsubscribing - check!
- x:Bind AppBarButton - check! (see #1404); PageHeader memory leak fixed (see #1403)
- Page Code-Behind (not convinced of this but some developers advocate to put `Bindings.StopTracking();` and `VidewModel = null;` in the Page `Unloaded` event, but be prepared for side-effects if you use this).
- The Most Important - what does you app do? Do you use bitmap images? Bi

[2017-08-23 14:31] JerryNixon opened #1549 "Feature request: DI resolve interface by key"
We need this:

[code]

[2017-08-23 16:27] rpedretti commented on #1549
As I looked, this is already implemented. What needs to be done?

[2017-08-23 21:31] JerryNixon commented on #1549
Done

[2017-08-23 21:31] #1549 closed, assigned to JerryNixon

[2017-08-24 02:32] rpedretti commented on #1541
I volunteer to implemente this one!

[2017-08-24 11:54] rpedretti commented on #1541
@JerryNixon what do you think of making the ResourceService a partial class so in a near future we can implemente a tool like https://reswcodegen.codeplex.com/ that generates an interface and partial class to give the user access to the localized resources?

[2017-08-24 15:46] JerryNixon commented on #1547
Okay, explain which PR is which?

[2017-08-24 15:46] #1545 closed, assigned to nobody

[2017-08-24 15:46] #1543 closed, assigned to nobody

[2017-08-24 16:03] JerryNixon commented on #1449
I do not. We might run into it when we start testing Template.Hamburger.

[2017-08-24 16:06] JerryNixon commented on #1541
I think that is awesome, by the way. Thank you for pointing it out to me, I think it belongs in Template.Advanced, perhaps. As far as this service, no. This will remain a testable, generic, interface. I will introduce a few things n the Dialog service to account for "Ok" and "Cancel" in different languages, and need to sooner than later. Also, a partial will not work across assembly boundaries. I

[2017-08-24 16:29] rpedretti commented on #1541
Ok, I'll try to get it done by the weekend then!

[2017-08-24 19:19] rpedretti commented on #1541
I came across an impasse. The service can be used in both ui and non-ui threads, correct? If run in UI thread ```ResourceLoader.GetForCurrentView()``` should be used, otherwise ```ResourceLoader.GetForViewIndependentUse()```

What's the drawback on using ```ResourceLoader.GetForViewIndependentUse()``` on both UI na non-UI threads? Or should I wrap all in a dispatcher? I've Always used  ```Resource

[2017-08-25 03:22] callummoffat commented on #1521
I think this backwards compatibility issue needs to be resolved before we release 10.2. Personally, I'm of the opinion that maintaining backwards compatibility with <1607 isn't essential.

The AdDuplex numbers show that Windows 10 releases prior to the Anniversary Update have pretty minimal market share. Supporting these versions seems counterproductive, as it would hold back our ability to evolve

[2017-08-25 17:44] #1541 closed, assigned to nobody

[2017-08-25 17:45] #1452 closed, assigned to nobody

[2017-08-25 17:45] JerryNixon commented on #1542
Reference #1452 and http://stackoverflow.com/questions/43729727/i-get-a-dependencyproperty-error-if-i-try-to-customize-error-validation-in-templ/43730452#43730452

[2017-08-25 22:41] JerryNixon commented on #1429
This should be a warning and not an error, right?

[2017-08-25 22:41] JerryNixon commented on #1429
Isn't it already?

[2017-08-25 22:44] JerryNixon commented on #1427
That is a fascinating addition, actually. Could you explain the use case to me, @ChristophvanderFecht

[2017-08-25 22:45] JerryNixon commented on #1423
10.2 does this, and we will need to test the scenario @dg2k

[2017-08-26 23:19] Quico20 opened #1555 "is it possible to use WhenValueConverter to Enum?"
I'm developing an app right now and I wanted to exploit as much of template 10 as possible, one of the advantages of using template 10 is that I dont have to write many converters, but I'm trying to use whenvalueconverter to map my enum values.

I think it is not possible but I tried this:

[code]
it doesnt show me an error but the program break whenever i use the toggleswitch like this:
[code]

i

[2017-08-27 10:40] dg2k commented on #1555
Change the property `Sex` to a `DependencyProperty` and try.

     public Gender Sex
     {
         get { return (Gender)GetValue(SexProperty); }
         set { SetValue(SexProperty, value); }
     }

     public static readonly DependencyProperty SexProperty =
         DependencyProperty.Register(
             nameof(Sex), typeof(Gender),
             typeof([YourContainerType]),
             ne

[2017-08-27 12:29] nonameworks opened #1556 "Why doesn't PrimaryButtons derive from ItemsControl?"
This applies to secondary buttons as well. It would be useful to bind items source and set items template to generate all of the buttons from a collection if we want to be able to change them based on user input or services.

[2017-08-27 12:32] jaedson-barbosa commented on #1545
@JerryNixon  I do those thins but this problem continue, please, download my app and see this problem with your eyes.
www.microsoft.com/pt-br/store/p/nfe-facil/9n7w789dgd57

[2017-08-27 12:33] jaedson-barbosa commented on #1545
@JerryNixon  you will see the memory usage increase very fast.

[2017-08-27 19:29] darenm commented on #1545
We're not going to download and install a paid app :) If you have a sample that replicates the issue, please send us a link to the source.

[2017-08-27 22:14] Quico20 commented on #1555
Thanks buddy, I'll do it!!!

[2017-08-28 04:34] JerryNixon commented on #1556
It's a very complicated ordeal to do what you are talking about, in part because we support several types of templates, but also because we tweak the visual tree in special ways. That being said, there is a part of me that regrets that the HamMenu doesn't support ItemsSource, too. Still, it's important for you to know that we are working on Template 10.2 and it will support as the primary Hamburge

[2017-08-28 04:34] #1556 closed, assigned to nobody

[2017-08-28 15:51] dg2k opened #1557 "NavigationMode in 1.1.13p Branch"
@JerryNixon -- I was testing the Hamburger project with 13p codebase and noticed that `NavigationMode` detection is incorrect on Back navigation.

### Test scenario
- Run the project in debug mode (refs to `Template10 Library` and `Template10.Mobile` projects, i.e., delete 1.1.12 NuGet package ref);
- Navigate to another page (Settings or DetailPage);
- Set a Break in `OnNavigatedToAsync` nav even

[2017-08-29 20:24] JerryNixon opened #1559 "Discussion: is Closed worthwhile?"
Hey @Windows-XAML/template-10-developer-community ,

I am toying with adding an `Application.OnClosed` override to Bootstrapper that would be called when the user clicks the `X` control button (including `Alt`-`F4`) on their app. It would not be called if the app was terminated by the system for any reason, including resource constraints.

There is currently no obvious way to monitor for this even

[2017-08-30 07:32] ChrisProlls commented on #1429
Yes you're right it's a warning.
We were just wondering how to delete this warning because it's annoying into Visual Studio.

[2017-08-30 18:00] rpedretti commented on #1559
Well, as this is a big deal I talked to my brother (wich also develops UWP apps) and some doubts came up.

First, we would have to still check for suspension to save the ViewModel, etc on devices that don't support ```ExtendedExecutionSession.Unspecified``` so to support it we should have na implementation for both scenarios on ````OnNavigatingFromAsync()``?

Second: On close would be nice to hand

[2017-08-30 20:03] schuettecarsten commented on #1559
The new event is `OnClosed`, not `OnClosing`?
Is it possible to add a "do you really want to close app?" dialog to this event and cancel the close?

[2017-08-30 20:11] marcusrunge commented on #1559
I was thinking about possible Use-Cases. These could be storing something in a local or remote database, performing a REST call or TCP transfer. Maybe it Can cover an app Crash an do something if it happens.  In all of These cases the Impression for the user should be "App closed". Whatever follows "Close-App" should be invisible like a short running Background Task, deferral, something like this

[2017-08-30 23:06] JerryNixon commented on #1555
This should be added to the docs (not the wiki)

[2017-08-30 23:07] #1423 closed, assigned to nobody

[2017-08-30 23:36] dg2k opened #1562 "Why is ModalDialog tagged as Deprecated?"
@JerryNixon - I was about to make a PR on **ModalDialog** control (`IsModalChanged` event) and just noticed that you tagged it as **Deprecated**. Did I miss any background on this? Is there an equivalent control in the offing with new UWP version?

I find ModalDialog very useful indeed. Any clarification on the suggested deprecation would be appreciated.

[2017-08-31 03:15] schnitty opened #1563 "Right PaneBorder doesn't show in HamburgerMenu compact view"
I'm trying to implement a design where the background colour of both panes are the same colour.
As such in the compact view I would like to have 1px border on the right that acts as the seperator.

I haven't been able to achieve that by setting the PaneBorderBrush or PaneBorderThickness properties.
I have also tried making the HamburgerButtonGridWidth property a bit wider but that had no effect.

[2017-08-31 06:35] ImCarrot commented on #1559
To be honest, I think it would be useful to have it as modern day apps do need to signoff on sessions, store data on to services or save them as drafts or even maintain analytics. It'll be useful to have. It maybe used in an edge case scenario but yeah.

[2017-08-31 11:38] dg2k commented on #1563
<Style x:Key="HamburgerMenuStyle" TargetType="controls:HamburgerMenu">

          <Setter Property="PaneBorderBrush" Value="Gray" />
          <Setter Property="PaneBorderThickness" Value="0,0,1,0" />

     </Style>

**Tested and works.**

**Important:** You need to define for Light, Dark, HighContrast themes, as shown in **Custom.xaml** style for the Hamburger project.

[2017-08-31 16:51] JerryNixon commented on #1562
Yes, ModalDialog is deprecated because of a new control @darenm is working on. There's a possibility we won't be able to work out the new control, so we haven't talked about the new control yet.

[2017-08-31 21:26] callummoffat commented on #1559
I think it would be quite useful - would provide a out-of-the-box means of saving data before closing the app.

[2017-08-31 22:57] wyepez opened #1564 "Question about Refreshing a Page"
I have noticed that when I refresh a page using NavigationService.Refresh(), the OnNavigatedToAsync method is not called. After reading #1304, #1002 and #995, If I provide a parameter to NavigationService.Refresh(), the OnNavigatedToAsync is called but the NavigationMode parameter is New instead of Refresh. I think the OnNavigatedToAsync method must be called always on Refresh, regardless of wheth

[2017-09-01 16:03] JerryNixon commented on #1564
Well, here's the line that calls the navigation mode in 1.1.13: https://github.com/Windows-XAML/Template10/blob/version_1.1.13p/Template10%20(Library)/Services/NavigationService/NavigationService.cs#L214 And, here's the line that calls the navigation mode in 1.1.12 https://github.com/Windows-XAML/Template10/blob/version_1.1.12_vs2017/Template10%20(Library)/Services/NavigationService/NavigationServ

[2017-09-02 07:16] pekspro commented on #1559
Maybe I misunderstand something but I have some doubts about this. The first thing I think about is the built-in extended session strategy. It is a nice feature but I think it should be off by default. When the OS tells an app to suspend it should be a good citizen and suspend :-). If you are targeting only computers with a lot resources maybe you could do an exception, but it should be an excepti

[2017-09-02 16:53] #1563 closed, assigned to nobody

[2017-09-02 22:32] JerryNixon opened #1565 "Discussion: remove Custom Title Bar"
My plan now is to remove the Custom Title Bar feature of Template 10 because it basically caters to the Windows Phone. I realize it is NOT in the Mobile Extension SDK, but still, can anyone argue to leave it?

[2017-09-02 23:03] mvermef commented on #1565
Nope, no argument here. I am not really concerned with windows mobile now, moved to over to android recently but uwp is still a focus for development. Don't think I really used it any way with mobile site.

[2017-09-03 00:27] mdtauk commented on #1565
Wouldn't a Custom Title Bar be useful for handling changing the windowing title bar?  The bits that change the Status Bar colours, could be deprecated, but not removed.  Its not as if the API surface will change much.  And who knows what Windowing and Shell changes will come to cShell which this control could be useful for?

[2017-09-03 01:53] mvermef commented on #1565
While I agree that cShell will probably bring changes are,  we actually sure that MS will attempt another push into 'mobile' again, that won't fail, the guy/gal above knows that  I wanted Windows Mobile (Phone) to succeed.

Unfortunately,  over the many iterations from windows phone 7 (att focus), being an early adopter from windows mobile 6.5, to what it's not now, future proofing a control for s

[2017-09-04 00:34] schnitty opened #1566 "Right PaneBorder doesn't show in HamburgerMenu compact view"
#1563

Sorry I should have been more clear in my initial issue.

Steps to repro:
New hamburger project
Set PaneBorderBrush and PanBorderThickness properties as shown in previous issue #1563

CompactView:

![image](https://user-images.githubusercontent.com/6099451/30007910-018928c0-9158-11e7-9306-1e8c3e7b4334.png)

NB: No right hand border.

ExpandedView:

![image](https://user-images.githubusercon

[2017-09-04 16:35] jp-weber commented on #1565
Not in this form, but I'd like to see the custom title bar in another form. It would be cool, if the control would be 'hidden" and we manipulate the title bar only with XAML, like https://marcominerva.wordpress.com/2015/05/19/easily-manage-the-title-bar-in-windows-10-apps/

[2017-09-04 19:14] JerryNixon commented on #1566
So, what I am hearing you say is, it's right half the time?

[2017-09-04 20:52] dg2k commented on #1566
@schnitty is right. The right-border collapses when the pane closes to compact form. Hmmm...
Come to think of it, doesn't look right that for the pane to provide the border. Or should it?
On checking my design it's the RootGrid or ContentGrid left-border that provides a hint of border between page and menu pane. Because of this I never ran into a situation where I needed a border for compact pane.

[2017-09-05 00:01] schnitty commented on #1566
@dg2k I'll try out those options and let you know how I go.  Thanks

[2017-09-05 03:44] mvermef opened #1567 "Build Errors"
Does the Demo for ProfileService target XAML 2.0 since it has a different version of the Microsoft.NETCore.UWP not even beta.. It throws errors then getting warnings related to Conflicts with versioning on others...

[2017-09-05 22:48] JerryNixon commented on #1565
I might write a service to handle it, optional, external.

[2017-09-05 22:51] JerryNixon opened #1568 "Discussion: default version optional services"
Template 10, internally, uses several services and, as a result, registers those in the default dependency container which can then be used by the consumer/developer if they like. These:

[code]

However, there are some services which are not used internally in Template10, but are still relatively fundamental. At this time, this is the only example I can pull together:

[code]

The question really

[2017-09-05 22:53] JerryNixon commented on #1559
No, @schuettecarsten, you cannot prevent closing once the user clicks X.

[2017-09-05 22:53] JerryNixon commented on #1559
Well, @rpedretti, my concern is the edge cases where it does not work.

[2017-09-05 22:53] JerryNixon commented on #1559
In the end, @marcusrunge, Suspending or view-model.OnNavigatedFrom should handle those.

[2017-09-05 22:54] JerryNixon commented on #1559
Well, @callummoffat, is OnnavigatingFrom not enough today?

[2017-09-05 22:56] JerryNixon commented on #1559
You know, @pekspro, I am thinking the same thing. Perhaps a setting. SuspensionBehavior of an enum [flags] with things like { `Standard`, `DoNotSuspend`, `ExtendSuspension` } with flags so you could potentially support multiple sates. This is just me thinking out loud here. But it might make more sense.

[2017-09-05 22:57] JerryNixon commented on #1559
The biggest problem is that if a developer tweaks the behavior of the extended state, the `Closed` is no longer reliable, and we might have made a mistake letting developers think they can count on it.

[2017-09-05 22:58] JerryNixon commented on #1567
What are you talking about?

![image](https://user-images.githubusercontent.com/1749983/30087029-7a2a7d8e-925b-11e7-8460-14d5a6caf266.png)

![image](https://user-images.githubusercontent.com/1749983/30087052-8d6316c2-925b-11e7-9385-930822f00d65.png)

[2017-09-05 22:59] JerryNixon commented on #1567
My bad

![image](https://user-images.githubusercontent.com/1749983/30087068-a3f2130c-925b-11e7-8cb7-f9acbc4f0bd2.png)

[2017-09-05 23:00] JerryNixon commented on #1567
This better?

![image](https://user-images.githubusercontent.com/1749983/30087078-b0699bfa-925b-11e7-99dc-a029d6fd1196.png)

[2017-09-05 23:02] #1567 closed, assigned to nobody

[2017-09-05 23:13] mdtauk commented on #1565
Doing it as a control could allow you to place it onto the page, where it contains the TextBlock that can act as the title, host a back button, become the hit-target for a customised TitleBar, and calculate and set it's own height based on the value the API puts out.

I can understand if it no longer includes the mobile Status Bar elements like colours, control of the progress bar, and text elemen

[2017-09-05 23:50] schnitty commented on #1566
What you have suggested will work fine.  Can't believe I didn't think of that myself.  Sometimes you get a bit of tunnel vision.

[2017-09-06 00:42] miker1423 commented on #1512
Yes, I might be doing it the wrong way, can you help me checking it?

[2017-09-06 08:17] IIARROWS commented on #1559
Giving that I think MS should have given a Closing event, I too don't support redundancy.

It might be clear what a "Closed" event does, but you should still support all platforms at least implicitly.
The exception should always been marked as such, and an event that is valid only on some platforms, is not explicit enough.

The day Augmented Reality is mainstream enough, and you decide to extend s

[2017-09-06 17:54] #1566 closed, assigned to nobody

[2017-09-06 18:44] JerryNixon opened #1569 "Information: determine app close"
I am removing the Close logic from 10.2 but I wanted to share out the basic logic for any developer who wanted to add it to their own app anytime later. Using the `RevokedMessage` is unique to 10.2 but you can also just handle the `Revoked` event off the Extended Execution Session, too.

[code]

This operation occurs before the `Suspending` event is raised.

There is no way to intercept/cancel/han

[2017-09-06 18:45] #1559 closed, assigned to JerryNixon

[2017-09-06 18:45] JerryNixon commented on #1559
I think we are all in agreement.

[2017-09-06 18:46] #1562 closed, assigned to darenm, JerryNixon

[2017-09-06 18:46] JerryNixon commented on #1562
@dg2k you can add me to Skype if you want more info "mr.jerrynixon"

[2017-09-06 23:34] mvermef opened #1570 "T10.2 Minimal... DialogService.PromptAsync()"
Never yields the dialog to click a button on... Background overlay shows but dialog never pops.

[2017-09-07 20:05] tibitoth commented on #1568
Make a call to in the tempalete's App.xaml.cs like `container.RegisterT10OptionalServices()` which is register these. Developers can easily delete this line is they don't want to register these.

[2017-09-08 18:40] rpedretti commented on #1568
As a developer i would like to have something like ```BootStrapper.RegisterDefault[ServiceName]()``` and maybe ```BootStrapper.RegisterFor[ServiceName](serviceImpl)``` for custom implementation

[2017-09-11 06:06] harvinders opened #1571 "Is it possible to use ReactiveUI with Template 10?"
I read somewhere that instead of using the `ViewModelBase` we can use another base class from some other MVVM framework (in my case `ReactiveObject`). Is this correct? How would I go about it? Also, more importantly, would it continue to be supported with Template 10 2?

Thanks
harvinder

[2017-09-13 14:52] JerryNixon commented on #117
Two years later, I just used this!

[2017-09-13 14:52] JerryNixon commented on #1571
I do not think that would be possible, no.

[2017-09-13 14:53] JerryNixon commented on #1571
That being said, don't let me discourage you from trying.

[2017-09-13 14:55] JerryNixon commented on #1570
Right, double-check this afternoon.

[2017-09-13 16:17] tibitoth commented on #1571
Maybe if you create a descendant class of `ReactiveObject` and implement all `NavigationService` related interface? Also NavService need to depend on only interfaces in this case (I don't check this is the current state)

[2017-09-19 22:40] Tudball commented on #1294
XAML Actions and Behavior blocks would make great snippets.

[2017-09-22 12:07] harvinders commented on #1571
@totht91 @JerryNixon I am able to do it. I derived a class from `ReactiveObject` and implemented the 3 odd methods of `NavigationService`. That said, the view model now have a different way and classes (`ReactiveCommand`) to handle `INotifyPropertyChanged` event and the commands.

[2017-09-25 18:00] JerryNixon commented on #1571
Good work @harvinders

[2017-09-25 18:00] #1571 closed, assigned to JerryNixon

[2017-09-27 08:53] artemious7 commented on #411
A similar problem has happened to me. Though I didn't try it with Template10, however, I think, the problem might be the same.
As it turned out, when my solution was on my second drive D:\ , which was an SD-card, it refused to run both in Debug and Release modes (with .NET native compilation enabled). But as soon as I moved it to my primary drive C:\, the app got running.
So in case anyone else fa

[2017-09-28 00:16] darenm opened #1572 "A sample issue from UWP test app"
# Test issue
1. First Line.
1. Second Line

[2017-09-28 00:17] #1572 closed, assigned to nobody

[2017-09-28 00:17] darenm commented on #1572
Testing an app

[2017-09-28 00:18] darenm opened #1573 "A sample issue from UWP test app"
# Test issue
1. First Line.
1. Second Line

[2017-09-28 00:18] #1573 closed, assigned to darenm

[2017-09-28 00:21] callummoffat commented on #1572
Question: What kind of app are you testing (I know it’s tapping into Github APIs, obv.)?

Just out of curiosity…

From: Daren May [mailto:notifications@github.com]
Sent: Thursday, 28 September 2017 1:17 PM
To: Windows-XAML/Template10 <Template10@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Windows-XAML/Template10] A sample issue from UWP test app (#1572)

Test issue

[2017-09-28 00:24] darenm opened #1574 "A sample issue from UWP test app"
# Test issue
1. First Line.
1. Second Line

[2017-09-28 00:27] darenm commented on #1572
Jerry and I are teaching a one-day workshop at Oredev in November. We are putting together a sample business app (demo's oAuth, etc.) and this was first tests to make sure the API implementation worked :)

[2017-09-28 00:27] #1574 closed, assigned to darenm

[2017-09-28 00:28] callummoffat commented on #1572
Nice. 😊

I take it the API implementation is at least partly working?

From: Daren May [mailto:notifications@github.com]
Sent: Thursday, 28 September 2017 1:27 PM
To: Windows-XAML/Template10 <Template10@noreply.github.com>
Cc: Callum Moffat <callummoffat.nz@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [Windows-XAML/Template10] A sample issue from UWP test app (#1572)

Jerry and

[2017-09-28 00:34] darenm commented on #1572
Yes - the hard part with the oauth and scopes is now resolved, hence being able to create an issue, etc. The obscure part of the GitHub Authenticated APIs is they return a 404 all of the time instead of a 401 if there is an issue with the auth to prevent discovery of private repos, etc. by random url access. It doesn't give you much of a clue that you neglected to request a specific scope when you

[2017-09-28 00:37] darenm opened #1575 "A sample issue from UWP test app"
# Test issue
1. First Line.
1. Second Line

[2017-09-28 00:37] #1575 closed, assigned to darenm

[2017-10-06 16:01] #1413 closed, assigned to nobody

[2017-10-10 05:56] #1570 closed, assigned to nobody

[2017-10-13 01:54] seankanderson opened #1576 "Not working with Visual Studio 2017 due to Windows Software Development Kit version"
Template 10 doesn't show up in the extension search for Visual Studio 2015 so I moved on to VS 2017.  I found it easily, and installed it without issue, but when trying to create a new Template 10 project it failed--requiring an older version of the Windows Software Development Kit than the one which was installed with VS 2017.

I had to modify the installation from the control panel to choose/ins

[2017-10-13 01:55] #1576 closed, assigned to nobody

[2017-10-13 01:55] NicoTiing commented on #1438
@EspyingStar

How did you fixed it?

[2017-10-18 14:08] ShawnTheBeachy opened #1577 "AwaitableDelegateCommand CanExecuteChanged isn't updating"
I have an `AwaitableDelegateCommand` which is bound to a button.

The XAML:

[code]

The command:

[code]

However, even though my second `RaiseCanExecuteChanged()` is hit, the `canexecute` function isn't called. It's called when I raise it the first time (where `_isRefreshing` is `true`), but not the second time. This results in my button being permanently disabled.

Without any documentation on

[2017-10-23 00:11] nyx-lyb3ra opened #1578 "CreateRootElement never called"
The CreateRootElement method never runs because an exception occurs during the execution of the SetupCustomTitleBar method

Template10 v1.12
Visual Studio 2017
MinTarget: Creators Update 1703 (build 15063)
Target: Fall Creators Update 1709 (build 16299)

[2017-10-23 15:18] darshanrampatel commented on #1577
@TastesLikeTurkey, I tend to just use the regular `DelegateCommand` instead:

[code]

[2017-10-23 16:31] calloncampbell opened #1579 "Roadmap for Template 10 v2 with new FallCreatorsUpdate"
What is the new roadmap for Template 10 with the new features that are part of the Fall Creators Update like the NavigationView and Fluent Design?

[2017-10-23 19:19] ShawnTheBeachy commented on #1577
@darshanrampatel Yes, that works for me. But I thought I'd report my problem with the `AwaitableDelegateCommand`, inasmuch as it seems to be a bug in Template10.

[2017-10-24 08:38] darshanrampatel commented on #1577
@TastesLikeTurkey Yes, just tested and I can replicate your issue. Seems like a bug with `AwaitableDelegateCommand`.

On a related note, what is the benefit with using `AwaitableDelegateCommand` over `DelegateCommand `?

[2017-10-25 08:57] schuettecarsten commented on #1557
I was not able to reproduce this in our app with current 1.1.13p bits. Is it still reproduceable on your code, @dg2k ?

[2017-10-26 19:05] ShawnTheBeachy commented on #1577
@darshanrampatel It would be nice to be able to do `await RefreshCommand.InvokeAsync()` when the page is navigated to.

[2017-10-27 14:35] anthony-salutari opened #1584 "Template 10 Validation Error HRESULT E_FAIL has been returned from a call to a COM component."
I'm really stumped on how to fix this issue.

When my project is built my designer gives me this error
![image](https://user-images.githubusercontent.com/6045425/32109272-39346e6e-bb02-11e7-8e76-901dea0be5de.png)

I've tried emulating the sample project but it isn't using the validation library from NuGet. I'm wondering if it's a problem with the NuGet package.

My Xaml looks like this

`xmlns:val

[2017-10-27 15:23] mvermef commented on #1584
Don't x:bind the property... Reference the samples source https://github.com/Windows-XAML/Template10.Validation/blob/master/Sample/Views

Part of the problem is that x:bind,  next how are you setting the context for the control wrapper to understand CustCode?

[2017-10-27 17:05] anthony-salutari commented on #1584
I'm setting the page context to my viewmodel as such

`xmlns:vm="using:OnlineOrderManager.ViewModels.Customers"`

[code]

[2017-10-27 18:05] mvermef commented on #1584
So bind to the TextBox this way instead of your present...
<Grid DataContext="{Binding Customer}">
    <validate:ControlWrapper PropertyName="CustCode">
        <TextBox x:Name="CustCodeTextBox" Text="{Binding CustCode, Mode=TwoWay, UpdateSourceTrigger=PropertyChanged}"  Header="Customer Code" Margin="0, 25, 0,0" />
     </validate:ControlWrapper>
</Grid>

I know its redundant but this is very spe

[2017-10-27 18:11] mvermef commented on #1584
<Grid DataContext="{Binding Customer}">
        <validate:ControlWrapper PropertyName="CustCode">
          <TextBox x:Name="CustCodeTextBox" Text="{Binding CustCode, Mode=TwoWay, UpdateSourceTrigger=PropertyChanged}"  Header="Customer Code" Margin="0, 25, 0,0" />
        </validate:ControlWrapper>
    </Grid>

So bind to the TextBox this way instead of your present code.

I know its redundant but

[2017-10-30 05:54] AtomicBlom opened #1585 "[10.2] Discussion: Feedback on trialing 10.2"
Hi Jerry (and crew),

I've spent the last few days investigating the possibility of migrating to Template 10.2 to solve a few issues we've had with Template 10.1. (Juddering caused by ViewModels not being pre-populated with data before being assigned to the page, and a few other issues, which seems solvable using OnNavigatingTo)

I'd like to share some feedback I've gathered along the way, but I f

[2017-10-30 21:38] JerryNixon commented on #1585
## Dependency Injection

Before we do much more, add me to Skype (mr.jerrynixon) because I think this will start to clutter GitHub if we keep the conversation going too much here. I like others to see what we are talking about, but at the same time this is the repo for 10.1 and those users don't need to worry about this. For that reason, by the way, I am likely going to create a 10.2 repo, if for

[2017-11-01 13:09] #1584 closed, assigned to nobody

[2017-11-03 15:11] tpspencer opened #1586 "Many projects don't open from master"
I have cloned the master branch and when I open the solution, many of the projects don't open.  Error messages are a bit vague. Is anyone else experiencing this?

Microsoft Visual Studio Professional 2017 Preview (Pre15.3.1)
Version 15.5.0 Preview 1.0
VisualStudio.15.Preview/15.5.0-pre.1.0+27009.1
Microsoft .NET Framework
Version 4.7.02556

C:\Users\{myprofile}\Downloads\Template10-master\Services

[2017-11-03 15:48] tpspencer commented on #1586
Oops, when opening the solution in Visual Studio (Not Preview) it opens fine.

Microsoft Visual Studio Professional 2017
Version 15.4.0
VisualStudio.15.Release/15.4.0+27004.2002
Microsoft .NET Framework
Version 4.7.02556

(Might leave this thread in here so others don't waste time on this issue.)

[2017-11-03 15:48] #1586 closed, assigned to nobody

[2017-11-03 16:17] tpspencer commented on #1530
Not many comments on 10.2 since August.  I am starting a new project and would like to test out 10.2.  What is the latest brain dump on where we sit?

[2017-11-03 22:02] stefankueng commented on #1557
Had similar problems with 1.1.13p in my project:
* mode was "New" instead of "Back"
* but also the "parameter" was wrong: I use a string there, but what I got instead of my expected string was
`{"Type":"System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a","Data":"\"EXPECTED_STRING\""}`

going back to 1.1.12 solved the problem. But I had to delet

[2017-11-07 21:29] mjmeans opened #1587 "Library trying to navigate without using Template10"
I'm using a library that upon a certain call, tried to navigate tp it's own XAML UI views without any knowledge of Template10. I've tracked it to the following code "var rootFrame = Window.Current.Content as Frame; rootFrame.Navigate(typeof(SpecialPage), parms);" which of course fails. Window.Current.Content is returning a Template10.Control.ModalDialog which is a ContentControl, not a Frame, so i

[2017-11-09 10:23] darenm commented on #1587
It sounds like you are using an API that makes assumptions about how the root content of an app is setup. Does that API allow you to supply a Frame instance? If so, you could pass in the T10 Frame for some level of integration. What is the library giving you?

[2017-11-09 10:29] darenm commented on #1579
If you look at 10.2 you will see that it is being "broken apart" into various packages to separate out the controls and the core services of Template10. As such, most of the Template10 library won't "care" about things like the `NavigationView` control and UI design. Of course, we intend to extend `NavigationView` such that there is a nice integration story with the Template10 `NavigationService`.

[2017-11-10 04:40] mjmeans commented on #1587
No it doesn't. The API is HockeyApp-UWP with ported over UpdateManager code and XAML pages from HockeyApp-WP81.

Is there a way to tell Template10 to use a normal window frame (as a root frame) and host all Template10 content within that frame? If this were possible, then any library that tries to display a message using "var rootFrame = Window.Current.Content as Frame;" would succeed. With the ca

[2017-11-10 15:10] darenm commented on #1587
Ah this thorny issue. This is, in reality, a bug with that version of HockeyApp - it is an erroneous assumption that every app would have a root control that is a Frame (many do not - not just T10 based projects). That said, T10 provides the means to inject your own root element by overriding a method within `app.xaml.cs`... I'm not able to test this right now, but I think it is something like:

[

[2017-11-10 18:15] mjmeans commented on #1587
Wouldn't that disable the Busy page?

[2017-11-13 04:49] mjmeans opened #1588 "Error after updating Target version to Fall Creators Update"
I'm developing a UWP app for Windows 10 IoT and I need to use some features introduced in Fall Creators Update 16299. So I try changing my already built app target version to 16299 and leave the min version at 14393 for compatibility. When I open up any XAML page that uses T10 I get numerous errors. "unable to instantiate  settingspageviewmodel", "the resource wideminwidth could not be resolved",

[2017-11-13 14:07] mvermef commented on #1588
Is this the nuget package source is t10.01, it will probably not work correctly without necessary changes from t10.2 source in the master

[2017-11-13 15:25] dg2k commented on #1588
Just to confirm one point: I have no issues with the Target set to 16299 and min ver 14393 when using the source code. It builds okay, and as @mvermef indicated perhaps the nuget package has issues??

It will help to delete the hidden **.vs** folder in your solution folder, as well as **bin** and **obj** folders for your projects, so as to start with a clean slate. Visual Studio's *memory effect*

[2017-11-14 21:29] schuettecarsten commented on #1588
I also have no issues with target version 16299 and min version 10240 and template 10 source code from 1.1.13p branch. So, maybe we should update the NuGet package for version 1.1?

[2017-11-14 21:56] mjmeans commented on #1588
The NuGet package is updated to the newest release, 1.1.12. I don't want to use prerelease.

[2017-11-14 22:10] schuettecarsten commented on #1588
Even if you do not want to use the prerelease 1.1.13 build, can you just try it and check if the error still occurs?

[2017-11-14 22:30] mjmeans commented on #1588
I can probably do it tomorrow. I have to finish another task in the project first. I'll post my results after that.

[2017-11-16 17:53] BuhTig4ever opened #1589 "BootStrapper.Current.NavigationService.OpenAsync fails - not always"
When we start the UWP Template10 App from an desktop app that send right after a command to build up a second view, that works.
When we start the App and then trigger from an desktop app to build up a second view, we get always exceptions (at least so far on one machine, but it works on others). Before this Exception Template10 does not log any error. Unfortunately also the location where the exce

[2017-11-18 15:40] mjmeans opened #1590 "FlyoutBase within HamburgerMenu?"
So I want one of the hamburger menu items to display a list of subordinate commands similar to Windows 10's Start Menu > Power control. So I add this to Shell:
[code]
So next I need a FlyoutBase so I try to ad it to HamburgerButtonInfo, but the property AttachedFlyout doesn't exist got HamburgerButtonInfo. So I add it to HamburgerMenu instead.
[code]
I get: Exception = {System.InvalidCastException

[2017-11-18 16:06] mvermef commented on #1590
ButtonType="Literal", might be a solution to model the contents of the button the way you want.

[2017-11-18 17:37] mjmeans commented on #1590
The solves the exception, but the flyout doesn't appear.

[2017-11-18 18:21] mvermef commented on #1590
right so you're going to have to figure out the best solution to that flyout issue, I just knew that the ButtonType was part of the solution to the exception.

[2017-11-18 20:54] mjmeans commented on #1590
So almost doable. I put the flyout interaction inside the StackPanel inside HamburgerButtonInfo. The only problem is that clicking on the power icon causes the Hamburger menu to expand out. Is there a way to disable that for that HamburgerButtonInfo item only?

[2017-11-19 20:08] mjmeans opened #1591 "How to prevent HamburgerButtonInfo ButtonType="Literal" from opening the hamburger menu"
I have a HamburgerButtonInfo ButtonType="Literal" that opens a MenuFlyout. When the user selects the button, the menu flyout appears but the Hamburger menu also expands. How to I make sure hamburger menu remains in it's original state )opened or closed) if this button is tapped/clicked?

[2017-11-19 20:09] #1590 closed, assigned to nobody

[2017-11-20 15:19] BuhTig4ever commented on #1589
Have had also another none-functioning. The debug-Build of the App closed right after starting before it has reached any of our code. Found in internet a handling for this:
Change account type to standard. try to run the app. change account type back to administrator. And due to some mysterious changes in Windows that handled it. So, now after about a week non-functional debug mode that works agai

[2017-11-22 17:15] ghost commented on #1579
I would love to see a Messenger shipped with T10.
Adding a whole MVVM Framework (e.g.: MVVM Light or PRISM) to the project just to use their Messenger implementation is a bit much overhead.

[2017-11-24 13:17] zakkar1 opened #1592 "Not Keeping Permissions when using Template 10"
Hi ,
I have created a new app with my VS2017 using the Template 10.
In my app I want to use the camera and the microphone so I did the appropriate changes in the package manifest.
I run my app from inside VS to debug and see how things going.
If I try to use the mediacapture , initializeasync method I get prompted to give the permission access.(Let <app name> access your camera ? etc)
After accept

[2017-11-24 13:19] zakkar1 commented on #1592
The files are attached also
[Hamburger1.zip](https://github.com/Windows-XAML/Template10/files/1501745/Hamburger1.zip)

[2017-11-24 15:47] dg2k commented on #1592
This has nothing to do with Template 10. It has to do with Windows 10 Apps. Asking the user for permission is part of the security built into UWP and I don't think users regard this as an inconvenience.

I haven't done camera and microphone programming, but I know access to some resources have the option of saving permission tokens by apps, so as to avoid asking for permission again and again (e.g

[2017-11-24 16:17] darshanrampatel commented on #1592
@zakkar1, like @dg2k says, this is a UWP issue. I have used the permissions for UWP successfully (in `Package.appxmanifest`):
[code]
You may find that, depending on your Visual Studio settings, your app is re-installed every time in debug mode, so would reset any permissions granted.

[2017-11-27 09:56] zakkar1 commented on #1592
Hi Everyone ,
This problem appeared after the update and only in VS2017 UWP apps while doing debugging.

It has nothing to do how to activate the permissions etc. I know how to do those things. I'm not asking about that.
If you want to reproduce the problem just create a Template 10 app with Hamburger menu and call the initializeasync method of the Media element. You will understand what I'm talki

[2017-11-28 10:28] demiantres opened #1593 "Visual Studio 2017 Community Edition not supported"
Both the nuget and the visx installation file cannot be installed with Visual Studio 2017 Community Edition.

[2017-11-28 14:39] mvermef commented on #1593
I would suggest trying thru vs 2017 or downloading separately cause its been tested to work with 2017 rtm, now the latest updates might be a different story.

[2017-11-28 16:21] #1593 closed, assigned to nobody

[2017-11-28 17:03] jp-weber opened #1594 "[1.1.12] ObservableItemCollection only works with Binding instead of x:Bind in DataTemplate"
I working with ObservableItemCollection and I have regognized that for example the ListView works only correct with a DataTemplate where the variables uses Binding instead of x:Bind.

How is it justified that x:Bind not working?

[2017-11-28 17:13] michaelhutchful commented on #1594
When you set the itemSource using x:bind, then in your data template you need to specify x:DataType as the data structure you are using for your ItemSource. This is an XAML thing, not template 10.

https://stackoverflow.com/questions/38520592/binding-data-into-listview-through-xbind-in-uwp

I hope this helps
Sent from Mail for Windows 10

From: revan1199
Sent: 28 November 2017 17:03
To: Windows-XA

[2017-11-28 17:36] jp-weber commented on #1594
I am aware of this. In my case I use in the DataTemplate of course x: DataType.

For my test I use the sample "MultiplePageHeaders" and created its own class for 'mymodel' model.
If I change in the DataTemplate Binding => x:Bind, it doesn't work.
[code]

[2017-11-28 18:51] darenm commented on #1594
A key difference to understand between `Binding` and `x:Bind` is that `Binding` is `OneWay` by default, whereas `x:Bind` is `OneTime` by default - look at the documentation for the `Mode` property [here](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/x-bind-markup-extension). So just replacing `Binding` with `x:Bind` is not like for like - if you are assigning a new instance to the `Vi

[2017-11-28 19:30] jp-weber commented on #1594
Thank you! Mode=OneWay fix this.

[2017-11-28 19:30] #1594 closed, assigned to nobody

[2017-12-01 08:20] Florian-Haar opened #1595 "RaisePropertyChanged in different threads crashed"
I created an App with multiple Windows. If I open a new Window in a new thread and the RaisePropertyChanged event is called than I get this error message:
"**Unable to cast COM object of type 'System.ComponentModel.PropertyChangedEventHandler' to class type 'System.ComponentModel.PropertyChangedEventHandler'. Instances of types that represent COM components cannot be cast to types that do not repr

[2017-12-07 11:27] mjmeans opened #1596 "How to change only the HamburgerButton forground color in Custom.xaml"
I tried adding setter for HamburgerForeground or NavButtonForeground in Custom.xaml but that doesn't seem to have any effect. I want to change the foreground color of only the Hamburger button glyph to Green. How can this be done?

[2017-12-07 11:43] mjmeans opened #1597 "Xaml designer NullReferenceException"
The XAML designer throws an error when I set the project min version and target version to Build 16299 with Template10 version 1.1.13-preview-20171207 and VS 2017 Community v15.5.0.
[code]

[2017-12-08 00:18] JerryNixon opened #1598 "Holy crap, Template 10.2 runs"
I will be checking it in tomorrow. Some real, valuable changes.

![image](https://user-images.githubusercontent.com/1749983/33745184-8b3c08c6-db72-11e7-87ae-d92b85669a05.png)

[2017-12-08 00:21] mvermef commented on #1598
🤗

[2017-12-08 00:47] callummoffat commented on #1598
Glorious.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Morgan Vermef <notifications@github.com>
Sent: Friday, December 8, 2017 1:21:07 PM
To: Windows-XAML/Template10
Cc: Subscribed
Subject: Re: [Windows-XAML/Template10] Holy crap, Template 10.2 runs (#1598)

🤗

—
You are receiving this because you are subscribed to this thread.
Reply to this email directl

[2017-12-08 19:19] Joebeazelman opened #1599 "Newtonsoft.Json v11.0.1 throws exception Method not found"
I thought you would like to know that v11.0.1 of Newtonsoft.JSON throws the following exception:
This is a fresh project. The error disappeared when I downgraded the version.

Method not found: 'Void Newtonsoft.Json.JsonSerializerSettings.set_TypeNameAssemblyFormat(System.Runtime.Serialization.Formatters.FormatterAssemblyStyle)'.

[2017-12-08 22:24] callummoffat commented on #1598
How's this coming?

[2017-12-09 01:16] mvermef commented on #1599
Which makes sense since not all upgrades to libraries are without breaking changes.  The current version in nuget is not up to date with some of the external libraries

[2017-12-10 02:35] Joebeazelman opened #1600 "MasterDetail and perhaps other Samples don't build"
I cloned the repo from GitHub version "1.1.13-preview-20161207" and Template10.Core couldn't be found.  I tried to reference the assembly directly from the main solution build artifacts, but it wasn't sufficient.  I finally resolved the errors and was able to launch the application by adding Template10 package from Nuget because your build system is utterly useless!

I must state emphatically, the

[2017-12-10 14:27] JerryNixon commented on #1598
Sync complete. Needs some work. View-model isn't wiring up. But close, I think. Resizer isn't rendering. Suspension isn't seeming to fire. Lots of issues. All probably tiny.

[2017-12-11 15:35] mvermef commented on #1598
Talk about refactor of the refactor, I like how condensed the assembly count has reached

[2017-12-12 18:51] jp-weber opened #1601 "Discussion: using HamburgerMenu from UWP Community Toolkit"
I saw that UWPCommunityToolkit have a great HamburgerMenu control with NavigationView. Why we don't build NavViewEx on this implementation?

https://github.com/Microsoft/UWPCommunityToolkit/tree/master/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu

[2017-12-15 23:57] dg2k opened #1602 "Real-world examples of T10 in Windows Store"
Real-world examples/applications of T10 in Windows Store:

- [dataWallet app](https://www.microsoft.com/store/apps/9p32hsfjr401)

- [dataWallet Pro app](https://www.microsoft.com/store/apps/9n17k0l0jg2d)

[2017-12-17 18:37] tibitoth commented on #1601
That's not correct because the UWPCommunityToolkit's HamburgerMenu is obsolate: [see](https://github.com/Microsoft/UWPCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls/HamburgerMenu/HamburgerMenu.cs#L30).

They suggest to use NavigationView instead.

[2017-12-18 18:09] #1601 closed, assigned to nobody

[2017-12-18 18:13] michaelhutchful commented on #1602
I am not sure if you are asking for some apps, but here is mine

- [Slydepay](https://www.microsoft.com/en-gh/store/p/slydepay/9nblggh4rvpq)

[2017-12-18 18:25] JerryNixon commented on #1598
I think we needed to try the breakout of everything to see if it made sense. It didn't.

[2018-01-04 08:18] rrogahn commented on #1598
Looking forward to seeing the final bits for 10.2.  Any idea of a timeline?

[2018-01-09 01:45] JerryNixon commented on #1600
Thanks for your feedback

[2018-01-09 01:45] #1600 closed, assigned to nobody

[2018-01-09 03:37] Joebeazelman opened #1603 "Template10 Validation Design Questions"
I am looking for a clean and concise form validation library suitable for UWP.   Right now Template10.Validation appears to be high on the list, but its programming model differs from more established ones found in ASP.NET/MVC and NET Forms.

Template10.Validation's documentation concisely describes how to apply it to a Model, but it's unclear wether it can also be applied to a ViewModel. It state

[2018-01-15 14:41] Quico20 commented on #1603
Man, I'm using T10.Validation with MVVM pattern without a problem!!! on the UWP app that i'm developing right now!!!

[2018-01-17 02:13] noft89 commented on #464
https://github.com/Windows-XAML/Template10/issues/464

[2018-01-19 16:13] JerryNixon commented on #1603
Because T10 view-models want to use ViewModelBase and because T10.Validation uses ValidModelBase it's not going to be straight forward to apply Validation to your view-model without some custom code.

It's a worthwhile conversation to point out that the view-model is not a model. If it is anything, it operates as a facade to a model. If all of your data is exposed through your view-model as if it

[2018-01-19 21:02] Quico20 commented on #1603
Hey Jerry, You are my favorite developer, hopefully one day, i can be as great as you are!!! I love T10 validation, I'm gonna finish my app in three more months and then i'll begin my same app with xamarin.forms I guess I'll have to build up my own T10.Validation project for Xamarin.
Thanks for such amazing library!!!

[2018-01-22 19:56] ishrat9 opened #1610 "Template 10 Validation : Validation with Behaviours doesn't refresh style on subsequent page loads"
Everything works great for first time page load. When I load the page for second...the error style is not reflecting on UI. Though IsValid says its false. Now when I load same page third time it loads validation style of Second load. I know Iam missing something here. Appreciate if you point me in right direction. btw, I am using ViewModel Locators

[code]

[2018-01-22 21:15] JerryNixon commented on #1610
Are you sure the object is correctly populated?

[2018-01-22 21:23] JerryNixon commented on #1603
Hope to support XF in three months.

[2018-01-22 21:46] ishrat9 commented on #1610
yes Jerry. I see values being changed on UI from one page load to another. Also IsValid does have correct value. its just not refreshing UI. Also I don't see this behavior with control wrapper. Control Wrapper just works fine.

[2018-01-22 23:10] mvermef commented on #1610
Sounds like INotifyPropertyChanged not getting fired on viewmodel property

[2018-01-22 23:16] ishrat9 commented on #1610
Initially I thought so, whenever I change the value its hitting the break point and updating IsValid which is tied to my Save button.

[2018-01-22 23:18] mvermef commented on #1610
Can you show us the viewmodel and model if you can.?

[2018-01-22 23:30] ishrat9 commented on #1610
Attached Sample below

[2018-01-23 00:28] mvermef commented on #1610
Ok where's the validator

[2018-01-23 01:40] ishrat9 commented on #1610
oops Sorry updated now. I will create the sample tomorrow to reproduce. Please note I am using ViewModelLocator

[2018-01-24 00:11] ishrat9 commented on #1610
Please find the attached [Sample.zip](https://github.com/Windows-XAML/Template10/files/1658041/Sample.zip).

1. Run the application and click on submit. you will see the style changes on the textbox.
2. Now enter some value and go back previous page by clicking back button.
3. Click the submit again. Now you don't see the error style changes.

Thanks,

[2018-01-24 00:59] mvermef commented on #1610
![image](https://user-images.githubusercontent.com/2018777/35308872-56a03f66-006f-11e8-95f8-5f02344eb069.png)

Something doesn't like the idea of setting the TextBox name to the ValidationBehavior's PropertyName

[2018-01-24 20:01] ishrat9 commented on #1610
Just tried by removing Name no luck. Try playing around few times back and forth. you will be able to reproduce this,

[2018-01-25 01:22] mvermef commented on #1610
Yeah I know it won't work, already discovered this.  I don't see the answer to using the behaviors.  I have only used the control wrapper, that and I have never seen a working example of behaviors only.

[2018-01-25 17:20] ishrat9 commented on #1610
Thanks. Will switch back to control wrapper for now and continue to debug the issue with behaviors only

[2018-02-03 10:13] FrayxRulez opened #1611 "App's NavigationService is null"
App's `NavigationService` is null when launching the app and any My People window is open already.

[2018-02-03 11:56] FrayxRulez opened #1612 "Page bindings are updated even when navigating from."

[2018-02-03 12:04] FrayxRulez opened #1613 "Cursed be the day when I decided to use Template10 as the framework to build my app"

[2018-02-03 13:21] michaelhutchful commented on #1613
Hi could you detail the issues you are having? I use template 10 for a payment app been running for a year now and I haven't really had any app breaking issues. I feel @JerryNixon and team have done a great job here.

[2018-02-03 13:39] dg2k commented on #1613
Wow! That is quite strong and an unjustified statement by your title @FrayxRulez. I use Template 10 without any issues.

Forgive the ad plugin but to substantiate my point more objectively, check out my apps [dataWallet](https://www.microsoft.com/store/apps/9p32hsfjr401) and [dataWallet Pro](https://www.microsoft.com/store/apps/9n17k0l0jg2d) at Microsoft Apps Store. Free trial there if you want to

[2018-02-03 14:21] mvermef commented on #1613
Pretty wrong to be that negative here,  considering you just posted 2 other questions without code or even some code snippets to see what you are attempting to do.

I suggest you rethink that rude tude

[2018-02-03 15:07] FrayxRulez commented on #1613
Sorry, I don't have any problem with the people that's contributing to this project, and I don't want to be rude.
It's just quite frustrating that this library never received any kind of quality update since 10/17/2016.
I'm using this library in a quite [big project](https://github.com/UnigramDev/Unigram) and #1612 #1611 aren't the first issues I've encountered for sure.
It's surely useless to ope

[2018-02-03 15:22] michaelhutchful commented on #1613
Now you have relieved this bad feeling let’s get to helping you. Please give us some sample code and steps to recreate your issue

Sent from my Windows 10 phone

From: Fela Ameghino
Sent: 03 February 2018 15:07
To: Windows-XAML/Template10
Cc: michaelhutchful; Comment
Subject: Re: [Windows-XAML/Template10] Cursed be the day when I decided to useTemplate10 as the framework to build my app (#1613)

S

[2018-02-03 15:26] dg2k commented on #1613
@FrayxRulez  - Again the statement you're making is incorrect re quality update. Please be reminded that this is free software made possible by community contribution as @JerryNixon's brainchild. The onus is on the developer to assess suitability and build around T10, at the same time never overlooking the noble intent of those who are working hard to contribute and share this wonderful UWP framew

[2018-02-03 15:53] FrayxRulez commented on #1613
The NuGet package doesn't get updated since 10/17/2016

It might even be free software, but as someone stated this is the most used UWP library in the Microsoft Store.

[2018-02-03 16:19] dg2k commented on #1613
You can get the source code and compile it yourself. Is is not that difficult.

I am not saying everything is perfect (you have imperfections even with paid-for software), but considering what devs are expected to build around T10, your unkind criticisms are unwarranted.

- where NuGet lags behind, add you own and if you care to share, contribute your code.
- where T10 is inadequate, again enhance

[2018-02-03 16:21] mvermef commented on #1613
@FrayxRulez right cause there hasn't been a reason to update the stuff in the nuget package since it's version hasn't changed.  As for the current source if that is what you are using its basically alpha mode and subject to change at any time.  I can say the source has changed dramatically and most will say this since its been refactor of the refactor.  The direction that is being seen with the re

[2018-02-03 18:07] FrayxRulez commented on #1613
I of course have my own fork of the project.
Can someone point me out why [this line of code](https://github.com/Windows-XAML/Template10/blob/version_1.1.12_vs2017/Template10%20(Library)/Services/NavigationService/NavigationService.cs#L65) even exists?

[2018-02-03 22:04] tibitoth commented on #1613
I completely understand the fustration of @FrayxRulez. This library was featured on many places like channel9, MVA courses but on a sudden day (nearly when Windows Template Studio and UWPCommunityToolkit were announced) the Template10 hype broke down to zero from the Microsoft official channels. I suspect some dissonance between @JerryNixon and the other side of the UWP community. I don't know wha

[2018-02-07 01:33] panoukos41 commented on #1611
Yea i was using my own navigation service but my app was crushing on the app back button, creating a service just so that it exists got it solved (and it always needs to be created manually especially if you want to use it) but it was a pretty annoying bug :/

    var nav = NavigationServiceFactory(BackButton.Ignore, ExistingContent.Exclude);

[2018-02-08 11:05] FrayxRulez opened #1615 "Template10 is supposed to be optimized to work with multiple windows, but it isn't"
Template10 supposed to be optimized to be used with multiple windows (syncronization context, OpenAsync and so on) but it isn't:
- `SystemNavigationManager` back button is handled only for the `Window` where `BootStrapper` has been initialized for the first time (_GetFor**Current**View_), so any additional window created won't handle it
- `KeyboardService` is a singleton, but still connected to th

[2018-02-09 06:07] mjmeans opened #1616 "Hang in UWP app"
I have a hang in a UWP app that might be related to Template 10. The app reads from a USB sensor about 55 times a second and updates a bindable property that is referenced by a Syncfusion gauge control. When the app hangs, the debugger cannot break in, and the close X button cannot stop the app. At some point 5 to 20 seconds later, the app unfreezes by itself and starts running again.

I'm using V

[2018-02-09 14:59] FrayxRulez commented on #1612
I'm quite sure this line of code shouldn't exist: https://github.com/Windows-XAML/Template10/blob/version_1.1.12_vs2017/Template10%20(Library)/Services/NavigationService/NavigationService.cs#L65

[2018-02-09 15:57] arpadbarta commented on #1616
Do you have any logic in any of the setters that could block?

[2018-02-09 15:58] darenm commented on #1616
Updating a binding 55 times a second is going to bog down anything if you consider that an event has to be raised, then responded to, the UI refreshed, rinse and repeat. One of the reasons [System.Reactive](https://github.com/Reactive-Extensions/Rx.NET) exists is to assist with handling this type of event flooding.

You may have a good reason for capturing the data from the device and logging it 5

[2018-02-09 16:41] michaelhutchful commented on #1616
Hi, what are you using the property for? If it is data binding, I will assume that your a displaying something. In that case you could pace the update to as little as twice a second and it should be fine

Michael
Sent from Mail for Windows 10

From: mjmeans
Sent: 09 February 2018 06:07
To: Windows-XAML/Template10
Cc: Subscribed
Subject: [Windows-XAML/Template10] Hang in UWP app (#1616)

I have a h

[2018-02-09 17:23] mjmeans commented on #1616
I was under the impression that databinding would trigger an update of the UI thread like WM_PAINT such that prior unprocessed triggers of the same property would be skipped in favor of the most recent trigger. That way the UI thread operates at the highest rate for any given PC.

Nevertheless, this problem occurs after several data captures. Each data capture lasts less than 10 seconds, so less t

[2018-02-09 18:36] mjmeans commented on #1616
I'm doing my timing using System.Windows.Threading.DispatcherTimer to time when to stop on screen prompts to begin and when to stop the data collection window. I'm wondering if DispatcherTimer may be trying to use the core window dispatcher which isn't hooked up in T10. Do you know of any issues with using DispatcherTimer with T10?

[2018-02-09 19:56] mjmeans commented on #1616
I tried changing the timing to use ThreadPoolTimer with a period of 100 ms and calling BootStrapper.Current.NavigationService.GetDispatcherWrapper().Dispatch within the timer callback, but to no evail. Hang still occurs.

[2018-02-09 21:28] mjmeans commented on #1616
I also tried adding a threadpooltimer to update the gauge once every 100 ms instead of as the data is received. No difference.

[2018-02-09 22:27] mjmeans commented on #1616
I believe I have identified the cause. SyncFusion's Chart control has a LineSeries collection that for some reason ties up the UI thread when using Template10. This control doesn't seem to have the same problem without Template 10, so there must be some kind of thread dispatch issue. The solution was to change to the FastLineSeries collection which provides fewer UI features, but is sufficient for

[2018-02-11 23:56] rfalanga opened #1617 "What version of Windows 10 does Template 10 work with?"
I'm still pretty new at using Template 10. I've got a UWP app in the Store. When I created the app in Visual Studio, I was given a chance to specify which version of Windows 10 I wanted to target. But when I went to create a quick Template 10 app, I noticed I wasn't given any option.

So, what version(s) of Windows 10 does Template 10 target?

[2018-02-12 00:07] mvermef commented on #1617
10.0.14393.0 and below, doesn't mean it won't work on later versions just won't use newest bells and whistles

[2018-02-12 00:48] dg2k commented on #1617
I use T10 with the latest Build 16299 and as @mvermef pointed out you just miss out on the latest features, for instance if you want to use the vibrant colors 16299 provides.

Just as an aside look at this interesting stat on [Windows 10 versions worldwide](http://reports.adduplex.com/reports/2018-01/).

Build 15063 aka ver. 1703 (April 2017) and Build 16299 aka ver 1709 (Oct 2017) together accoun

[2018-02-12 13:23] michaelhutchful commented on #464
Hi, can I get help on this issue? My App class is decorated with Bindable, I can find any other custom xaml that use x:Class. However I get this very issue when I try to use an xunit project

[2018-02-12 15:01] yunusefendi52 opened #1618 "Template10 trying to download GitV2 when install the template from vsix"
When I install Template10 from vsix file, it's trying to download GitV2, I know I can just download that but what I expect is I can install it without to download anything.

Thanks 😄

[2018-02-12 15:08] mvermef commented on #1618
What do you mean gitv2? The template that is vsix is version 1.1.13p, based source.  If you don't want starter templates, it's on nuget

[2018-02-12 17:26] yunusefendi52 commented on #1618
I couldn't take the screenshot immediately (because I was eat and far enough from the keyboard), so I re-installed the template again and it says "Download complete":

![screenshot 62](https://user-images.githubusercontent.com/19399214/36110202-691a0114-1054-11e8-8fb7-6cacc68d33dc.png)

[2018-02-14 07:47] sr258 commented on #464
Still an issue in February 2018... Unit testing in UWP is seriously flawed!

[2018-02-14 09:22] michaelhutchful commented on #464
Actually, it is not UWP but, it has to do with template 10, ALL my experimentation works, except when you use it with T10

[2018-02-14 15:15] Hamza54 commented on #1564
Hello,
I have the same issue with the NavigationService.Refresh(). I see that the issue has been opened for more than 6 months. Any updates on this issue?
Thanks

[2018-02-15 01:42] rfalanga commented on #1617
Thank you all for this feedback. Looks like 10.0.14393.0 will work, if that's the Anniversary Update. Which is what I want to target.

[2018-02-15 21:50] JerryNixon commented on #1618
Hey guys. I will try installing the current version through the gallery and see.
Out of curiosity, does this even matter?

[2018-02-15 21:52] JerryNixon commented on #1617
@rfalanga I think targeting the Anniversary Update is acceptable. Depending on your use case, I highly recommend you consider Fall Creators Update as your target. It is a considerable improvement . Template 10 supports all of them, so it's all up to you.

[2018-02-15 21:52] #1617 closed, assigned to nobody

[2018-02-15 21:58] JerryNixon commented on #1616
Oddly enough, I think the human eye can only effectively differentiate 24 frames per second. That being said, if you want the user to respond to your data, or even understand it, updating with such frequency likely  undermines your goal. I can't even move my mouse to a button and click it fast enough to account for 1/55 of a second. I think what you really want to do is to throttle your data so th

[2018-02-15 21:58] #1616 closed, assigned to nobody

[2018-02-15 21:59] JerryNixon commented on #1615
Yes, @FrayxRulez, what you have discovered is real. My best suggestion to you is that you copy the code for the service and invoke it on the correct view for your own use. I think as you continue to create a multi-window UWP you will find more problems. The truth is, until RS4 (coming in Spring) you might find these are not adequately addressed. The good news is, they will be addressed.

[2018-02-15 21:59] #1615 closed, assigned to nobody

[2018-02-15 22:00] JerryNixon commented on #1615
One more thing I want to share with you is that the next version of Template 10 is very different and does account for what is available in FCU, which is not a lot more. But it also makes changing these implementations a simpler prospect.

[2018-02-15 22:05] yunusefendi52 commented on #1618
Nope 😄, I just fill an issue because it's the first I found that it's happening

[2018-02-15 22:05] JerryNixon commented on #1612
That one line is perhaps one of the most significant lines in all of Template 10. Here's what it does. When a page is navigated to, its render pipeline begins and is managed by the platform. After its navigation but before its rendering is complete, I create or collect your page's view-model. I also call OnNavigatedToAsync() and await it. This can take however long, since the implementation code i

[2018-02-15 22:06] JerryNixon commented on #1612
Now that I have described what it does. Can you help me understand why you have a problem with it? I have to say, you are one of the only to have ever even discovered this, let alone had any kind of problem with it. This, by the way, is fundamental and part of the next version of Template 10, too. As a result, I am very interested to hear your perspective. If you still think it is a problem.

[2018-02-15 22:10] JerryNixon commented on #1612
Okay, perhaps I have responded before I completely understood the problem. Looking more closely, because I am genuinely interested, I realize you are right. I am updating the bindings of the exiting page on that line of code. It is here that I update the entering page:

Yeah, that is a real issue. I see it now. I think you will discover that when you look at the preview branch of the update for T1

[2018-02-15 22:10] JerryNixon commented on #1612
I am only closing this issue because it is resolved in 13p. I realize 13p has not been published (though you can use it in NuGet if you like). I will make a point to get 13 updated in NuGet quickly. There are a few minor PRs I will include before pushing.

[2018-02-15 22:10] #1612 closed, assigned to nobody

[2018-02-15 22:13] JerryNixon commented on #1611
Thanks @panoukos41 for this tip. I've done this in edge cases, too. I have not created a custom people add-in yet with Template 10. I will make sure to test it with the new Template 10 before going much further. I am closing this issue because there is a workaround. The next version of Template 10, as an FYI, is really intended for FCU and later, which includes people. So, that's worth testing.

[2018-02-15 22:13] #1611 closed, assigned to nobody

[2018-02-15 22:25] JerryNixon commented on #1610
I am grateful you have a solution. I have had trouble with the behaviors myself. I think it's more about the behaviors and less about what you are doing. That being said, it deserves some more research. I wish your sample project worked for me. I load it fine, but I don't see ANYTHING happening when I type.

[2018-02-15 22:26] JerryNixon commented on #1602
Thanks guys. There are so many more. I have Store telemetry to look at, so I have the advantage, but I can't share. Template 10 is the second-most popular library in all of the store.

[2018-02-15 22:26] #1602 closed, assigned to nobody

[2018-02-15 22:27] JerryNixon commented on #1599
You will need to downgrade until we release 13

[2018-02-15 22:27] #1599 closed, assigned to nobody

[2018-02-15 22:32] dg2k commented on #1602
@JerryNixon - What's the no 1 library? Just curious.

[2018-02-15 22:33] michaelhutchful commented on #1602
Me too

Sent from my Windows 10 phone

From: dg2k
Sent: 15 February 2018 22:33
To: Windows-XAML/Template10
Cc: michaelhutchful; Comment
Subject: Re: [Windows-XAML/Template10] Real-world examples of T10 in WindowsStore (#1602)

@JerryNixon - What's the #1 library? Just curious.
—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-15 22:44] ishrat9 commented on #1610
Thanks Jerry for checking it out.  Just click on submit and enter some value on Max Duration Field. Back and forth couple of times. you will see behaviors stop working.

[2018-02-16 10:57] bubblepipe opened #1619 "How to use MDL2 font instead of SymbolIcon.Symbol property in Hamburger?"
For example, the icon E9D9 Diagnostic, is not included in SymbolIcon.Symbol.
![screenshot 288](https://user-images.githubusercontent.com/30717258/36304567-aefbac3c-1342-11e8-907d-d814107eb636.png)
![screenshot 286](https://user-images.githubusercontent.com/30717258/36304489-6e0a0b7e-1342-11e8-9ec1-336f3ff9df16.png)
![screenshot 287](https://user-images.githubusercontent.com/30717258/36304490-70664

[2018-02-16 11:02] michaelhutchful commented on #1619
You will have to use <FontIcon Margin="15,0,0,0" HorizontalAlignment="Left" Glyph="&#xE9D9;" >

Sent from Mail for Windows 10

From: AOIDUO
Sent: 16 February 2018 10:57
To: Windows-XAML/Template10
Cc: Subscribed
Subject: [Windows-XAML/Template10] How to use MDL2 font instead ofSymbolIcon.Symbol property in Hamburger? (#1619)

For example, the icon E9D9 Diagnostic, is not included in SymbolIcon.Sym

[2018-02-16 11:09] bubblepipe commented on #1619
Thanks michaelhutchful. The issue is solved.

[2018-02-16 11:10] #1619 closed, assigned to nobody

[2018-02-16 21:24] #1618 closed, assigned to JerryNixon

[2018-02-16 21:25] JerryNixon commented on #1613
All good points. We're still peddling though, get ready for what's next. No dissonance.

[2018-02-16 21:25] #1613 closed, assigned to nobody

[2018-02-16 21:27] JerryNixon commented on #1603
Yeah, I'll get it into a standard library. That will break pre-FCU UWP apps. But, it's okay.

[2018-02-16 21:27] #1603 closed, assigned to nobody

[2018-02-16 21:27] #1598 closed, assigned to nobody

[2018-02-17 05:00] JerryNixon opened #1620 "The latest version is here. Please read me."
If I am going to ask you to look at the new Template 10, I am going to need to explain some things and I am going to need to document some things. So, for all of you who are watching and waiting, wondering what is happening if anything will ever move with this project.

## Thank you

Thank you for waiting. Thank you for all of you @Windows-XAML/template-10-developer-community who have faithfully h

[2018-02-17 05:06] JerryNixon commented on #1620
It hit me that some of you might not have the new `Prism.dll` so I have included it in the `\Temporary` folder in the solution. You can find it here: https://github.com/Windows-XAML/Template10/tree/master/Temporary

Please note that this assembly has not been released to Nuget yet. It is also incomplete. As a result, you will find a Prism folder in the Prism.Windows project, too. Those files will

[2018-02-17 05:08] JerryNixon commented on #1620
If you find a problem and do not feel comfortable submitting a Pull Request, feel free to create an issue and mark the `Project` field correctly. If you are not a collaborator on this project and cannot select the project, I will do that triage for you. Also, please ask to be part of the project. We're just ramping up again.

[2018-02-17 19:58] Quico20 opened #1621 "Dumb question about Template 10! hope Jerry can answer it."
Jerry:

Firstable let me tell you, you and your collaborators have done a great job with T10.1 and a believe this new version will be awesome for sure.

I could understand in the email, If i'm using Visual Studio 2017 what nuget package should I be looking for since there are tons of Prism versions.

I'm close to finish my first T10.1 app so I wont try to use the newest T10 version on it, but I wo

[2018-02-17 21:53] JerryNixon commented on #1621
They. Thanks. Template 10 currently supports every version of Visual Studio 2017. I will certainly be creating a lot of training once we're settled. For sure. Also, Validation will either come into Template10.Extras or just get updated to FCU with .NET Core 2. Answer your question(s)?

[2018-02-17 21:55] #1597 closed, assigned to nobody

[2018-02-17 21:56] JerryNixon commented on #1596
Since you are adding the content yourself, you have the option of just setting your TextBox Foreground and you get what you want. That's not only the most straight forward, it's easiest to do.

[2018-02-17 21:56] #1596 closed, assigned to nobody

[2018-02-17 21:57] JerryNixon commented on #1595
Are you using a single view-model across views? That will always cause this exception and there's really nothing you can do to change that, @Florian-Haar. It's not Template 10, here, it's just threading in XAML.

[2018-02-17 21:58] JerryNixon commented on #1592
Thanks for following-up with us

[2018-02-17 21:58] #1592 closed, assigned to nobody

[2018-02-17 21:59] JerryNixon commented on #1591
Have you tried setting e.Handled=true?

[2018-02-17 21:59] #1591 closed, assigned to JerryNixon

[2018-02-17 22:35] JerryNixon commented on #1589
Has anyone else encountered this? @Windows-XAML/template-10-developer-community

[2018-02-17 23:40] mjmeans commented on #1591
There is no code behind for the opening MenuFlyout, thus no e.Handled.
[code]

[2018-02-17 23:41] mjmeans commented on #1591
The problem still exists.

[2018-02-18 01:38] Quico20 commented on #1621
Kinda answer most of my questions, I still dont know want prism nuget package should I download??
I have an account from pluralsight and honestly i dont know anything about Prism, so I guess I'll take the course from brian lagunas to understand Prism. Unfortunately are old course for WPF and anything for UWP.

So here come my next question, will the T10 extras will be applyable to Xamarin.Forms???

[2018-02-19 07:01] BuhTig4ever commented on #1589
Hi Jerry,
The later issue and maybe also the first came from Fall Creators Update. I went back to Creators Update and all worked fine again. After the next update to Fall Creators Update, this issues where back. In meantime, after last Windows 10 update, I have not seen it.

[2018-02-19 18:03] JerryNixon commented on #1621
Ah, ok, now I understand. This is the one you need: https://github.com/Windows-XAML/Template10/tree/master/Temporary

[2018-02-19 18:05] JerryNixon commented on #1621
As for XF, the quick answer is no. Right now, at least, most of the stuff in there relies on the Windows namespace which is not compat with XF. That being said, it's not unreasonable to consider what parts of the Extras might be moved to a .NET Standard library. But we have to be careful because that would make it Fall Creators Update or later on the UWP side of the game. You see?

[2018-02-19 18:37] #1595 closed, assigned to JerryNixon

[2018-02-19 18:38] JerryNixon commented on #1588
What did you find out?

[2018-02-19 18:38] #1587 closed, assigned to nobody

[2018-02-19 18:40] JerryNixon commented on #1585
@AtomicBlom can you take a peek at the new Template10.2? Thank you for your looking at the preliminary work. Today, when you get what is in Master I think you will find it noticeably simplified. Cheers.

[2018-02-19 18:40] #1585 closed, assigned to nobody

[2018-02-19 18:41] JerryNixon commented on #1557
Thankyou

[2018-02-19 18:41] #1557 closed, assigned to nobody

[2018-02-19 18:42] JerryNixon commented on #1579
We now ship Messenger with it. Great suggestion. Take a look.

[2018-02-19 18:42] #1579 closed, assigned to JerryNixon

[2018-02-19 18:42] JerryNixon commented on #1578
This worked for everyone else. My guess is you must have figured it out. Can you share?

[2018-02-19 18:43] #1577 closed, assigned to JerryNixon

[2018-02-19 18:44] #1555 closed, assigned to nobody

[2018-02-19 18:44] #1547 closed, assigned to dg2k

[2018-02-19 18:46] #1540 closed, assigned to JerryNixon

[2018-02-19 18:46] JerryNixon commented on #1569
Too unreliable.

[2018-02-19 18:46] #1569 closed, assigned to JerryNixon

[2018-02-19 18:47] JerryNixon commented on #1530
@tpspencer help out by looking into Master today.

[2018-02-19 18:47] #1530 closed, assigned to JerryNixon

[2018-02-19 18:47] #1449 closed, assigned to nobody

[2018-02-19 18:48] #1526 closed, assigned to JerryNixon

[2018-02-19 18:51] JerryNixon commented on #870
Out of scope

[2018-02-19 18:51] #870 closed, assigned to nobody

[2018-02-19 18:52] JerryNixon commented on #1115
Out of scope

[2018-02-19 18:52] #1115 closed, assigned to nobody

[2018-02-19 18:52] JerryNixon commented on #1206
Resolved

[2018-02-19 18:52] #1206 closed, assigned to nobody

[2018-02-19 18:57] #1621 closed, assigned to JerryNixon

[2018-02-19 19:16] dg2k opened #1622 "#1 Library?"
@JerryNixon -  There was a follow up question to your earlier comment in #1602 which is now closed:

[2018-02-19 21:22] mvermef opened #1623 "Prim.dll => Prism.Core .423-CI?"
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1102	Unable to find package Prism.Core with version (>= 7.0.0.423-ci)
  - Found 18 version(s) in nuget.org [ Nearest version: 7.0.0.396 ]

[2018-02-19 21:24] mvermef commented on #1623
its probably just easier to include this...
https://www.myget.org/F/prism/api/v3/index.json

[2018-02-20 01:08] JerryNixon commented on #1622
MVVM Light

[2018-02-20 01:08] #1622 closed, assigned to nobody

[2018-02-20 01:10] #1419 closed, assigned to nobody

[2018-02-20 01:24] JerryNixon commented on #1623
Agree

[2018-02-21 16:57] doxxine commented on #1620
one question, i am a little confused with - Is this production already (i will try later even if it is not) or still in beta phase? 2nd i couldn't find the VSIX/ UWP Working project - where is it located?

[2018-02-21 21:01] tibitoth commented on #1620
I think this is definitely a beta phase

[2018-02-22 22:31] JerryNixon commented on #1620
This is not production ready because we are waiting for, at least, @brianlagunas to update Prism.Core so we can reference it reliably without stubbing them in Template 10. @totht91 is 100% correct. It is also important, @obscuresystems, for you to recognize that it was written over the past 6 months and review 1 was only available this week. That means, testing is far from what I think you should

[2018-02-22 22:54] JerryNixon opened #1624 "Resuming a Prism.Windows app"
Suspend and resume occur, so we're going to make sure we can handle them:

- [x] **Create NavigationService.GetNavigationPath() extension method**. This will return the entire navigation string of the current page. The same path which if passed to NavigationService.Navigate() would effectively recreate the exact back stack and state with the exception of custom in-memory parameters (including simp

[2018-02-22 22:56] JerryNixon commented on #1624
Of course, this begs the question: will we do something like this for background tasks? The answer is, could be, first we need to validate I can do this. Then we need to validate this is a nice approach. Finally, we'll need to validate that background task enter/leave logic is sufficiently represented by the T10 API.

[2018-02-23 00:32] weitzhandler commented on #1620
Thank you guys for the hard work and dedication!

[2018-02-23 09:11] doxxine commented on #1620
thx @JerryNixon i was a little bit confuzzled about it haha - i will definately try to build a working app on it, when i will find some time -- i am always a pretty early adapter of technologies - even in production environments sometimes. thank you for all the work and the effort to make template10 so great :)

[2018-02-23 15:59] #1624 closed, assigned to nobody

[2018-02-23 16:10] JerryNixon commented on #1624
Well, some changes to the original plan. First problem was figuring out how to hide the base Suspend and Resume events. Still working on that one to be honest. But, the pipeline is reliably now through the `OnSuspending()` override in the Application and Resume comes through `OnStart()` with a `StartKind` of `Resume` which accounts for both in-memory resume and after termination resume - you can f

[2018-02-23 23:58] JerryNixon commented on #1620
To be clear @obscuresystems , though, what is in Nuget is 100% ready. 100%.

https://www.nuget.org/packages/Template10

[2018-02-25 20:07] jp-weber commented on #1620
PS: The fork for Windows Phone 8.1 will be released on github in the future, even if there are hardly any more people interested in this topic.😄

EDIT: Problem solved, I have found a solution for it.

[2018-02-26 04:38] akshay2000 commented on #1620
Are you sure about this? Will you be calling it Template8.1 then? Sorry. :-(

[2018-02-26 07:34] jp-weber commented on #1620
Yes I'm sure, where there are no more (new) customers, there are also no more developers. I named the project Template81 ;-)

[2018-02-26 08:28] akshay2000 commented on #1620
@jp-weber I meant, why bother with an 8.1 project at all? I don't know why anybody would start a new 8.1 project.

[2018-02-26 14:26] mvermef commented on #1620
Poke the dead horse more.

[2018-02-27 14:43] VladimirAkopyan opened #1625 "Update Nuget?"
The current nuget seems to be like 2 years out of date, or am  I looking in the wrong place?
https://www.nuget.org/packages/Template10

[2018-02-27 15:44] mvermef commented on #1625
You are probably correct, nuget represents v1, t10.v2 hasn't left beta yet

[2018-02-27 16:26] VladimirAkopyan commented on #1625
Could you release it as a beta nuget then? Or you recon that's not appropriate?

[2018-02-27 18:02] jp-weber opened #1626 "Navigation problems"
`t10v2`
I have tested the navigation and I saw, that **CanGoBack** and **CanGoForward** not changing the value from false and so the back button  not working?

To the ShellPage or rather said NavViewEx, why is SettingsNavigationUri a URI?
https://github.com/Windows-XAML/Template10/blob/master/Source/Template10.Extras.16299/Controls/NavViewEx.cs#L180

With the parameter as URI the navigation doesn'

[2018-02-27 21:39] mvermef commented on #1625
Grab source, test it. I don't own the source.

[2018-03-04 17:13] johnthomaswarner commented on #1597
I am having this issue as well, although I'm not sure what the cause is.  Is there a solution?

System.NullReferenceException: Object reference not set to an instance of an object.
at Template10.Controls.HamburgerMenu.get_NavButtonCount()
   at Template10.Controls.HamburgerMenu.get_AllNavButtonsAreLoaded()
   at Template10.Controls.HamburgerMenu.NavButton_Loaded(Object sender, RoutedEventArgs e)

[2018-03-05 23:07] GregoryGiese opened #1628 "Override Frame Exit X - Ask user to Save"
Using Template 10 "OnNavigatedFromAsync" the application closes before my app can remind/ask user to save changes. Is there an example of how to capture the Exit event when the uses presses the X on the frame to close the app?

[2018-03-11 03:53] bubblepipe opened #1629 "How to solve: Back button disappear after using Controls:HamburgerMenu.PrimaryButtons or Controls:HamburgerMenu.SecondaryButtons for navigation"
I am using T10 hamburger and I made a back button by using:
`SystemNavigationManager.GetForCurrentView().AppViewBackButtonVisibility = AppViewBackButtonVisibility.Visible;
`

![screenshot 235](https://user-images.githubusercontent.com/30717258/37249457-c50e2a4e-2522-11e8-898a-2d59e292ba1e.png)

After I navigated to other pages through the left side bar buttons and navigate back, the button does no

[2018-03-11 09:29] jp-weber commented on #1629
Why do you not use the BackButton function of T10 hamburger? See hamburger sample:
https://github.com/Windows-XAML/Template10/blob/version_1.1.12_vs2017/Templates%20(Project)/Hamburger/ViewModels/SettingsPageViewModel.cs#L56

[2018-03-11 11:28] bubblepipe commented on #1629
@jp-weber
do you mean this?
![screenshot 246](https://user-images.githubusercontent.com/30717258/37252664-26a20dba-2560-11e8-8f08-a13ef51a48f6.png)

[2018-03-11 11:31] michaelhutchful commented on #1629
I don’t think that will solve your issue. What I have noticed is that this is normal behaviour. When you navigate to a page in the hamburger menu, you can’t go back hence the disappearance of the back button.

Sent from my Windows 10 phone

From: AOIDUO
Sent: 11 March 2018 11:28
To: Windows-XAML/Template10
Cc: Subscribed
Subject: Re: [Windows-XAML/Template10] How to solve: Back button disappearaft

[2018-03-11 12:02] jp-weber commented on #1629
@UniverseObserver
You don't need to manually display the BackButton with the t10 HamburgerMenu, because this will be shown automatically when a navigation back is possible and when not, the button is not visible.

[2018-03-14 18:00] ShawnTheBeachy opened #1630 "Navigate to same page with new parameter"
I'm navigating to my `AlbumDetailsPage` like this:

[code]

This works fine. However, on the `AlbumDetailsPage`, I have "related albums". I want the user to be able to click on an album and view its details. So I run the exact same code from my `AlbumDetailsPageViewModel`. However, no navigation is actually performed. The page remains on the original album.

It's quite possible that I'm going abou

[2018-03-14 18:51] ShawnTheBeachy commented on #1630
I just realized I have the same issue even when trying to navigate to a different page from my viewmodel. I'll have to figure out what's going on, but I'll close this since the original issue is invalid.

[2018-03-14 18:51] #1630 closed, assigned to nobody

[2018-03-16 15:25] Pantau123 opened #1631 "Validation ControlWrapper shows every time red"
Hi,
i have the following Problem. I write a UWP App and i want to use Template10 Validation.
Every time i start my app my Validation Control Wrapper shows the red error indicator....
Whats wrong?

Best Regards

Brian

My Datamodel:

[code]
My instantiating Service
[code]
My ViewModel:
[code]
My XAML Code:
[code]

[2018-03-16 19:42] ShawnTheBeachy opened #1632 "Passing parameters back"
I'm trying to understand how the new navigation works in 10.2. What I'm trying to do is this:

1. Navigate to ListPage.
2. Navigate to DetailPage.
3. Navigate to EditPage.
4. Navigate back to DetailPage.

From my `ListPageViewModel` I create my path and navigate:

[code]

Then, to edit the item from my `DetailPageViewModel`:

[code]

First off, that path seems really strange to me. According to #1

[2018-03-21 02:44] JerryNixon commented on #1629
@UniverseObserver do you feel like your question was answered?

[2018-03-21 03:27] JerryNixon commented on #1632
So far, I can't get what you are trying to do to fail.

When I put this in:

![image](https://user-images.githubusercontent.com/1749983/37693455-5b600b84-2c85-11e8-9113-f87acf03d0b2.png)

I got this out in the view-model:

![image](https://user-images.githubusercontent.com/1749983/37693471-6e8e16c4-2c85-11e8-8399-01f43a4ddf77.png)

[2018-03-21 04:08] JerryNixon commented on #1632
I updated the syntax for error catching:

![image](https://user-images.githubusercontent.com/1749983/37694241-2e988562-2c8b-11e8-9b66-d37194bd0bd2.png)

[2018-03-21 04:09] ShawnTheBeachy commented on #1632
@JerryNixon Is that on initial navigation? Because the first time that I navigate to the detail page, the parameter comes through fine. But when I navigate from there to the edit page, and then go back, the parameter is gone.

[2018-03-21 04:10] JerryNixon commented on #1632
Ah, yes. I understand. Let me test.

[2018-03-21 04:38] JerryNixon commented on #1632
Thank you. You were correct. This is an error with Forward, too. Fixing now.

[2018-03-21 04:46] #1632 closed, assigned to nobody

[2018-03-21 04:46] JerryNixon commented on #1632
Thanks again @TastesLikeTurkey

[2018-03-21 04:47] ShawnTheBeachy commented on #1632
@JerryNixon Glad I could help!

[2018-03-21 04:48] JerryNixon commented on #1625
I think it's about time to release it as a beta, too, but I can't until Prism.Core (@brianlagunas) is in Nuget, too. It's egg and chicken, cart and horse, I am afraid. Maybe he'll chime in.

[2018-03-21 07:13] JerryNixon commented on #1632
@TastesLikeTurkey Create a new issue if you see anything else.

[2018-03-21 14:33] brianlagunas commented on #1625
We are in the process of moving modularity into the Prism.Core package which is a big effort. Once that is done we will release a preview to Nuget. We do not have a timeline for the preview release. Currently the Prism team has been swamp with our paying jobs.

[2018-03-22 00:13] bubblepipe opened #1634 "How to use navigation service"
The document told me: `NavigationService.Navigate(typeof(Views.MainPage));`
but visual studio told me that `An object reference is required for the non-static field, method, or property 'NavigationService.Navigate(Type, object, NavigationTransitionInfo)`
I attempted to create an instance but failed.

[2018-03-22 01:04] mvermef commented on #1634
what version? where are you using that Nav Service?

[2018-03-22 04:45] miguelrg28 opened #1635 "OnNavigatedTo Fail no suitable method found to override"
I am in the App.xalm.cs and I put the OnNavigatedTo event with override. The problem is that Visual Studio show "no suitable method found to override" and I don't know why this happen.

My Code

[code]

[2018-03-22 06:15] bubblepipe commented on #1634
T10 1.19
@mvermef

[2018-03-22 11:18] #1634 closed, assigned to nobody

[2018-03-22 11:31] bubblepipe commented on #1629
I solved the problem, but i do not know what i did and why it works

[2018-03-22 11:31] #1629 closed, assigned to nobody

[2018-04-03 15:49] JerryNixon commented on #1635
Hey man, this isn't a Template 10 question. Sometimes I get things like this happening and restarting Visual Studio is the only ting I can get to fix it. It's frustrating I know, but I can't be sure how to you help. One suggestion is that you consider using Template 10. :-)

[2018-04-03 15:49] #1635 closed, assigned to JerryNixon

[2018-04-03 16:21] JerryNixon commented on #1626
I see, you mean, because it is a Uri it requires the leading forward slash?

[2018-04-04 18:29] brianlagunas commented on #1625
The Prism team has released the latest preview of Prism.Core to Nuget.

[2018-04-06 13:04] doxxine opened #1636 "System.ArgumentNullException in NavigationService"
Sample Application breaks the Backwards-Navigation, if you are clicking backwards too fast. To reproduce:

- search multiple pages (to have a long history / 10+ )
- klick like a tornado on the backbutton as fast as possible -> breaks
![capture](https://user-images.githubusercontent.com/20218028/38422643-d48bcf06-39ab-11e8-9c30-0fbc5d142ed9.PNG)

- TEMPLATE 10 v2

[2018-04-07 20:27] dmitrymal opened #1637 "Arg_NullReferenceException on Startup"
We were not able to reproduce this issue on our environment, but we have customers occasionally complaining that the app crashes on startup. The only info we were able to gather at this moment (using the Application Insights) is the call stack and the fact that this does not seem to be related to any specific PC/Phone or SDK version. The error (see the call stack below) happens very infrequently,

[2018-04-08 13:45] jp-weber commented on #1626
Not exactly. If "SettingsNavigationUri" is a Uri and I set the value to "/SettingsPage", the value will be interpreted as default Uri. This is not how it works. In the specific case I just changed the type to a string and it works.

[2018-04-12 19:40] wdupree commented on #1599
Is there any update on this issue? I updated a project to the latest (11.0.2) and have this issue as well.

[2018-04-13 01:05] yanxiaodi opened #1638 "May I know if it is possible to make Template10 to support Xamarin?"
Hi, there, I would like to know if it is possible to support Xamarin? I hope I can find a project template like T10 that is really a best practice pattern for UWP platform. Thank you very much.

[2018-04-21 07:21] bubblepipe opened #1641 "How to get windows height in Template 10?"
`((Frame)Window.Current.Content).ActualHeight` does not work: `System.InvalidCastException: 'Unable to cast object of type 'Template10.Controls.ModalDialog' to type 'Windows.UI.Xaml.Controls.Frame'.'`

[2018-04-24 22:15] mjmeans opened #1642 "Calling SetBusy() inside OnNavigatedToAsync()"
I'm using Template10.Mvvm. I need Views.Busy.SetBusy(true, "Please wait...") while the app loads data. However, the busy page on a blue background with text is not displaying. I'm getting the circling busy symbol on a white background but no text. This is on load of the very first page after the program starts, so I'm wondering if that is where the problem lies. Does anyone have any suggestions on

[2018-04-24 22:30] mjmeans commented on #1642
Well, I found my own solution. I started the long operation inside OnNavigatedTo as an IAsyncAction on the ThreadPool.

[2018-04-24 22:30] #1642 closed, assigned to nobody

[2018-04-26 01:24] #1641 closed, assigned to nobody

[2018-04-30 22:08] JerryNixon commented on #1638
I am excited to tell you that we are rewriting Template 10 right now for this purpose. There is no DIRECT way to support Xamarin with the current version of Template 10 without you creating some kind of shim. Here's a hint, if you start using Prism for Xamarin Forms, you will be setup for the next version of Template 10 as the next version of Template 10 will be Prism for Forms, Windows.

[2018-04-30 22:31] JerryNixon commented on #1636
Thanks, @obscuresystems, let me take a look at this.

[2018-05-01 01:50] JerryNixon commented on #1636
I am positive this is fixed. 99% positive. ;-)

[2018-05-01 21:31] yanxiaodi commented on #1638
That's really a good news! Thank you very much.

[2018-05-02 18:20] panoukos41 commented on #1638
Hey @JerryNixon so if i already support prism on my Xamarin.Forms i will be able to convert to template10.2 later ?

[2018-05-03 14:23] jp-weber commented on #1626
@JerryNixon
The last PRs have solved the problem :)

[2018-05-03 14:23] #1626 closed, assigned to JerryNixon

[2018-05-11 14:56] jp-weber commented on #1625
@JerryNixon
When will the preview Nuget package updated?

[2018-05-11 15:54] opi-smccoole commented on #1588
I've run into this error as well and cannot even get the release_1.1.13p branch to build in order to try it out.  I'm still early in the project at this point but its looking like I might have to abandon Template 10 in order to proceed forward.  This really disappoints me as I would love to leverage all that it brings with it.  Even if I can back down from the fall creators update or make it work

[2018-05-15 19:07] mitchcapper commented on #1620
This is fantastic set of changes and sounds like some great factoring.  Have been testing this in several situations and it is certainly quite beneficial.  Was already rolling my own versions of VM base and such so this is a nice decoupling.    Still a good bit more to test but so far seems to be working great!

[2018-05-20 01:55] Quico20 commented on #1638
I'm glad, to hear that, but I'm almost finishing my app with T10.1, I wished to have known about prism before, so I could have done prism right from the beginning. Now I'm having issues to raise the maximum build target for my app. 8 Months of solo work and I feel I wasted my time!!!

[2018-05-20 16:30] Quico20 opened #1643 "Multiple Issues found for Template 10.1"
As you know, I had been working building an app for my fellows Air Traffic Controllers here in Mexico, so I began building the app using UWP to aim for Windows phones, tablets and Desktops or Laptops.
Using T10.1.

Its been nearly more than 9 months since then and now with the April Update or the Fall Creators Update, T10.1 its been showing issues, that doesn break build for the project but it bre

[2018-05-23 15:35] JerryNixon commented on #1643
Hi @Quico20, hit me on Skype. We can release this week, if you want. The code base is ready. Maybe just a few tweaks. Glad to work with you. And, dude, you are right, it's time.

[2018-05-23 15:53] Quico20 commented on #1643
I've never used prism, but I'm might finish my project using T10.1 for now, I don't know If I'll be able to substitute the MVVM Navigation, the T10.Validation, I use session states to pass parameters from a List to a Master details page, I've read you guys got rid of Session States, I think I would have to change my code a lot.

And to be honest It scares me a bit to begin again or adapt the chang

[2018-05-23 15:55] JerryNixon commented on #1643
No no, I mean we can release 1.1.13 to Nuget this week if you want. Should be simple since most fo the work is done and I have basically just procrastinated the release.

[2018-05-23 16:02] Quico20 commented on #1643
WOW, that would be more than great!!! I'll eagerly wait for the release, Thanks Jerry, you are a Lifesaver!!!! that would be great!!! you had no idea how glad I feel to read T10.1 version 1.1.13 its gonna be out!!! thanks a lot!!!

[2018-05-23 16:59] Quico20 commented on #1631
I haven't analyze your code, but you ain't controlling validation, T10.Validation is set by default to validate by executing the source trigger, so in your case is PropertyChanged. that why you get the error message as soon as it loads.

You should configure you validation to execute PropertyChanged whenever YOU chose to happen. so you make this modification to your property:

[code]

and then whe

[2018-05-25 13:42] Quico20 commented on #1643
Hey Jerry, when is T10.1 Version 1.1.13 is going to be release to Nuget??

[2018-05-26 15:38] Quico20 opened #1644 "Its time for T10.1 Version 1.1.13"
Jerry Please,

release T10.1 V1.1.13 I want to add swipe function to my listviews and the current 1.1.12 version builds but break the designer Its hard to work like that!!!

[2018-06-03 15:08] Quico20 commented on #1643
@JerryNixon when is T10.1 version 1.1.13 gonna be release to Nuget?? its a necessary update, what stopping it?

[2018-06-11 16:13] famwmann opened #1645 "How can I set minheight of the App / template ?"
When I resize the App, the minheight become too small for me

How/Where can I prevent this behavior ?

Setting the Minheight in the Shell.xaml-Page don't work.

[2018-06-13 09:58] panoukos41 commented on #1645
I don't think this has anything to do with T10 better look at UWP forums next time, i believe this [here](https://stackoverflow.com/questions/32460737/how-to-set-the-minheight-of-the-window-of-a-win10-uwa) will help 😊

[2018-06-15 15:19] schuettecarsten commented on #1644
Have you thought about building Template10 yourself? We do this in our projects...

[2018-06-19 13:28] FlorisDevreese commented on #1438
@NicoTiing

I had the same issue.
The source of the problem is that I use functionality from the Template10.Mvvm namespace (I use the ViewModelBase class) in a project that is not created by one of the template 10 templates. As a consequence the startup code (app.xaml.cs) does not initialize the necessary modules for the template10.Mvvm functionality.
The fix for this problem is:

1. Add the [temp

[2018-06-22 17:40] opi-smccoole commented on #1644
@schuettecarsten Did you have to do anything unusual to get it to build?  I tried a few months back and was not successful in trying to get it to build.

[2018-06-24 13:11] Meister1867 opened #1646 "Template 10 1.1.1.12 + Newtonsoft.Json 11+ causes error"
After upgrading my packages, I received an error.  I was able to isolate the issue to moving from version 10+ of Newtonsoft.Json 10+ to Newtonsoft.Json 11+.  The error generated was.

[code]

[2018-06-27 19:52] opi-smccoole commented on #1587
Is there a way to do this that doesn't disable the Hamburger menu/Shell?  If we do what @darenm suggested the Shell doesn't get created and set any longer?  I've tried to create a Frame and set its content as the Shell or ModalDialog but then the launch freezes forever.  I'm basically in the same state as the original poster.  I have a 3rd party component that needs the Window.Current.Content to b

[2018-07-04 04:39] Quico20 commented on #1644
I guess I'll have to build T10.1.1.13 on myself. I rather prefered nuget package!!! I don't know why has @JerryNixon abandon T10.1 just to pursue T10.2, You should keep upgrading T10.1 I base my own project on T10.1
Developing solo, its hard to keep updating myself when you have to be aware of changes in Azure Mobile Apps, T10, Charts etc...
Next project I'll learn a better well suited API like pr

[2018-07-04 07:13] mvermef commented on #1644
EP,  it's not abandon more of evolutionary advancement of the framework to keep up with the Jones'. The Jones being the latest changes to windows 10.  also keep in mind that t10.2 is adopting some the inner workings of PRISM.  Also keep in mind @JerryNixon is a busy guy, only doing this in free time.

I have used a few frameworks over the years.  they all go through the as well.  caliburn, prism,

[2018-07-05 17:27] Quico20 commented on #1644
Thanks Morgan,

I understand, I know its busy, I still think I had made a bad choice by choosing T10.1 because of its MVVM support.

I'm thinking to begin my project from zero I just use T10 Validation and drop everything else, and reuse the 90% of my code, I think it will take me a month or two.

The biggest issue for me right now with T10.1.1.12 its is not compatible with Falls Creators Update a

[2018-07-05 17:40] mvermef commented on #1644
yeah choices suck, but I also chose WP and unfortunately MS has more or less stopped Dev for it.  I actually left the platform altogether for Dev and use.  now on Android. not sure what I thinking when I got on WP to begin with.

[2018-07-05 19:15] Quico20 commented on #1644
@mvermef can you advice me of a hamburguer menu that have similar functionality as the hamburguer menu of T10?? I'm looking a control that has a IsFullScreen property I'll use Hamburguer menu architecture to replicate the same behavior.
I'm good at C# but I'm not good at UWP Xaml I chose T10 because it lifts that responsibility from us in order to boost our productivity!

[2018-07-05 19:26] darenm commented on #1644
Have you looked at the Hamburger control in the [Windows Community Toolkit](https://github.com/Microsoft/WindowsCommunityToolkit)? Docs are [here](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/controls/HamburgerMenu)
![sample image](https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/resources/images/controls/hamburgermenu.gif)

[2018-07-05 19:32] darenm commented on #1644
Jerry wrote (and I contributed a little) on a MSDN Magazine article that also shows how to use the new NavigationView control [here](https://msdn.microsoft.com/en-us/magazine/mt814416) if you want something prettier with Fluent support:
![NavView](https://user-images.githubusercontent.com/1674843/42343871-b7e6acac-8057-11e8-9aa8-affee74da991.png)

[2018-07-05 21:51] Quico20 commented on #1644
Thanks @darenm I had just begun the redesign of my App.

[2018-07-06 13:05] zakkar1 opened #1648 "When tablet set to tablet mode the Back button disappears"
Hi ,
I'm using VS2017 , UWP , XAML C#
I have noticed a very strange behavior in my Windows PRO tablet where I have installed my app.
When I am in tablet mode the back button from my XAML page disappears.
If I 'm not in tablet mode then the back arrow appears.
What is going on?
Is it something that I need to change ? Something to fix?
Where can I look for this problem ?
Appreciate your assistance o

[2018-07-06 14:16] darenm commented on #1648
That's in line with the design guidelines for Windows 10. When you switch to tablet mode, there is  a global back button next to the start menu:

![image](https://user-images.githubusercontent.com/1674843/42383567-d0689aa4-80f4-11e8-9992-c0b42ba9a919.png)

[2018-07-07 01:47] Quico20 opened #1649 "Template 10.1.1.13 how to apply source code to my app?"
I downloaded T10.1.1.13 I had compile it and it builds, after some tweaks.

Now what I want is to apply my custom code to my app.
but whenever I try to build it I get an InitializeComponent(); red line showing me that it does exist in the current context I had check my namespace for my App.Xaml and App.Xaml.cs and both are equals, I can't build my app just by that error.

Does anyone know how can

[2018-07-07 01:55] Quico20 commented on #1643
Falls Creators Update is killing me!!! please release T10.1 V1.1.13 as soon as you are able. I really don't want to begin a new project!!! Its been almost a year of developing using T10.1

[2018-07-07 09:31] panoukos41 commented on #1649
Did you add a reference to the project?

if not one way to do it is to add the projects to your solution and then add the references you want from

and you will see them there.

another way to do it  is to compile it into a dll (just build it i believe not sure I haven't tried it yet) and then go to

I believe the second way is much better since you can update the project when it gets updated and

[2018-07-07 10:43] zakkar1 commented on #1648
Hi Darenm ,
Yes I know. And I tried to disable  this option , switched to off the Hide app icons on the task bar etc from the tablet mode settings.
I want inside my app no matter what to always display the back button.
Can this be done ?
Or if it cannot be done any ideas to by pass it ?
Appreciate your thoughts on this

[2018-07-07 10:57] zakkar1 commented on #1648
Although I set the boolean to true it doesn't seem to work

 public bool UseShellBackButton
        {
            get { return _helper.Read<bool>(nameof(UseShellBackButton), true); }
            set
            {
                _helper.Write(nameof(UseShellBackButton), value);
                BootStrapper.Current.NavigationService.GetDispatcherWrapper().Dispatch(() =>
                {

[2018-07-07 11:16] zakkar1 commented on #1648
I have also tried the below code but it doesn't seem to work

SystemNavigationManager.GetForCurrentView().AppViewBackButtonVisibility = AppViewBackButtonVisibility.Visible;

[2018-07-07 11:39] mvermef commented on #1649
before the nuget invention the 1st & 2nd option was the standard, most used 1st for Dev /debug. 2nd was if the dll was black box and you couldn't see the private bits or it was obfuscated.

[2018-07-08 19:17] darenm commented on #1648
Try setting `BootStrapper.Current.ForceShowShellBackButton = true`

Hmm - thinking about this - I just don't believe there is anyway for the system to show an alternative shell back button in tablet mode - the shell back button is moved down to the taskbar. I suspect you will have to manually manage your own button in this mode. As T10 was implemented to follow the design guidelines, I don't belie

[2018-07-08 20:03] Quico20 commented on #1644
@darenm, @mvermef, thanks ppl, I saved my worked, I downloaded T10.1.1.13p version and I modified @JerryNixon T10.1 version for Falls Creators Update, it doesn't get plague with errors when using Fall creators or greater!!!

It was all I needed now I'm a step closer to finish a year or hard work! and hopefully to monetize it!!!

next project I'll use prism to get ready for T10.2 and for my Xamarin

[2018-07-08 20:04] Quico20 commented on #1649
There is no need I had just solved my issue!!!! I modified T10.1.13p and my project works great now for Falls Creators Update!!!

[2018-07-08 20:04] #1649 closed, assigned to nobody

[2018-07-08 20:10] Quico20 commented on #1643
@JerryNixon I was able to modified T10.1.1.13p enough to make it work without errors I don't think that it was the version you had in mind for it, because I got rid of the support of Creators Update and lower and just update to work from Falls Creators and Higher!!!.

Thanks great project It really boost UWP development using T10.1.

I know you proposed to get rid of the hamburger menu, but as a s

[2018-07-08 21:57] opi-smccoole commented on #1644
Any chance you could share your solution with a PR or fork?  I’ve been struggling with this as well.

Sent from my iPhone. Auto correct typos likely.

[2018-07-09 07:48] zakkar1 commented on #1648
Hi darenm ,
Tried that already in the weekend without success.
I have also tried  this.pageHeader.BackButtonVisibility = Visibility.Visible;

When I placed the above line of code in the OnNavigatedTo even a strange thing happened.
When I was in tablet mode for a second the Shell button appeared and then it disappeared again.
Which means for me that something after the OnNavigatedTo Event is runnin

[2018-07-09 13:23] zakkar1 commented on #1648
Hi darenm ,
I have downloaded the sources , went to the Template10.Common, NavButtonsHelper.cs made some changes there (making visible were it should be non visible ) , recompiled and it worked.
But I don't want to make this change on my own if you know what I mean. I want to follow this project and update my app normally through Nuget.
Is it anyway for this case to give us another property so we

[2018-07-09 16:32] Quico20 commented on #1644
@opi-smccole ok buddy ill share it at my github account.
Just keep in mind the code, I just chances enough the code to compile and I got rid of the warnings or errors, must of warnings were obsolete tags.
But it compiles well and works great.
As soon as i get at home ill upload it and let you know by this way.

[2018-07-09 16:51] opi-smccoole commented on #1644
Thanks!  Appreciate it!

On Mon, Jul 9, 2018 at 11:32 AM, Quico20 <notifications@github.com> wrote:

--
Steve McCoole, Principal Technologist Mobile Development
Object Partners Inc.  www.objectpartners.com
steve.mccoole@objectpartners.com
Cell: 612.812.5805

[2018-07-09 16:55] Quico20 commented on #1648
@zakkar I think if you have special needs for you project behavior, you should use your custom code in your project and update it and change it as windows keeps changing.
I think T10.1 is dying since we are close to T10.2 release version via prism.

[2018-07-10 01:32] antlhuede opened #1650 "Navigation Service is null in App when linking to 16299+"
TLDR;
Reproducible bug: Navigation Service is uninitialized in View Models and Application object
Steps to Reproduce:
1. Create UWP Template10 application
2. Set Min Version to 16299
3. Try to navigate (service will be null)

---------------------------------------------------------------------------------------------------------

Hello,

I am currently using Template10, but will be switching to W

[2018-07-10 05:43] zakkar1 commented on #1648
Thanks Quico20... I will have to make a decision here .

[2018-07-11 01:55] Quico20 commented on #1650
mmmm... I'm using Template 10.1 beyond 16299 and NavigationService has given me any trouble.
If you use T10.1 Nuget Package I'm agree you get tons of errors but surprisingly in my case it build in spite of the errors.

And I was able to test and debug my app, the thing that I did to get rid of those errors was to download T10.1 Source code and modify the code enough to get rid of all errors, and n

[2018-07-11 13:03] panoukos41 commented on #1650
Hey do you create the navigation service yourself?
I remember if i didn't create it with my shell when i initialized the app i would always get that the service was null when i tried to call it.

[Try using the NavigationServiceFactory of the BootStrapper.](https://github.com/Windows-XAML/Template10/wiki/Bootstrapper#root-frame)

[2018-07-11 16:10] Quico20 commented on #1644
@opi-smccoole Man, I just uploaded the version I'm using, I think its compatible with the first versions of UWP to the last version, its just that in my project my personal project I'm using swipe controls to enable touch gestures in ListViews.

Works great Just Uploaded the files, you gotta create two libraries.

The first one name Template10 and the Second one Template10.Mobile as it were organi

[2018-07-11 16:13] Quico20 commented on #1650
@antlhuede man I added a Link to my template10 Custom version workable with the build 16299 or higher.
Tested by me.
Just uploaded the files you will have to set your project manually, I'm a beginner using GitHub. find instruction at #1644
[Template10 V1.1.13-Custom](https://github.com/Quico20/Xaml-Template10.1-V1.1.13-Custom)

[2018-07-11 16:24] opi-smccoole commented on #1644
Great!  Thanks!  I will give it a try and hopefully have as much success as
you have.  Appreciate it!

On Wed, Jul 11, 2018 at 11:10 AM, Quico20 <notifications@github.com> wrote:

--
Steve McCoole, Principal Technologist Mobile Development
Object Partners Inc.  www.objectpartners.com
steve.mccoole@objectpartners.com
Cell: 612.812.5805

[2018-07-11 16:37] Quico20 commented on #1644
@opi-smccoole your welcome, I didn't do much man!!! the hard work was done by T10 team, I just was force to made slight changes to adapt to changes!!!

[2018-07-17 06:53] antlhuede commented on #1429
Who the hell leaves warnings in public libraries?
There are many developers who strictly try to keep their builds clean. On larger projects it is more important.

Just another reason why I'm dropping template10 entirely in the coming weeks

[2018-07-17 13:54] MasterSkriptor commented on #1429
Triggered much?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Anthony Lhuede <notifications@github.com>
Sent: Tuesday, July 17, 2018 1:53:43 AM
To: Windows-XAML/Template10
Cc: Subscribed
Subject: Re: [Windows-XAML/Template10] Build warnings 'BootStrapper.EnableAutoRestoreAfterTerminated' is obsolete (#1429)

Who the hell leaves warnings in public libraries

[2018-07-19 16:01] Quico20 opened #1651 "Is Jerry Nixon on Vacations??"
Hi,

I know Jerry is the owner of Template 10 and also a very busy man, but it has been weeks since we last heard of him.

Is he on vacations?

[2018-07-19 19:59] JerryNixon commented on #1651
Yes. Back now, though. Thanks @Quico20 for keeping track.

[2018-07-19 20:00] JerryNixon commented on #1646
I hate this recurring error. It has to do with the definition of the dependency in nuget's NUPKG syntax, I think. You are not the first to have this experience. The easiest solution is to downgrade your version of NewtonSoft for now. I will leave this as a backlog item to fix in future iterations.

[2018-07-20 12:58] Quico20 commented on #1646
In your template 10.1 V1.1.13b it seems you were solving this issue, I was able to get rid of that error by using your source code and upgrading the libraries.
Now I'm using T10.1 V1.1.13b Custom to my need my only problem is that designer get broken it shows an exception casting from DelegateCommand.

[2018-07-20 12:59] Quico20 commented on #1651
Glad you are back!!!
Hopefully you release soon T10.1.1.13 for falls creators and higher!!!

[2018-07-20 12:59] #1651 closed, assigned to nobody

[2018-07-23 02:49] TurtleShip opened #1652 "Is Template10 incompatible with VS2017 version 15.7.5?"
Hi,

I've installed Template10 on my VS2017.
However, I do not see any of templates from Template10 when I create a new Project.
My current VS2017 version is `15.7.5`

I was wondering if Template10 is not compatible with VS2017, or a particular  version of VS2017, hence not showing templates.

Cheers,

Seulgi

[2018-07-23 02:53] TurtleShip commented on #1652
I do see **now with Now with Visual Studio 2017 supoport** on the library's [description](https://marketplace.visualstudio.com/items?itemName=jerry-nixon.Template10TemplatePack) , but templates are not showing after installing it. I've tried restarting VS2017 but it still does not show up.

[2018-07-23 02:58] #1652 closed, assigned to nobody

[2018-07-23 03:02] TurtleShip commented on #1652
Sorry, I was following [MVA video course Getting Started With Template 10](https://mva.microsoft.com/en-US/training-courses/getting-started-with-template-10-16336?l=IXMlyfXRC_1505918567).

From the video, I thought ``Template10`` would be a **child** directory of ``Windows Universal``.
I now realize that ``Template10`` is now a **sibling** directory of ``Windows Universal``.

Sorry for the false a

[2018-07-29 21:11] Quico20 opened #1653 "Template 10 1.1.13p is Kind really right?"
Hey Jerry,

In T10.1 1.1.13p that isn't finish no matter what you do, when ever you enter a suspended event and then resume again, it always take you to the main page.

it call again OnStartAsync(kind,e), how can I get it to take me to the original page that was suspended??

can somebody help me??? I haven't never use lifecycle programming I had read about it.
but I don't understand in which cases

[2018-07-29 22:25] #1653 closed, assigned to nobody

[2018-07-29 22:32] Quico20 opened #1654 "Template 10 1.1.13p StartUpOrchestrator"
Jerry,

Im wondering everytime i use the debug location to force a suspended state in my app, it launches the Onnavigatedfromasync to save my app data. Thats ok i understand that well.

What i dong seem to catch is whenever I resume the starkind enumaration always set the Kind as closedbyuser, shouldnt it be set as Suspended???

Whenever its classified like closedbyuser it runs the onstart method

[2018-07-30 01:15] Quico20 opened #1655 "Saving Data at OnNavigatedFromAsync from T10.1.1.13p Version"
@JerryNixon, I have a question in the minimal template of Template 10 at the DetailsViewModel you save data like this:

`public override async Task OnNavigatedFromAsync(IDictionary<string, object> suspensionState, bool suspending)
        {
            if (suspending)
            {
                suspensionState[nameof(Value)] = Value;
            }
            await Task.CompletedTask;
        }

[2018-07-31 00:12] VagueGit commented on #1441
I am experiencing a similar issue, only with the back button. [Back button always returns to start page in UWP Template10 App](https://stackoverflow.com/questions/50956816/back-button-always-returns-to-start-page-in-uwp-template10-app). The back button always goes back 2 pages. I have created a simple demo [here](https://1drv.ms/u/s!AiGVkyOWwr6JuGE1RmFnga4SZ1ax). The demo was based on Template 10

[2018-08-01 04:23] #1655 closed, assigned to nobody

[2018-08-02 07:58] jp-weber opened #1656 "[request] implement missing functions"
I noticed in my new app programming that it would be good if the following functions were still implemented:
- [x] OnNavigatingFrom

NavigationService
- [ ] ClearHistory (& available also with XAML like Template10.1)

[2018-08-07 10:55] goname31 opened #1657 "How to validate ValidateModelBase object with ValidateModelBase properties"
Hi,

First and foremost, thanks for the work done, it has been a lot of help.
I still run in an issue using Template10 validation. For complex property types, i can't seem to be able to use the system.

Lets say i have
[code]
In the XAML, I use the ControlWrapper. For simple types, it work just fine. But what if i want to be able to validate the Password and Login property as well a the other User

[2018-09-03 02:15] antlhuede commented on #1588
template10 development is so far behind its almost useless. Windows template studio is much better.
Your navigation patterns are extremely limited and not very flexible, no real support for suspension out of the box.
are you guys even trying with this library anymore? strictly targeting 16299+ causes huge numbers of errors with template 10, yet it is necessary for anyone building UWP .Net Standard

[2018-09-03 02:23] antlhuede commented on #1650
@panoukos41 i just wrote this bug and bailed, didnt check back or get any notifications. as an update, yes I do create the navigation service myself, it still wasn't being populated.
@Quico20 I will switch libraries before going in and editing the source as you have described. No offense, but I cannot afford to be debugging problems that are introduced in that fashion (not that you have created an

[2018-09-03 15:38] ghost opened #1659 "IncrementalLoadingCollection not refreshing new data"
I am using the IncrementalLoadingCollection class. My source class looks like this:

public class RecipientSource : IIncrementalSource<RecipientDetail>
    {
        public readonly IEnumerable<RecipientDetail> _recipientData;

        /// <summary>
        /// Initializes a new instance of the <see cref="RecipientSource"/> class.
        /// </summary>
        public RecipientSource(IEnumerable<R

[2018-09-03 19:42] mvermef commented on #1659
define changes, normally this is a result of not using an `ObservableCollection<T>` with anything XAML that needs to reflect collection changes

[2018-09-04 12:31] ghost commented on #1659
I'm really just trying to implement this example into an MVVM pattern, and looked at the example in the code. However the example code is done in code behind

[2018-09-04 14:23] mvermef commented on #1659
I realized that you were using the collection from the UWP Community ToolKit.  which does implement `ObservableCollection<T>`.  How are you connecting it to your view?  How are you calling `RefreshAsync()`  Looks like you need to force a `RefreshAsync()` when you uncheck the box according to the docs.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.uwp.incrementalloadingcollection-2

[2018-09-05 07:44] ghost commented on #1659
I initially load my data like this:

           Recipients = new IncrementalLoadingCollection<RecipientSource, RecipientDetail>(
                new RecipientSource(_isTestMode ? _testRecipients : _allRecipients),
                StaticConstants.PageSize,
                () => LoadingStarted(),
                () => LoadingCompleted(),
                async (x) => await Functions.OkDialog("Error",

[2018-09-10 20:07] riesm commented on #1597
Exact same problem, but now using VS 15.8.3. This happens when opening the shell.xaml page in Visual Studio.

[2018-09-12 01:16] GoFightNguyen opened #1660 "Publish a solution level Item Template to the Visual Studio Marketplace"
How do I publish a solution-level Item Template to the Visual Studio Marketplace?

I created an Item Template. I want it to be in the __Add New Item__ dialog, under General, when choosing to add a new item at the solution level. I know how to do this on my local machine. The problem is, I want this Item Template to exist in the Marketplace so other devs can install it.

This doesn't feel like the

[2018-09-13 15:04] Weasy666 opened #1661 "Is Template10.2 still worked on?"
Just curious, but is the new version of Template10 still in development or is it dead?

[2018-09-13 15:11] darenm commented on #1661
Jerry and I were chatting about that on Monday. We have plans to get the new bits out over the next few weeks – work and life have gotten in the way lately.

From: Weasy <notifications@github.com>
Sent: Thursday, September 13, 2018 9:06 AM
To: Windows-XAML/Template10 <Template10@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Windows-XAML/Template10] Is Template10.2 st

[2018-09-13 15:44] Weasy666 commented on #1661
Thx, for the lightning fast answer. Daily life has priority, of course. Just nice to hear that this great project is not dead.

[2018-09-14 09:43] jp-weber opened #1662 "NavigateAsync and queue should be improve"
The current implementation of navigate async is not a good way to navigate with the queue, because the pages which was visited before are displayed again and need performance. I suggest to implement another function which restore the navigation state if the app suspeneded, but for the normal navigation, the function should not navigate each queue.

https://github.com/Windows-XAML/Template10/blob/m

[2018-09-14 15:01] JerryNixon commented on #1661
I am amazed how a few people in the open source community are so impatient and feel so entitled to the free code being written in repositories. That said, @Weasy666, it a refreshing reality that most developers are like you, and understand the conflict of real life and online life and are both understanding and willing to help. Thanks for understanding. Let me give you my current news on Template

[2018-09-14 15:05] JerryNixon commented on #1661
I want to say one more thing that isn't really relevant to this conversation but I wanted to say it anyway. I get pulled onto all kinds of projects. Writing all kinds of software for all kinds of platforms. Every time I return to UWP it's like a dream. The experience is so rich and the visuals are so smooth. From time to time XAML developers and WinRT developers complain because they do not have t

[2018-09-14 15:13] JerryNixon commented on #1662
Well, I understand what you are asking but some of these design decisions are really an artifact of the XAML Frame control and that there really is no other way to build the navigation state. The other thing to consider is that this behavior is identical to the behavior of Prism on Xamarin.Forms which also navigates the whole stack like the queue. This UWP implementation is coded slightly differen

[2018-09-14 15:16] JerryNixon commented on #1662
Understanding that it is not the most efficient (only really in that it does not load the final page until the others have completed), what other downside is there? Also, have you considered that any dependency created by developers on preceding pages (like the view-model) will not be present if we jumped to the front of the queue and didn't recreate the structural context? Consider that last poin

[2018-09-14 16:38] Weasy666 commented on #1661
@JerryNixon just to clarify Things. In no way was my question meant to rush you or put pressure on you. I was just worried that this project might be dead, and that would have been a shame.
I agree with you that UWP is a nice way to develop apps for Windows 10, especially the available tools since VS2017. This also isn't really relevant for this conversation, but i want to use this opportunity and

[2018-09-14 19:56] JerryNixon commented on #1661
Sure. Okay. Here’s my take on the things of the past (Jerry's perspective and opinion):

Windows Phone came out and the phone carriers, like Verizon, had far too little vision; they lined up behind Android and Iphone, forgetting a three-part competitive marketplace is the healthiest.

The Windows Phone team tried to measure success of the platform by the number of apps in the Store. They started u

[2018-09-14 20:17] JerryNixon commented on #1660
ask this guy https://twitter.com/mkristensen

[2018-09-14 20:17] #1660 closed, assigned to nobody

[2018-09-14 20:18] JerryNixon commented on #1659
Gonna have to close this. Sorry. Off topic from Template 10

[2018-09-14 20:18] #1659 closed, assigned to nobody

[2018-09-14 20:20] JerryNixon commented on #1657
The real problem, as I see it, is ControlWrapper. I wish I had never included that control.

[2018-09-14 20:21] JerryNixon commented on #1657
Share some XAML so I can see what you are doing.

[2018-09-14 22:55] Weasy666 commented on #1661
Wow...just wow. I haven't, in the slightest, expected such an extensive answer. Thank you for taking the time. You are right that a lot of that was over the news, but your perspective helped me a lot in "understanding" what happend, at least with my limited understanding. So thanks for that. It feels like i opened some old wounds with my question....sorry about that.

[2018-09-14 23:20] GoFightNguyen commented on #1660
Thanks @JerryNixon

[2018-09-15 19:19] JerryNixon commented on #1661
Naw. All good. Still a fan. Closing this thread though.

[2018-09-15 19:19] #1661 closed, assigned to nobody

[2018-09-15 19:23] JerryNixon commented on #1656
Well, `OnNavigatingFrom` is gone. Sort of. It is is now called `ConfirmNavigation/Async`. You can find their definitions in `IConfirmNavigationAsync` and IConfirmNavigation`.

As for `ClearHistory`, what's the use case?

[2018-09-15 19:32] JerryNixon commented on #1654
This is Template 10 version 1?

[2018-09-15 19:58] Quico20 commented on #1654
Yes, Jerry Is Template 10 Version 1. I began using T10 V1, and I ended up applying T10 V1 source code directly to me project in order to be able to update my project to Windows 10 April update.
So far it works great now, I doesn't crash with Microsoft advertising SDK like the nuget version and It doesn't crash with Microsoft Store Services.

The only problem I had besides the one I mentioned here

[2018-09-15 20:04] Quico20 commented on #1662
@JerryNixon I have two more questions, is T10 V2 gonna have a StartupOrchestrator like T10 V1?(bootstrapper) and second: when is T10 V2 is gonna be available officially? third question: Is there a way I can help to write the wiki with you?

[2018-09-16 00:23] Quico20 commented on #1656
@JerryNixon ClearHistory I use it on my app, to don't go back to my login page.
That's the use case for me, but I don't know T10.2 V1, I ignore if there is a equivalent for it.

[2018-09-16 08:07] jp-weber commented on #1656
Thank you Jerry, I didn't know that. As Quico20 already writes is ClearHistory interesting for login pages.

I'm currently bringing a Template10 v1 app to v2. If I set the start page with /LoginPage, is only the queue reset in this case?

[2018-09-16 08:35] jp-weber commented on #1662
Thank you Jerry for the detailed describtion.

At the moment I don't have an idea to do this in a better way.

What I only noticed with an older version (two weeks ago) was, that as a user you could see some of the previous pages in the navigation, when the queue is long.

That is an interesting idea, which I try out.

By the way, I have also said that I forked the project as hobby for Windows Pho

[2018-09-16 23:38] JerryNixon opened #1664 "Improve Logging"
I am pretty satisfied with the changes to logging I have made.

- [x] Create default LoggerFacade (uses Debug.WriteLine())
- [x] Made method starting logs optional
- [ ] Find a way to turn on method starting logs later
- [x] Change all the logging strings to make more sense
- [x] Update the application base to use logging as soon as it is available
- [x] In application base don't throw without log

[2018-09-16 23:40] JerryNixon commented on #1664
I think it is interesting and perhaps not immediately intuitive that `App.RegisterTypes()` is called in the application before the `App.Constructor()` is called. This might even seem impossible, but, of course it is not. This is because `RegisterTypes()` is called from `base.Constructor()` and means the container is finalized before the application really starts, and the container can resolve imme

[2018-09-16 23:44] JerryNixon commented on #1664
I made all Info/None logs not display Info/Log in the preamble. Because of this, the logs are easier to read and Template 10 line items are mostly indented. I have made navigation events like Nav, Back, Forward, and Refresh all Info/Low so they contain the prefix and stick out in the output - this makes it slightly easier to glance at the output window and trace with your eyes what is happening an

[2018-09-17 02:58] #1650 closed, assigned to nobody

[2018-09-17 03:00] #1648 closed, assigned to nobody

[2018-09-17 03:00] #1645 closed, assigned to nobody

[2018-09-17 03:02] JerryNixon commented on #1644
That's some great community work there.

[2018-09-17 03:02] #1644 closed, assigned to nobody

[2018-09-17 03:03] JerryNixon commented on #1643
I really thought I would see a PR from you on this. No?

[2018-09-17 03:04] #1233 closed, assigned to nobody

[2018-09-17 03:04] #1234 closed, assigned to nobody

[2018-09-17 03:05] #1243 closed, assigned to nobody

[2018-09-17 03:06] JerryNixon commented on #1250
Nope

[2018-09-17 03:06] #1250 closed, assigned to nobody

[2018-09-17 03:06] JerryNixon commented on #1261
Not an issue in version 2

[2018-09-17 03:06] #1261 closed, assigned to nobody

[2018-09-17 03:07] #1266 closed, assigned to nobody

[2018-09-17 03:07] #1268 closed, assigned to nobody

[2018-09-17 03:08] #1239 closed, assigned to jp-weber

[2018-09-17 03:08] #1273 closed, assigned to nobody

[2018-09-17 03:08] #1276 closed, assigned to nobody

[2018-09-17 03:08] #1282 closed, assigned to nobody

[2018-09-17 03:08] #1285 closed, assigned to nobody

[2018-09-17 03:08] #1286 closed, assigned to nobody

[2018-09-17 03:08] #1294 closed, assigned to JerryNixon

[2018-09-17 03:08] #1296 closed, assigned to JerryNixon

[2018-09-17 03:08] #1318 closed, assigned to JerryNixon

[2018-09-17 03:08] #1320 closed, assigned to JerryNixon

[2018-09-17 03:08] #1335 closed, assigned to JerryNixon

[2018-09-17 03:08] #1336 closed, assigned to JerryNixon

[2018-09-17 03:08] #1346 closed, assigned to JerryNixon

[2018-09-17 03:08] #1348 closed, assigned to nobody

[2018-09-17 03:08] #1349 closed, assigned to JerryNixon

[2018-09-17 03:08] #1352 closed, assigned to JerryNixon

[2018-09-17 03:08] #1358 closed, assigned to JerryNixon

[2018-09-17 03:08] #1362 closed, assigned to nobody

[2018-09-17 03:08] #1367 closed, assigned to nobody

[2018-09-17 03:08] #1381 closed, assigned to nobody

[2018-09-17 03:08] #1392 closed, assigned to Viachaslau-Zinkevich

[2018-09-17 03:09] #1418 closed, assigned to nobody

[2018-09-17 03:39] JerryNixon opened #1665 "Getting version_1.1.13[p] to market"
Here's what needs to happen; I can't do it all alone, even if I do most of it.

## Get started
- [x] Let @Windows-XAML/template-10-developer-community know I'll do it
- [x] Decide we want to update version 1 (@Quico20 can check this one for me)
- [x] Determine there is enough interest (I'll act when we have **10 thumb-ups**)
## Admin kinda stuff
- [x] Label [issues ](https://github.com/Windows-XAM

[2018-09-17 03:42] #1521 closed, assigned to JerryNixon

[2018-09-17 03:49] #1664 closed, assigned to JerryNixon

[2018-09-17 08:10] IIARROWS commented on #1665
Well, giving I can't afford to rework the application around a new framework, and I need the updates... I'm in.

[2018-09-17 14:08] Joebeazelman commented on #1665
This is sad.  Very sad.  Microsoft just spent $7 billion on Github and doesn't see the value of a cross-platform, UI framework or at least a Windows only one?  They should be pouring money into it, not leaving it up to volunteers.

At this point, it makes no sense to continue developing Windows only desktop applications.  The empty suits at Microsoft have no coherent stategy and have been consisen

[2018-09-17 16:36] darenm commented on #1665
@Joebeazelman You know that Template10 has always been volunteer based with no official support from Microsoft, right? You may not be confused, but I know others have mistakenly thought that the `Windows-XAML` repo is an official Microsoft repository and that Jerry was working in some official capacity. Although Jerry is a Microsoft employee, T10 is not and never has been his job - it's always bee

[2018-09-18 01:22] JerryNixon commented on #1665
@Joebeazelman, dude, read the room. We're trying to do something here.

[2018-09-18 01:25] JerryNixon commented on #1662
Thanks, @jp-weber, be sure and send in some pull requests. Join the team!

[2018-09-18 01:26] JerryNixon commented on #1625
https://github.com/Windows-XAML/Template10/issues/1665

[2018-09-18 01:26] #1625 closed, assigned to nobody

[2018-09-18 01:28] JerryNixon commented on #1656
Guys, don't put login in the Frame, just place it on the raw Window.Current.Content. It doesn't belong anywhere in the Frame, in Navigation, or anywhere a user might trick navigation.

[2018-09-20 00:04] Quico20 commented on #1665
I'll try to help with T10.V1 beginning by sharing my T10.v1 modified code. I don't consider myself very good, since I haven't ever worked in a team before.
So I'll try to adapt!!!
By the way I admire Microsoft and for me UWP its a great plataform, My app is being developed for Windows Phone, Tablets and Desktop and it has been a fun experience!!! then I'll do the same app for xamarin.forsms and ai

[2018-09-20 20:39] #1415 closed, assigned to nobody

[2018-09-20 20:40] #1416 closed, assigned to nobody

[2018-09-20 20:41] #1417 closed, assigned to nobody

[2018-09-21 15:39] jp-weber opened #1666 "[Question] Template10.Extras.16299 and extensions"
What is the plan for newer implementations of the NavView? With RS4 the NavView get an BackButton and other little functions.

As at present only NavView is in the project, I have updated in my fork the target to the newest SDK and add to the NavViewEx an API query for the back button:
[code]
Also an query to set SetupBackButton in context of the implementation of the Titlebar.AppViewBackButton wo

[2018-09-22 02:45] hieuvn opened #1667 "sample mediaplayback page"
Hi Jerry,
pls provide a sample with mediaplayback page. Thank you.

[2018-09-26 09:15] helmut-steiner commented on #1665
I'm in, too.

[2018-09-26 19:23] moongaze commented on #1646
According to [this](https://github.com/JamesNK/Newtonsoft.Json/issues/1671) "TypeNameAssemblyFormat" is deprecated:

"TypeNameAssemblyFormat is obsolete because it could cause this error on some platforms. You should use TypeNameAssemblyFormatHandling instead."

[2018-09-27 10:02] tibitoth commented on #1665
10 thumbs-up ready